# Machine Learning - Continuous Assessment - Class Group: TU060 <a class="tocSkip">

# MSc in Computer Science - Data Science (Part Time) <a class="tocSkip">

# Student Name: Ciaran Finnegan  <a class="tocSkip">

# Student No: D21124026 <a class="tocSkip">

#### Student EMail: D21124026@mytudublin.ie <a class="tocSkip">

## May 2022<a class="tocSkip">

#

# H&M Personalised Fashion Recommendations <a class="tocSkip">

#### This project takes the datasets provided by Kaggle for the H&M Personalised Fashion Recommendations competition.  <a class="tocSkip">

Ipso forum...

## <a class="tocSkip">

#### The CA follows a n-part structure. <a class="tocSkip">

Section 1: Ipso forum...

Section 2: Ipso forum...

Section 3: Ipso forum...

### <a class="tocSkip">

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Jupyter-Notebook-Set-Up" data-toc-modified-id="Jupyter-Notebook-Set-Up-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Jupyter Notebook Set Up</a></span><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import Libraries</a></span><ul class="toc-item"><li><span><a href="#General-Utility-Libraries" data-toc-modified-id="General-Utility-Libraries-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>General Utility Libraries</a></span></li><li><span><a href="#Panda-+-Numpy" data-toc-modified-id="Panda-+-Numpy-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Panda + Numpy</a></span></li><li><span><a href="#Matplotlib-Library" data-toc-modified-id="Matplotlib-Library-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Matplotlib Library</a></span></li><li><span><a href="#Plotly-Libraries" data-toc-modified-id="Plotly-Libraries-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Plotly Libraries</a></span></li></ul></li></ul></li><li><span><a href="#Project-Data-Import,-Analysis-and-Preparation" data-toc-modified-id="Project-Data-Import,-Analysis-and-Preparation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Project Data Import, Analysis and Preparation</a></span><ul class="toc-item"><li><span><a href="#Load-and-Sample-Kaggle-H&amp;M-Datasets" data-toc-modified-id="Load-and-Sample-Kaggle-H&amp;M-Datasets-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Load and Sample Kaggle H&amp;M Datasets</a></span><ul class="toc-item"><li><span><a href="#Set-Up-File-Paths" data-toc-modified-id="Set-Up-File-Paths-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Set Up File Paths</a></span></li><li><span><a href="#H&amp;M-Transaction-Dataset" data-toc-modified-id="H&amp;M-Transaction-Dataset-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>H&amp;M Transaction Dataset</a></span></li><li><span><a href="#H&amp;M-Articles-Dataset" data-toc-modified-id="H&amp;M-Articles-Dataset-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>H&amp;M Articles Dataset</a></span></li><li><span><a href="#H&amp;M-Customers-Dataset" data-toc-modified-id="H&amp;M-Customers-Dataset-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>H&amp;M Customers Dataset</a></span></li></ul></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span><ul class="toc-item"><li><span><a href="#H&amp;M-Sampled-Transaction-Dataset" data-toc-modified-id="H&amp;M-Sampled-Transaction-Dataset-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>H&amp;M Sampled Transaction Dataset</a></span></li><li><span><a href="#H&amp;M-Sampled-Customer-Dataset" data-toc-modified-id="H&amp;M-Sampled-Customer-Dataset-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>H&amp;M Sampled Customer Dataset</a></span></li><li><span><a href="#H&amp;M-Sampled-Articles-Dataset" data-toc-modified-id="H&amp;M-Sampled-Articles-Dataset-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>H&amp;M Sampled Articles Dataset</a></span></li></ul></li><li><span><a href="#Data-Preparation-and-Feature-Enrichment" data-toc-modified-id="Data-Preparation-and-Feature-Enrichment-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Data Preparation and Feature Enrichment</a></span><ul class="toc-item"><li><span><a href="#Transaction-Data-Feature-Enrichment-(Sample)" data-toc-modified-id="Transaction-Data-Feature-Enrichment-(Sample)-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Transaction Data Feature Enrichment (Sample)</a></span></li><li><span><a href="#Extend-Dataframe-with-Customer-Data" data-toc-modified-id="Extend-Dataframe-with-Customer-Data-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Extend Dataframe with Customer Data</a></span></li><li><span><a href="#Extend-Dataframe-with-Articles-Data" data-toc-modified-id="Extend-Dataframe-with-Articles-Data-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Extend Dataframe with Articles Data</a></span></li><li><span><a href="#Final-Data-Preparation-Steps" data-toc-modified-id="Final-Data-Preparation-Steps-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span>Final Data Preparation Steps</a></span></li></ul></li></ul></li><li><span><a href="#Split-Data:-Train-and-Test-Sets" data-toc-modified-id="Split-Data:-Train-and-Test-Sets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Split Data: Train and Test Sets</a></span></li><li><span><a href="#Model-Preparation" data-toc-modified-id="Model-Preparation-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Model Preparation</a></span></li><li><span><a href="#K-Nearest-Neighbour-Operations" data-toc-modified-id="K-Nearest-Neighbour-Operations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>K Nearest Neighbour Operations</a></span><ul class="toc-item"><li><span><a href="#Create-Functions-for-NN-Analysis" data-toc-modified-id="Create-Functions-for-NN-Analysis-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Create Functions for NN Analysis</a></span></li></ul></li><li><span><a href="#Build-Submission" data-toc-modified-id="Build-Submission-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Build Submission</a></span><ul class="toc-item"><li><span><a href="#Read-Sample-Submission-File" data-toc-modified-id="Read-Sample-Submission-File-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Read Sample Submission File</a></span></li><li><span><a href="#Obtain-Customer-Article-Predictions" data-toc-modified-id="Obtain-Customer-Article-Predictions-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Obtain Customer Article Predictions</a></span></li><li><span><a href="#Parse-Article-Predictions-for-Submission-File" data-toc-modified-id="Parse-Article-Predictions-for-Submission-File-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Parse Article Predictions for Submission File</a></span></li><li><span><a href="#Write-Predictions-Submission-File-to-CSV" data-toc-modified-id="Write-Predictions-Submission-File-to-CSV-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Write Predictions Submission File to CSV</a></span><ul class="toc-item"><li><span><a href="#SetUp-Disk-Directory-for-Submission-File" data-toc-modified-id="SetUp-Disk-Directory-for-Submission-File-6.4.1"><span class="toc-item-num">6.4.1&nbsp;&nbsp;</span>SetUp Disk Directory for Submission File</a></span></li><li><span><a href="#Create-Submission-.CSV-File" data-toc-modified-id="Create-Submission-.CSV-File-6.4.2"><span class="toc-item-num">6.4.2&nbsp;&nbsp;</span>Create Submission .CSV File</a></span></li></ul></li></ul></li><li><span><a href="#References" data-toc-modified-id="References-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>References</a></span></li></ul></div>

## Jupyter Notebook Set Up

### Import Libraries

Note: It is assumed that the matplotlib and plotly library has been installed on the user's machine before it is available for import.

```bash
> pip install matplotlib
> pip install plotly
```

#### General Utility Libraries

In [1]:
import os

#### Panda + Numpy

In [2]:
# Python libraries for data manipulation
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

Set up additional libraries for graphical presentations. A number of earlier graphs use Matplotlib. In later sections, Plotly graphs are used.

#### Matplotlib Library

In [3]:
#import matplotlib.pyplot as plt

#### Plotly Libraries

In [4]:
# For interactive graphics and global displays
#import plotly.express as px
#import plotly.graph_objects as go

### <a class="tocSkip">

In [5]:
import warnings
warnings.filterwarnings("ignore")

### <a class="tocSkip">

## Project Data Import, Analysis and Preparation

### Load and Sample Kaggle H&M Datasets

### The assignment starts with a Kaggle H&M Personalised Fashion Recommendations datasets. <a class="tocSkip">

#### Set Up File Paths

In [6]:
# Set up a Global path file variable to use when loading each dataset
Path_To_Inputs = '../input'

#### H&M Transaction Dataset

In [7]:
# Load H&M Transaction dataset
df_trxns = pd.read_csv(os.path.join(Path_To_Inputs,'transactions_train.csv'))

In [8]:
# Display Number of Rows, Number of Columns in Transaction dataset prior to Sampling
df_trxns.shape

(31788324, 5)

In [9]:
# Extract random sample of Transactions (without replacement) - 0.1% of records
df_trxns_sample = df_trxns.sample(frac=0.001, replace=False)
## NEW CODE - Check this out
## df_trxns_sample.set_index(inplace = True)

In [10]:
# Display Number of Rows, Number of Columns in Transaction dataset after Sampling
df_trxns_sample.shape

(31788, 5)

In [11]:
# Check out the index
df_trxns_sample.head()

,t_dat,customer_id,article_id,price,sales_channel_id
9080590,2019-04-21,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2
27043916,2020-06-10,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2
25539899,2020-05-09,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1
27183930,2020-06-13,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2
26920076,2020-06-06,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2

#### H&M Articles Dataset

In [12]:
# Read file, located in 'input' folder above this notebook, for articles data - containing meta data on purchasable items.
df_Articles = pd.read_csv(os.path.join(Path_To_Inputs,'articles.csv'))

In [13]:
# Display Number of Rows, Number of Columns in Articles dataset
df_Articles.shape

(105542, 25)

In [14]:
# Display basic file data for the initial Kaggle H&M 'articles' datatset
# df_Articles.head()

In [15]:
# Extract only the H&M articles contained in the sample Transaction dataset 
articleIDs_in_Trxn_Sample  = set(df_trxns_sample["article_id"])

In [16]:
#Count Article Ids in Transaction Sample
#len(articleIDs_in_Trxn_Sample)

In [17]:
# Create dataset that only contains H&M articles in the sample Transaction dataset
df_articles_sample = df_Articles[df_Articles["article_id"].isin(articleIDs_in_Trxn_Sample)]

In [18]:
# Display Number of Rows, Number of Columns in Sample Articles dataset
df_articles_sample.shape

(18425, 25)

#### H&M Customers Dataset

In [19]:
# Load H&M Customer dataset
df_customers = pd.read_csv(os.path.join(Path_To_Inputs,'customers.csv'))

In [20]:
# Display Number of Rows, Number of Columns in Customers dataset prior to Sampling
df_customers.shape

(1371980, 7)

In [21]:
# Extract only the H&M Customers contained in the sample Transaction dataset 
custIDs_in_Trxn_Sample  = set(df_trxns_sample["customer_id"])

In [22]:
#Count Customer Ids in Transaction Sample
len(custIDs_in_Trxn_Sample)

30471

In [23]:
# Create dataset that only contains H&M Customers from the sample Transaction dataset
df_customers_sample = df_customers[df_customers["customer_id"].isin(custIDs_in_Trxn_Sample)]

In [24]:
# Display Number of Rows, Number of Columns in Sample Customers dataset
df_customers_sample.shape

(30471, 7)

######

### Exploratory Data Analysis

### Display key data attributes and distributions in Sampled H&M datasets. <a class="tocSkip">

#### H&M Sampled Transaction Dataset

In [25]:
# Display basic column information for the initial Kaggle 'transaction_train' datatset - after Sampling of original dataset
df_trxns_sample.head()

,t_dat,customer_id,article_id,price,sales_channel_id
9080590,2019-04-21,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2
27043916,2020-06-10,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2
25539899,2020-05-09,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1
27183930,2020-06-13,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2
26920076,2020-06-06,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2

In [26]:
# Display datatype of colums in original H&M Transaction dataset
df_trxns_sample.dtypes

t_dat                object
customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
dtype: object

#### H&M Sampled Customer Dataset

In [27]:
# Display basic column information for the initial Kaggle 'customers' datatset - after Sampling of original dataset
df_customers_sample.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
7,00007d2de826758b65a93dd24ce629ed66842531df6699...,1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...
13,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,1.0,1.0,ACTIVE,Regularly,56.0,b31984b20a8c478de38eaf113c581ff64e63c4242e607b...
38,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,1.0,1.0,ACTIVE,Regularly,44.0,930b19ae7db8abb5a27f4da10217755a7305b4c452f5e0...
73,00035e92a9bd02a8e28e2e59721663fdeb39bfd57c4860...,1.0,1.0,ACTIVE,Regularly,19.0,a333d7bfec3a5259d7adfd58c8a6955dbb205766d07fae...
96,00045027219e894b683fb4687211e2d0c904c268e9f28d...,NaN,NaN,ACTIVE,NONE,20.0,777fe14eafe75737a8e234db25da1d0e0c5009c3931f02...

In [28]:
df_customers_sample.dtypes

customer_id                object
FN                        float64
Active                    float64
club_member_status         object
fashion_news_frequency     object
age                       float64
postal_code                object
dtype: object

#### H&M Sampled Articles Dataset

In [29]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
6,111565001,111565,20 den 1p Stockings,304,Underwear Tights,Socks & Tights,1010016,Solid,9,Black,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,"Semi shiny nylon stockings with a wide, reinfo..."
8,111586001,111586,Shape Up 30 den 1p Tights,273,Leggings/Tights,Garment Lower body,1010016,Solid,9,Black,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,Tights with built-in support to lift the botto...

######

### Data Preparation and Feature Enrichment

### Construct a dataset upon which to build ML models. <a class="tocSkip">

### Begin with Transaction Dataset (sampled) and merge in customer and article data. <a class="tocSkip">

#### Transaction Data Feature Enrichment (Sample)

In [30]:
# Create new dataset for modelling. Initial basis for new dataset is the sampled transaction dataset.
df_HM_CustTrxn = df_trxns_sample

In [31]:
df_HM_CustTrxn.head()

,t_dat,customer_id,article_id,price,sales_channel_id
9080590,2019-04-21,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2
27043916,2020-06-10,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2
25539899,2020-05-09,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1
27183930,2020-06-13,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2
26920076,2020-06-06,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2

In [32]:
# Decompose Datetime information 
df_HM_CustTrxn['t_dat'] = pd.to_datetime(df_HM_CustTrxn['t_dat'], format="%Y-%m-%d")

# Add Column for Transaction Year and convert to integer value
df_HM_CustTrxn['txn_year'] = df_HM_CustTrxn['t_dat'].dt.strftime('%Y')
df_HM_CustTrxn['txn_year'] = df_HM_CustTrxn['txn_year'].astype(str).astype(int)

# Add Column for Transaction Month and convert to integer value
df_HM_CustTrxn['txn_mth'] = df_HM_CustTrxn['t_dat'].dt.strftime('%m')
df_HM_CustTrxn['txn_mth'] = df_HM_CustTrxn['txn_mth'].astype(str).astype(int)

# Add Column for Transaction Day and convert to integer value
df_HM_CustTrxn['txn_day'] = df_HM_CustTrxn['t_dat'].dt.strftime('%d')
df_HM_CustTrxn['txn_day'] = df_HM_CustTrxn['txn_day'].astype(str).astype(int)

In [33]:
# Filter out column to drop timestamp attribute
df_HM_CustTrxn = df_HM_CustTrxn.iloc[:,1:8]

In [34]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day
9080590,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2,2019,4,21
27043916,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2,2020,6,10
25539899,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1,2020,5,9
27183930,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2,2020,6,13
26920076,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2,2020,6,6

In [35]:
df_HM_CustTrxn.dtypes

customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
txn_year              int32
txn_mth               int32
txn_day               int32
dtype: object

In [36]:
# Check for null values in the Transaction Dataframe
[print('Any Null Values in the Trxn (sample) dataframe?','\n' ,df_HM_CustTrxn.isnull().any())]

Any Null Values in the Trxn (sample) dataframe?
 customer_id         False
article_id          False
price               False
sales_channel_id    False
txn_year            False
txn_mth             False
txn_day             False
dtype: bool

[None]

#### Extend Dataframe with Customer Data

In [37]:
# Confirm dimensions of Trxn (sample) dataframe BEFORE merging with Customer data
df_HM_CustTrxn.shape

(31788, 7)

#### Merge Customer Attributes into the Trxn (Sample) Dataframe. <a class="tocSkip">

In [38]:
# Merge Customer atributes from the Customer dataset based on a join with the 'customer_id' field
df_HM_CustTrxn = pd.merge(df_HM_CustTrxn, df_customers_sample, how="left", on=["customer_id"])

In [39]:
# Confirm dimensions of Trxn (sample) dataframe AFTER merging with Customer data
df_HM_CustTrxn.shape

(31788, 13)

In [40]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2,2019,4,21,NaN,NaN,ACTIVE,NONE,55.0,9ca929a6dc81de0e8ee3850ade7e47b1c1f02d10015051...
1,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2,2020,6,10,NaN,NaN,ACTIVE,NONE,23.0,fb4b6400bddc8525a4acaa3969e9556d57dcf0d813919e...
2,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1,2020,5,9,NaN,NaN,ACTIVE,NONE,24.0,791ee3c7a6aba1a8a06b2c05aade6e87941534c34c7ade...
3,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2,2020,6,13,NaN,NaN,ACTIVE,NONE,64.0,5b3bc3b852cb72e6f396cf8cc3abdb946e7e0f63ec2b70...
4,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2,2020,6,6,1.0,1.0,ACTIVE,Regularly,21.0,16b36c2a4da07655a973746ddb1b2cbabe7cc0eb9326d8...

In [41]:
# Filter out other Customer specific attributes apart from; age + fashion_news_frequency + club_member_status + postal code
# There are very many missing values in the other Customer dataset columns, so these will be ignored
df_HM_CustTrxn = df_HM_CustTrxn.iloc[:, [0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12]]

In [42]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,club_member_status,fashion_news_frequency,age,postal_code
0,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2,2019,4,21,ACTIVE,NONE,55.0,9ca929a6dc81de0e8ee3850ade7e47b1c1f02d10015051...
1,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2,2020,6,10,ACTIVE,NONE,23.0,fb4b6400bddc8525a4acaa3969e9556d57dcf0d813919e...
2,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1,2020,5,9,ACTIVE,NONE,24.0,791ee3c7a6aba1a8a06b2c05aade6e87941534c34c7ade...
3,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2,2020,6,13,ACTIVE,NONE,64.0,5b3bc3b852cb72e6f396cf8cc3abdb946e7e0f63ec2b70...
4,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2,2020,6,6,ACTIVE,Regularly,21.0,16b36c2a4da07655a973746ddb1b2cbabe7cc0eb9326d8...

In [43]:
df_HM_CustTrxn.shape

(31788, 11)

In [44]:
# Check for null values in the merged Trxn/Customer dataframe
[print('Any Null Values in the merged Trxn/Customer dataframe?','\n' ,df_HM_CustTrxn.isnull().any())]

Any Null Values in the merged Trxn/Customer dataframe?
 customer_id               False
article_id                False
price                     False
sales_channel_id          False
txn_year                  False
txn_mth                   False
txn_day                   False
club_member_status         True
fashion_news_frequency     True
age                        True
postal_code               False
dtype: bool

[None]

#### Remove Rows with Missing Club Member Status Attributes. <a class="tocSkip">

In [45]:
# Check missing values in the club_member_status column  
df_null_club_member_status = df_HM_CustTrxn.loc[(df_HM_CustTrxn["club_member_status"].isnull())]

[print('Numbers of rows with missing club member status?','\n' ,len(df_null_club_member_status.index))]
[print('\nPrecentage of total rows in Trxn dataframe with missing club member status attributes?\n{:06.3f}%'
                               .format((len(df_null_club_member_status.index)/len(df_HM_CustTrxn.index))*100))]


# For simplicity the rows with missing values in the club member status will be ignored
# Re-Build Txn/Customer Dataframe with no missing values in the club member status
df_HM_CustTrxn = df_HM_CustTrxn.loc[(df_HM_CustTrxn["club_member_status"].notnull())]

# Confirm dimensions of Trxn (sample) dataframe AFTER removing rows with missing values in the club member status column
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - with missing club mem status values removed','\n' ,
                                                                                                   df_HM_CustTrxn.shape)]

Numbers of rows with missing club member status?
 52

Precentage of total rows in Trxn dataframe with missing club member status attributes?
00.164%

Current Number of Rows/Columns in Trxn/Customer dataframe - with missing club mem status values removed
 (31736, 11)

[None]

#### Remove Rows with Missing Fashion News Frequency Attributes. <a class="tocSkip">

In [46]:
# Check missing values in the club_member_status column  
df_null_fn_freq = df_HM_CustTrxn.loc[(df_HM_CustTrxn["fashion_news_frequency"].isnull())]

[print('Numbers of rows with missing fashion_news_frequency values?','\n' ,len(df_null_fn_freq.index))]
[print('\nPrecentage of total rows in Trxn dataframe with missing fashion_news_frequency attributes?\n{:06.3f}%'
                               .format((len(df_null_fn_freq.index)/len(df_HM_CustTrxn.index))*100))]

# For simplicity the rows with missing values in the fashion_news_frequency column will be ignored
# Re-Build Txn/Customer Dataframe with no missing values in the fashion_news_frequency column
df_HM_CustTrxn = df_HM_CustTrxn.loc[(df_HM_CustTrxn["fashion_news_frequency"].notnull())]

# Confirm dimensions of Trxn (sample) dataframe AFTER removing rows with missing values in the fashion_news_frequency column
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - missing Fash News Freq values removed','\n' ,
                                                                                                   df_HM_CustTrxn.shape)]

Numbers of rows with missing fashion_news_frequency values?
 151

Precentage of total rows in Trxn dataframe with missing fashion_news_frequency attributes?
00.476%

Current Number of Rows/Columns in Trxn/Customer dataframe - missing Fash News Freq values removed
 (31585, 11)

[None]

#### Remove Rows with Missing Age Attributes. <a class="tocSkip">

In [47]:
# Check missing values in the age column  
df_null_age = df_HM_CustTrxn.loc[(df_HM_CustTrxn["age"].isnull())]

[print('Numbers of rows with missing age values?','\n' ,len(df_null_age.index))]
[print('\nPrecentage of total rows in Trxn dataframe with missing age attributes?\n{:06.3f}%'
                               .format((len(df_null_age.index)/len(df_HM_CustTrxn.index))*100))]

# Re-Build Txn/Customer Dataframe with no missing values in the age column
df_HM_CustTrxn = df_HM_CustTrxn.loc[(df_HM_CustTrxn["age"].notnull())]


# Confirm dimensions of Trxn (sample) dataframe AFTER removing rows with missing values in the age column
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - missing ages removed','\n' ,df_HM_CustTrxn.shape)]

Numbers of rows with missing age values?
 129

Precentage of total rows in Trxn dataframe with missing age attributes?
00.408%

Current Number of Rows/Columns in Trxn/Customer dataframe - missing ages removed
 (31456, 11)

[None]

#### Encode the club_member_status + fashion_news_frequency attributes <a class="tocSkip">

In [48]:
# The categorical values for club_member_status must be encoded to numberical values
df_encoded_member_stats = pd.get_dummies(df_HM_CustTrxn['club_member_status'])

In [49]:
df_encoded_member_stats

       ACTIVE  LEFT CLUB  PRE-CREATE
0           1          0           0
1           1          0           0
2           1          0           0
3           1          0           0
4           1          0           0
...       ...        ...         ...
31783       1          0           0
31784       1          0           0
31785       1          0           0
31786       1          0           0
31787       1          0           0

[31456 rows x 3 columns]

In [50]:
# Add Encoded club_member_status to our merged H&M dataframe
df_HM_CustTrxn = df_HM_CustTrxn.join(df_encoded_member_stats)

In [51]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,club_member_status,fashion_news_frequency,age,postal_code,ACTIVE,LEFT CLUB,PRE-CREATE
0,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2,2019,4,21,ACTIVE,NONE,55.0,9ca929a6dc81de0e8ee3850ade7e47b1c1f02d10015051...,1,0,0
1,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2,2020,6,10,ACTIVE,NONE,23.0,fb4b6400bddc8525a4acaa3969e9556d57dcf0d813919e...,1,0,0
2,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1,2020,5,9,ACTIVE,NONE,24.0,791ee3c7a6aba1a8a06b2c05aade6e87941534c34c7ade...,1,0,0
3,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2,2020,6,13,ACTIVE,NONE,64.0,5b3bc3b852cb72e6f396cf8cc3abdb946e7e0f63ec2b70...,1,0,0
4,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2,2020,6,6,ACTIVE,Regularly,21.0,16b36c2a4da07655a973746ddb1b2cbabe7cc0eb9326d8...,1,0,0

In [52]:
# The categorical values for fashion_news_frequency must be encoded to numberical values
df_encoded_fn_freq = pd.get_dummies(df_HM_CustTrxn['fashion_news_frequency'])

In [53]:
df_encoded_fn_freq

       Monthly  NONE  Regularly
0            0     1          0
1            0     1          0
2            0     1          0
3            0     1          0
4            0     0          1
...        ...   ...        ...
31783        0     1          0
31784        0     1          0
31785        0     1          0
31786        0     1          0
31787        0     0          1

[31456 rows x 3 columns]

In [54]:
# Add Encoded fashion_news_frequency to our merged H&M dataframe
df_HM_CustTrxn = df_HM_CustTrxn.join(df_encoded_fn_freq)

In [55]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,club_member_status,fashion_news_frequency,age,postal_code,ACTIVE,LEFT CLUB,PRE-CREATE,Monthly,NONE,Regularly
0,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2,2019,4,21,ACTIVE,NONE,55.0,9ca929a6dc81de0e8ee3850ade7e47b1c1f02d10015051...,1,0,0,0,1,0
1,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2,2020,6,10,ACTIVE,NONE,23.0,fb4b6400bddc8525a4acaa3969e9556d57dcf0d813919e...,1,0,0,0,1,0
2,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1,2020,5,9,ACTIVE,NONE,24.0,791ee3c7a6aba1a8a06b2c05aade6e87941534c34c7ade...,1,0,0,0,1,0
3,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2,2020,6,13,ACTIVE,NONE,64.0,5b3bc3b852cb72e6f396cf8cc3abdb946e7e0f63ec2b70...,1,0,0,0,1,0
4,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2,2020,6,6,ACTIVE,Regularly,21.0,16b36c2a4da07655a973746ddb1b2cbabe7cc0eb9326d8...,1,0,0,0,0,1

In [56]:
# Remove the prior Categorical columns from the Trxn/Customer dataframe
# The 'inplace' parameter confirms that the drop operation takes place in the same dataframe (a new one is not created)
df_HM_CustTrxn.drop(["club_member_status","fashion_news_frequency"], axis=1, inplace=True)

In [57]:
# Drop Postal Code - a non numerical value that is not easily converted
df_HM_CustTrxn.drop(["postal_code"], axis=1, inplace=True)

In [58]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,PRE-CREATE,Monthly,NONE,Regularly
0,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2,2019,4,21,55.0,1,0,0,0,1,0
1,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2,2020,6,10,23.0,1,0,0,0,1,0
2,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1,2020,5,9,24.0,1,0,0,0,1,0
3,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2,2020,6,13,64.0,1,0,0,0,1,0
4,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2,2020,6,6,21.0,1,0,0,0,0,1

In [59]:
df_HM_CustTrxn.dtypes

customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
txn_year              int32
txn_mth               int32
txn_day               int32
age                 float64
ACTIVE                uint8
LEFT CLUB             uint8
PRE-CREATE            uint8
Monthly               uint8
NONE                  uint8
Regularly             uint8
dtype: object

In [60]:
# Confirm dimensions of Trxn (sample) dataframe AFTER encoding Categorical Values
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - after encoding of categorical values completed','\n' ,
                                                                                                   df_HM_CustTrxn.shape)]

Current Number of Rows/Columns in Trxn/Customer dataframe - after encoding of categorical values completed
 (31456, 14)

[None]

In [61]:
# Check for null values in the Transaction Dataframe
[print('Any Null Values in the merged Trxn/Customer (sample) dataframe?','\n' ,df_HM_CustTrxn.isnull().any())]

Any Null Values in the merged Trxn/Customer (sample) dataframe?
 customer_id         False
article_id          False
price               False
sales_channel_id    False
txn_year            False
txn_mth             False
txn_day             False
age                 False
ACTIVE              False
LEFT CLUB           False
PRE-CREATE          False
Monthly             False
NONE                False
Regularly           False
dtype: bool

[None]

#### Extend Dataframe with Articles Data

#### Remove 'Redundant' Categorical Columns in Articles (sample) Dataframe. <a class="tocSkip">

In [62]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
6,111565001,111565,20 den 1p Stockings,304,Underwear Tights,Socks & Tights,1010016,Solid,9,Black,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,"Semi shiny nylon stockings with a wide, reinfo..."
8,111586001,111586,Shape Up 30 den 1p Tights,273,Leggings/Tights,Garment Lower body,1010016,Solid,9,Black,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,Tights with built-in support to lift the botto...

In [63]:
# Remove 'redundant' categotical columns from Articles (sample) dataframe
# Consider a categorical column Redundant when is 'partnered' with a numerical code 
df_articles_sample.drop(["prod_name", 
                         "product_type_name", 
                         "graphical_appearance_name",
                         "colour_group_name",
                         "perceived_colour_value_name",
                         "perceived_colour_master_name",
                         "department_name",
                         "index_name",
                         "index_group_name",
                         "section_name",
                         "garment_group_name",
                         "detail_desc"], axis=1, inplace=True)

In [64]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

,article_id,product_code,product_type_no,product_group_name,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_code,index_group_no,section_no,garment_group_no
0,108775015,108775,253,Garment Upper body,1010016,9,4,5,1676,A,1,16,1002
1,108775044,108775,253,Garment Upper body,1010016,10,3,9,1676,A,1,16,1002
3,110065001,110065,306,Underwear,1010016,9,4,5,1339,B,1,61,1017
6,111565001,111565,304,Socks & Tights,1010016,9,4,5,3608,B,1,62,1021
8,111586001,111586,273,Garment Lower body,1010016,9,4,5,3608,B,1,62,1021

#### Use One-Hot-Encoding on remaining categorical columns. <a class="tocSkip">

In [65]:
# The categorical values for product_group_name + index_code must be encoded to numberical values
df_encoded_prd_grp_nm = pd.get_dummies(df_articles_sample['product_group_name'])
df_encoded_idx_cd     = pd.get_dummies(df_articles_sample['index_code'])

In [66]:
df_encoded_prd_grp_nm

,Accessories,Bags,Cosmetic,Garment Full body,Garment Lower body,Garment Upper body,Items,Nightwear,Shoes,Socks & Tights,Swimwear,Underwear,Underwear/nightwear,Unknown
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105439,1,0,0,0,0,0,0,0,0,0,0,0,0,0
105485,0,0,0,0,0,0,0,0,0,0,0,1,0,0
105510,0,0,0,0,1,0,0,0,0,0,0,0,0,0
105517,1,0,0,0,0,0,0,0,0,0,0,0,0,0
105528,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [67]:
df_encoded_idx_cd

        A  B  C  D  F  G  H  I  J  S
0       1  0  0  0  0  0  0  0  0  0
1       1  0  0  0  0  0  0  0  0  0
3       0  1  0  0  0  0  0  0  0  0
6       0  1  0  0  0  0  0  0  0  0
8       0  1  0  0  0  0  0  0  0  0
...    .. .. .. .. .. .. .. .. .. ..
105439  0  0  1  0  0  0  0  0  0  0
105485  1  0  0  0  0  0  0  0  0  0
105510  1  0  0  0  0  0  0  0  0  0
105517  0  0  1  0  0  0  0  0  0  0
105528  1  0  0  0  0  0  0  0  0  0

[18425 rows x 10 columns]

In [68]:
# Add Encoded product_group_name to our articles dataframe (sample)
df_articles_sample = df_articles_sample.join(df_encoded_prd_grp_nm)
df_articles_sample = df_articles_sample.join(df_encoded_idx_cd)

In [69]:
df_articles_sample.shape

(18425, 37)

In [70]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

,article_id,product_code,product_type_no,product_group_name,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_code,...,A,B,C,D,F,G,H,I,J,S
0,108775015,108775,253,Garment Upper body,1010016,9,4,5,1676,A,...,1,0,0,0,0,0,0,0,0,0
1,108775044,108775,253,Garment Upper body,1010016,10,3,9,1676,A,...,1,0,0,0,0,0,0,0,0,0
3,110065001,110065,306,Underwear,1010016,9,4,5,1339,B,...,0,1,0,0,0,0,0,0,0,0
6,111565001,111565,304,Socks & Tights,1010016,9,4,5,3608,B,...,0,1,0,0,0,0,0,0,0,0
8,111586001,111586,273,Garment Lower body,1010016,9,4,5,3608,B,...,0,1,0,0,0,0,0,0,0,0

In [71]:
# Remove the prior Categorical columns from the Articles dataframe
df_articles_sample.drop(["product_group_name","index_code"], axis=1, inplace=True)

In [72]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

,article_id,product_code,product_type_no,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,...,A,B,C,D,F,G,H,I,J,S
0,108775015,108775,253,1010016,9,4,5,1676,1,16,...,1,0,0,0,0,0,0,0,0,0
1,108775044,108775,253,1010016,10,3,9,1676,1,16,...,1,0,0,0,0,0,0,0,0,0
3,110065001,110065,306,1010016,9,4,5,1339,1,61,...,0,1,0,0,0,0,0,0,0,0
6,111565001,111565,304,1010016,9,4,5,3608,1,62,...,0,1,0,0,0,0,0,0,0,0
8,111586001,111586,273,1010016,9,4,5,3608,1,62,...,0,1,0,0,0,0,0,0,0,0

In [73]:
df_articles_sample.dtypes

article_id                    int64
product_code                  int64
product_type_no               int64
graphical_appearance_no       int64
colour_group_code             int64
perceived_colour_value_id     int64
perceived_colour_master_id    int64
department_no                 int64
index_group_no                int64
section_no                    int64
garment_group_no              int64
Accessories                   uint8
Bags                          uint8
Cosmetic                      uint8
Garment Full body             uint8
Garment Lower body            uint8
Garment Upper body            uint8
Items                         uint8
Nightwear                     uint8
Shoes                         uint8
Socks & Tights                uint8
Swimwear                      uint8
Underwear                     uint8
Underwear/nightwear           uint8
Unknown                       uint8
A                             uint8
B                             uint8
C                             uint8
D                             uint8
F                             uint8
G                             uint8
H                             uint8
I                             uint8
J                             uint8
S                             uint8
dtype: object

#### Merge Trxn/Customers Dataframe with Articles Dataframe (sample). <a class="tocSkip">

In [74]:
# Merge Articles atributes from the Articles dataset based on a join with the 'article_id' field
df_HM_CustTrxnArtcls = pd.merge(df_HM_CustTrxn, df_articles_sample, how="left", on=["article_id"])

In [75]:
# Confirm dimensions of Trxn (sample) dataframe AFTER merging with Articles data
df_HM_CustTrxnArtcls.shape

(31456, 48)

In [76]:
# Display basic column information for the initial Kaggle 'transaction_train' datatset - AFTER merging with Articles data
df_HM_CustTrxnArtcls.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,...,A,B,C,D,F,G,H,I,J,S
0,7404f54b78851472deff880e36eacf7144800754e95bfc...,722437003,0.022017,2,2019,4,21,55.0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,30c7747703481499cd003cc9279433ba6881744d3286ed...,817472001,0.016932,2,2020,6,10,23.0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,402d407f2820ba41b904d458bf80fa8588585024e4b0e0...,570004105,0.015237,1,2020,5,9,24.0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,631fda05fc0f9bdf7f9be122a8e4d0ce837da4e313cf6a...,849218003,0.040949,2,2020,6,13,64.0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,f922710ff36027649166e156d0b603cf9e46ad15dea817...,708311001,0.050831,2,2020,6,6,21.0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [77]:
df_HM_CustTrxnArtcls.dtypes

customer_id                    object
article_id                      int64
price                         float64
sales_channel_id                int64
txn_year                        int32
txn_mth                         int32
txn_day                         int32
age                           float64
ACTIVE                          uint8
LEFT CLUB                       uint8
PRE-CREATE                      uint8
Monthly                         uint8
NONE                            uint8
Regularly                       uint8
product_code                    int64
product_type_no                 int64
graphical_appearance_no         int64
colour_group_code               int64
perceived_colour_value_id       int64
perceived_colour_master_id      int64
department_no                   int64
index_group_no                  int64
section_no                      int64
garment_group_no                int64
Accessories                     uint8
Bags                            uint8
Cosmetic                        uint8
Garment Full body               uint8
Garment Lower body              uint8
Garment Upper body              uint8
Items                           uint8
Nightwear                       uint8
Shoes                           uint8
Socks & Tights                  uint8
Swimwear                        uint8
Underwear                       uint8
Underwear/nightwear             uint8
Unknown                         uint8
A                               uint8
B                               uint8
C                               uint8
D                               uint8
F                               uint8
G                               uint8
H                               uint8
I                               uint8
J                               uint8
S                               uint8
dtype: object

In [78]:
# Check for null values in the merged Trxn/Customer/Articles dataframe
[print('Any Null Values in the merged Trxn/Customer/Articles dataframe?','\n' ,df_HM_CustTrxnArtcls.isnull().any())]

Any Null Values in the merged Trxn/Customer/Articles dataframe?
 customer_id                   False
article_id                    False
price                         False
sales_channel_id              False
txn_year                      False
txn_mth                       False
txn_day                       False
age                           False
ACTIVE                        False
LEFT CLUB                     False
PRE-CREATE                    False
Monthly                       False
NONE                          False
Regularly                     False
product_code                  False
product_type_no               False
graphical_appearance_no       False
colour_group_code             False
perceived_colour_value_id     False
perceived_colour_master_id    False
department_no                 False
index_group_no                False
section_no                    False
garment_group_no              False
Accessories                   False
Bags                          False
Cosmetic                      False
Garment Full body             False
Garment Lower body            False
Garment Upper body            False
Items                         False
Nightwear                     False
Shoes                         False
Socks & Tights                False
Swimwear                      False
Underwear                     False
Underwear/nightwear           False
Unknown                       False
A                             False
B                             False
C                             False
D                             False
F                             False
G                             False
H                             False
I                             False
J                             False
S                             False
dtype: bool

[None]

#### Final Data Preparation Steps

#### Remove Any Duplicates in Final Merged Dataframe. <a class="tocSkip">

In [79]:
# run a check to see if any duplicate entires exist in the merged Trxn/Customer/Articles dataframe
[print('Numbers of duplicated rows in the final merged Trxn/Customer/Articles dataframe?','\n' 
                                                                       ,df_HM_CustTrxnArtcls.duplicated().sum())]

Numbers of duplicated rows in the final merged Trxn/Customer/Articles dataframe?
 3

[None]

In [80]:
# Find duplicate rows across all columns
duplicateRows = df_HM_CustTrxnArtcls[df_HM_CustTrxnArtcls.duplicated()]

In [81]:
duplicateRows

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,...,A,B,C,D,F,G,H,I,J,S
7220,d00063b94dcb1342869d4994844a2742b5d62927f36843...,678342001,0.006763,1,2018,10,14,27.0,1,0,...,0,0,0,1,0,0,0,0,0,0
9414,becf84868e0f89bed83defcbba3e0a5b5ebc90e2c8ec80...,703160006,0.025407,2,2019,9,13,52.0,1,0,...,0,0,0,1,0,0,0,0,0,0
16994,d94ee8c4726256ce1bd8af457375c7b2fd89b19282c07e...,516000090,0.006763,2,2020,6,21,23.0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [82]:
# Drop duplicate rows in the merged Trxn/Customer/Articles dataframe
df_HM_CustTrxnArtcls = df_HM_CustTrxnArtcls.drop_duplicates()

In [83]:
# Re-check: Find duplicate rows across all columns
duplicateRows = df_HM_CustTrxnArtcls[df_HM_CustTrxnArtcls.duplicated()]

In [84]:
duplicateRows

Empty DataFrame
Columns: [customer_id, article_id, price, sales_channel_id, txn_year, txn_mth, txn_day, age, ACTIVE, LEFT CLUB, PRE-CREATE, Monthly, NONE, Regularly, product_code, product_type_no, graphical_appearance_no, colour_group_code, perceived_colour_value_id, perceived_colour_master_id, department_no, index_group_no, section_no, garment_group_no, Accessories, Bags, Cosmetic, Garment Full body, Garment Lower body, Garment Upper body, Items, Nightwear, Shoes, Socks & Tights, Swimwear, Underwear, Underwear/nightwear, Unknown, A, B, C, D, F, G, H, I, J, S]
Index: []

[0 rows x 48 columns]

In [85]:
# Confirm dimensions of Trxn/Customer/Articles (sample) dataframe AFTER removing duplicate rows
[print('\nCurrent Number of Rows/Columns in merged Trxn/Customer/Articles dataframe - duplicates removed','\n' ,
                                                                                           df_HM_CustTrxnArtcls.shape)]

Current Number of Rows/Columns in merged Trxn/Customer/Articles dataframe - duplicates removed
 (31453, 48)

[None]

In [86]:
### See if there is a way to check the integrity of the customer merging..

######

## Split Data: Train and Test Sets

#### Split Data into 70% for Training, 30% for Testing. <a class="tocSkip">

In [87]:
# Split the data into train and test set
# Parameter set to 30% for size of Test set
# Given that there is ordering in the dataset, the 'shuffle' parameter is set to 'True'
train, test = train_test_split(df_HM_CustTrxnArtcls, test_size=0.3, random_state=101, shuffle=True)

In [88]:
# Output Confirmation of data split
dataDescription = 'H&M Sample Data Split'
print("\n{} Training Set Shape : \n\t".format(dataDescription))
print(train.shape)
print("\n{} Test Set Shape : \n\t".format(dataDescription))
print(test.shape)

H&M Sample Data Split Training Set Shape :

(22017, 48)

H&M Sample Data Split Test Set Shape :

(9436, 48)

######

## Model Preparation

#### Scale the Training Dataset (but not the Test set) <a class="tocSkip">

In [89]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [90]:
train.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,...,A,B,C,D,F,G,H,I,J,S
9131,6bb893014e30db77c279bd3e9f4c6370c0e377dd1e8559...,777143002,0.050831,1,2019,11,23,57.0,1,0,...,1,0,0,0,0,0,0,0,0,0
11632,1254700650577757f486f3b05e44c7fcca3f53b4942226...,733029019,0.016932,1,2020,2,25,51.0,1,0,...,1,0,0,0,0,0,0,0,0,0
22116,6a18546c9a7bc06be53f10bed5bb912d7da528e8fefa9f...,868392002,0.025407,2,2020,5,4,63.0,1,0,...,1,0,0,0,0,0,0,0,0,0
17539,863f0e03da282ae32a76775ce55d8a4605a85c84a26066...,817401003,0.033881,2,2020,5,14,27.0,1,0,...,1,0,0,0,0,0,0,0,0,0
11296,50c8fc2bfdb088dfce889d3be4f2a72ba48e137a3b0566...,754362002,0.009136,2,2019,12,10,26.0,1,0,...,0,0,1,0,0,0,0,0,0,0

In [91]:
chk_cols =  ['product_code',
            'product_type_no',
            'graphical_appearance_no',
            'colour_group_code',
            'perceived_colour_value_id',
            'perceived_colour_master_id',
            'department_no',
            'index_group_no',
            'section_no',
            'garment_group_no']

In [92]:
train[chk_cols]

,product_code,product_type_no,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no
9131,777143,252,1010027,19,4,20,1626,1,15,1003
11632,733029,255,1010008,7,2,12,1636,1,15,1005
22116,868392,254,1010016,9,4,5,1636,1,15,1005
17539,817401,274,1010012,10,3,-1,1723,1,15,1025
11296,754362,74,1010016,13,2,1,3519,1,65,1019
...,...,...,...,...,...,...,...,...,...,...
5695,902481,275,1010001,9,4,5,1444,2,53,1012
8007,782555,265,1010001,13,2,11,1322,1,15,1013
17748,764520,306,1010020,9,4,5,1338,1,61,1017
17934,725662,298,1010016,22,5,8,4242,1,60,1018
13153,554640,275,1010023,71,1,2,1773,2,57,1016

In [93]:
cols_to_norm = ['price','age']

In [94]:
#train[cols_to_norm] = scaler.fit_transform(train[cols_to_norm])

In [95]:
# Normalizing numerical features so that each feature has mean 0 and variance 1
feature_scaler = StandardScaler()
#train[cols_to_norm] = feature_scaler.fit_transform(train[cols_to_norm])

In [96]:
#for x in dataset.columns[dataset.dtypes == 'int64']:
#    Dataset[x] = minmax.fit_transform(np.array(Dataset[I]).reshape(-1,1))

In [97]:
def scale_trainset_features(df, dtype, no_scale):
    for x in df.columns[df.dtypes == dtype]:
        if x != no_scale:
            df[x] = scaler.fit_transform(np.array(df[x]).reshape(-1,1))

In [98]:
#for x in train.columns[train.dtypes == 'int64']:
#    if x != 'article_id':
#        train[x] = scaler.fit_transform(np.array(train[x]).reshape(-1,1))

In [99]:
no_scale = 'article_id'
scale_dtype = 'int64'
scale_trainset_features(train, scale_dtype, no_scale)

In [100]:
train.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,...,A,B,C,D,F,G,H,I,J,S
9131,6bb893014e30db77c279bd3e9f4c6370c0e377dd1e8559...,777143002,0.050831,0.0,2019,11,23,57.0,1,0,...,1,0,0,0,0,0,0,0,0,0
11632,1254700650577757f486f3b05e44c7fcca3f53b4942226...,733029019,0.016932,0.0,2020,2,25,51.0,1,0,...,1,0,0,0,0,0,0,0,0,0
22116,6a18546c9a7bc06be53f10bed5bb912d7da528e8fefa9f...,868392002,0.025407,1.0,2020,5,4,63.0,1,0,...,1,0,0,0,0,0,0,0,0,0
17539,863f0e03da282ae32a76775ce55d8a4605a85c84a26066...,817401003,0.033881,1.0,2020,5,14,27.0,1,0,...,1,0,0,0,0,0,0,0,0,0
11296,50c8fc2bfdb088dfce889d3be4f2a72ba48e137a3b0566...,754362002,0.009136,1.0,2019,12,10,26.0,1,0,...,0,0,1,0,0,0,0,0,0,0

In [101]:
train[chk_cols]

,product_code,product_type_no,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no
9131,0.795276,0.474672,0.999999,0.212766,0.625,1.000000,0.048361,0.00,0.136842,0.083333
11632,0.742785,0.480300,0.999980,0.085106,0.375,0.619048,0.049499,0.00,0.136842,0.166667
22116,0.903851,0.478424,0.999988,0.106383,0.625,0.285714,0.049499,0.00,0.136842,0.166667
17539,0.843178,0.515947,0.999984,0.117021,0.500,0.000000,0.059399,0.00,0.136842,1.000000
11296,0.768169,0.140713,0.999988,0.148936,0.375,0.095238,0.263769,0.00,0.663158,0.750000
...,...,...,...,...,...,...,...,...,...,...
5695,0.944413,0.517824,0.999973,0.106383,0.625,0.285714,0.027651,0.04,0.536842,0.458333
8007,0.801715,0.499062,0.999973,0.148936,0.375,0.571429,0.013769,0.00,0.136842,0.500000
17748,0.780256,0.575985,0.999992,0.106383,0.625,0.285714,0.015589,0.00,0.621053,0.666667
17934,0.734020,0.560976,0.999988,0.244681,0.750,0.428571,0.346040,0.00,0.610526,0.708333
13153,0.530525,0.517824,0.999995,0.765957,0.250,0.142857,0.065089,0.04,0.578947,0.625000

In [102]:
train.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,...,A,B,C,D,F,G,H,I,J,S
9131,6bb893014e30db77c279bd3e9f4c6370c0e377dd1e8559...,777143002,0.050831,0.0,2019,11,23,57.0,1,0,...,1,0,0,0,0,0,0,0,0,0
11632,1254700650577757f486f3b05e44c7fcca3f53b4942226...,733029019,0.016932,0.0,2020,2,25,51.0,1,0,...,1,0,0,0,0,0,0,0,0,0
22116,6a18546c9a7bc06be53f10bed5bb912d7da528e8fefa9f...,868392002,0.025407,1.0,2020,5,4,63.0,1,0,...,1,0,0,0,0,0,0,0,0,0
17539,863f0e03da282ae32a76775ce55d8a4605a85c84a26066...,817401003,0.033881,1.0,2020,5,14,27.0,1,0,...,1,0,0,0,0,0,0,0,0,0
11296,50c8fc2bfdb088dfce889d3be4f2a72ba48e137a3b0566...,754362002,0.009136,1.0,2019,12,10,26.0,1,0,...,0,0,1,0,0,0,0,0,0,0

In [103]:
#int32
#age                           float64

In [104]:
scale_dtype = 'int32'
scale_trainset_features(train, scale_dtype, no_scale)

In [105]:
scale_dtype = 'float64'
scale_trainset_features(train, scale_dtype, no_scale)

In [106]:
train.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,...,A,B,C,D,F,G,H,I,J,S
9131,6bb893014e30db77c279bd3e9f4c6370c0e377dd1e8559...,777143002,0.099548,0.0,0.5,0.909091,0.733333,0.5125,1,0,...,1,0,0,0,0,0,0,0,0,0
11632,1254700650577757f486f3b05e44c7fcca3f53b4942226...,733029019,0.032603,0.0,1.0,0.090909,0.800000,0.4375,1,0,...,1,0,0,0,0,0,0,0,0,0
22116,6a18546c9a7bc06be53f10bed5bb912d7da528e8fefa9f...,868392002,0.049339,1.0,1.0,0.363636,0.100000,0.5875,1,0,...,1,0,0,0,0,0,0,0,0,0
17539,863f0e03da282ae32a76775ce55d8a4605a85c84a26066...,817401003,0.066075,1.0,1.0,0.363636,0.433333,0.1375,1,0,...,1,0,0,0,0,0,0,0,0,0
11296,50c8fc2bfdb088dfce889d3be4f2a72ba48e137a3b0566...,754362002,0.017205,1.0,0.5,1.000000,0.300000,0.1250,1,0,...,0,0,1,0,0,0,0,0,0,0

######

######

######

######

## K Nearest Neighbour Operations

### Create Functions for NN Analysis

#### Set up function to Build Nearest Neighbours Model <a class="tocSkip">

In [107]:
# Set up Unsupervised learner for implementing neighbour searches of Customer Transactions
# Set default parameters for NN algorithm - these can be overwritten during optimisationphase
def setup_NN_model(df_train, NN_metric = 'cosine', NN_algo = 'brute'):
       
    # Set up numerical data inputs for NearestNeighbors function
    df_cust_articles = df_train[chk_cols]
    
    # Set up parameters of NearestNeighbors function
    model_knn = NearestNeighbors(metric = NN_metric, algorithm = NN_algo)
    
    # Implement NearestNeighbors function on merged Trxn/Customer/Article data elements
    model_knn.fit(df_cust_articles)
    
    return model_knn, df_cust_articles

#### Set up function to  Nearest Neighbours (+ Articles bought) for a Customer <a class="tocSkip">

In [108]:
# Use a function to return a list of Nearest Neighbours for a given customer.
# Return Neighbour Customer Ids and the articles they both
def get_neighbourIDs_articles(model_knn, df_cust_articles, df_train, query_index, NN_Neighbours):
     
    # Temp view of training set - for validation
    # train
    
    # Reset Training dataframe index - remove old one; this allows for extraction of correct index records
    # returned by the NearestNeighbors function
    # df_train.reset_index(drop=True,inplace=True)
    
    # Temp view of training set - for validation
    # train
    
    # Set up numerical data inputs for NearestNeighbors function
    # df_cust_articles = df_train[chk_cols]

    
    # Temp check on values - for verification
    #df_train[['customer_id',
    #  'article_id',
    #  'product_code',
    #  'product_type_no',
    #  'graphical_appearance_no',
    #  'colour_group_code',
    #  'perceived_colour_value_id',
    #  'perceived_colour_master_id',
    #  'department_no',
    #  'index_group_no',
    #  'section_no',
    #  'garment_group_no']]
    #train[chk_cols]
    
    # Set up parameters of NearestNeighbors function
    #model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
    #model_knn = NearestNeighbors(metric = NN_metric, algorithm = NN_algo)
    
    # Implement NearestNeighbors function on merged Trxn/Customer/Article data elements
    #model_knn.fit(df_cust_articles)
    
    # Return index values for nearest neighbours - determined by 'Num_Neighbour' parameter
    distances, indices = model_knn.kneighbors(df_cust_articles.iloc[query_index,:].values.reshape(1, -1), 
                                              n_neighbors = NN_Neighbours)
    
    # Temp selection of a chosen record for which to find Nearest Neighbours
    #df_cust_articles.shape[0]
    #df_cust_articles.iloc[query_index,:].values.reshape(1, -1)
    #df_cust_articles.head()
    
    print('Query Index..')
    print(query_index)
    
    print('Indices values... ')
    print(indices)
    
    print('\ndf_cust_articles.loc[query_index]\n')
    print(df_cust_articles.loc[query_index])
    
    print('\n\ndf_cust_articles.loc[query_index,[product_code,product_type_no,graphical_appearance_no]]\n')
    print(df_cust_articles.loc[query_index,['product_code','product_type_no','graphical_appearance_no']])
    
    print('\n\ntrain.loc[query_index,[product_code,product_type_no,graphical_appearance_no]]\n')
    print(df_train.loc[query_index,['product_code','product_type_no','graphical_appearance_no']])
    
    print('\n\ndf_cust_articles.index[query_index]\n')
    for i in range(0, len(distances.flatten())):
        if i == 0:
            print('\nRecommendations for {0}:\n'.format(df_cust_articles.index[query_index])) 
        else:
            print('df_cust_articles: {0}: Index: {1} {2} with distance of {3}:'.
              format(i,  
                     df_cust_articles.index[indices.flatten()[i]], 
                     df_cust_articles.loc[indices.flatten()[i],['product_code']],
                     distances.flatten()[i]))
        
    print('\n\ntrain.index[query_index]\n')    
    for i in range(0, len(distances.flatten())):
        if i == 0:
            print('\nRecommendations for {0}:\n'.format(df_train.index[query_index]))
        else:
            print('train: {0}: Index: {1} {2} {3} {4}, with distance of {5}:'
              .format(i,  
                      df_train.index[indices.flatten()[i]],
                      df_train.loc[indices.flatten()[i],['customer_id']], 
                      df_train.loc[indices.flatten()[i],['article_id']], 
                      df_train.loc[indices.flatten()[i],['product_code']], 
                      distances.flatten()[i]))    
        
    customer_list = []
    article_list  = []


    # Using the Index values returned by the Nearest neighbour model
    # Generate a list of Customer Ids and Article Ids for these neighbours
    for i in range(0, len(distances.flatten())):
        if i == 0:
            print('\nRecommendations for {0}:\n'.format(df_train.index[query_index]))
        else:
            print('Indices[i]: {}'.format(indices.flatten()[i]))
        
            print('{0}: Index: {1} {2} {3} {4}, with distance of {5}:'
              .format(i,  
                      df_train.index[indices.flatten()[i]],
                      df_train.loc[indices.flatten()[i],['customer_id']], 
                      df_train.loc[indices.flatten()[i],['article_id']], 
                      df_train.loc[indices.flatten()[i],['product_code']], 
                      distances.flatten()[i]))
            customer_list.append(df_train.loc[indices.flatten()[i],'customer_id'])
            article_list.append(df_train.loc[indices.flatten()[i],'article_id'])
        
    df_neighbourhood = pd.DataFrame({'customer_id': customer_list, 'article_id': article_list})
    del customer_list, article_list
    
    return df_neighbourhood

#### Find Top Selling Products in 'Neighbourhood' for a Customer <a class="tocSkip">

In [109]:
# Function to return Top 12 Articles Purchased by the Customer 'Neighbourhood'
def get_Top12_Articles_from_CustNNs(df, num_of_articles):
    
    print('get_Top12_Articles_from_CustNNs')
    
    # Finding number of times a particular item is purchased by customers in the neighbourhood
    temp = df.groupby(['article_id'])['customer_id'].agg('count').reset_index() 
    temp.columns = ['article_id','count']
    
    # Sort the articles by the number of time purchased by the 'neighbourhood' customers
    temp = temp.sort_values('count', ascending=False)
    
    # Temp Print out of Article Id List
    print(temp)
    
    # Select the Top 12 - if there are duplicate just select the first entry
    temp = temp.nlargest(num_of_articles,'count', keep='first')
    
    # Isolate the Article Ids
    temp = temp['article_id']
    
    # Convert to dataframe and reset index
    df_article_list = pd.DataFrame({'article_id': temp})
    df_article_list = df_article_list.reset_index(drop=True)
    
    
    # Return the list of Top 12 articles
    return df_article_list

#### Invoke NN Functions <a class="tocSkip">

In [110]:
# Reset Training dataframe index - remove old one; this allows for extraction of correct index records
# returned by the NearestNeighbors function
train.reset_index(drop=True,inplace=True)

In [111]:
# Call function to set up NN learner
hm_model_knn, df_cust_articles_nn = setup_NN_model(train, NN_metric = 'cosine', NN_algo = 'brute')

In [112]:
# Call function to find nearest neighbour Customer Ids and Article Ids
# Pass in index, parameters for Nearest Neighbour function, and the number of neighbours to retrun
query_index = 3
num_of_neighbours = 5
df_neighbours = get_neighbourIDs_articles(hm_model_knn, df_cust_articles_nn, train, query_index, num_of_neighbours)

Query Index..
3
Indices values...
[[    3 11633 16087  3614 17702]]

df_cust_articles.loc[query_index]

product_code                  0.843178
product_type_no               0.515947
graphical_appearance_no       0.999984
colour_group_code             0.117021
perceived_colour_value_id     0.500000
perceived_colour_master_id    0.000000
department_no                 0.059399
index_group_no                0.000000
section_no                    0.136842
garment_group_no              1.000000
Name: 3, dtype: float64


df_cust_articles.loc[query_index,[product_code,product_type_no,graphical_appearance_no]]

product_code               0.843178
product_type_no            0.515947
graphical_appearance_no    0.999984
Name: 3, dtype: float64


train.loc[query_index,[product_code,product_type_no,graphical_appearance_no]]

product_code               0.843178
product_type_no            0.515947
graphical_appearance_no    0.999984
Name: 3, dtype: object


df_cust_articles.index[query_index]


Recommendations for 3:

df_cust_articles: 1: Index: 11633 product_code    0.843178
Name: 11633, dtype: float64 with distance of 1.1102230246251565e-16:
df_cust_articles: 2: Index: 16087 product_code    0.750062
Name: 16087, dtype: float64 with distance of 0.0037447731503672532:
df_cust_articles: 3: Index: 3614 product_code    0.750062
Name: 3614, dtype: float64 with distance of 0.0037447731503672532:
df_cust_articles: 4: Index: 17702 product_code    0.750062
Name: 17702, dtype: float64 with distance of 0.0037447731503672532:


train.index[query_index]


Recommendations for 3:

train: 1: Index: 11633 customer_id    337f2b22d292a73516079f3e12bc889e3df006dd81793c...
Name: 11633, dtype: object article_id    817401003
Name: 11633, dtype: object product_code    0.843178
Name: 11633, dtype: object, with distance of 1.1102230246251565e-16:
train: 2: Index: 16087 customer_id    bccda440066127e061cdb547bfbda4066444c536c1729f...
Name: 16087, dtype: object article_id    739144007
Name: 16087, dtype: object product_code    0.750062
Name: 16087, dtype: object, with distance of 0.0037447731503672532:
train: 3: Index: 3614 customer_id    dd3674b04c775621fa72bf585b6693b0d55a846dd60dd9...
Name: 3614, dtype: object article_id    739144007
Name: 3614, dtype: object product_code    0.750062
Name: 3614, dtype: object, with distance of 0.0037447731503672532:
train: 4: Index: 17702 customer_id    401e7417296d9809e12011704524c27d33f4fab5e8f802...
Name: 17702, dtype: object article_id    739144007
Name: 17702, dtype: object product_code    0.750062
Name: 17702, dtype: object, with distance of 0.0037447731503672532:

Recommendations for 3:

Indices[i]: 11633
1: Index: 11633 customer_id    337f2b22d292a73516079f3e12bc889e3df006dd81793c...
Name: 11633, dtype: object article_id    817401003
Name: 11633, dtype: object product_code    0.843178
Name: 11633, dtype: object, with distance of 1.1102230246251565e-16:
Indices[i]: 16087
2: Index: 16087 customer_id    bccda440066127e061cdb547bfbda4066444c536c1729f...
Name: 16087, dtype: object article_id    739144007
Name: 16087, dtype: object product_code    0.750062
Name: 16087, dtype: object, with distance of 0.0037447731503672532:
Indices[i]: 3614
3: Index: 3614 customer_id    dd3674b04c775621fa72bf585b6693b0d55a846dd60dd9...
Name: 3614, dtype: object article_id    739144007
Name: 3614, dtype: object product_code    0.750062
Name: 3614, dtype: object, with distance of 0.0037447731503672532:
Indices[i]: 17702
4: Index: 17702 customer_id    401e7417296d9809e12011704524c27d33f4fab5e8f802...
Name: 17702, dtype: object article_id    739144007
Name: 17702, dtype: object product_code    0.750062
Name: 17702, dtype: object, with distance of 0.0037447731503672532:

In [113]:
#Temp Check 
df_neighbours

                                         customer_id  article_id
0  337f2b22d292a73516079f3e12bc889e3df006dd81793c...   817401003
1  bccda440066127e061cdb547bfbda4066444c536c1729f...   739144007
2  dd3674b04c775621fa72bf585b6693b0d55a846dd60dd9...   739144007
3  401e7417296d9809e12011704524c27d33f4fab5e8f802...   739144007

In [114]:
#df_neighbours.dtypes

In [115]:
# Call function to return list of the most popular Articles in terms of the 
# purchases made by the customers neighbourhood
TopN = 12
df_cust_preds = get_Top12_Articles_from_CustNNs(df_neighbours, TopN)

get_Top12_Articles_from_CustNNs
   article_id  count
0   739144007      3
1   817401003      1

In [116]:
df_cust_preds

   article_id
0   739144007
1   817401003

In [117]:
#df_cust_preds.dtypes

######

######

######

## Build Submission

#### The solution file to have 1371980 prediction rows - use Sample Submission to construct  <a class="tocSkip">

### Read Sample Submission File

In [122]:
# Read in Sample Submission File
df_sub  = pd.read_csv('../input/sample_submission.csv',
                            #usecols= ['customer_id'], 
                            dtype={'customer_id': 'string'})

In [123]:
numCustomers = df_sub.shape[0]

In [124]:
# Function to return Customer Ids from sample submission file in sequence
def get_next_Customer(df_full_cust_sub, df_train, idx):
    
    print('Get Next Customer')
    
   
    # Extract only the H&M Customers contained in the sample Transaction dataset 
    custIDs_in_Trxn_Sub_Sample  = set(df_trxns_sample["customer_id"])
    
    # Create dataset that only contains H&M Customers from the sample Transaction dataset
    #df_sub_customer = df_sub_sample[df_sub_sample["customer_id"].isin(custIDs_in_Trxn_Sub_Sample)]
    df_sub_customer = df_full_cust_sub[df_full_cust_sub["customer_id"].isin(custIDs_in_Trxn_Sub_Sample)]
    
    # Temp code to build submission framework
    df_sub_sample = df_sub_customer.sample(frac=0.001, replace=False)
    
    
    
    # Get Customer Id from Sample Sub
    cust       = df_sub_sample.iloc[idx,0]
    display(cust)
    
    # Find Index of Customer in Train dataframe - just for debugging
    cust_loc     = df_train.loc[train['customer_id'] == cust]
    display(cust_loc)
    
    # Find Index of Customer in Train dataframe
    index        = df_train.index
    condition    = df_train['customer_id'] == cust
    cust_idx     = index[condition]
    display(cust_idx)
    num_cust_idx = cust_idx[0]


    
    
    cust_idx = num_cust_idx 
    
    # Return index of customer id in training dataframe and the customer id itself
    return cust_idx, cust

In [125]:
customer_submission_idx, cust = get_next_Customer(df_sub, train, 0)

Get Next Customer

'79df9588436c075b92643596dbf706ffc8031eebb93d11de9deeca92f7adf440'

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,...,A,B,C,D,F,G,H,I,J,S
11737,79df9588436c075b92643596dbf706ffc8031eebb93d11...,825597001,0.059381,1.0,1.0,0.636364,0.533333,0.2125,1,0,...,0,0,0,1,0,0,0,0,0,0

Int64Index([11737], dtype='int64')

In [126]:
train.iloc[customer_submission_idx, [0,1,14,15,16,17,19,20,22,23]]

customer_id                   79df9588436c075b92643596dbf706ffc8031eebb93d11...
article_id                                                            825597001
product_code                                                            0.85293
product_type_no                                                        0.542214
graphical_appearance_no                                                 0.99998
colour_group_code                                                     0.0851064
perceived_colour_master_id                                             0.619048
department_no                                                          0.311334
section_no                                                             0.515789
garment_group_no                                                       0.666667
Name: 11737, dtype: object

In [127]:
#df_cust_articles_nn
idx=customer_submission_idx
df_cust_articles_nn.iloc[idx]

product_code                  0.852930
product_type_no               0.542214
graphical_appearance_no       0.999980
colour_group_code             0.085106
perceived_colour_value_id     0.250000
perceived_colour_master_id    0.619048
department_no                 0.311334
index_group_no                0.040000
section_no                    0.515789
garment_group_no              0.666667
Name: 11737, dtype: float64

### Obtain Customer Article Predictions

In [128]:
# Call function to find nearest neighbour Customer Ids and Article Ids
# Pass in index, parameters for Nearest Neighbour function, and the number of neighbours to retrun
num_of_neighbours = 100
df_neighbours = get_neighbourIDs_articles(hm_model_knn, df_cust_articles_nn, train, customer_submission_idx, num_of_neighbours)

Query Index..
11737
Indices values...
[[11737 14523 19121 14939 14017 17794 13898  5870 16118   530 16842 16147
  18089 13144  3242 21100 15683  9519 16379 14382  9968 21666 20263  2400
  13667  6493  9672 16494 17798  1602  1433  5082  9254  8980 14270  3662
   6138 14662 15546  2351 10650 12558 12462 10075  1921 12979 11671 20804
  21539  8270 12937 16092 12446  2930  7186  2707 11744 12130  5725  8670
   7571  2754 15592  3959 14299  4770 10603 10807 10037  7316 19731  1684
  21861 17817 11899  7578 18838  5412 12230    59 19397  3702  4416 11657
    828 21963  8753  6120 19907 18176  8962 16526 12777 15652  1407 17280
   1600 20678 20540 13702]]

df_cust_articles.loc[query_index]

product_code                  0.852930
product_type_no               0.542214
graphical_appearance_no       0.999980
colour_group_code             0.085106
perceived_colour_value_id     0.250000
perceived_colour_master_id    0.619048
department_no                 0.311334
index_group_no                0.040000
section_no                    0.515789
garment_group_no              0.666667
Name: 11737, dtype: float64


df_cust_articles.loc[query_index,[product_code,product_type_no,graphical_appearance_no]]

product_code               0.852930
product_type_no            0.542214
graphical_appearance_no    0.999980
Name: 11737, dtype: float64


train.loc[query_index,[product_code,product_type_no,graphical_appearance_no]]

product_code                0.85293
product_type_no            0.542214
graphical_appearance_no     0.99998
Name: 11737, dtype: object


df_cust_articles.index[query_index]


Recommendations for 11737:

df_cust_articles: 1: Index: 14523 product_code    0.761022
Name: 14523, dtype: float64 with distance of 0.0010370870470551852:
df_cust_articles: 2: Index: 19121 product_code    0.91472
Name: 19121, dtype: float64 with distance of 0.0020481963025434924:
df_cust_articles: 3: Index: 14939 product_code    0.875063
Name: 14939, dtype: float64 with distance of 0.002113792552407512:
df_cust_articles: 4: Index: 14017 product_code    0.851621
Name: 14017, dtype: float64 with distance of 0.002189436307801662:
df_cust_articles: 5: Index: 17794 product_code    0.887037
Name: 17794, dtype: float64 with distance of 0.0024390424011159206:
df_cust_articles: 6: Index: 13898 product_code    0.887709
Name: 13898, dtype: float64 with distance of 0.002439906295207961:
df_cust_articles: 7: Index: 5870 product_code    0.907511
Name: 5870, dtype: float64 with distance of 0.002507043118507135:
df_cust_articles: 8: Index: 16118 product_code    0.817866
Name: 16118, dtype: float64 with distance of 0.002515212612784423:
df_cust_articles: 9: Index: 530 product_code    0.828103
Name: 530, dtype: float64 with distance of 0.002582559345530644:
df_cust_articles: 10: Index: 16842 product_code    0.828103
Name: 16842, dtype: float64 with distance of 0.002582559345530644:
df_cust_articles: 11: Index: 16147 product_code    0.813475
Name: 16147, dtype: float64 with distance of 0.002607665221943556:
df_cust_articles: 12: Index: 18089 product_code    0.808705
Name: 18089, dtype: float64 with distance of 0.002646194614514652:
df_cust_articles: 13: Index: 13144 product_code    0.808705
Name: 13144, dtype: float64 with distance of 0.002646194614514652:
df_cust_articles: 14: Index: 3242 product_code    0.797182
Name: 3242, dtype: float64 with distance of 0.0028848530129195193:
df_cust_articles: 15: Index: 21100 product_code    0.862664
Name: 21100, dtype: float64 with distance of 0.0030372290876345964:
df_cust_articles: 16: Index: 15683 product_code    0.970781
Name: 15683, dtype: float64 with distance of 0.0030442359697545607:
df_cust_articles: 17: Index: 9519 product_code    0.842501
Name: 9519, dtype: float64 with distance of 0.0030763040665603425:
df_cust_articles: 18: Index: 16379 product_code    0.839269
Name: 16379, dtype: float64 with distance of 0.0031128372696764828:
df_cust_articles: 19: Index: 14382 product_code    0.839269
Name: 14382, dtype: float64 with distance of 0.0031128372696764828:
df_cust_articles: 20: Index: 9968 product_code    0.953269
Name: 9968, dtype: float64 with distance of 0.0031495941105331715:
df_cust_articles: 21: Index: 21666 product_code    0.903322
Name: 21666, dtype: float64 with distance of 0.003196113971200454:
df_cust_articles: 22: Index: 20263 product_code    0.823949
Name: 20263, dtype: float64 with distance of 0.003212033759599442:
df_cust_articles: 23: Index: 2400 product_code    0.823949
Name: 2400, dtype: float64 with distance of 0.003212033759599442:
df_cust_articles: 24: Index: 13667 product_code    0.790895
Name: 13667, dtype: float64 with distance of 0.003403262941108487:
df_cust_articles: 25: Index: 6493 product_code    0.790895
Name: 6493, dtype: float64 with distance of 0.003403262941108487:
df_cust_articles: 26: Index: 9672 product_code    0.805557
Name: 9672, dtype: float64 with distance of 0.003446993285062927:
df_cust_articles: 27: Index: 16494 product_code    0.805557
Name: 16494, dtype: float64 with distance of 0.003446993285062927:
df_cust_articles: 28: Index: 17798 product_code    0.839269
Name: 17798, dtype: float64 with distance of 0.003895310949174946:
df_cust_articles: 29: Index: 1602 product_code    0.839269
Name: 1602, dtype: float64 with distance of 0.003895310949174946:
df_cust_articles: 30: Index: 1433 product_code    0.767865
Name: 1433, dtype: float64 with distance of 0.0040943239492587935:
df_cust_articles: 31: Index: 5082 product_code    0.839398
Name: 5082, dtype: float64 with distance of 0.004192302360835787:
df_cust_articles: 32: Index: 9254 product_code    0.804307
Name: 9254, dtype: float64 with distance of 0.004197932981265695:
df_cust_articles: 33: Index: 8980 product_code    0.770499
Name: 8980, dtype: float64 with distance of 0.0042479762959656275:
df_cust_articles: 34: Index: 14270 product_code    0.901314
Name: 14270, dtype: float64 with distance of 0.004332223968554372:
df_cust_articles: 35: Index: 3662 product_code    0.895581
Name: 3662, dtype: float64 with distance of 0.004414796489855322:
df_cust_articles: 36: Index: 6138 product_code    0.887663
Name: 6138, dtype: float64 with distance of 0.00441812779795292:
df_cust_articles: 37: Index: 14662 product_code    0.985036
Name: 14662, dtype: float64 with distance of 0.004434576955795078:
df_cust_articles: 38: Index: 15546 product_code    0.915237
Name: 15546, dtype: float64 with distance of 0.004447964866723386:
df_cust_articles: 39: Index: 2351 product_code    0.874675
Name: 2351, dtype: float64 with distance of 0.004471057306200343:
df_cust_articles: 40: Index: 10650 product_code    0.874675
Name: 10650, dtype: float64 with distance of 0.004471057306200343:
df_cust_articles: 41: Index: 12558 product_code    0.761894
Name: 12558, dtype: float64 with distance of 0.004532584847403598:
df_cust_articles: 42: Index: 12462 product_code    0.752619
Name: 12462, dtype: float64 with distance of 0.004541828825276428:
df_cust_articles: 43: Index: 10075 product_code    0.754545
Name: 10075, dtype: float64 with distance of 0.004546944394896113:
df_cust_articles: 44: Index: 1921 product_code    0.754545
Name: 1921, dtype: float64 with distance of 0.004546944394896113:
df_cust_articles: 45: Index: 12979 product_code    0.754545
Name: 12979, dtype: float64 with distance of 0.004546944394896113:
df_cust_articles: 46: Index: 11671 product_code    0.972592
Name: 11671, dtype: float64 with distance of 0.004683510815881142:
df_cust_articles: 47: Index: 20804 product_code    0.729717
Name: 20804, dtype: float64 with distance of 0.0047493842153015775:
df_cust_articles: 48: Index: 21539 product_code    0.81103
Name: 21539, dtype: float64 with distance of 0.004753207222061739:
df_cust_articles: 49: Index: 8270 product_code    0.730956
Name: 8270, dtype: float64 with distance of 0.004966401566805612:
df_cust_articles: 50: Index: 12937 product_code    0.710748
Name: 12937, dtype: float64 with distance of 0.005276321268961048:
df_cust_articles: 51: Index: 16092 product_code    0.831089
Name: 16092, dtype: float64 with distance of 0.005295422880559619:
df_cust_articles: 52: Index: 12446 product_code    0.831089
Name: 12446, dtype: float64 with distance of 0.005295422880559619:
df_cust_articles: 53: Index: 2930 product_code    0.876885
Name: 2930, dtype: float64 with distance of 0.0053041930789687886:
df_cust_articles: 54: Index: 7186 product_code    0.877596
Name: 7186, dtype: float64 with distance of 0.005398787285364248:
df_cust_articles: 55: Index: 2707 product_code    0.836662
Name: 2707, dtype: float64 with distance of 0.005498598844736469:
df_cust_articles: 56: Index: 11744 product_code    0.836662
Name: 11744, dtype: float64 with distance of 0.005498598844736469:
df_cust_articles: 57: Index: 12130 product_code    0.915237
Name: 12130, dtype: float64 with distance of 0.005762672906570732:
df_cust_articles: 58: Index: 5725 product_code    0.915237
Name: 5725, dtype: float64 with distance of 0.005762672906570732:
df_cust_articles: 59: Index: 8670 product_code    0.704496
Name: 8670, dtype: float64 with distance of 0.005776640013026024:
df_cust_articles: 60: Index: 7571 product_code    0.804294
Name: 7571, dtype: float64 with distance of 0.005962358933922385:
df_cust_articles: 61: Index: 2754 product_code    0.828103
Name: 2754, dtype: float64 with distance of 0.006037039827544222:
df_cust_articles: 62: Index: 15592 product_code    0.921867
Name: 15592, dtype: float64 with distance of 0.0062168477114309395:
df_cust_articles: 63: Index: 3959 product_code    0.857701
Name: 3959, dtype: float64 with distance of 0.0063103572348401915:
df_cust_articles: 64: Index: 14299 product_code    0.826542
Name: 14299, dtype: float64 with distance of 0.0064784929194950935:
df_cust_articles: 65: Index: 4770 product_code    0.776902
Name: 4770, dtype: float64 with distance of 0.006584552234743635:
df_cust_articles: 66: Index: 10603 product_code    0.689687
Name: 10603, dtype: float64 with distance of 0.006589820194205065:
df_cust_articles: 67: Index: 10807 product_code    0.689687
Name: 10807, dtype: float64 with distance of 0.006589820194205065:
df_cust_articles: 68: Index: 10037 product_code    0.682385
Name: 10037, dtype: float64 with distance of 0.0066023878657718305:
df_cust_articles: 69: Index: 7316 product_code    0.772556
Name: 7316, dtype: float64 with distance of 0.006648348830312623:
df_cust_articles: 70: Index: 19731 product_code    0.772556
Name: 19731, dtype: float64 with distance of 0.006648348830312623:
df_cust_articles: 71: Index: 1684 product_code    0.772556
Name: 1684, dtype: float64 with distance of 0.006648348830312623:
df_cust_articles: 72: Index: 21861 product_code    0.772648
Name: 21861, dtype: float64 with distance of 0.0066723828181531886:
df_cust_articles: 73: Index: 17817 product_code    0.772648
Name: 17817, dtype: float64 with distance of 0.0066723828181531886:
df_cust_articles: 74: Index: 11899 product_code    0.772647
Name: 11899, dtype: float64 with distance of 0.00667241127083773:
df_cust_articles: 75: Index: 7578 product_code    0.772647
Name: 7578, dtype: float64 with distance of 0.00667241127083773:
df_cust_articles: 76: Index: 18838 product_code    0.765382
Name: 18838, dtype: float64 with distance of 0.007357025809059059:
df_cust_articles: 77: Index: 5412 product_code    0.765382
Name: 5412, dtype: float64 with distance of 0.007357025809059059:
df_cust_articles: 78: Index: 12230 product_code    0.678429
Name: 12230, dtype: float64 with distance of 0.007390702924425896:
df_cust_articles: 79: Index: 59 product_code    0.804074
Name: 59, dtype: float64 with distance of 0.0075116317489164475:
df_cust_articles: 80: Index: 19397 product_code    0.742368
Name: 19397, dtype: float64 with distance of 0.007733931715907749:
df_cust_articles: 81: Index: 3702 product_code    0.678429
Name: 3702, dtype: float64 with distance of 0.00797657783926009:
df_cust_articles: 82: Index: 4416 product_code    0.678429
Name: 4416, dtype: float64 with distance of 0.00797657783926009:
df_cust_articles: 83: Index: 11657 product_code    0.660013
Name: 11657, dtype: float64 with distance of 0.008011285579266447:
df_cust_articles: 84: Index: 828 product_code    0.826268
Name: 828, dtype: float64 with distance of 0.008090636746958313:
df_cust_articles: 85: Index: 21963 product_code    0.741806
Name: 21963, dtype: float64 with distance of 0.008189170171220894:
df_cust_articles: 86: Index: 8753 product_code    0.765351
Name: 8753, dtype: float64 with distance of 0.00819392302024946:
df_cust_articles: 87: Index: 6120 product_code    0.672117
Name: 6120, dtype: float64 with distance of 0.00828507649262955:
df_cust_articles: 88: Index: 19907 product_code    0.672117
Name: 19907, dtype: float64 with distance of 0.00828507649262955:
df_cust_articles: 89: Index: 18176 product_code    0.672117
Name: 18176, dtype: float64 with distance of 0.00828507649262955:
df_cust_articles: 90: Index: 8962 product_code    0.650236
Name: 8962, dtype: float64 with distance of 0.008511963080809481:
df_cust_articles: 91: Index: 16526 product_code    0.650258
Name: 16526, dtype: float64 with distance of 0.008550702238297014:
df_cust_articles: 92: Index: 12777 product_code    0.650251
Name: 12777, dtype: float64 with distance of 0.008579342528827305:
df_cust_articles: 93: Index: 15652 product_code    0.650251
Name: 15652, dtype: float64 with distance of 0.008579342528827305:
df_cust_articles: 94: Index: 1407 product_code    0.650249
Name: 1407, dtype: float64 with distance of 0.00857948449750534:
df_cust_articles: 95: Index: 17280 product_code    0.650249
Name: 17280, dtype: float64 with distance of 0.00857948449750534:
df_cust_articles: 96: Index: 1600 product_code    0.650249
Name: 1600, dtype: float64 with distance of 0.00857948449750534:
df_cust_articles: 97: Index: 20678 product_code    0.649453
Name: 20678, dtype: float64 with distance of 0.008690388947278915:
df_cust_articles: 98: Index: 20540 product_code    0.655716
Name: 20540, dtype: float64 with distance of 0.008774410181496273:
df_cust_articles: 99: Index: 13702 product_code    0.655716
Name: 13702, dtype: float64 with distance of 0.008774410181496273:


train.index[query_index]


Recommendations for 11737:

train: 1: Index: 14523 customer_id    d6aa49f809d3f225398a4b7c5709d8281ebcd11cfe270a...
Name: 14523, dtype: object article_id    748355006
Name: 14523, dtype: object product_code    0.761022
Name: 14523, dtype: object, with distance of 0.0010370870470551852:
train: 2: Index: 19121 customer_id    ed76e4e1d13d3466affb63124228ca4bf3eea28b768656...
Name: 19121, dtype: object article_id    877527001
Name: 19121, dtype: object product_code    0.91472
Name: 19121, dtype: object, with distance of 0.0020481963025434924:
train: 3: Index: 14939 customer_id    53318af51f7129b560139d9266adc19df5aca7388d1c7d...
Name: 14939, dtype: object article_id    844198001
Name: 14939, dtype: object product_code    0.875063
Name: 14939, dtype: object, with distance of 0.002113792552407512:
train: 4: Index: 14017 customer_id    173a8168c7a0573ff6f3104dba37187369384d5a42893e...
Name: 14017, dtype: object article_id    824497002
Name: 14017, dtype: object product_code    0.851621
Name: 14017, dtype: object, with distance of 0.002189436307801662:
train: 5: Index: 17794 customer_id    ee913844cc65d5ac573da882a7603c54fc81a2fbf02e98...
Name: 17794, dtype: object article_id    854261002
Name: 17794, dtype: object product_code    0.887037
Name: 17794, dtype: object, with distance of 0.0024390424011159206:
train: 6: Index: 13898 customer_id    400292d935f2187b3b3742363daf687636122340c86f59...
Name: 13898, dtype: object article_id    854826001
Name: 13898, dtype: object product_code    0.887709
Name: 13898, dtype: object, with distance of 0.002439906295207961:
train: 7: Index: 5870 customer_id    ef6135b59e943e218d632243288a03269c193e8a085ed5...
Name: 5870, dtype: object article_id    871468001
Name: 5870, dtype: object product_code    0.907511
Name: 5870, dtype: object, with distance of 0.002507043118507135:
train: 8: Index: 16118 customer_id    001aede537161ffc08859b45559b2ded2ed119ca7c9b4a...
Name: 16118, dtype: object article_id    796128001
Name: 16118, dtype: object product_code    0.817866
Name: 16118, dtype: object, with distance of 0.002515212612784423:
train: 9: Index: 530 customer_id    7600bde0d6dea230c8a8cdb0353ee3ff97fc0e18cc9f6a...
Name: 530, dtype: object article_id    804732006
Name: 530, dtype: object product_code    0.828103
Name: 530, dtype: object, with distance of 0.002582559345530644:
train: 10: Index: 16842 customer_id    bc7a49911895f0ba9402b16d7de0ace603afc178998d7b...
Name: 16842, dtype: object article_id    804732006
Name: 16842, dtype: object product_code    0.828103
Name: 16842, dtype: object, with distance of 0.002582559345530644:
train: 11: Index: 16147 customer_id    3b58a87b457150bad766ca8fcf9dc67cc2ba49ad06636a...
Name: 16147, dtype: object article_id    792438005
Name: 16147, dtype: object product_code    0.813475
Name: 16147, dtype: object, with distance of 0.002607665221943556:
train: 12: Index: 18089 customer_id    5fe64838710ab8c98f116531dadf5cf631daab07ac1b6f...
Name: 18089, dtype: object article_id    788429001
Name: 18089, dtype: object product_code    0.808705
Name: 18089, dtype: object, with distance of 0.002646194614514652:
train: 13: Index: 13144 customer_id    556ee3072e8336bd8fd5c9b720a1697dd9379870f628cd...
Name: 13144, dtype: object article_id    788429001
Name: 13144, dtype: object product_code    0.808705
Name: 13144, dtype: object, with distance of 0.002646194614514652:
train: 14: Index: 3242 customer_id    d84be9eb2a2c9f002679ff14950a78ad59c7c83c26e4aa...
Name: 3242, dtype: object article_id    778745007
Name: 3242, dtype: object product_code    0.797182
Name: 3242, dtype: object, with distance of 0.0028848530129195193:
train: 15: Index: 21100 customer_id    d1c8b702f58392722f4b7b8aec922f1af3aa3ef86dd070...
Name: 21100, dtype: object article_id    833778001
Name: 21100, dtype: object product_code    0.862664
Name: 21100, dtype: object, with distance of 0.0030372290876345964:
train: 16: Index: 15683 customer_id    b822caf731feaac41b07de01bd0fc65f85338bd4270108...
Name: 15683, dtype: object article_id    924642001
Name: 15683, dtype: object product_code    0.970781
Name: 15683, dtype: object, with distance of 0.0030442359697545607:
train: 17: Index: 9519 customer_id    9e80c2d2aea85cc519f453ee14aedd9e395aea8dc70a9e...
Name: 9519, dtype: object article_id    816832002
Name: 9519, dtype: object product_code    0.842501
Name: 9519, dtype: object, with distance of 0.0030763040665603425:
train: 18: Index: 16379 customer_id    24f4f0d0418302c147706678d3d7309ded73486846aa25...
Name: 16379, dtype: object article_id    814116002
Name: 16379, dtype: object product_code    0.839269
Name: 16379, dtype: object, with distance of 0.0031128372696764828:
train: 19: Index: 14382 customer_id    7cf14e836b50a3218ee12c239e3ba6b540031404d69fbb...
Name: 14382, dtype: object article_id    814116002
Name: 14382, dtype: object product_code    0.839269
Name: 14382, dtype: object, with distance of 0.0031128372696764828:
train: 20: Index: 9968 customer_id    f8e1526b13fe0c87d5574e82c903dc004c07ed726c1014...
Name: 9968, dtype: object article_id    909924001
Name: 9968, dtype: object product_code    0.953269
Name: 9968, dtype: object, with distance of 0.0031495941105331715:
train: 21: Index: 21666 customer_id    153d12a620b9efad6afe1e66669489733507e6592b14b1...
Name: 21666, dtype: object article_id    867948008
Name: 21666, dtype: object product_code    0.903322
Name: 21666, dtype: object, with distance of 0.003196113971200454:
train: 22: Index: 20263 customer_id    d9dc5f9d024b6b73bb0e4a2e373adf7584252bba34cdba...
Name: 20263, dtype: object article_id    801241001
Name: 20263, dtype: object product_code    0.823949
Name: 20263, dtype: object, with distance of 0.003212033759599442:
train: 23: Index: 2400 customer_id    b06ac60aef5a1a6fcc3846ac51974613e285950592af89...
Name: 2400, dtype: object article_id    801241001

Name: 5725, dtype: object, with distance of 0.005762672906570732:
train: 59: Index: 8670 customer_id    9b23853def90ac73c14f7b4d2eb4b47eac0bc25e15dddf...
Name: 8670, dtype: object article_id    700850003
Name: 8670, dtype: object product_code    0.704496
Name: 8670, dtype: object, with distance of 0.005776640013026024:
train: 60: Index: 7571 customer_id    dd6e47d44a7bce19f4c11daad1e72033683b5d2edc12e5...
Name: 7571, dtype: object article_id    784722001
Name: 7571, dtype: object product_code    0.804294
Name: 7571, dtype: object, with distance of 0.005962358933922385:
train: 61: Index: 2754 customer_id    0162c0eacae80811a6b926cb3432888bc3f5fffb963b66...
Name: 2754, dtype: object article_id    804732004
Name: 2754, dtype: object product_code    0.828103
Name: 2754, dtype: object, with distance of 0.006037039827544222:
train: 62: Index: 15592 customer_id    68d8186167d6917bdf449b9880891330b9ade3d47ce7d5...
Name: 15592, dtype: object article_id    883533002
Name: 15592, dtype: object product_code    0.921867
Name: 15592, dtype: object, with distance of 0.0062168477114309395:
train: 63: Index: 3959 customer_id    a7040f4d481a2e54d2372875556f4d09fd3d2e22d99ce9...
Name: 3959, dtype: object article_id    829607003
Name: 3959, dtype: object product_code    0.857701
Name: 3959, dtype: object, with distance of 0.0063103572348401915:
train: 64: Index: 14299 customer_id    e6a3a935c9b4afe8a7d976e23f729cc66c70a348427b40...
Name: 14299, dtype: object article_id    803420002
Name: 14299, dtype: object product_code    0.826542
Name: 14299, dtype: object, with distance of 0.0064784929194950935:
train: 65: Index: 4770 customer_id    f30c3f95d30d34782cac9a72cb968c6733d551cd4e642c...
Name: 4770, dtype: object article_id    761701001
Name: 4770, dtype: object product_code    0.776902
Name: 4770, dtype: object, with distance of 0.006584552234743635:
train: 66: Index: 10603 customer_id    c40d83d1e19ac109fdae2ad9222720a89cdb564932e303...
Name: 10603, dtype: object article_id    688404003
Name: 10603, dtype: object product_code    0.689687
Name: 10603, dtype: object, with distance of 0.006589820194205065:
train: 67: Index: 10807 customer_id    cd93ed03f3a67d9e7647f21865bf297999b671bdd5b5c3...
Name: 10807, dtype: object article_id    688404003
Name: 10807, dtype: object product_code    0.689687
Name: 10807, dtype: object, with distance of 0.006589820194205065:
train: 68: Index: 10037 customer_id    8b4b45208e1ddd28ccff7e4c0f53c11dbd5c66e5f4568c...
Name: 10037, dtype: object article_id    682267010
Name: 10037, dtype: object product_code    0.682385
Name: 10037, dtype: object, with distance of 0.0066023878657718305:
train: 69: Index: 7316 customer_id    e099047243ea3db7f75339862f28feefa10210f6b58ad3...
Name: 7316, dtype: object article_id    758049001
Name: 7316, dtype: object product_code    0.772556
Name: 7316, dtype: object, with distance of 0.006648348830312623:
train: 70: Index: 19731 customer_id    d8f37bbead164ede7085971c6e1a66c606fad85e9b4ebd...
Name: 19731, dtype: object article_id    758049001
Name: 19731, dtype: object product_code    0.772556
Name: 19731, dtype: object, with distance of 0.006648348830312623:
train: 71: Index: 1684 customer_id    99b7eb21400697f69a4e90129f3ca8a7a8251e4de7b972...
Name: 1684, dtype: object article_id    758049001
Name: 1684, dtype: object product_code    0.772556
Name: 1684, dtype: object, with distance of 0.006648348830312623:
train: 72: Index: 21861 customer_id    4549a51df272bcfd17f04d29faadc1d2c1845c93ba07ec...
Name: 21861, dtype: object article_id    758126002
Name: 21861, dtype: object product_code    0.772648
Name: 21861, dtype: object, with distance of 0.0066723828181531886:
train: 73: Index: 17817 customer_id    abfa3e3705b773fbbf8260689f0d540896444944c7c12a...
Name: 17817, dtype: object article_id    758126002
Name: 17817, dtype: object product_code    0.772648
Name: 17817, dtype: object, with distance of 0.0066723828181531886:
train: 74: Index: 11899 customer_id    666954cf6362e659286d1cea8b0c6048bacb94d6168f62...
Name: 11899, dtype: object article_id    758125001
Name: 11899, dtype: object product_code    0.772647
Name: 11899, dtype: object, with distance of 0.00667241127083773:
train: 75: Index: 7578 customer_id    9782f1fe180d9ab561f5cd5030275ca20ee83ddc681a15...
Name: 7578, dtype: object article_id    758125001
Name: 7578, dtype: object product_code    0.772647
Name: 7578, dtype: object, with distance of 0.00667241127083773:
train: 76: Index: 18838 customer_id    d81977d267b2f60960ce0170b07df95ac29cb257bf403d...
Name: 18838, dtype: object article_id    752020001
Name: 18838, dtype: object product_code    0.765382
Name: 18838, dtype: object, with distance of 0.007357025809059059:
train: 77: Index: 5412 customer_id    0cd8b08fdf0eb0c8108dcb257e546dea6f7720e7c2273b...
Name: 5412, dtype: object article_id    752020001
Name: 5412, dtype: object product_code    0.765382
Name: 5412, dtype: object, with distance of 0.007357025809059059:
train: 78: Index: 12230 customer_id    5a2f5be688f3aa3a6bee89ae41b362214fdd747ebc701e...
Name: 12230, dtype: object article_id    678942057
Name: 12230, dtype: object product_code    0.678429
Name: 12230, dtype: object, with distance of 0.007390702924425896:
train: 79: Index: 59 customer_id    7f36921d95d8192f8d6a673f18d7935539c65d24ad87fd...
Name: 59, dtype: object article_id    784537005
Name: 59, dtype: object product_code    0.804074
Name: 59, dtype: object, with distance of 0.0075116317489164475:
train: 80: Index: 19397 customer_id    14d8bcb57ab19a3a513ddc97b19374b19d71a8607ff467...
Name: 19397, dtype: object article_id    732678001
Name: 19397, dtype: object product_code    0.742368
Name: 19397, dtype: object, with distance of 0.007733931715907749:
train: 81: Index: 3702 customer_id    4bb0bf082cda17c9274601f343cedb6225f179c580b26b...
Name: 3702, dtype: object article_id    678942022
Name: 3702, dtype: object product_code    0.678429
Name: 3702, dtype: object, with distance of 0.00797657783926009:
train: 82: Index: 4416 customer_id    7cafe4d7caf9c614f63502ab380ccd2f308a5d7edcea9b...
Name: 4416, dtype: object article_id    678942022
Name: 4416, dtype: object product_code    0.678429
Name: 4416, dtype: object, with distance of 0.00797657783926009:
train: 83: Index: 11657 customer_id    9acfae3ddd83fbb7f50e7cf003247f63c0bec33202a69b...
Name: 11657, dtype: object article_id    663465003
Name: 11657, dtype: object product_code    0.660013
Name: 11657, dtype: object, with distance of 0.008011285579266447:
train: 84: Index: 828 customer_id    e687d3254804d4f276b00d842d20f192b4e51afb15136c...
Name: 828, dtype: object article_id    803190001
Name: 828, dtype: object product_code    0.826268
Name: 828, dtype: object, with distance of 0.008090636746958313:
train: 85: Index: 21963 customer_id    553c302cb7d6606511c05c2515586be4c2240ea3b12527...
Name: 21963, dtype: object article_id    732206004
Name: 21963, dtype: object product_code    0.741806
Name: 21963, dtype: object, with distance of 0.008189170171220894:
train: 86: Index: 8753 customer_id    7c860d9e3f5d27dde4f32b29625c9f786c7fe8d1493aa1...
Name: 8753, dtype: object article_id    751994014
Name: 8753, dtype: object product_code    0.765351
Name: 8753, dtype: object, with distance of 0.00819392302024946:
train: 87: Index: 6120 customer_id    bd67a1174cb78038f28b546c2dd35f90435b21e9c3f00b...
Name: 6120, dtype: object article_id    673638007
Name: 6120, dtype: object product_code    0.672117
Name: 6120, dtype: object, with distance of 0.00828507649262955:
train: 88: Index: 19907 customer_id    07e8f3fb983bd91b6215d629c98bec9a684264ae95c748...
Name: 19907, dtype: object article_id    673638007
Name: 19907, dtype: object product_code    0.672117
Name: 19907, dtype: object, with distance of 0.00828507649262955:
train: 89: Index: 18176 customer_id    4b959d35752b02dc3e394d56d4a77eebb19702bd8acebc...
Name: 18176, dtype: object article_id    673638007
Name: 18176, dtype: object product_code    0.672117
Name: 18176, dtype: object, with distance of 0.00828507649262955:
train: 90: Index: 8962 customer_id    2d785053d807ffeb5157c6a7f4b547748c2faf5acd7a34...
Name: 8962, dtype: object article_id    655248001
Name: 8962, dtype: object product_code    0.650236
Name: 8962, dtype: object, with distance of 0.008511963080809481:
train: 91: Index: 16526 customer_id    c31e771545243527c103cf348dedd2d6bcd0b29c1eb5a4...
Name: 16526, dtype: object article_id    655267003
Name: 16526, dtype: object product_code    0.650258
Name: 16526, dtype: object, with distance of 0.008550702238297014:
train: 92: Index: 12777 customer_id    d764fb9713ff88f485afab9405e0b09726a27bdf6aaee3...
Name: 12777, dtype: object article_id    655261003
Name: 12777, dtype: object product_code    0.650251
Name: 12777, dtype: object, with distance of 0.008579342528827305:
train: 93: Index: 15652 customer_id    9473467ff159c8ea63c93e2c0eb60a65108ed6efd36fde...
Name: 15652, dtype: object article_id    655261003
Name: 15652, dtype: object product_code    0.650251
Name: 15652, dtype: object, with distance of 0.008579342528827305:
train: 94: Index: 1407 customer_id    787d11e1f09e25b5ac7df1935d6096c279a4927bda95ff...
Name: 1407, dtype: object article_id    655259001
Name: 1407, dtype: object product_code    0.650249
Name: 1407, dtype: object, with distance of 0.00857948449750534:
train: 95: Index: 17280 customer_id    5dde9460e6a596db314564437d069671c6b575823d60df...
Name: 17280, dtype: object article_id    655259004
Name: 17280, dtype: object product_code    0.650249
Name: 17280, dtype: object, with distance of 0.00857948449750534:
train: 96: Index: 1600 customer_id    b0f4809dc5b2c3afb880e7959f9956db4fe640c66465ad...
Name: 1600, dtype: object article_id    655259001
Name: 1600, dtype: object product_code    0.650249
Name: 1600, dtype: object, with distance of 0.00857948449750534:
train: 97: Index: 20678 customer_id    ec019d98d69b4276af5621fd1539c2e1fde2ae4f4e2649...
Name: 20678, dtype: object article_id    654590002
Name: 20678, dtype: object product_code    0.649453
Name: 20678, dtype: object, with distance of 0.008690388947278915:
train: 98: Index: 20540 customer_id    1373e72d0ad16d182966ebd9dc036a817fed4c2cfe437f...
Name: 20540, dtype: object article_id    659854007
Name: 20540, dtype: object product_code    0.655716
Name: 20540, dtype: object, with distance of 0.008774410181496273:
train: 99: Index: 13702 customer_id    92f85e4cf3c660181dd6d83ae23ad290fed4babb7a8fed...
Name: 13702, dtype: object article_id    659854007
Name: 13702, dtype: object product_code    0.655716
Name: 13702, dtype: object, with distance of 0.008774410181496273:

Recommendations for 11737:

Indices[i]: 14523
1: Index: 14523 customer_id    d6aa49f809d3f225398a4b7c5709d8281ebcd11cfe270a...
Name: 14523, dtype: object article_id    748355006
Name: 14523, dtype: object product_code    0.761022
Name: 14523, dtype: object, with distance of 0.0010370870470551852:
Indices[i]: 19121
2: Index: 19121 customer_id    ed76e4e1d13d3466affb63124228ca4bf3eea28b768656...
Name: 19121, dtype: object article_id    877527001
Name: 19121, dtype: object product_code    0.91472
Name: 19121, dtype: object, with distance of 0.0020481963025434924:
Indices[i]: 14939
3: Index: 14939 customer_id    53318af51f7129b560139d9266adc19df5aca7388d1c7d...
Name: 14939, dtype: object article_id    844198001
Name: 14939, dtype: object product_code    0.875063
Name: 14939, dtype: object, with distance of 0.002113792552407512:
Indices[i]: 14017
4: Index: 14017 customer_id    173a8168c7a0573ff6f3104dba37187369384d5a42893e...
Name: 14017, dtype: object article_id    824497002
Name: 14017, dtype: object product_code    0.851621
Name: 14017, dtype: object, with distance of 0.002189436307801662:
Indices[i]: 17794
5: Index: 17794 customer_id    ee913844cc65d5ac573da882a7603c54fc81a2fbf02e98...
Name: 17794, dtype: object article_id    854261002
Name: 17794, dtype: object product_code    0.887037
Name: 17794, dtype: object, with distance of 0.0024390424011159206:
Indices[i]: 13898
6: Index: 13898 customer_id    400292d935f2187b3b3742363daf687636122340c86f59...
Name: 13898, dtype: object article_id    854826001
Name: 13898, dtype: object product_code    0.887709
Name: 13898, dtype: object, with distance of 0.002439906295207961:
Indices[i]: 5870
7: Index: 5870 customer_id    ef6135b59e943e218d632243288a03269c193e8a085ed5...
Name: 5870, dtype: object article_id    871468001
Name: 5870, dtype: object product_code    0.907511
Name: 5870, dtype: object, with distance of 0.002507043118507135:
Indices[i]: 16118
8: Index: 16118 customer_id    001aede537161ffc08859b45559b2ded2ed119ca7c9b4a...
Name: 16118, dtype: object article_id    796128001
Name: 16118, dtype: object product_code    0.817866
Name: 16118, dtype: object, with distance of 0.002515212612784423:
Indices[i]: 530
9: Index: 530 customer_id    7600bde0d6dea230c8a8cdb0353ee3ff97fc0e18cc9f6a...
Name: 530, dtype: object article_id    804732006
Name: 530, dtype: object product_code    0.828103
Name: 530, dtype: object, with distance of 0.002582559345530644:
Indices[i]: 16842
10: Index: 16842 customer_id    bc7a49911895f0ba9402b16d7de0ace603afc178998d7b...
Name: 16842, dtype: object article_id    804732006
Name: 16842, dtype: object product_code    0.828103
Name: 16842, dtype: object, with distance of 0.002582559345530644:
Indices[i]: 16147
11: Index: 16147 customer_id    3b58a87b457150bad766ca8fcf9dc67cc2ba49ad06636a...
Name: 16147, dtype: object article_id    792438005
Name: 16147, dtype: object product_code    0.813475
Name: 16147, dtype: object, with distance of 0.002607665221943556:
Indices[i]: 18089
12: Index: 18089 customer_id    5fe64838710ab8c98f116531dadf5cf631daab07ac1b6f...
Name: 18089, dtype: object article_id    788429001
Name: 18089, dtype: object product_code    0.808705
Name: 18089, dtype: object, with distance of 0.002646194614514652:
Indices[i]: 13144
13: Index: 13144 customer_id    556ee3072e8336bd8fd5c9b720a1697dd9379870f628cd...
Name: 13144, dtype: object article_id    788429001
Name: 13144, dtype: object product_code    0.808705
Name: 13144, dtype: object, with distance of 0.002646194614514652:
Indices[i]: 3242
14: Index: 3242 customer_id    d84be9eb2a2c9f002679ff14950a78ad59c7c83c26e4aa...
Name: 3242, dtype: object article_id    778745007
Name: 3242, dtype: object product_code    0.797182
Name: 3242, dtype: object, with distance of 0.0028848530129195193:
Indices[i]: 21100
15: Index: 21100 customer_id    d1c8b702f58392722f4b7b8aec922f1af3aa3ef86dd070...
Name: 21100, dtype: object article_id    833778001
Name: 21100, dtype: object product_code    0.862664
Name: 21100, dtype: object, with distance of 0.0030372290876345964:
Indices[i]: 15683
16: Index: 15683 customer_id    b822caf731feaac41b07de01bd0fc65f85338bd4270108...
Name: 15683, dtype: object article_id    924642001
Name: 15683, dtype: object product_code    0.970781
Name: 15683, dtype: object, with distance of 0.0030442359697545607:
Indices[i]: 9519
17: Index: 9519 customer_id    9e80c2d2aea85cc519f453ee14aedd9e395aea8dc70a9e...
Name: 9519, dtype: object article_id    816832002
Name: 9519, dtype: object product_code    0.842501
Name: 9519, dtype: object, with distance of 0.0030763040665603425:
Indices[i]: 16379
18: Index: 16379 customer_id    24f4f0d0418302c147706678d3d7309ded73486846aa25...
Name: 16379, dtype: object article_id    814116002
Name: 16379, dtype: object product_code    0.839269
Name: 16379, dtype: object, with distance of 0.0031128372696764828:
Indices[i]: 14382
19: Index: 14382 customer_id    7cf14e836b50a3218ee12c239e3ba6b540031404d69fbb...
Name: 14382, dtype: object article_id    814116002
Name: 14382, dtype: object product_code    0.839269
Name: 14382, dtype: object, with distance of 0.0031128372696764828:
Indices[i]: 9968
20: Index: 9968 customer_id    f8e1526b13fe0c87d5574e82c903dc004c07ed726c1014...
Name: 9968, dtype: object article_id    909924001
Name: 9968, dtype: object product_code    0.953269
Name: 9968, dtype: object, with distance of 0.0031495941105331715:
Indices[i]: 21666
21: Index: 21666 customer_id    153d12a620b9efad6afe1e66669489733507e6592b14b1...
Name: 21666, dtype: object article_id    867948008
Name: 21666, dtype: object product_code    0.903322
Name: 21666, dtype: object, with distance of 0.003196113971200454:
Indices[i]: 20263
22: Index: 20263 customer_id    d9dc5f9d024b6b73bb0e4a2e373adf7584252bba34cdba...
Name: 20263, dtype: object article_id    801241001
Name: 20263, dtype: object product_code    0.823949
Name: 20263, dtype: object, with distance of 0.003212033759599442:
Indices[i]: 2400
23: Index: 2400 customer_id    b06ac60aef5a1a6fcc3846ac51974613e285950592af89...
Name: 2400, dtype: object article_id    801241001
Name: 2400, dtype: object product_code    0.823949
Name: 2400, dtype: object, with distance of 0.003212033759599442:
Indices[i]: 13667
24: Index: 13667 customer_id    1f77196a635d29bd43bd09844d4519d01d335f7da2640b...
Name: 13667, dtype: object article_id    773461002
Name: 13667, dtype: object product_code    0.790895
Name: 13667, dtype: object, with distance of 0.003403262941108487:
Indices[i]: 6493
25: Index: 6493 customer_id    fe07f3200bca40b4105543fb2186745f401b948effc48d...
Name: 6493, dtype: object article_id    773461002
Name: 6493, dtype: object product_code    0.790895
Name: 6493, dtype: object, with distance of 0.003403262941108487:
Indices[i]: 9672
26: Index: 9672 customer_id    6b13b37470f18004fd26db8a72a2309d66d8040f1c2cf4...
Name: 9672, dtype: object article_id    785784001
Name: 9672, dtype: object product_code    0.805557
Name: 9672, dtype: object, with distance of 0.003446993285062927:
Indices[i]: 16494
27: Index: 16494 customer_id    2acb7e7242f3fd6ae322e3590f274671ea8eb0cfe55aef...
Name: 16494, dtype: object article_id    785784001
Name: 16494, dtype: object product_code    0.805557
Name: 16494, dtype: object, with distance of 0.003446993285062927:
Indices[i]: 17798
28: Index: 17798 customer_id    0556f64045ce816857013ac889defc20b9414fa12d20a1...
Name: 17798, dtype: object article_id    814116005
Name: 17798, dtype: object product_code    0.839269
Name: 17798, dtype: object, with distance of 0.003895310949174946:
Indices[i]: 1602
29: Index: 1602 customer_id    2d58bb2422a04a5c6cd734b2e20db2cfc762df3d432a25...
Name: 1602, dtype: object article_id    814116005
Name: 1602, dtype: object product_code    0.839269
Name: 1602, dtype: object, with distance of 0.003895310949174946:
Indices[i]: 1433
30: Index: 1433 customer_id    8bbcfc28728837dca6791c01890ea309ad334b2177f287...
Name: 1433, dtype: object article_id    754106001
Name: 1433, dtype: object product_code    0.767865
Name: 1433, dtype: object, with distance of 0.0040943239492587935:
Indices[i]: 5082
31: Index: 5082 customer_id    41c5cef7a3cf915b6549f0bc5bb6a9129918d55b5e6e9e...
Name: 5082, dtype: object article_id    814224002
Name: 5082, dtype: object product_code    0.839398
Name: 5082, dtype: object, with distance of 0.004192302360835787:
Indices[i]: 9254
32: Index: 9254 customer_id    961d1a29249ddd769df1ff170466050576b937c245be1d...
Name: 9254, dtype: object article_id    784733002
Name: 9254, dtype: object product_code    0.804307
Name: 9254, dtype: object, with distance of 0.004197932981265695:
Indices[i]: 8980
33: Index: 8980 customer_id    1856c14ae03f5840f9fd180e076532af5c8908ace9e1ce...
Name: 8980, dtype: object article_id    756320024
Name: 8980, dtype: object product_code    0.770499
Name: 8980, dtype: object, with distance of 0.0042479762959656275:
Indices[i]: 14270
34: Index: 14270 customer_id    394be289aa48437727e11068f3a688e6046216a534d7b8...
Name: 14270, dtype: object article_id    866260002
Name: 14270, dtype: object product_code    0.901314
Name: 14270, dtype: object, with distance of 0.004332223968554372:
Indices[i]: 3662
35: Index: 3662 customer_id    627d426ad513de6a077e18e99e142862b8495c2a22f1d7...
Name: 3662, dtype: object article_id    861442003
Name: 3662, dtype: object product_code    0.895581

Indices[i]: 6138
36: Index: 6138 customer_id    9650d4b02c4205ccf22bc64d4ed4f31e9bed80eadb476f...
Name: 6138, dtype: object article_id    854787001
Name: 6138, dtype: object product_code    0.887663
Name: 6138, dtype: object, with distance of 0.00441812779795292:
Indices[i]: 14662
37: Index: 14662 customer_id    84651709a61ed28ebf2939aee983d1ca7f7815406b9285...
Name: 14662, dtype: object article_id    936622001
Name: 14662, dtype: object product_code    0.985036
Name: 14662, dtype: object, with distance of 0.004434576955795078:
Indices[i]: 15546
38: Index: 15546 customer_id    963fa6733b0b0fd62297938648868f5546967f660ea53a...
Name: 15546, dtype: object article_id    877961017
Name: 15546, dtype: object product_code    0.915237
Name: 15546, dtype: object, with distance of 0.004447964866723386:
Indices[i]: 2351
39: Index: 2351 customer_id    f57bcae014ff38ac62e90134570252341af8f2b76258fb...
Name: 2351, dtype: object article_id    843872006
Name: 2351, dtype: object product_code    0.874675
Name: 2351, dtype: object, with distance of 0.004471057306200343:
Indices[i]: 10650
40: Index: 10650 customer_id    4b9e8490036f8b6631c298802064fccd6c4ff41a5f755f...
Name: 10650, dtype: object article_id    843872006
Name: 10650, dtype: object product_code    0.874675
Name: 10650, dtype: object, with distance of 0.004471057306200343:
Indices[i]: 12558
41: Index: 12558 customer_id    ace5ef7cd572469cffbffaabb986f0905851422fe28229...
Name: 12558, dtype: object article_id    749088001
Name: 12558, dtype: object product_code    0.761894
Name: 12558, dtype: object, with distance of 0.004532584847403598:
Indices[i]: 12462
42: Index: 12462 customer_id    f7f9f4b70cc888bdc0c92caac31c3c158c1c910bc05f8a...
Name: 12462, dtype: object article_id    741293003
Name: 12462, dtype: object product_code    0.752619
Name: 12462, dtype: object, with distance of 0.004541828825276428:
Indices[i]: 10075
43: Index: 10075 customer_id    f87bb9358125f309331aefb4f722bd29f40061208adccc...
Name: 10075, dtype: object article_id    742912001
Name: 10075, dtype: object product_code    0.754545
Name: 10075, dtype: object, with distance of 0.004546944394896113:
Indices[i]: 1921
44: Index: 1921 customer_id    b6897961619b7c663ccbc13b066dcd8137c3596acba938...
Name: 1921, dtype: object article_id    742912001
Name: 1921, dtype: object product_code    0.754545
Name: 1921, dtype: object, with distance of 0.004546944394896113:
Indices[i]: 12979
45: Index: 12979 customer_id    2b0ab78934180da60b18c2df94184e7bce84952d49a403...
Name: 12979, dtype: object article_id    742912001
Name: 12979, dtype: object product_code    0.754545
Name: 12979, dtype: object, with distance of 0.004546944394896113:
Indices[i]: 11671
46: Index: 11671 customer_id    e6dec8e8afea56267c53f480d1d793f532e475c57e0862...
Name: 11671, dtype: object article_id    926164001
Name: 11671, dtype: object product_code    0.972592
Name: 11671, dtype: object, with distance of 0.004683510815881142:
Indices[i]: 20804
47: Index: 20804 customer_id    521dc019a47dd7770ead0cdc5b2ed796ac91188d502a99...
Name: 20804, dtype: object article_id    722046001
Name: 20804, dtype: object product_code    0.729717
Name: 20804, dtype: object, with distance of 0.0047493842153015775:
Indices[i]: 21539
48: Index: 21539 customer_id    7b5bb22b20ee9682fb814650b9a0c04e44e58bf518ec51...
Name: 21539, dtype: object article_id    790383007
Name: 21539, dtype: object product_code    0.81103
Name: 21539, dtype: object, with distance of 0.004753207222061739:
Indices[i]: 8270
49: Index: 8270 customer_id    2f604e98447ee26c96c7c8abfe72458059273a418e9451...
Name: 8270, dtype: object article_id    723087001
Name: 8270, dtype: object product_code    0.730956
Name: 8270, dtype: object, with distance of 0.004966401566805612:
Indices[i]: 12937
50: Index: 12937 customer_id    1fb829c45e7a1565866a750dc72c59b5c82926963973d1...
Name: 12937, dtype: object article_id    706104006
Name: 12937, dtype: object product_code    0.710748
Name: 12937, dtype: object, with distance of 0.005276321268961048:
Indices[i]: 16092
51: Index: 16092 customer_id    af6cd80e0bc24ad360abb5cbb5e88ebf88958c4e01a779...
Name: 16092, dtype: object article_id    807241015
Name: 16092, dtype: object product_code    0.831089
Name: 16092, dtype: object, with distance of 0.005295422880559619:
Indices[i]: 12446
52: Index: 12446 customer_id    4ef1451acdeea29a8c1777f30365148f17b7d067753336...
Name: 12446, dtype: object article_id    807241015
Name: 12446, dtype: object product_code    0.831089
Name: 12446, dtype: object, with distance of 0.005295422880559619:
Indices[i]: 2930
53: Index: 2930 customer_id    997cc32f01e101250623d76bb34ee129462a1619cc20c2...
Name: 2930, dtype: object article_id    845729002
Name: 2930, dtype: object product_code    0.876885
Name: 2930, dtype: object, with distance of 0.0053041930789687886:
Indices[i]: 7186
54: Index: 7186 customer_id    eb9bf820b4cb3ff48de6c90e9646bcd145396162bfd39c...
Name: 7186, dtype: object article_id    846327003
Name: 7186, dtype: object product_code    0.877596
Name: 7186, dtype: object, with distance of 0.005398787285364248:
Indices[i]: 2707
55: Index: 2707 customer_id    73c3f1a9f5dbf66f6bda9635de4ce3ffbb82eb4d149b71...
Name: 2707, dtype: object article_id    811925011
Name: 2707, dtype: object product_code    0.836662
Name: 2707, dtype: object, with distance of 0.005498598844736469:
Indices[i]: 11744
56: Index: 11744 customer_id    5c90ee3b6ee80575b50642099ef403b733c8df98102983...
Name: 11744, dtype: object article_id    811925011
Name: 11744, dtype: object product_code    0.836662
Name: 11744, dtype: object, with distance of 0.005498598844736469:
Indices[i]: 12130
57: Index: 12130 customer_id    b6b7a5e541cbd2a5068ac6f7bcfe1aa0d782cee6b9ac7c...
Name: 12130, dtype: object article_id    877961005
Name: 12130, dtype: object product_code    0.915237
Name: 12130, dtype: object, with distance of 0.005762672906570732:
Indices[i]: 5725
58: Index: 5725 customer_id    5ed58a50548f477b8d83b231f9c9b9b78a0881ccc3a8a1...
Name: 5725, dtype: object article_id    877961005
Name: 5725, dtype: object product_code    0.915237
Name: 5725, dtype: object, with distance of 0.005762672906570732:
Indices[i]: 8670
59: Index: 8670 customer_id    9b23853def90ac73c14f7b4d2eb4b47eac0bc25e15dddf...
Name: 8670, dtype: object article_id    700850003
Name: 8670, dtype: object product_code    0.704496
Name: 8670, dtype: object, with distance of 0.005776640013026024:
Indices[i]: 7571
60: Index: 7571 customer_id    dd6e47d44a7bce19f4c11daad1e72033683b5d2edc12e5...
Name: 7571, dtype: object article_id    784722001
Name: 7571, dtype: object product_code    0.804294
Name: 7571, dtype: object, with distance of 0.005962358933922385:
Indices[i]: 2754
61: Index: 2754 customer_id    0162c0eacae80811a6b926cb3432888bc3f5fffb963b66...
Name: 2754, dtype: object article_id    804732004
Name: 2754, dtype: object product_code    0.828103
Name: 2754, dtype: object, with distance of 0.006037039827544222:
Indices[i]: 15592
62: Index: 15592 customer_id    68d8186167d6917bdf449b9880891330b9ade3d47ce7d5...
Name: 15592, dtype: object article_id    883533002
Name: 15592, dtype: object product_code    0.921867
Name: 15592, dtype: object, with distance of 0.0062168477114309395:
Indices[i]: 3959
63: Index: 3959 customer_id    a7040f4d481a2e54d2372875556f4d09fd3d2e22d99ce9...
Name: 3959, dtype: object article_id    829607003
Name: 3959, dtype: object product_code    0.857701
Name: 3959, dtype: object, with distance of 0.0063103572348401915:
Indices[i]: 14299
64: Index: 14299 customer_id    e6a3a935c9b4afe8a7d976e23f729cc66c70a348427b40...
Name: 14299, dtype: object article_id    803420002
Name: 14299, dtype: object product_code    0.826542
Name: 14299, dtype: object, with distance of 0.0064784929194950935:
Indices[i]: 4770
65: Index: 4770 customer_id    f30c3f95d30d34782cac9a72cb968c6733d551cd4e642c...
Name: 4770, dtype: object article_id    761701001
Name: 4770, dtype: object product_code    0.776902
Name: 4770, dtype: object, with distance of 0.006584552234743635:
Indices[i]: 10603
66: Index: 10603 customer_id    c40d83d1e19ac109fdae2ad9222720a89cdb564932e303...
Name: 10603, dtype: object article_id    688404003
Name: 10603, dtype: object product_code    0.689687
Name: 10603, dtype: object, with distance of 0.006589820194205065:
Indices[i]: 10807
67: Index: 10807 customer_id    cd93ed03f3a67d9e7647f21865bf297999b671bdd5b5c3...
Name: 10807, dtype: object article_id    688404003
Name: 10807, dtype: object product_code    0.689687
Name: 10807, dtype: object, with distance of 0.006589820194205065:
Indices[i]: 10037
68: Index: 10037 customer_id    8b4b45208e1ddd28ccff7e4c0f53c11dbd5c66e5f4568c...
Name: 10037, dtype: object article_id    682267010
Name: 10037, dtype: object product_code    0.682385
Name: 10037, dtype: object, with distance of 0.0066023878657718305:
Indices[i]: 7316
69: Index: 7316 customer_id    e099047243ea3db7f75339862f28feefa10210f6b58ad3...
Name: 7316, dtype: object article_id    758049001
Name: 7316, dtype: object product_code    0.772556
Name: 7316, dtype: object, with distance of 0.006648348830312623:
Indices[i]: 19731
70: Index: 19731 customer_id    d8f37bbead164ede7085971c6e1a66c606fad85e9b4ebd...
Name: 19731, dtype: object article_id    758049001
Name: 19731, dtype: object product_code    0.772556
Name: 19731, dtype: object, with distance of 0.006648348830312623:
Indices[i]: 1684
71: Index: 1684 customer_id    99b7eb21400697f69a4e90129f3ca8a7a8251e4de7b972...
Name: 1684, dtype: object article_id    758049001
Name: 1684, dtype: object product_code    0.772556
Name: 1684, dtype: object, with distance of 0.006648348830312623:
Indices[i]: 21861
72: Index: 21861 customer_id    4549a51df272bcfd17f04d29faadc1d2c1845c93ba07ec...
Name: 21861, dtype: object article_id    758126002
Name: 21861, dtype: object product_code    0.772648
Name: 21861, dtype: object, with distance of 0.0066723828181531886:
Indices[i]: 17817
73: Index: 17817 customer_id    abfa3e3705b773fbbf8260689f0d540896444944c7c12a...
Name: 17817, dtype: object article_id    758126002
Name: 17817, dtype: object product_code    0.772648
Name: 17817, dtype: object, with distance of 0.0066723828181531886:
Indices[i]: 11899
74: Index: 11899 customer_id    666954cf6362e659286d1cea8b0c6048bacb94d6168f62...
Name: 11899, dtype: object article_id    758125001
Name: 11899, dtype: object product_code    0.772647
Name: 11899, dtype: object, with distance of 0.00667241127083773:
Indices[i]: 7578
75: Index: 7578 customer_id    9782f1fe180d9ab561f5cd5030275ca20ee83ddc681a15...
Name: 7578, dtype: object article_id    758125001
Name: 7578, dtype: object product_code    0.772647
Name: 7578, dtype: object, with distance of 0.00667241127083773:
Indices[i]: 18838
76: Index: 18838 customer_id    d81977d267b2f60960ce0170b07df95ac29cb257bf403d...
Name: 18838, dtype: object article_id    752020001
Name: 18838, dtype: object product_code    0.765382
Name: 18838, dtype: object, with distance of 0.007357025809059059:
Indices[i]: 5412
77: Index: 5412 customer_id    0cd8b08fdf0eb0c8108dcb257e546dea6f7720e7c2273b...
Name: 5412, dtype: object article_id    752020001
Name: 5412, dtype: object product_code    0.765382
Name: 5412, dtype: object, with distance of 0.007357025809059059:
Indices[i]: 12230
78: Index: 12230 customer_id    5a2f5be688f3aa3a6bee89ae41b362214fdd747ebc701e...
Name: 12230, dtype: object article_id    678942057
Name: 12230, dtype: object product_code    0.678429
Name: 12230, dtype: object, with distance of 0.007390702924425896:
Indices[i]: 59
79: Index: 59 customer_id    7f36921d95d8192f8d6a673f18d7935539c65d24ad87fd...
Name: 59, dtype: object article_id    784537005
Name: 59, dtype: object product_code    0.804074
Name: 59, dtype: object, with distance of 0.0075116317489164475:
Indices[i]: 19397
80: Index: 19397 customer_id    14d8bcb57ab19a3a513ddc97b19374b19d71a8607ff467...
Name: 19397, dtype: object article_id    732678001
Name: 19397, dtype: object product_code    0.742368
Name: 19397, dtype: object, with distance of 0.007733931715907749:
Indices[i]: 3702
81: Index: 3702 customer_id    4bb0bf082cda17c9274601f343cedb6225f179c580b26b...
Name: 3702, dtype: object article_id    678942022
Name: 3702, dtype: object product_code    0.678429
Name: 3702, dtype: object, with distance of 0.00797657783926009:
Indices[i]: 4416
82: Index: 4416 customer_id    7cafe4d7caf9c614f63502ab380ccd2f308a5d7edcea9b...
Name: 4416, dtype: object article_id    678942022
Name: 4416, dtype: object product_code    0.678429
Name: 4416, dtype: object, with distance of 0.00797657783926009:
Indices[i]: 11657
83: Index: 11657 customer_id    9acfae3ddd83fbb7f50e7cf003247f63c0bec33202a69b...
Name: 11657, dtype: object article_id    663465003
Name: 11657, dtype: object product_code    0.660013
Name: 11657, dtype: object, with distance of 0.008011285579266447:
Indices[i]: 828
84: Index: 828 customer_id    e687d3254804d4f276b00d842d20f192b4e51afb15136c...
Name: 828, dtype: object article_id    803190001
Name: 828, dtype: object product_code    0.826268
Name: 828, dtype: object, with distance of 0.008090636746958313:
Indices[i]: 21963
85: Index: 21963 customer_id    553c302cb7d6606511c05c2515586be4c2240ea3b12527...
Name: 21963, dtype: object article_id    732206004
Name: 21963, dtype: object product_code    0.741806
Name: 21963, dtype: object, with distance of 0.008189170171220894:
Indices[i]: 8753
86: Index: 8753 customer_id    7c860d9e3f5d27dde4f32b29625c9f786c7fe8d1493aa1...
Name: 8753, dtype: object article_id    751994014
Name: 8753, dtype: object product_code    0.765351
Name: 8753, dtype: object, with distance of 0.00819392302024946:
Indices[i]: 6120
87: Index: 6120 customer_id    bd67a1174cb78038f28b546c2dd35f90435b21e9c3f00b...
Name: 6120, dtype: object article_id    673638007
Name: 6120, dtype: object product_code    0.672117
Name: 6120, dtype: object, with distance of 0.00828507649262955:
Indices[i]: 19907
88: Index: 19907 customer_id    07e8f3fb983bd91b6215d629c98bec9a684264ae95c748...
Name: 19907, dtype: object article_id    673638007
Name: 19907, dtype: object product_code    0.672117
Name: 19907, dtype: object, with distance of 0.00828507649262955:
Indices[i]: 18176
89: Index: 18176 customer_id    4b959d35752b02dc3e394d56d4a77eebb19702bd8acebc...
Name: 18176, dtype: object article_id    673638007
Name: 18176, dtype: object product_code    0.672117
Name: 18176, dtype: object, with distance of 0.00828507649262955:
Indices[i]: 8962
90: Index: 8962 customer_id    2d785053d807ffeb5157c6a7f4b547748c2faf5acd7a34...
Name: 8962, dtype: object article_id    655248001
Name: 8962, dtype: object product_code    0.650236
Name: 8962, dtype: object, with distance of 0.008511963080809481:
Indices[i]: 16526
91: Index: 16526 customer_id    c31e771545243527c103cf348dedd2d6bcd0b29c1eb5a4...
Name: 16526, dtype: object article_id    655267003
Name: 16526, dtype: object product_code    0.650258
Name: 16526, dtype: object, with distance of 0.008550702238297014:
Indices[i]: 12777
92: Index: 12777 customer_id    d764fb9713ff88f485afab9405e0b09726a27bdf6aaee3...
Name: 12777, dtype: object article_id    655261003
Name: 12777, dtype: object product_code    0.650251
Name: 12777, dtype: object, with distance of 0.008579342528827305:
Indices[i]: 15652
93: Index: 15652 customer_id    9473467ff159c8ea63c93e2c0eb60a65108ed6efd36fde...
Name: 15652, dtype: object article_id    655261003
Name: 15652, dtype: object product_code    0.650251
Name: 15652, dtype: object, with distance of 0.008579342528827305:
Indices[i]: 1407
94: Index: 1407 customer_id    787d11e1f09e25b5ac7df1935d6096c279a4927bda95ff...
Name: 1407, dtype: object article_id    655259001
Name: 1407, dtype: object product_code    0.650249
Name: 1407, dtype: object, with distance of 0.00857948449750534:
Indices[i]: 17280
95: Index: 17280 customer_id    5dde9460e6a596db314564437d069671c6b575823d60df...
Name: 17280, dtype: object article_id    655259004
Name: 17280, dtype: object product_code    0.650249
Name: 17280, dtype: object, with distance of 0.00857948449750534:
Indices[i]: 1600
96: Index: 1600 customer_id    b0f4809dc5b2c3afb880e7959f9956db4fe640c66465ad...
Name: 1600, dtype: object article_id    655259001
Name: 1600, dtype: object product_code    0.650249
Name: 1600, dtype: object, with distance of 0.00857948449750534:
Indices[i]: 20678
97: Index: 20678 customer_id    ec019d98d69b4276af5621fd1539c2e1fde2ae4f4e2649...
Name: 20678, dtype: object article_id    654590002
Name: 20678, dtype: object product_code    0.649453
Name: 20678, dtype: object, with distance of 0.008690388947278915:
Indices[i]: 20540
98: Index: 20540 customer_id    1373e72d0ad16d182966ebd9dc036a817fed4c2cfe437f...
Name: 20540, dtype: object article_id    659854007
Name: 20540, dtype: object product_code    0.655716
Name: 20540, dtype: object, with distance of 0.008774410181496273:
Indices[i]: 13702
99: Index: 13702 customer_id    92f85e4cf3c660181dd6d83ae23ad290fed4babb7a8fed...
Name: 13702, dtype: object article_id    659854007
Name: 13702, dtype: object product_code    0.655716
Name: 13702, dtype: object, with distance of 0.008774410181496273:

In [129]:
# Call function to return list of the most popular Articles in terms of the 
# purchases made by the customers neighbourhood
TopN = 12
df_cust_preds = get_Top12_Articles_from_CustNNs(df_neighbours, TopN)

get_Top12_Articles_from_CustNNs
    article_id  count
20   742912001      3
8    673638007      3
27   758049001      3
37   788429001      2
46   807241015      2
..         ...    ...
1    655248001      1
38   790383007      1
39   792438005      1
40   796128001      1
73   936622001      1

[74 rows x 2 columns]

In [130]:
df_cust_preds

    article_id
0    742912001
1    673638007
2    758049001
3    788429001
4    807241015
5    801241001
6    811925011
7    814116002
8    814116005
9    785784001
10   773461002
11   843872006

### Parse Article Predictions for Submission File

In [131]:
# Creating an empty Dataframe with column names only - will be filled with each Customer and their set of predictions
df_SubmissionData = pd.DataFrame(columns=['customer_id', 'prediction'])

In [132]:
# Function to return Article Id Predictions in String format required for Kaggle competition
def get_str_Article_Predictions(df):
    
    article_pred = df['article_id'].values.tolist()
    #print(article_pred)
    
    article_pred = ['0' + str(article_id) for article_id in article_pred]
    article_pred_str =  ' '.join(article_pred)
    #print(article_pred_str)
    
    str_article_preds = article_pred_str
    
    return str_article_preds

In [133]:
# Function to Build up dataframe for submission
def build_up_submission_df(cust, str_preds):
    
    str = cust + ' ' + str_preds
    print(str)   
    
    # List1 
    lst = [[cust, str_preds]]    
    df = pd.DataFrame(lst, columns =['customer_id', 'prediction'])
    final_df =df
    
    
    return final_df

In [134]:
# Get a string output of Customer Article Predicitons - format as required for Kaggle competition
str_articles_predictions = get_str_Article_Predictions(df_cust_preds)

In [135]:
# Format Customer ID and list of Article predictions - add to dataframe to be used for CSV output
df_NextCust_Preds = build_up_submission_df(cust, str_articles_predictions)

79df9588436c075b92643596dbf706ffc8031eebb93d11de9deeca92f7adf440 0742912001 0673638007 0758049001 0788429001 0807241015 0801241001 0811925011 0814116002 0814116005 0785784001 0773461002 0843872006

In [136]:
df_SubmissionData

Empty DataFrame
Columns: [customer_id, prediction]
Index: []

In [137]:
df_NextCust_Preds

,customer_id,prediction
0,79df9588436c075b92643596dbf706ffc8031eebb93d11...,0742912001 0673638007 0758049001 0788429001 08...

In [138]:
# Stack the DataFrames on top of each other
df_submission_stack = pd.concat([df_SubmissionData, df_NextCust_Preds], axis=0)

In [139]:
df_submission_stack

,customer_id,prediction
0,79df9588436c075b92643596dbf706ffc8031eebb93d11...,0742912001 0673638007 0758049001 0788429001 08...

### Write Predictions Submission File to CSV

#### SetUp Disk Directory for Submission File

In [140]:
# Set up folder for submission file with predictions
submission_path = '../submission'

In [141]:
# Create folder above project directory
os.makedirs(submission_path, exist_ok=True)

#### Create Submission .CSV File

In [142]:
df_submission_stack

,customer_id,prediction
0,79df9588436c075b92643596dbf706ffc8031eebb93d11...,0742912001 0673638007 0758049001 0788429001 08...

In [143]:
df_submission_stack = df_submission_stack.reset_index(drop=True)

In [144]:
df_submission_stack

,customer_id,prediction
0,79df9588436c075b92643596dbf706ffc8031eebb93d11...,0742912001 0673638007 0758049001 0788429001 08...

In [145]:
# Write pre-test submission file to disk
df_submission_stack.to_csv(submission_path+'/submission_pretest.csv',index=False)

In [146]:
dfTempFinal  = pd.read_csv(submission_path+'/submission_pretest.csv')

[print("Matching the number of dfSub rows to the correct submission size. \nSubmission Row: {} v Expected Rows: {}"
                                                                                   .format(dfTempFinal.shape[0],numCustomers))]

Matching the number of dfSub rows to the correct submission size.
Submission Row: 1 v Expected Rows: 1371980

[None]

In [147]:
# Check format of submission file
dfTempFinal.head()

,customer_id,prediction
0,79df9588436c075b92643596dbf706ffc8031eebb93d11...,0742912001 0673638007 0758049001 0788429001 08...

In [148]:
# Write final submission file to disk
dfTempFinal.to_csv(submission_path+'/submission.csv',index=False)

######

######

## References

#### <a class="tocSkip">