# Machine Learning - Continuous Assessment - Class Group: TU060 <a class="tocSkip">

# MSc in Computer Science - Data Science (Part Time) <a class="tocSkip">

# Student Name: Ciaran Finnegan  <a class="tocSkip">

# Student No: D21124026 <a class="tocSkip">

#### Student EMail: D21124026@mytudublin.ie <a class="tocSkip">

## May 2022<a class="tocSkip">

#

# H&M Personalised Fashion Recommendations <a class="tocSkip">

#### This project takes the datasets provided by Kaggle for the H&M Personalised Fashion Recommendations competition.  <a class="tocSkip">

Ipso forum...

## <a class="tocSkip">

#### The CA follows a n-part structure. <a class="tocSkip">

Section 1: Ipso forum...

Section 2: Ipso forum...

Section 3: Ipso forum...

### <a class="tocSkip">

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Jupyter-Notebook-Set-Up" data-toc-modified-id="Jupyter-Notebook-Set-Up-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Jupyter Notebook Set Up</a></span><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import Libraries</a></span><ul class="toc-item"><li><span><a href="#General-Utility-Libraries" data-toc-modified-id="General-Utility-Libraries-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>General Utility Libraries</a></span></li><li><span><a href="#Panda-+-Numpy" data-toc-modified-id="Panda-+-Numpy-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Panda + Numpy</a></span></li><li><span><a href="#Matplotlib-Library" data-toc-modified-id="Matplotlib-Library-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Matplotlib Library</a></span></li><li><span><a href="#Plotly-Libraries" data-toc-modified-id="Plotly-Libraries-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Plotly Libraries</a></span></li></ul></li></ul></li><li><span><a href="#Project-Data-Import,-Analysis-and-Preparation" data-toc-modified-id="Project-Data-Import,-Analysis-and-Preparation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Project Data Import, Analysis and Preparation</a></span><ul class="toc-item"><li><span><a href="#Load-and-Sample-Kaggle-H&amp;M-Datasets" data-toc-modified-id="Load-and-Sample-Kaggle-H&amp;M-Datasets-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Load and Sample Kaggle H&amp;M Datasets</a></span><ul class="toc-item"><li><span><a href="#Set-Up-File-Paths" data-toc-modified-id="Set-Up-File-Paths-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Set Up File Paths</a></span></li><li><span><a href="#H&amp;M-Transaction-Dataset" data-toc-modified-id="H&amp;M-Transaction-Dataset-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>H&amp;M Transaction Dataset</a></span></li><li><span><a href="#H&amp;M-Articles-Dataset" data-toc-modified-id="H&amp;M-Articles-Dataset-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>H&amp;M Articles Dataset</a></span></li><li><span><a href="#H&amp;M-Customers-Dataset" data-toc-modified-id="H&amp;M-Customers-Dataset-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>H&amp;M Customers Dataset</a></span></li></ul></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span><ul class="toc-item"><li><span><a href="#H&amp;M-Sampled-Transaction-Dataset" data-toc-modified-id="H&amp;M-Sampled-Transaction-Dataset-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>H&amp;M Sampled Transaction Dataset</a></span></li><li><span><a href="#H&amp;M-Sampled-Customer-Dataset" data-toc-modified-id="H&amp;M-Sampled-Customer-Dataset-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>H&amp;M Sampled Customer Dataset</a></span></li><li><span><a href="#H&amp;M-Sampled-Articles-Dataset" data-toc-modified-id="H&amp;M-Sampled-Articles-Dataset-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>H&amp;M Sampled Articles Dataset</a></span></li></ul></li><li><span><a href="#Data-Preparation" data-toc-modified-id="Data-Preparation-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Data Preparation</a></span><ul class="toc-item"><li><span><a href="#Data-Preparation-/-Feature-Enrichment-on-Transaction-Data-(sample)" data-toc-modified-id="Data-Preparation-/-Feature-Enrichment-on-Transaction-Data-(sample)-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Data Preparation / Feature Enrichment on Transaction Data (sample)</a></span></li><li><span><a href="#Data-Preparation-/-Feature-Enrichment-with-Customer-Data-(sample)" data-toc-modified-id="Data-Preparation-/-Feature-Enrichment-with-Customer-Data-(sample)-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Data Preparation / Feature Enrichment with Customer Data (sample)</a></span></li></ul></li></ul></li><li><span><a href="#References" data-toc-modified-id="References-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>References</a></span></li></ul></div>

## Jupyter Notebook Set Up

### Import Libraries

Note: It is assumed that the matplotlib and plotly library has been installed on the user's machine before it is available for import.

```bash
> pip install matplotlib
> pip install plotly
```

#### General Utility Libraries

In [1]:
import os

#### Panda + Numpy

In [2]:
# Python libraries for data manipulation
import numpy as np
import pandas as pd

Set up additional libraries for graphical presentations. A number of earlier graphs use Matplotlib. In later sections, Plotly graphs are used.

#### Matplotlib Library

In [3]:
import matplotlib.pyplot as plt

#### Plotly Libraries

In [4]:
# For interactive graphics and global displays
import plotly.express as px
import plotly.graph_objects as go

### <a class="tocSkip">

In [5]:
import warnings
warnings.filterwarnings("ignore")

### <a class="tocSkip">

## Project Data Import, Analysis and Preparation

### Load and Sample Kaggle H&M Datasets

### The assignment starts with a Kaggle H&M Personalised Fashion Recommendations datasets. <a class="tocSkip">

#### Set Up File Paths

In [6]:
# Set up a Global path file variable to use when loading each dataset
Path_To_Inputs = '../input'

#### H&M Transaction Dataset

In [7]:
# Load H&M Transaction dataset
df_trxns = pd.read_csv(os.path.join(Path_To_Inputs,'transactions_train.csv'))

In [8]:
# Display Number of Rows, Number of Columns in Transaction dataset prior to Sampling
df_trxns.shape

(31788324, 5)

In [9]:
# Extract random sample of Transactions (without replacement) - 0.1% of records
df_trxns_sample = df_trxns.sample(frac=0.001, replace=False)

In [10]:
# Display Number of Rows, Number of Columns in Transaction dataset after Sampling
df_trxns_sample.shape

(31788, 5)

#### H&M Articles Dataset

In [11]:
# Read file, located in 'input' folder above this notebook, for articles data - containing meta data on purchasable items.
df_Articles = pd.read_csv(os.path.join(Path_To_Inputs,'articles.csv'))

In [12]:
# Display Number of Rows, Number of Columns in Articles dataset
df_Articles.shape

(105542, 25)

In [13]:
# Display basic file data for the initial Kaggle H&M 'articles' datatset
# df_Articles.head()

In [14]:
# Extract only the H&M articles contained in the sample Transaction dataset 
articleIDs_in_Trxn_Sample  = set(df_trxns_sample["article_id"])

In [15]:
#Count Article Ids in Transaction Sample
#len(articleIDs_in_Trxn_Sample)

In [16]:
# Create dataset that only contains H&M articles in the sample Transaction dataset
df_articles_sample = df_Articles[df_Articles["article_id"].isin(articleIDs_in_Trxn_Sample)]

In [17]:
# Display Number of Rows, Number of Columns in Sample Articles dataset
df_articles_sample.shape

(18321, 25)

#### H&M Customers Dataset

In [18]:
# Load H&M Customer dataset
df_customers = pd.read_csv(os.path.join(Path_To_Inputs,'customers.csv'))

In [19]:
# Display Number of Rows, Number of Columns in Customers dataset prior to Sampling
df_customers.shape

(1371980, 7)

In [20]:
# Extract only the H&M Customers contained in the sample Transaction dataset 
custIDs_in_Trxn_Sample  = set(df_trxns_sample["customer_id"])

In [21]:
#Count Customer Ids in Transaction Sample
len(custIDs_in_Trxn_Sample)

30432

In [22]:
# Create dataset that only contains H&M Customers from the sample Transaction dataset
df_customers_sample = df_customers[df_customers["customer_id"].isin(custIDs_in_Trxn_Sample)]

In [23]:
# Display Number of Rows, Number of Columns in Sample Customers dataset
df_customers_sample.shape

(30432, 7)

######

### Exploratory Data Analysis

### Display key data attributes and distributions in Sampled H&M datasets. <a class="tocSkip">

#### H&M Sampled Transaction Dataset

In [24]:
# Display basic column information for the initial Kaggle 'transaction_train' datatset - after Sampling of original dataset
df_trxns_sample.head()

,t_dat,customer_id,article_id,price,sales_channel_id
24288205,2020-04-08,50f6fab29c8b3fc1b25d3c099d0cd5708e3e7f5ced694f...,811835003,0.022017,2
2076220,2018-11-03,2dee5926adf115828fbed2499f8540059796627d4d814b...,679042003,0.016932,2
27953483,2020-06-24,b37d9cb6416fb8cc0115895ea00e1957c9c31787145f81...,754404004,0.025407,2
29530167,2020-07-27,109148eb0573dd62731d3783465bf2bd7b3bb14c6c0418...,636207006,0.030492,1
5332546,2019-01-23,d6cb3db0fa2d75a5bc71058bbe5f65f9530d29f76a38e0...,694131003,0.007983,1

In [25]:
# Display datatype of colums in original H&M Transaction dataset
df_trxns_sample.dtypes

t_dat                object
customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
dtype: object

#### H&M Sampled Customer Dataset

In [27]:
# Display basic column information for the initial Kaggle 'customers' datatset - after Sampling of original dataset
df_customers_sample.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
27,00012315fd38859ff2c446876ca507abbcbcf582d0e266...,NaN,NaN,ACTIVE,NONE,25.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
28,0001420326c217a367048472e05395373c40a039f6fd45...,NaN,NaN,ACTIVE,NONE,38.0,cfce56dfa8dde87e7db24b96b8b6cb46bb940ddabe9de0...
195,00080403a669b3b89d1bef1ec73ea466d95e39698d6dde...,NaN,NaN,ACTIVE,NONE,34.0,5af3c7af7cfd5b817222d7f04f7f9bf6dbdaa51f3b6ca1...
216,0009344276939620e81b41ab8958edca7c2a5b9d6ee45d...,1.0,1.0,ACTIVE,Regularly,59.0,9101ef974f3b773f1c63fdfc215af28618f74a691a5556...
290,000da3d7d0ef65573d455266b21b085483913d296f65cc...,NaN,NaN,PRE-CREATE,NONE,NaN,c9a22609dbb596e7d97f3eac937fb5970b9e27057f71a2...

In [61]:
df_customers_sample.dtypes

customer_id                object
FN                        float64
Active                    float64
club_member_status         object
fashion_news_frequency     object
age                       float64
postal_code                object
dtype: object

#### H&M Sampled Articles Dataset

In [ ]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

######

### Data Preparation

### Construct a dataset upon which to build ML models. <a class="tocSkip">

### Begin with Transaction Dataset (sampled) and merge in customer and article data. <a class="tocSkip">

#### Data Preparation / Feature Enrichment on Transaction Data (sample)

In [90]:
# Create new dataset for modelling. Initial basis for new dataset is the sampled transaction dataset.
df_HM_CustTrxn = df_trxns_sample

In [91]:
df_HM_CustTrxn.head()

,t_dat,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day
24288205,2020-04-08,50f6fab29c8b3fc1b25d3c099d0cd5708e3e7f5ced694f...,811835003,0.022017,2,2020,04,08
2076220,2018-11-03,2dee5926adf115828fbed2499f8540059796627d4d814b...,679042003,0.016932,2,2018,11,03
27953483,2020-06-24,b37d9cb6416fb8cc0115895ea00e1957c9c31787145f81...,754404004,0.025407,2,2020,06,24
29530167,2020-07-27,109148eb0573dd62731d3783465bf2bd7b3bb14c6c0418...,636207006,0.030492,1,2020,07,27
5332546,2019-01-23,d6cb3db0fa2d75a5bc71058bbe5f65f9530d29f76a38e0...,694131003,0.007983,1,2019,01,23

In [92]:
# Decompose Datetime information 
df_HM_CustTrxn['t_dat'] = pd.to_datetime(df_HM_CustTrxn['t_dat'], format="%Y-%m-%d")

# Add Column for Transaction Year
df_HM_CustTrxn['txn_year'] = df_HM_CustTrxn['t_dat'].dt.strftime('%Y')

# Add Column for Transaction Month
df_HM_CustTrxn['txn_mth'] = df_HM_CustTrxn['t_dat'].dt.strftime('%m')

# Add Column for Transaction Day
df_HM_CustTrxn['txn_day'] = df_HM_CustTrxn['t_dat'].dt.strftime('%d')

In [93]:
# Filter out column to drop timestamp attribute
df_HM_CustTrxn = df_HM_CustTrxn.iloc[:,1:8]

In [94]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day
24288205,50f6fab29c8b3fc1b25d3c099d0cd5708e3e7f5ced694f...,811835003,0.022017,2,2020,04,08
2076220,2dee5926adf115828fbed2499f8540059796627d4d814b...,679042003,0.016932,2,2018,11,03
27953483,b37d9cb6416fb8cc0115895ea00e1957c9c31787145f81...,754404004,0.025407,2,2020,06,24
29530167,109148eb0573dd62731d3783465bf2bd7b3bb14c6c0418...,636207006,0.030492,1,2020,07,27
5332546,d6cb3db0fa2d75a5bc71058bbe5f65f9530d29f76a38e0...,694131003,0.007983,1,2019,01,23

In [95]:
df_HM_CustTrxn.dtypes

customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
txn_year             object
txn_mth              object
txn_day              object
dtype: object

#### Data Preparation / Feature Enrichment with Customer Data (sample)

In [96]:
df_HM_CustTrxn.shape

(31788, 7)

In [97]:
# Merge Customer atributes from the Customer dataset based on a join with the 'customer_id' field
df_HM_CustTrxn = pd.merge(df_HM_CustTrxn, df_customers_sample, how="left", on=["customer_id"])

In [98]:
df_HM_CustTrxn.shape

(31788, 13)

In [99]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,50f6fab29c8b3fc1b25d3c099d0cd5708e3e7f5ced694f...,811835003,0.022017,2,2020,04,08,NaN,NaN,ACTIVE,NONE,44.0,956be5f3926e90ec3da85b49439f12fc35ed8e7fbb9fec...
1,2dee5926adf115828fbed2499f8540059796627d4d814b...,679042003,0.016932,2,2018,11,03,1.0,1.0,ACTIVE,Regularly,29.0,2cc8481ef375b327abf96d042f68788b1c06eb7743b79d...
2,b37d9cb6416fb8cc0115895ea00e1957c9c31787145f81...,754404004,0.025407,2,2020,06,24,1.0,1.0,ACTIVE,Regularly,28.0,3c10c6013dc170b4b432256a221dbe12aef562eb0e41e5...
3,109148eb0573dd62731d3783465bf2bd7b3bb14c6c0418...,636207006,0.030492,1,2020,07,27,NaN,NaN,ACTIVE,NONE,62.0,f0702974293135c005b3bfd353a7d81d91e63c1ba5935a...
4,d6cb3db0fa2d75a5bc71058bbe5f65f9530d29f76a38e0...,694131003,0.007983,1,2019,01,23,NaN,NaN,ACTIVE,NONE,54.0,d5803bf563c7794723e636fb48c712938e4f8a69bca8bf...

In [100]:
# Filter out other Customer specific attributes apart from; age + fashion_news_frequency + club_member_status + postal code
# There are very many missing values in the other Customer dataset columns, so these will be ignored
df_HM_CustTrxn = df_HM_CustTrxn.iloc[:, [0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12]]

In [101]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,club_member_status,fashion_news_frequency,age,postal_code
0,50f6fab29c8b3fc1b25d3c099d0cd5708e3e7f5ced694f...,811835003,0.022017,2,2020,04,08,ACTIVE,NONE,44.0,956be5f3926e90ec3da85b49439f12fc35ed8e7fbb9fec...
1,2dee5926adf115828fbed2499f8540059796627d4d814b...,679042003,0.016932,2,2018,11,03,ACTIVE,Regularly,29.0,2cc8481ef375b327abf96d042f68788b1c06eb7743b79d...
2,b37d9cb6416fb8cc0115895ea00e1957c9c31787145f81...,754404004,0.025407,2,2020,06,24,ACTIVE,Regularly,28.0,3c10c6013dc170b4b432256a221dbe12aef562eb0e41e5...
3,109148eb0573dd62731d3783465bf2bd7b3bb14c6c0418...,636207006,0.030492,1,2020,07,27,ACTIVE,NONE,62.0,f0702974293135c005b3bfd353a7d81d91e63c1ba5935a...
4,d6cb3db0fa2d75a5bc71058bbe5f65f9530d29f76a38e0...,694131003,0.007983,1,2019,01,23,ACTIVE,NONE,54.0,d5803bf563c7794723e636fb48c712938e4f8a69bca8bf...

In [ ]:
### Pick up here...

In [ ]:
### Check for nulls and missing - remove them - see WWD

In [ ]:
### Encode the club_member_status + fashion_news_frequency

In [ ]:
### See if there is a way to check the integrity of the customer merging..

In [ ]:
### Move onto Arttcles...

######

######

######

## References

#### <a class="tocSkip">