# Machine Learning - Continuous Assessment - Class Group: TU060 <a class="tocSkip">

# MSc in Computer Science - Data Science (Part Time) <a class="tocSkip">

# Student Name: Ciaran Finnegan  <a class="tocSkip">

# Student No: D21124026 <a class="tocSkip">

#### Student EMail: D21124026@mytudublin.ie <a class="tocSkip">

## May 2022<a class="tocSkip">

#

# H&M Personalised Fashion Recommendations <a class="tocSkip">

#### This project takes the datasets provided by Kaggle for the H&M Personalised Fashion Recommendations competition.  <a class="tocSkip">

Ipso forum...

## <a class="tocSkip">

#### The CA follows a n-part structure. <a class="tocSkip">

Section 1: Ipso forum...

Section 2: Ipso forum...

Section 3: Ipso forum...

### <a class="tocSkip">

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Jupyter-Notebook-Set-Up" data-toc-modified-id="Jupyter-Notebook-Set-Up-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Jupyter Notebook Set Up</a></span><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import Libraries</a></span><ul class="toc-item"><li><span><a href="#General-Utility-Libraries" data-toc-modified-id="General-Utility-Libraries-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>General Utility Libraries</a></span></li><li><span><a href="#Panda-+-Numpy" data-toc-modified-id="Panda-+-Numpy-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Panda + Numpy</a></span></li><li><span><a href="#Matplotlib-Library" data-toc-modified-id="Matplotlib-Library-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Matplotlib Library</a></span></li><li><span><a href="#Plotly-Libraries" data-toc-modified-id="Plotly-Libraries-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Plotly Libraries</a></span></li></ul></li></ul></li><li><span><a href="#Project-Data-Import,-Analysis-and-Preparation" data-toc-modified-id="Project-Data-Import,-Analysis-and-Preparation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Project Data Import, Analysis and Preparation</a></span><ul class="toc-item"><li><span><a href="#Load-and-Sample-Kaggle-H&amp;M-Datasets" data-toc-modified-id="Load-and-Sample-Kaggle-H&amp;M-Datasets-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Load and Sample Kaggle H&amp;M Datasets</a></span><ul class="toc-item"><li><span><a href="#Set-Up-File-Paths" data-toc-modified-id="Set-Up-File-Paths-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Set Up File Paths</a></span></li><li><span><a href="#H&amp;M-Transaction-Dataset" data-toc-modified-id="H&amp;M-Transaction-Dataset-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>H&amp;M Transaction Dataset</a></span></li><li><span><a href="#H&amp;M-Articles-Dataset" data-toc-modified-id="H&amp;M-Articles-Dataset-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>H&amp;M Articles Dataset</a></span></li><li><span><a href="#H&amp;M-Customers-Dataset" data-toc-modified-id="H&amp;M-Customers-Dataset-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>H&amp;M Customers Dataset</a></span></li></ul></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span><ul class="toc-item"><li><span><a href="#H&amp;M-Sampled-Transaction-Dataset" data-toc-modified-id="H&amp;M-Sampled-Transaction-Dataset-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>H&amp;M Sampled Transaction Dataset</a></span></li><li><span><a href="#H&amp;M-Sampled-Customer-Dataset" data-toc-modified-id="H&amp;M-Sampled-Customer-Dataset-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>H&amp;M Sampled Customer Dataset</a></span></li><li><span><a href="#H&amp;M-Sampled-Articles-Dataset" data-toc-modified-id="H&amp;M-Sampled-Articles-Dataset-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>H&amp;M Sampled Articles Dataset</a></span></li></ul></li><li><span><a href="#Data-Preparation-and-Feature-Enrichment" data-toc-modified-id="Data-Preparation-and-Feature-Enrichment-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Data Preparation and Feature Enrichment</a></span><ul class="toc-item"><li><span><a href="#Transaction-Data-Feature-Enrichment-(Sample)" data-toc-modified-id="Transaction-Data-Feature-Enrichment-(Sample)-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Transaction Data Feature Enrichment (Sample)</a></span></li><li><span><a href="#Extend-Dataframe-with-Customer-Data" data-toc-modified-id="Extend-Dataframe-with-Customer-Data-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Extend Dataframe with Customer Data</a></span></li><li><span><a href="#Extend-Dataframe-with-Articles-Data" data-toc-modified-id="Extend-Dataframe-with-Articles-Data-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Extend Dataframe with Articles Data</a></span></li><li><span><a href="#Final-Data-Preparation-Steps" data-toc-modified-id="Final-Data-Preparation-Steps-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span>Final Data Preparation Steps</a></span></li></ul></li></ul></li><li><span><a href="#Split-Data:-Train-and-Test-Sets" data-toc-modified-id="Split-Data:-Train-and-Test-Sets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Split Data: Train and Test Sets</a></span></li><li><span><a href="#Model-Preparation" data-toc-modified-id="Model-Preparation-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Model Preparation</a></span><ul class="toc-item"><li><span><a href="#Set-Up-the-Scaling-Algorithm" data-toc-modified-id="Set-Up-the-Scaling-Algorithm-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Set Up the Scaling Algorithm</a></span></li><li><span><a href="#Set-Up-the-Columns-to-be-Scaled" data-toc-modified-id="Set-Up-the-Columns-to-be-Scaled-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Set Up the Columns to be Scaled</a></span></li><li><span><a href="#Scale-the-Training-Dataset" data-toc-modified-id="Scale-the-Training-Dataset-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Scale the Training Dataset</a></span></li></ul></li><li><span><a href="#K-Nearest-Neighbour-Operations" data-toc-modified-id="K-Nearest-Neighbour-Operations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>K Nearest Neighbour Operations</a></span><ul class="toc-item"><li><span><a href="#Create-Functions-for-NN-Analysis" data-toc-modified-id="Create-Functions-for-NN-Analysis-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Create Functions for NN Analysis</a></span><ul class="toc-item"><li><span><a href="#Set-up-function-to-Build-Nearest-Neighbours-Model" data-toc-modified-id="Set-up-function-to-Build-Nearest-Neighbours-Model-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Set up function to Build Nearest Neighbours Model</a></span></li><li><span><a href="#Set-up-function-to--Nearest-Neighbours-(+-Articles-bought)-for-a-Customer" data-toc-modified-id="Set-up-function-to--Nearest-Neighbours-(+-Articles-bought)-for-a-Customer-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Set up function to  Nearest Neighbours (+ Articles bought) for a Customer</a></span></li><li><span><a href="#Find-Top-Selling-Products-in-'Neighbourhood'-for-a-Customer" data-toc-modified-id="Find-Top-Selling-Products-in-'Neighbourhood'-for-a-Customer-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>Find Top Selling Products in 'Neighbourhood' for a Customer</a></span></li><li><span><a href="#Invoke-Function-to-Build-KNN-Model" data-toc-modified-id="Invoke-Function-to-Build-KNN-Model-5.1.4"><span class="toc-item-num">5.1.4&nbsp;&nbsp;</span>Invoke Function to Build KNN Model</a></span></li></ul></li></ul></li><li><span><a href="#Build-Submission" data-toc-modified-id="Build-Submission-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Build Submission</a></span><ul class="toc-item"><li><span><a href="#Read-Sample-Submission-File" data-toc-modified-id="Read-Sample-Submission-File-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Read Sample Submission File</a></span></li><li><span><a href="#Define-Function-to-read-Customer-IDs-from-Submission-File" data-toc-modified-id="Define-Function-to-read-Customer-IDs-from-Submission-File-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Define Function to read Customer IDs from Submission File</a></span></li><li><span><a href="#Extract-Customer-IDs-from-Submission-File-and-Find-Article-Predictions" data-toc-modified-id="Extract-Customer-IDs-from-Submission-File-and-Find-Article-Predictions-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Extract Customer IDs from Submission File and Find Article Predictions</a></span><ul class="toc-item"><li><span><a href="#Define-Function-to-Obtain-Customer-Transactions" data-toc-modified-id="Define-Function-to-Obtain-Customer-Transactions-6.3.1"><span class="toc-item-num">6.3.1&nbsp;&nbsp;</span>Define Function to Obtain Customer Transactions</a></span></li><li><span><a href="#Define-Function-to-Obtain-Customer-Features" data-toc-modified-id="Define-Function-to-Obtain-Customer-Features-6.3.2"><span class="toc-item-num">6.3.2&nbsp;&nbsp;</span>Define Function to Obtain Customer Features</a></span></li><li><span><a href="#Define-Function-to-Obtain-Article-Features" data-toc-modified-id="Define-Function-to-Obtain-Article-Features-6.3.3"><span class="toc-item-num">6.3.3&nbsp;&nbsp;</span>Define Function to Obtain Article Features</a></span></li><li><span><a href="#Define-Function-to-Obtain-Article-Predictions" data-toc-modified-id="Define-Function-to-Obtain-Article-Predictions-6.3.4"><span class="toc-item-num">6.3.4&nbsp;&nbsp;</span>Define Function to Obtain Article Predictions</a></span></li><li><span><a href="#Define-Functions-to-Parse-Article-Predictions-for-Kaggle-Submission" data-toc-modified-id="Define-Functions-to-Parse-Article-Predictions-for-Kaggle-Submission-6.3.5"><span class="toc-item-num">6.3.5&nbsp;&nbsp;</span>Define Functions to Parse Article Predictions for Kaggle Submission</a></span></li><li><span><a href="#Iterate-Through-Submission-File-to-Generate-Article-Predictions" data-toc-modified-id="Iterate-Through-Submission-File-to-Generate-Article-Predictions-6.3.6"><span class="toc-item-num">6.3.6&nbsp;&nbsp;</span>Iterate Through Submission File to Generate Article Predictions</a></span></li></ul></li><li><span><a href="#Write-Predictions-Submission-File-to-CSV" data-toc-modified-id="Write-Predictions-Submission-File-to-CSV-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Write Predictions Submission File to CSV</a></span><ul class="toc-item"><li><span><a href="#SetUp-Disk-Directory-for-Submission-File" data-toc-modified-id="SetUp-Disk-Directory-for-Submission-File-6.4.1"><span class="toc-item-num">6.4.1&nbsp;&nbsp;</span>SetUp Disk Directory for Submission File</a></span></li><li><span><a href="#Create-Submission-.CSV-File" data-toc-modified-id="Create-Submission-.CSV-File-6.4.2"><span class="toc-item-num">6.4.2&nbsp;&nbsp;</span>Create Submission .CSV File</a></span></li></ul></li></ul></li><li><span><a href="#References" data-toc-modified-id="References-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>References</a></span></li></ul></div>

## Jupyter Notebook Set Up

### Import Libraries

Note: It is assumed that the matplotlib and plotly library has been installed on the user's machine before it is available for import.

```bash
> pip install matplotlib
> pip install plotly
```

#### General Utility Libraries

In [1]:
import os

#### Panda + Numpy

In [2]:
# Python libraries for data manipulation
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

Set up additional libraries for graphical presentations. A number of earlier graphs use Matplotlib. In later sections, Plotly graphs are used.

#### Matplotlib Library

In [3]:
#import matplotlib.pyplot as plt

#### Plotly Libraries

In [4]:
# For interactive graphics and global displays
#import plotly.express as px
#import plotly.graph_objects as go

### <a class="tocSkip">

In [5]:
import warnings
warnings.filterwarnings("ignore")

### <a class="tocSkip">

## Project Data Import, Analysis and Preparation

### Load and Sample Kaggle H&M Datasets

### The assignment starts with a Kaggle H&M Personalised Fashion Recommendations datasets. <a class="tocSkip">

#### Set Up File Paths

In [6]:
# Set up a Global path file variable to use when loading each dataset
Path_To_Inputs = '../input'

#### H&M Transaction Dataset

In [7]:
# Load H&M Transaction dataset
df_trxns = pd.read_csv(os.path.join(Path_To_Inputs,'transactions_train.csv'))

In [8]:
# Display Number of Rows, Number of Columns in Transaction dataset prior to Sampling
df_trxns.shape

(31788324, 5)

In [9]:
# Extract random sample of Transactions (without replacement) - 0.1% of records
df_trxns_sample = df_trxns.sample(frac=0.05, replace=False)

In [10]:
# Display Number of Rows, Number of Columns in Transaction dataset after Sampling
df_trxns_sample.shape

(1589416, 5)

In [11]:
# Check out the index
df_trxns_sample.head()

,t_dat,customer_id,article_id,price,sales_channel_id
7297075,2019-03-12,fc3701c3fe88757bc5bd476e5b8ff23e7979eefe9ab90b...,709187001,0.050831,2
5615128,2019-01-30,775d6adb70d403ebf313e2eb811a7de7f5385a8901d585...,693387003,0.018627,1
29057219,2020-07-15,9fd53188298239717ae670fb5df3654991d8c0862ca01c...,631744007,0.016932,2
8681953,2019-04-12,cc84abdce0b622a508aa0fe7b15f3453e00025faf8af0f...,680262006,0.033881,2
16557582,2019-09-13,19df77788ea6c4dec68e6d97e3c38886a816ac6917c26b...,715828012,0.033881,1

#### H&M Articles Dataset

In [12]:
# Read file, located in 'input' folder above this notebook, for articles data - containing meta data on purchasable items.
df_Articles = pd.read_csv(os.path.join(Path_To_Inputs,'articles.csv'))

In [13]:
# Display Number of Rows, Number of Columns in Articles dataset
df_Articles.shape

(105542, 25)

In [14]:
# Extract only the H&M articles contained in the sample Transaction dataset 
articleIDs_in_Trxn_Sample  = set(df_trxns_sample["article_id"])

In [15]:
# Create dataset that only contains H&M articles in the sample Transaction dataset
df_articles_sample = df_Articles[df_Articles["article_id"].isin(articleIDs_in_Trxn_Sample)]

In [16]:
# Display Number of Rows, Number of Columns in Sample Articles dataset
df_articles_sample.shape

(78222, 25)

#### H&M Customers Dataset

In [17]:
# Load H&M Customer dataset
df_customers = pd.read_csv(os.path.join(Path_To_Inputs,'customers.csv'))

In [18]:
# Display Number of Rows, Number of Columns in Customers dataset prior to Sampling
df_customers.shape

(1371980, 7)

In [19]:
# Extract only the H&M Customers contained in the sample Transaction dataset 
custIDs_in_Trxn_Sample  = set(df_trxns_sample["customer_id"])

In [20]:
#Count Customer Ids in Transaction Sample
len(custIDs_in_Trxn_Sample)

616152

In [21]:
# Create dataset that only contains H&M Customers from the sample Transaction dataset
df_customers_sample = df_customers[df_customers["customer_id"].isin(custIDs_in_Trxn_Sample)]

In [22]:
# Display Number of Rows, Number of Columns in Sample Customers dataset
df_customers_sample.shape

(616152, 7)

######

### Exploratory Data Analysis

### Display key data attributes and distributions in Sampled H&M datasets. <a class="tocSkip">

#### H&M Sampled Transaction Dataset

In [23]:
# Display basic column information for the initial Kaggle 'transaction_train' datatset - after Sampling of original dataset
df_trxns_sample.head()

,t_dat,customer_id,article_id,price,sales_channel_id
7297075,2019-03-12,fc3701c3fe88757bc5bd476e5b8ff23e7979eefe9ab90b...,709187001,0.050831,2
5615128,2019-01-30,775d6adb70d403ebf313e2eb811a7de7f5385a8901d585...,693387003,0.018627,1
29057219,2020-07-15,9fd53188298239717ae670fb5df3654991d8c0862ca01c...,631744007,0.016932,2
8681953,2019-04-12,cc84abdce0b622a508aa0fe7b15f3453e00025faf8af0f...,680262006,0.033881,2
16557582,2019-09-13,19df77788ea6c4dec68e6d97e3c38886a816ac6917c26b...,715828012,0.033881,1

In [24]:
# Display datatype of colums in original H&M Transaction dataset
df_trxns_sample.dtypes

t_dat                object
customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
dtype: object

#### H&M Sampled Customer Dataset

In [25]:
# Display basic column information for the initial Kaggle 'customers' datatset - after Sampling of original dataset
df_customers_sample.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
7,00007d2de826758b65a93dd24ce629ed66842531df6699...,1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...
11,000097d91384a0c14893c09ed047a963c4fc6a5c021044...,NaN,NaN,ACTIVE,NONE,31.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...

In [26]:
df_customers_sample.dtypes

customer_id                object
FN                        float64
Active                    float64
club_member_status         object
fashion_news_frequency     object
age                       float64
postal_code                object
dtype: object

#### H&M Sampled Articles Dataset

In [27]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [28]:
df_articles_sample.dtypes

article_id                       int64
product_code                     int64
prod_name                       object
product_type_no                  int64
product_type_name               object
product_group_name              object
graphical_appearance_no          int64
graphical_appearance_name       object
colour_group_code                int64
colour_group_name               object
perceived_colour_value_id        int64
perceived_colour_value_name     object
perceived_colour_master_id       int64
perceived_colour_master_name    object
department_no                    int64
department_name                 object
index_code                      object
index_name                      object
index_group_no                   int64
index_group_name                object
section_no                       int64
section_name                    object
garment_group_no                 int64
garment_group_name              object
detail_desc                     object
dtype: object

######

### Data Preparation and Feature Enrichment

### Construct a dataset upon which to build ML models. <a class="tocSkip">

### Begin with Transaction Dataset (sampled) and merge in customer and article data. <a class="tocSkip">

#### Transaction Data Feature Enrichment (Sample)

In [29]:
# Create new dataset for modelling. Initial basis for new dataset is the sampled transaction dataset.
df_HM_CustTrxn = df_trxns_sample

In [30]:
df_HM_CustTrxn.head()

,t_dat,customer_id,article_id,price,sales_channel_id
7297075,2019-03-12,fc3701c3fe88757bc5bd476e5b8ff23e7979eefe9ab90b...,709187001,0.050831,2
5615128,2019-01-30,775d6adb70d403ebf313e2eb811a7de7f5385a8901d585...,693387003,0.018627,1
29057219,2020-07-15,9fd53188298239717ae670fb5df3654991d8c0862ca01c...,631744007,0.016932,2
8681953,2019-04-12,cc84abdce0b622a508aa0fe7b15f3453e00025faf8af0f...,680262006,0.033881,2
16557582,2019-09-13,19df77788ea6c4dec68e6d97e3c38886a816ac6917c26b...,715828012,0.033881,1

In [31]:
# Decompose Datetime information 
df_HM_CustTrxn['t_dat'] = pd.to_datetime(df_HM_CustTrxn['t_dat'], format="%Y-%m-%d")

# Add Column for Transaction Year and convert to integer value
df_HM_CustTrxn['txn_year'] = df_HM_CustTrxn['t_dat'].dt.strftime('%Y')
df_HM_CustTrxn['txn_year'] = df_HM_CustTrxn['txn_year'].astype(str).astype(int)

# Add Column for Transaction Month and convert to integer value
df_HM_CustTrxn['txn_mth'] = df_HM_CustTrxn['t_dat'].dt.strftime('%m')
df_HM_CustTrxn['txn_mth'] = df_HM_CustTrxn['txn_mth'].astype(str).astype(int)

# Add Column for Transaction Day and convert to integer value
df_HM_CustTrxn['txn_day'] = df_HM_CustTrxn['t_dat'].dt.strftime('%d')
df_HM_CustTrxn['txn_day'] = df_HM_CustTrxn['txn_day'].astype(str).astype(int)

In [32]:
# Filter out column to drop timestamp attribute
df_HM_CustTrxn = df_HM_CustTrxn.iloc[:,1:8]

In [33]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day
7297075,fc3701c3fe88757bc5bd476e5b8ff23e7979eefe9ab90b...,709187001,0.050831,2,2019,3,12
5615128,775d6adb70d403ebf313e2eb811a7de7f5385a8901d585...,693387003,0.018627,1,2019,1,30
29057219,9fd53188298239717ae670fb5df3654991d8c0862ca01c...,631744007,0.016932,2,2020,7,15
8681953,cc84abdce0b622a508aa0fe7b15f3453e00025faf8af0f...,680262006,0.033881,2,2019,4,12
16557582,19df77788ea6c4dec68e6d97e3c38886a816ac6917c26b...,715828012,0.033881,1,2019,9,13

In [34]:
# Check for null values in the Transaction Dataframe
[print('Any Null Values in the Trxn (sample) dataframe?','\n' ,df_HM_CustTrxn.isnull().any())]

Any Null Values in the Trxn (sample) dataframe?
 customer_id         False
article_id          False
price               False
sales_channel_id    False
txn_year            False
txn_mth             False
txn_day             False
dtype: bool

[None]

#### Extend Dataframe with Customer Data

In [35]:
# Confirm dimensions of Trxn (sample) dataframe BEFORE merging with Customer data
df_HM_CustTrxn.shape

(1589416, 7)

#### Merge Customer Attributes into the Trxn (Sample) Dataframe. <a class="tocSkip">

In [36]:
# Merge Customer atributes from the Customer dataset based on a join with the 'customer_id' field
df_HM_CustTrxn = pd.merge(df_HM_CustTrxn, df_customers_sample, how="left", on=["customer_id"])

In [37]:
# Confirm dimensions of Trxn (sample) dataframe AFTER merging with Customer data
df_HM_CustTrxn.shape

(1589416, 13)

In [38]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,fc3701c3fe88757bc5bd476e5b8ff23e7979eefe9ab90b...,709187001,0.050831,2,2019,3,12,1.0,1.0,ACTIVE,Regularly,28.0,a5a07ccaf9769d6fe4200b8c8440c6ecfe8155a27ce9ed...
1,775d6adb70d403ebf313e2eb811a7de7f5385a8901d585...,693387003,0.018627,1,2019,1,30,NaN,NaN,ACTIVE,NONE,57.0,e3860bcd33ca7d27a8be36e8882703233fb7ed7ec189a8...
2,9fd53188298239717ae670fb5df3654991d8c0862ca01c...,631744007,0.016932,2,2020,7,15,NaN,NaN,ACTIVE,NONE,32.0,67cdc68d4a2cf9b083a7777d9e2bf02fa2d4e8312b66fe...
3,cc84abdce0b622a508aa0fe7b15f3453e00025faf8af0f...,680262006,0.033881,2,2019,4,12,NaN,NaN,ACTIVE,NONE,27.0,8d0b4c635e6bb9cf4ae4f7156f2d2563ebb7b1b9671de6...
4,19df77788ea6c4dec68e6d97e3c38886a816ac6917c26b...,715828012,0.033881,1,2019,9,13,1.0,1.0,ACTIVE,Regularly,24.0,14bedea8bccd958ca7f95fc3e2ae18c4ccc0a576d9562b...

In [39]:
# Filter out other Customer specific attributes apart from; age + fashion_news_frequency + club_member_status + postal code
# There are very many missing values in the other Customer dataset columns, so these will be ignored
df_HM_CustTrxn = df_HM_CustTrxn.iloc[:, [0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12]]

In [40]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,club_member_status,fashion_news_frequency,age,postal_code
0,fc3701c3fe88757bc5bd476e5b8ff23e7979eefe9ab90b...,709187001,0.050831,2,2019,3,12,ACTIVE,Regularly,28.0,a5a07ccaf9769d6fe4200b8c8440c6ecfe8155a27ce9ed...
1,775d6adb70d403ebf313e2eb811a7de7f5385a8901d585...,693387003,0.018627,1,2019,1,30,ACTIVE,NONE,57.0,e3860bcd33ca7d27a8be36e8882703233fb7ed7ec189a8...
2,9fd53188298239717ae670fb5df3654991d8c0862ca01c...,631744007,0.016932,2,2020,7,15,ACTIVE,NONE,32.0,67cdc68d4a2cf9b083a7777d9e2bf02fa2d4e8312b66fe...
3,cc84abdce0b622a508aa0fe7b15f3453e00025faf8af0f...,680262006,0.033881,2,2019,4,12,ACTIVE,NONE,27.0,8d0b4c635e6bb9cf4ae4f7156f2d2563ebb7b1b9671de6...
4,19df77788ea6c4dec68e6d97e3c38886a816ac6917c26b...,715828012,0.033881,1,2019,9,13,ACTIVE,Regularly,24.0,14bedea8bccd958ca7f95fc3e2ae18c4ccc0a576d9562b...

In [41]:
df_HM_CustTrxn.shape

(1589416, 11)

In [42]:
# Check for null values in the merged Trxn/Customer dataframe
[print('Any Null Values in the merged Trxn/Customer dataframe?','\n' ,df_HM_CustTrxn.isnull().any())]

Any Null Values in the merged Trxn/Customer dataframe?
 customer_id               False
article_id                False
price                     False
sales_channel_id          False
txn_year                  False
txn_mth                   False
txn_day                   False
club_member_status         True
fashion_news_frequency     True
age                        True
postal_code               False
dtype: bool

[None]

#### Remove Rows with Missing Club Member Status Attributes. <a class="tocSkip">

In [43]:
# Check missing values in the club_member_status column  
df_null_club_member_status = df_HM_CustTrxn.loc[(df_HM_CustTrxn["club_member_status"].isnull())]

[print('Numbers of rows with missing club member status?','\n' ,len(df_null_club_member_status.index))]
[print('\nPrecentage of total rows in Trxn dataframe with missing club member status attributes?\n{:06.3f}%'
                               .format((len(df_null_club_member_status.index)/len(df_HM_CustTrxn.index))*100))]


# For simplicity the rows with missing values in the club member status will be ignored
# Re-Build Txn/Customer Dataframe with no missing values in the club member status
df_HM_CustTrxn = df_HM_CustTrxn.loc[(df_HM_CustTrxn["club_member_status"].notnull())]

# Confirm dimensions of Trxn (sample) dataframe AFTER removing rows with missing values in the club member status column
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - with missing club mem status values removed','\n' ,
                                                                                                   df_HM_CustTrxn.shape)]

Numbers of rows with missing club member status?
 3156

Precentage of total rows in Trxn dataframe with missing club member status attributes?
00.199%

Current Number of Rows/Columns in Trxn/Customer dataframe - with missing club mem status values removed
 (1586260, 11)

[None]

#### Remove Rows with Missing Fashion News Frequency Attributes. <a class="tocSkip">

In [44]:
# Check missing values in the club_member_status column  
df_null_fn_freq = df_HM_CustTrxn.loc[(df_HM_CustTrxn["fashion_news_frequency"].isnull())]

[print('Numbers of rows with missing fashion_news_frequency values?','\n' ,len(df_null_fn_freq.index))]
[print('\nPrecentage of total rows in Trxn dataframe with missing fashion_news_frequency attributes?\n{:06.3f}%'
                               .format((len(df_null_fn_freq.index)/len(df_HM_CustTrxn.index))*100))]

# For simplicity the rows with missing values in the fashion_news_frequency column will be ignored
# Re-Build Txn/Customer Dataframe with no missing values in the fashion_news_frequency column
df_HM_CustTrxn = df_HM_CustTrxn.loc[(df_HM_CustTrxn["fashion_news_frequency"].notnull())]

# Confirm dimensions of Trxn (sample) dataframe AFTER removing rows with missing values in the fashion_news_frequency column
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - missing Fash News Freq values removed','\n' ,
                                                                                                   df_HM_CustTrxn.shape)]

Numbers of rows with missing fashion_news_frequency values?
 6519

Precentage of total rows in Trxn dataframe with missing fashion_news_frequency attributes?
00.411%

Current Number of Rows/Columns in Trxn/Customer dataframe - missing Fash News Freq values removed
 (1579741, 11)

[None]

#### Remove Rows with Missing Age Attributes. <a class="tocSkip">

In [45]:
# Check missing values in the age column  
df_null_age = df_HM_CustTrxn.loc[(df_HM_CustTrxn["age"].isnull())]

[print('Numbers of rows with missing age values?','\n' ,len(df_null_age.index))]
[print('\nPrecentage of total rows in Trxn dataframe with missing age attributes?\n{:06.3f}%'
                               .format((len(df_null_age.index)/len(df_HM_CustTrxn.index))*100))]

# Re-Build Txn/Customer Dataframe with no missing values in the age column
df_HM_CustTrxn = df_HM_CustTrxn.loc[(df_HM_CustTrxn["age"].notnull())]


# Confirm dimensions of Trxn (sample) dataframe AFTER removing rows with missing values in the age column
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - missing ages removed','\n' ,df_HM_CustTrxn.shape)]

Numbers of rows with missing age values?
 6238

Precentage of total rows in Trxn dataframe with missing age attributes?
00.395%

Current Number of Rows/Columns in Trxn/Customer dataframe - missing ages removed
 (1573503, 11)

[None]

#### Encode the club_member_status + fashion_news_frequency attributes <a class="tocSkip">

In [46]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,club_member_status,fashion_news_frequency,age,postal_code
0,fc3701c3fe88757bc5bd476e5b8ff23e7979eefe9ab90b...,709187001,0.050831,2,2019,3,12,ACTIVE,Regularly,28.0,a5a07ccaf9769d6fe4200b8c8440c6ecfe8155a27ce9ed...
1,775d6adb70d403ebf313e2eb811a7de7f5385a8901d585...,693387003,0.018627,1,2019,1,30,ACTIVE,NONE,57.0,e3860bcd33ca7d27a8be36e8882703233fb7ed7ec189a8...
2,9fd53188298239717ae670fb5df3654991d8c0862ca01c...,631744007,0.016932,2,2020,7,15,ACTIVE,NONE,32.0,67cdc68d4a2cf9b083a7777d9e2bf02fa2d4e8312b66fe...
3,cc84abdce0b622a508aa0fe7b15f3453e00025faf8af0f...,680262006,0.033881,2,2019,4,12,ACTIVE,NONE,27.0,8d0b4c635e6bb9cf4ae4f7156f2d2563ebb7b1b9671de6...
4,19df77788ea6c4dec68e6d97e3c38886a816ac6917c26b...,715828012,0.033881,1,2019,9,13,ACTIVE,Regularly,24.0,14bedea8bccd958ca7f95fc3e2ae18c4ccc0a576d9562b...

In [47]:
def encode_Categor_Features(df, col_name):
    
    print('encode_Categor_Features:  ' + col_name)
    
    # The categorical values in dataframe must be encoded to numberical values
    df_encoded_cols = pd.get_dummies(df[col_name])
    df_encoded      = df.join(df_encoded_cols)
    
    # Remove the prior Categorical column from the Articles dataframe
    df_encoded.drop([col_name], axis=1, inplace=True)
    
    # Display for Debugging purposes
    # display(df_encoded_cols)
    
    # Return the dataframe with encoded columsn added
    return df_encoded

In [48]:
cust_cols_to_encode = ["club_member_status","fashion_news_frequency"]
for column_name in cust_cols_to_encode:
    df_HM_CustTrxn = encode_Categor_Features(df_HM_CustTrxn, column_name)

encode_Categor_Features:  club_member_status
encode_Categor_Features:  fashion_news_frequency

In [49]:
# Drop Postal Code - a non numerical value that is not easily converted
df_HM_CustTrxn.drop(["postal_code"], axis=1, inplace=True)

In [50]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,PRE-CREATE,Monthly,NONE,None,Regularly
0,fc3701c3fe88757bc5bd476e5b8ff23e7979eefe9ab90b...,709187001,0.050831,2,2019,3,12,28.0,1,0,0,0,0,0,1
1,775d6adb70d403ebf313e2eb811a7de7f5385a8901d585...,693387003,0.018627,1,2019,1,30,57.0,1,0,0,0,1,0,0
2,9fd53188298239717ae670fb5df3654991d8c0862ca01c...,631744007,0.016932,2,2020,7,15,32.0,1,0,0,0,1,0,0
3,cc84abdce0b622a508aa0fe7b15f3453e00025faf8af0f...,680262006,0.033881,2,2019,4,12,27.0,1,0,0,0,1,0,0
4,19df77788ea6c4dec68e6d97e3c38886a816ac6917c26b...,715828012,0.033881,1,2019,9,13,24.0,1,0,0,0,0,0,1

In [51]:
# Confirm dimensions of Trxn (sample) dataframe AFTER encoding Categorical Values
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - after encoding of categorical values completed','\n' ,
                                                                                                   df_HM_CustTrxn.shape)]

Current Number of Rows/Columns in Trxn/Customer dataframe - after encoding of categorical values completed
 (1573503, 15)

[None]

In [52]:
# Check for null values in the Transaction Dataframe
[print('Any Null Values in the merged Trxn/Customer (sample) dataframe?','\n' ,df_HM_CustTrxn.isnull().any())]

Any Null Values in the merged Trxn/Customer (sample) dataframe?
 customer_id         False
article_id          False
price               False
sales_channel_id    False
txn_year            False
txn_mth             False
txn_day             False
age                 False
ACTIVE              False
LEFT CLUB           False
PRE-CREATE          False
Monthly             False
NONE                False
None                False
Regularly           False
dtype: bool

[None]

#### Extend Dataframe with Articles Data

#### Remove 'Redundant' Categorical Columns in Articles (sample) Dataframe. <a class="tocSkip">

In [53]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [54]:
# Remove 'redundant' categotical columns from Articles (sample) dataframe
# Consider a categorical column Redundant when is 'partnered' with a numerical code 
df_articles_sample.drop(["prod_name", 
                         "product_type_name", 
                         "graphical_appearance_name",
                         "colour_group_name",
                         "perceived_colour_value_name",
                         "perceived_colour_master_name",
                         "department_name",
                         "index_name",
                         "index_group_name",
                         "section_name",
                         "garment_group_name",
                         "detail_desc"], axis=1, inplace=True)

In [55]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

,article_id,product_code,product_type_no,product_group_name,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_code,index_group_no,section_no,garment_group_no
0,108775015,108775,253,Garment Upper body,1010016,9,4,5,1676,A,1,16,1002
1,108775044,108775,253,Garment Upper body,1010016,10,3,9,1676,A,1,16,1002
2,108775051,108775,253,Garment Upper body,1010017,11,1,9,1676,A,1,16,1002
3,110065001,110065,306,Underwear,1010016,9,4,5,1339,B,1,61,1017
4,110065002,110065,306,Underwear,1010016,10,3,9,1339,B,1,61,1017

#### Use One-Hot-Encoding on remaining categorical columns. <a class="tocSkip">

In [56]:
article_cols_to_encode =['product_group_name', 'index_code']
for column_name in article_cols_to_encode:
    df_articles_sample = encode_Categor_Features(df_articles_sample, column_name)

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code

In [57]:
df_articles_sample.shape

(78222, 40)

In [58]:
# Display basic column information for sampled articles dataframe after encoding
df_articles_sample.head()

,article_id,product_code,product_type_no,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,...,A,B,C,D,F,G,H,I,J,S
0,108775015,108775,253,1010016,9,4,5,1676,1,16,...,1,0,0,0,0,0,0,0,0,0
1,108775044,108775,253,1010016,10,3,9,1676,1,16,...,1,0,0,0,0,0,0,0,0,0
2,108775051,108775,253,1010017,11,1,9,1676,1,16,...,1,0,0,0,0,0,0,0,0,0
3,110065001,110065,306,1010016,9,4,5,1339,1,61,...,0,1,0,0,0,0,0,0,0,0
4,110065002,110065,306,1010016,10,3,9,1339,1,61,...,0,1,0,0,0,0,0,0,0,0

#### Merge Trxn/Customers Dataframe with Articles Dataframe (sample). <a class="tocSkip">

In [59]:
# Merge Articles atributes from the Articles dataset based on a join with the 'article_id' field
df_HM_CustTrxnArtcls = pd.merge(df_HM_CustTrxn, df_articles_sample, how="left", on=["article_id"])

In [60]:
# Confirm dimensions of Trxn (sample) dataframe AFTER merging with Articles data
df_HM_CustTrxnArtcls.shape

(1573503, 54)

In [61]:
# Display basic column information for the initial Kaggle 'transaction_train' datatset - AFTER merging with Articles data
df_HM_CustTrxnArtcls.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,ACTIVE,LEFT CLUB,...,A,B,C,D,F,G,H,I,J,S
0,fc3701c3fe88757bc5bd476e5b8ff23e7979eefe9ab90b...,709187001,0.050831,2,2019,3,12,28.0,1,0,...,1,0,0,0,0,0,0,0,0,0
1,775d6adb70d403ebf313e2eb811a7de7f5385a8901d585...,693387003,0.018627,1,2019,1,30,57.0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,9fd53188298239717ae670fb5df3654991d8c0862ca01c...,631744007,0.016932,2,2020,7,15,32.0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,cc84abdce0b622a508aa0fe7b15f3453e00025faf8af0f...,680262006,0.033881,2,2019,4,12,27.0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,19df77788ea6c4dec68e6d97e3c38886a816ac6917c26b...,715828012,0.033881,1,2019,9,13,24.0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [62]:
# Check for null values in the merged Trxn/Customer/Articles dataframe
[print('Any Null Values in the merged Trxn/Customer/Articles dataframe?','\n' ,df_HM_CustTrxnArtcls.isnull().any())]

Any Null Values in the merged Trxn/Customer/Articles dataframe?
 customer_id                   False
article_id                    False
price                         False
sales_channel_id              False
txn_year                      False
txn_mth                       False
txn_day                       False
age                           False
ACTIVE                        False
LEFT CLUB                     False
PRE-CREATE                    False
Monthly                       False
NONE                          False
None                          False
Regularly                     False
product_code                  False
product_type_no               False
graphical_appearance_no       False
colour_group_code             False
perceived_colour_value_id     False
perceived_colour_master_id    False
department_no                 False
index_group_no                False
section_no                    False
garment_group_no              False
Accessories                   False
Bags                          False
Cosmetic                      False
Fun                           False
Furniture                     False
Garment Full body             False
Garment Lower body            False
Garment Upper body            False
Garment and Shoe care         False
Interior textile              False
Items                         False
Nightwear                     False
Shoes                         False
Socks & Tights                False
Stationery                    False
Swimwear                      False
Underwear                     False
Underwear/nightwear           False
Unknown                       False
A                             False
B                             False
C                             False
D                             False
F                             False
G                             False
H                             False
I                             False
J                             False
S                             False
dtype: bool

[None]

#### Final Data Preparation Steps

#### Remove Any Duplicates in Final Merged Dataframe. <a class="tocSkip">

In [63]:
# run a check to see if any duplicate entires exist in the merged Trxn/Customer/Articles dataframe
[print('Numbers of duplicated rows in the final merged Trxn/Customer/Articles dataframe?','\n' 
                                                                       ,df_HM_CustTrxnArtcls.duplicated().sum())]

Numbers of duplicated rows in the final merged Trxn/Customer/Articles dataframe?
 9625

[None]

In [64]:
# Drop duplicate rows in the merged Trxn/Customer/Articles dataframe
df_HM_CustTrxnArtcls = df_HM_CustTrxnArtcls.drop_duplicates()

In [65]:
# Re-check: Find duplicate rows across all columns
duplicateRows = df_HM_CustTrxnArtcls[df_HM_CustTrxnArtcls.duplicated()]

In [66]:
# This code will advise if duplicates are successfully removed.
if duplicateRows.shape[0] < 1:
    [print('Success! Duplicate Rows Removed from merged Trxn/Customer/Articles dataframe')]
else:
    [print('Warning! Duplicate Rows Remain in merged Trxn/Customer/Articles dataframe')]

Success! Duplicate Rows Removed from merged Trxn/Customer/Articles dataframe

In [67]:
# Confirm dimensions of Trxn/Customer/Articles (sample) dataframe AFTER removing duplicate rows
[print('\nCurrent Number of Rows/Columns in merged Trxn/Customer/Articles dataframe - duplicates removed','\n' ,
                                                                                           df_HM_CustTrxnArtcls.shape)]

Current Number of Rows/Columns in merged Trxn/Customer/Articles dataframe - duplicates removed
 (1563878, 54)

[None]

In [68]:
### See if there is a way to check the integrity of the customer merging..

######

## Split Data: Train and Test Sets

#### Split Data into 70% for Training, 30% for Testing. <a class="tocSkip">

In [69]:
# Split the data into train and test set
# Parameter set to 30% for size of Test set
# Given that there is ordering in the dataset, the 'shuffle' parameter is set to 'True'
train, test = train_test_split(df_HM_CustTrxnArtcls, test_size=0.1, random_state=101, shuffle=True)

In [70]:
# Output Confirmation of data split
dataDescription = 'H&M Sample Data Split'
print("\n{} Training Set Shape : \n\t".format(dataDescription))
print(train.shape)
print("\n{} Test Set Shape : \n\t".format(dataDescription))
print(test.shape)

H&M Sample Data Split Training Set Shape :

(1407490, 54)

H&M Sample Data Split Test Set Shape :

(156388, 54)

######

## Model Preparation

### Set Up the Scaling Algorithm

In [71]:
from sklearn.preprocessing import MinMaxScaler
# Normalizing numerical features so that each feature has a value between 0 and 1
scaler = MinMaxScaler()

In [72]:
# Normalizing numerical features so that each feature has mean 0 and variance 1
# feature_scaler = StandardScaler()

### Set Up the Columns to be Scaled

In [73]:
chk_cols =  ['product_code',
             'product_type_no',
             'graphical_appearance_no',
             'colour_group_code',
             'perceived_colour_value_id',
             'perceived_colour_master_id',
             'department_no',
             'index_group_no',
             'section_no',
             'garment_group_no']

### Scale the Training Dataset

In [74]:
def scale_trainset_features(df, dtype, no_scale):
    for x in df.columns[df.dtypes == dtype]:
        if x != no_scale:
            df[x] = scaler.fit_transform(np.array(df[x]).reshape(-1,1))

In [75]:
no_scale = 'article_id'
scale_dtypes = ['int64','int32','float64']
for data_types in scale_dtypes:
    scale_trainset_features(train, data_types, no_scale)

######

######

######

######

## K Nearest Neighbour Operations

### Create Functions for NN Analysis

#### Set up function to Build Nearest Neighbours Model

In [76]:
# Set up Unsupervised learner for implementing neighbour searches of Customer Transactions
# Set default parameters for NN algorithm - these can be overwritten during optimisationphase
def setup_NN_model(df_train, NN_metric = 'cosine', NN_algo = 'brute'):
       
    # Set up numerical data inputs for NearestNeighbors function
    df_cust_articles = df_train[chk_cols]
    
    # Set up parameters of NearestNeighbors function
    model_knn = NearestNeighbors(metric = NN_metric, algorithm = NN_algo)
    
    # Implement NearestNeighbors function on merged Trxn/Customer/Article data elements
    model_knn.fit(df_cust_articles)
    
    return model_knn, df_cust_articles

#### Set up function to  Nearest Neighbours (+ Articles bought) for a Customer

In [77]:
# Use a function to return a list of Nearest Neighbours for a given customer.
# Return Neighbour Customer Ids and the articles they both
def get_CustSub_NeighbourIDs_articles(model_knn, df_cust_articles, df_train, NN_Neighbours):
     
    
    # Return index values for nearest neighbours - determined by 'Num_Neighbour' parameter
    distances, indices = model_knn.kneighbors(df_cust_articles.iloc[0].values.reshape(1, -1), 
                                              n_neighbors = NN_Neighbours)
     
    

    # Using the Index values returned by the Nearest neighbour model
    # Generate a list of Customer Ids and Article Ids for these neighbours
    for i in range(0, len(distances.flatten())):
        if i == 0:
            customer_list = []
            article_list  = []
            # print('\nRecommendations for Article: {0}\n'.format(df_cust_articles.iloc[0].values.reshape(1, -1)))
        else:
            #print('Indices[i]: {}'.format(indices.flatten()[i]))
        
            #print('{0}: Index: {1} {2} {3} {4}, with distance of {5}:'
            #  .format(i,  
            #          df_train.index[indices.flatten()[i]],
            #          df_train.loc[indices.flatten()[i],['customer_id']], 
            #          df_train.loc[indices.flatten()[i],['article_id']], 
            #          df_train.loc[indices.flatten()[i],['product_code']], 
            #          distances.flatten()[i]))
            customer_list.append(df_train.loc[indices.flatten()[i],'customer_id'])
            article_list.append(df_train.loc[indices.flatten()[i],'article_id'])
        
    df_neighbourhood = pd.DataFrame({'customer_id': customer_list, 'article_id': article_list})
    del customer_list, article_list
    
    return df_neighbourhood

#### Find Top Selling Products in 'Neighbourhood' for a Customer

In [78]:
# Function to return Top 12 Articles Purchased by the Customer 'Neighbourhood'
def get_Top12_Articles_from_CustNNs(df, num_of_articles):
    
    print('get_Top12_Articles_from_CustNNs')
    
    # Finding number of times a particular item is purchased by customers in the neighbourhood
    temp = df.groupby(['article_id'])['customer_id'].agg('count').reset_index() 
    temp.columns = ['article_id','count']
    
    # Sort the articles by the number of time purchased by the 'neighbourhood' customers
    temp = temp.sort_values('count', ascending=False)
    
    # Temp Print out of Article Id List
    print(temp)
    
    # Select the Top 12 - if there are duplicate just select the first entry
    temp = temp.nlargest(num_of_articles,'count', keep='first')
    
    # Isolate the Article Ids
    temp = temp['article_id']
    
    # Convert to dataframe and reset index
    df_article_list = pd.DataFrame({'article_id': temp})
    df_article_list = df_article_list.reset_index(drop=True)
    
    
    # Return the list of Top 12 articles
    return df_article_list

#### Invoke Function to Build KNN Model

In [79]:
# Reset Training dataframe index - remove old one; this allows for extraction of correct index records
# returned by the NearestNeighbors function
train.reset_index(drop=True,inplace=True)

In [80]:
# Call function to set up NN learner
hm_model_knn, df_cust_articles_nn = setup_NN_model(train, NN_metric = 'cosine', NN_algo = 'brute')

######

######

######

## Build Submission

#### The solution file to have 1371980 prediction rows - use Sample Submission to construct  <a class="tocSkip">

### Read Sample Submission File

In [81]:
# Read in Sample Submission File
df_sub  = pd.read_csv('../input/sample_submission.csv',
                            #usecols= ['customer_id'], 
                            dtype={'customer_id': 'string'})

#### Record record size of file for later validation.  <a class="tocSkip">

In [82]:
numCustomers = df_sub.shape[0]

### Define Function to read Customer IDs from Submission File

In [83]:
# Function to return Customer Ids from sample submission file in sequence
def get_next_SubmissionCustomer(df_full_cust_sub, idx):
    
    print('get_next_SubmissionCustomer')
    
    # Temp code to build submission framework
    df_sub_sample = df_full_cust_sub.sample(frac=0.001, replace=False)  
    
    # Get Customer Id from Sample Sub
    cust_id       = df_sub_sample.iloc[idx,0]
    display(cust_id)
    
    df_cust_id = df_sub_sample.head(idx+1)
    df_cust_id = df_cust_id.drop(['prediction'], axis = 1)
    
    
    
    # Return index of customer id in training dataframe and the customer id itself
    return df_cust_id, cust_id

### Extract Customer IDs from Submission File and Find Article Predictions

#### Define Function to Obtain Customer Transactions

In [84]:
def find_latest_CustomerTrxn(rec):
    
    # Get Next Customer Id from Submission Table
    df_one_cust, cust_id = get_next_SubmissionCustomer(df_sub, rec)
    
    # Display code - for Debugging predictions
    print('Generate Artcile Predictions for Customer ' + str(rec+1) +' : '+  cust_id)
    display(df_one_cust)
    
    # Merge Customer atributes from the Customer dataset based on a join with the 'customer_id' field
    df_SubCust_Trxn = pd.merge(df_one_cust, df_trxns, how="left", on=["customer_id"])
    
    # Confirm dimensions of Trxn (sample) dataframe AFTER merging with Customer data
    print('df_SubCust_Trxn.shape[0]')
    display(df_SubCust_Trxn.shape[0])
    
    # On rare occassion that a customer has no transactions - create a dummy records to avoid a failure
    if df_SubCust_Trxn.shape[0] == 0:
        print('NO Transactions!')
        # Create dummy dataframe
        df_Dummy = pd.DataFrame([[cust_id,
                '2016-10-25',
                 651329001,
                 0.021593,
                 1]], columns=['customer_id','t_dat','article_id','price','sales_channel_id'])
        # Stack the DataFrames on top of each other
        df_SubCust_Trxn = pd.concat([df_SubCust_Trxn, df_Dummy], axis=0)
        df_SubCust_Trxn.reset_index(drop=True, inplace=True)
    
    # Display code - for Debugging predictions
    display(df_SubCust_Trxn)
    
    # Use last transaction
    df_SubCust_Trxn1 = df_SubCust_Trxn.sort_values(by=['t_dat'], ascending=False).head(1)
    
    # Display code - for Debugging predictions
    print('Pick the latest transaction by the customer')
    display(df_SubCust_Trxn1)
    
    
    return df_SubCust_Trxn1, cust_id

#### Define Function to Obtain Customer Features

In [85]:
def find_latest_CustomerAttrs(df):
    
    #df_SubCust_Trxn1
    print('Before merge...')
    display(df)
    
    # Merge Customer atributes from the Customer dataset based on a join with the 'customer_id' field
    df = pd.merge(df, df_customers, how="left", on=["customer_id"])
    
    #df_SubCust_Trxn1 - for Debugging
    print('After merge...')
    display(df)
    
    # Filter out other Customer specific attributes apart from; age + fashion_news_frequency + club_member_status + postal code
    # There are very many missing values in the other Customer dataset columns, so these will be ignored
    df = df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10]]
    
    
    #df_SubCust_Trxn1 - for Debugging
    print('After removing columns...')
    display(df)
    
    
    return df

#### Define Function to Obtain Article Features

In [86]:
def find_latest_ArticleAttrs(df):
    
    # Merge Articles atributes from the Articles dataset based on a join with the 'article_id' field
    df = pd.merge(df, df_Articles, how="left", on=["article_id"])
    
    #df_SubCust_Trxn1 - for Debugging
    print('After merge...')
    display(df)
    
    # Remove 'redundant' categorical columns from Articles (sample) dataframe
    # Consider a categorical column Redundant when is 'partnered' with a numerical code 
    df.drop(["prod_name", 
             "product_type_name", 
             "graphical_appearance_name",
             "colour_group_name",
             "perceived_colour_value_name",
             "perceived_colour_master_name",
             "department_name",
             "index_name",
             "index_group_name",
             "section_name",
             "garment_group_name",
             "detail_desc"], axis=1, inplace=True)
    
    # Encode Categorical Values
    for column_name in article_cols_to_encode:
        df = encode_Categor_Features(df, column_name)
        
    #df_SubCust_Trxn1 - for Debugging
    print('After encoding...')
    display(df.head())
    
    # NOT NEEDED!
    # for data_types in scale_dtypes:
    #    scale_trainset_features(df_SubCust_Trxn1, data_types, no_scale)
    
    
    return df

#### Define Function to Obtain Article Predictions

In [87]:
def get_ArticlePredictions(knn_mdl, df, iNum_of_neighbours, TopN):
        
    # Call function to find nearest neighbour Customer Ids and Article Ids
    # Pass in index, parameters for Nearest Neighbour function, and the number of neighbours to retrun
    df_neighbours = get_CustSub_NeighbourIDs_articles(knn_mdl, df, train, iNum_of_neighbours)
    
    # Call function to return list of the most popular Articles in terms of the 
    # purchases made by the customers neighbourhood
    df_cust_preds = get_Top12_Articles_from_CustNNs(df_neighbours, TopN)
    
    # Print for Debugging
    print('Show Article predictions...')
    display(df_cust_preds)
    
    return df_cust_preds

#### Define Functions to Parse Article Predictions for Kaggle Submission

In [88]:
# Function to return Article Id Predictions in String format required for Kaggle competition
def get_str_Article_Predictions(df):
    
    article_pred = df['article_id'].values.tolist()
    
    article_pred = ['0' + str(article_id) for article_id in article_pred]
    article_pred_str =  ' '.join(article_pred)
    
    str_article_preds = article_pred_str
    
    return str_article_preds

In [89]:
# Function to Build up dataframe for submission
def build_up_submission_df(cust, str_preds):
    
    str = cust + ' ' + str_preds
    print(str)   
    
    # List1 
    lst = [[cust, str_preds]]    
    df = pd.DataFrame(lst, columns =['customer_id', 'prediction'])
    final_df =df
    
    
    return final_df

#### Iterate Through Submission File to Generate Article Predictions

In [90]:
# Creating an empty Dataframe with column names only - will be filled with each Customer and their set of predictions
df_Submission_Stack = pd.DataFrame(columns=['customer_id', 'prediction'])

In [ ]:
# Set up loop based on Submission file size
customer_records = 10000


# Generate article predictions for each customer write to a new submission file
for cust_rec in range(0, customer_records):
    
    print('cust_rec is... ' + str(cust_rec) +'\n')
    
    df_SubCust_Trxn1, cust_id  = find_latest_CustomerTrxn(cust_rec)
    
    df_SubCust_Trxn1  = find_latest_CustomerAttrs(df_SubCust_Trxn1)
    
    df_SubCust_Trxn1  = find_latest_ArticleAttrs(df_SubCust_Trxn1)
    
    df_CustNNVectors  = df_SubCust_Trxn1[chk_cols]
    
    display(df_CustNNVectors.iloc[0].values.reshape(1, -1))
    
    iNeighbours       = 500 # Number of Neighbours parameter for KNN model
    TopN              = 12  # Number of Artcile predictions to return
    df_cust_preds     = get_ArticlePredictions(hm_model_knn, df_CustNNVectors, iNeighbours, TopN)
    
    # Get a string output of Customer Article Predicitons - format as required for Kaggle competition
    str_articles_predictions = get_str_Article_Predictions(df_cust_preds)
    
    # Format Customer ID and list of Article predictions - add to dataframe to be used for CSV output
    df_NextCust_Preds = build_up_submission_df(cust_id, str_articles_predictions)
    
    print('display(df_Submission_Stack)...')
    display(df_Submission_Stack)
    print('display(df_NextCust_Preds)...')
    display(df_NextCust_Preds)
    
    
    # Stack the DataFrames on top of each other
    df_Submission_Stack = pd.concat([df_Submission_Stack, df_NextCust_Preds], axis=0)
    
    print('display(df_Submission_Stack)...')
    display(df_Submission_Stack)

cust_rec is... 0

get_next_SubmissionCustomer

'40c7fa41e20e03887154f8f9eaab817a18722a56d8652b051975e98367da9dff'

Generate Artcile Predictions for Customer 1 : 40c7fa41e20e03887154f8f9eaab817a18722a56d8652b051975e98367da9dff

                                              customer_id
346487  40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...

df_SubCust_Trxn.shape[0]

51

,customer_id,t_dat,article_id,price,sales_channel_id
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2018-09-26,399223001,0.033881,1
1,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2018-09-26,537688010,0.050831,1
2,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2018-09-26,676990002,0.050831,1
3,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2018-10-14,675827005,0.033881,1
4,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2018-11-10,636455008,0.050831,1
5,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2018-11-10,688873021,0.033881,1
6,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2018-11-10,561570001,0.033881,1
7,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2018-12-24,550309001,0.040237,1
8,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-02-25,698270001,0.033881,1
9,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-03-24,632982038,0.015797,2
10,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-03-24,697060014,0.023712,2
11,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-03-24,610776002,0.007898,2
12,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-03-24,380609037,0.023712,2
13,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-03-27,399223035,0.033881,1
14,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-04-10,690933003,0.033881,1
15,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-04-17,536139034,0.016932,1
16,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-04-17,610776028,0.008458,1
17,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-04-17,708459003,0.016932,1
18,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-05-27,697060016,0.023712,2
19,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-05-27,708459004,0.015797,2
20,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-05-27,380609001,0.023712,2
21,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-05-27,752512006,0.031627,2
22,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-05-31,664319005,0.022864,1
23,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-06-01,664319011,0.022864,1
24,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-06-01,705734001,0.033881,1
25,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-06-03,514577007,0.016932,2
26,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-06-03,722439001,0.033881,2
27,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-06-03,752512006,0.033881,2
28,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-06-22,718716001,0.022017,1
29,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-07-25,623820001,0.006763,1
30,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-07-25,786176001,0.077949,1
31,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-07-25,750062001,0.052525,1
32,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-09-28,802147001,0.027102,1
33,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-09-28,753692001,0.010847,1
34,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-09-28,786336003,0.033881,1
35,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-10-05,693243019,0.033881,1
36,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-10-25,693242012,0.033881,1
37,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-11-19,536139046,0.013542,1
38,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2019-11-19,316441001,0.013542,1
39,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-05-01,850241006,0.019814,2
40,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-05-01,612800018,0.030492,2
41,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-05-01,832465002,0.022864,2
42,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-05-13,399223001,0.033881,1
43,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-05-17,850241006,0.025407,2
44,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-05-17,855769003,0.033881,2
45,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-05-17,868956003,0.025407,2
46,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-05-22,243937028,0.016932,1
47,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-08-29,914441005,0.033881,1
48,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-08-29,243937028,0.016932,1
49,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-08-29,573085028,0.033881,1
50,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-09-06,914441005,0.033881,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
50,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-09-06,914441005,0.033881,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
50,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-09-06,914441005,0.033881,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-09-06,914441005,0.033881,1,1.0,1.0,ACTIVE,Regularly,60.0,44756bd6845f93ebfcd4730b5bf8109253b16e5d8bf100...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-09-06,914441005,0.033881,1,ACTIVE,Regularly,60.0,44756bd6845f93ebfcd4730b5bf8109253b16e5d8bf100...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-09-06,914441005,0.033881,1,ACTIVE,Regularly,60.0,44756bd6845f93ebfcd4730b5bf8109253b16e5d8bf100...,914441,...,Denim Trousers,D,Divided,2,Divided,57,Ladies Denim,1016,Trousers Denim,"Ankle-length jeggings in soft, stretch denim w..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,D
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,2020-09-06,914441005,0.033881,1,ACTIVE,Regularly,60.0,44756bd6845f93ebfcd4730b5bf8109253b16e5d8bf100...,914441,...,1010023,73,2,2,1772,2,57,1016,1,1

array([[ 914441,     272, 1010023,      73,       2,       2,    1772,
              2,      57,    1016]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

40c7fa41e20e03887154f8f9eaab817a18722a56d8652b051975e98367da9dff 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

Empty DataFrame
Columns: [customer_id, prediction]
Index: []

display(df_NextCust_Preds)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 1

get_next_SubmissionCustomer

'78ea494527686400dd23118a0aa3f9f460e3f17aec02c191cf4cef50a119ea86'

Generate Artcile Predictions for Customer 2 : 78ea494527686400dd23118a0aa3f9f460e3f17aec02c191cf4cef50a119ea86

                                               customer_id
1268086  eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...
647841   78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...

df_SubCust_Trxn.shape[0]

53

,customer_id,t_dat,article_id,price,sales_channel_id
0,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-09-24,529008026,0.025407,2
1,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-09-24,529008026,0.025407,2
2,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-10-07,573085028,0.033881,2
3,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-10-19,692167001,0.076254,2
4,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-10-19,704032002,0.067780,2
5,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-10-28,511783004,0.025407,2
6,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-10-28,518166001,0.042356,2
7,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-10-28,562245001,0.033881,2
8,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-10-28,677902001,0.030492,2
9,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-10-28,673260005,0.033881,2
10,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-11-04,719071001,0.022017,2
11,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-11-04,736015001,0.022017,2
12,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-11-04,736010001,0.013542,2
13,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-11-04,589222001,0.033881,2
14,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-11-10,662658001,0.050831,2
15,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2018-11-10,643985004,0.025407,2
16,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-03-31,706016001,0.033881,2
17,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-04-02,562245046,0.033881,2
18,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-04-05,652924004,0.042356,2
19,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-04-05,711582001,0.013542,2
20,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-04-08,711582001,0.013542,2
21,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-04-26,738899004,0.067780,2
22,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-05-24,723372001,0.016932,2
23,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-05-24,729136001,0.030492,2
24,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-06-15,751585003,0.016932,2
25,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-10-20,773170011,0.025407,2
26,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-10-21,811905001,0.016932,2
27,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-10-21,797739001,0.032186,2
28,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-10-21,791837005,0.016932,2
29,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-10-30,791837008,0.016932,2
30,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-10-30,791837001,0.016932,2
31,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-11-06,796137007,0.030492,2
32,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2019-12-02,618800009,0.033881,2
33,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-02-25,569984020,0.016932,2
34,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-03-20,814762001,0.033881,2
35,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-04-07,814762002,0.033881,2
36,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-04-18,795440003,0.025407,2
37,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-05-09,814762002,0.033881,2
38,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-05-09,814762003,0.033881,2
39,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-05-31,814762001,0.033881,2
40,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-05-31,854356006,0.022017,2
41,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-06-06,814762002,0.033881,2
42,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-06-06,814762001,0.033881,2
43,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-07,866383008,0.025407,2
44,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-10,590928001,0.030492,2
45,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-22,901733001,0.050831,2
46,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-22,903049003,0.067780,2
47,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-28,866383006,0.025407,2
48,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,2020-05-23,688537011,0.016932,2
49,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,2020-05-23,684209013,0.025407,2
50,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,2020-06-12,684209013,0.025407,2
51,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,2020-06-12,914351003,0.016932,2
52,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,2020-06-12,914351003,0.016932,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
47,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-28,866383006,0.025407,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
47,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-28,866383006,0.025407,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-28,866383006,0.025407,2,NaN,NaN,ACTIVE,NONE,24.0,63e9e5290ac4576c8c634ac526425ca0b32486d1332486...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-28,866383006,0.025407,2,ACTIVE,NONE,24.0,63e9e5290ac4576c8c634ac526425ca0b32486d1332486...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-28,866383006,0.025407,2,ACTIVE,NONE,24.0,63e9e5290ac4576c8c634ac526425ca0b32486d1332486...,866383,...,Swimwear,B,Lingeries/Tights,1,Ladieswear,60,"Womens Swimwear, beachwear",1018,Swimwear,Lined bikini top with padded cups for a larger...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Swimwear,B
0,eca5c730bd77a2238fb2d489a1459fcabfe5bd4bff3a43...,2020-07-28,866383006,0.025407,2,ACTIVE,NONE,24.0,63e9e5290ac4576c8c634ac526425ca0b32486d1332486...,866383,...,1010016,9,4,5,4242,1,60,1018,1,1

array([[ 866383,     298, 1010016,       9,       4,       5,    4242,
              1,      60,    1018]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
18   924243001     74
1    821152004     59
0    819547001     51
19   929165002     46
2    827370002     46
3    830016002     42
6    893059003     34
13   915529005     34
5    853089002     32
16   918525001     30
7    895993006     23
8    898918007      6
17   918603001      6
10   909802001      5
9    909801001      4
4    844971002      2
11   909955001      2
12   915092002      1
14   917509002      1
15   917766001      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    827370002
5    830016002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

78ea494527686400dd23118a0aa3f9f460e3f17aec02c191cf4cef50a119ea86 0924243001 0821152004 0819547001 0929165002 0827370002 0830016002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 2

get_next_SubmissionCustomer

'b42e69778495e6fd3a20510ef3dc130caaff2341d7da9cfb5ffc3439e63ea91f'

Generate Artcile Predictions for Customer 3 : b42e69778495e6fd3a20510ef3dc130caaff2341d7da9cfb5ffc3439e63ea91f

                                              customer_id
560551  689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...
208394  26e01c51f1ee3b0743a7ede0ded4055ff5e405829ce6d1...
965741  b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...

df_SubCust_Trxn.shape[0]

136

,customer_id,t_dat,article_id,price,sales_channel_id
0,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2018-09-28,625819002,0.020322,1
1,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2018-09-28,634320006,0.024390,1
2,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2018-09-28,634320006,0.030492,1
3,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2018-09-28,511783002,0.020339,1
4,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2018-09-28,511783002,0.025407,1
...,...,...,...,...,...
131,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,2019-08-23,774503001,0.025407,2
132,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,2019-08-23,749415002,0.025407,2
133,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,2019-08-23,757613001,0.008458,2
134,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,2019-09-14,715255007,0.025407,1
135,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,2019-10-03,695632002,0.027102,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
115,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2020-09-05,828934001,0.015153,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
115,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2020-09-05,828934001,0.015153,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2020-09-05,828934001,0.015153,1,NaN,NaN,ACTIVE,NONE,28.0,8786fbcc97c6fb737934e64aa8c2c91abf89a9eb7efa5d...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2020-09-05,828934001,0.015153,1,ACTIVE,NONE,28.0,8786fbcc97c6fb737934e64aa8c2c91abf89a9eb7efa5d...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2020-09-05,828934001,0.015153,1,ACTIVE,NONE,28.0,8786fbcc97c6fb737934e64aa8c2c91abf89a9eb7efa5d...,828934,...,Jersey fancy,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1005,Jersey Fancy,Top in textured jersey with a tie detail at th...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,689bd0ce4747535d7bf5de676145a9cc9d2879ed6fe96a...,2020-09-05,828934001,0.015153,1,ACTIVE,NONE,28.0,8786fbcc97c6fb737934e64aa8c2c91abf89a9eb7efa5d...,828934,...,1010016,9,4,5,1636,1,15,1005,1,1

array([[ 828934,     252, 1010016,       9,       4,       5,    1636,
              1,      15,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
3    827370002     86
2    826492006     74
1    821152004     59
0    819547001     51
16   929165002     46
4    830016002     42
7    893059003     34
6    853089002     32
15   924243001     31
8    895993006     23
9    898918007      6
11   909802001      5
10   909801001      4
5    844971002      2
12   909955001      2
13   915092002      1
14   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    929165002
5    830016002
6    893059003
7    853089002
8    924243001
9    895993006
10   898918007
11   909802001

b42e69778495e6fd3a20510ef3dc130caaff2341d7da9cfb5ffc3439e63ea91f 0827370002 0826492006 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0924243001 0895993006 0898918007 0909802001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...

cust_rec is... 3

get_next_SubmissionCustomer

'd4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8faa107ae32ed5712361b'

Generate Artcile Predictions for Customer 4 : d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8faa107ae32ed5712361b

                                               customer_id
1055064  c4e8abebd29893755b6afcb21d0fe13dea23b7928b6581...
330697   3dd5fcb2e18cdf96b57f2093f6e15d873f9e818ee7b017...
73665    0dc0bb6e2e2b35f03342c1facdd5b92cba51f83c43d887...
1140532  d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...

df_SubCust_Trxn.shape[0]

82

,customer_id,t_dat,article_id,price,sales_channel_id
0,c4e8abebd29893755b6afcb21d0fe13dea23b7928b6581...,2020-07-03,857812004,0.025407,2
1,3dd5fcb2e18cdf96b57f2093f6e15d873f9e818ee7b017...,2020-04-11,470789030,0.016932,2
2,3dd5fcb2e18cdf96b57f2093f6e15d873f9e818ee7b017...,2020-04-11,865142001,0.022017,2
3,3dd5fcb2e18cdf96b57f2093f6e15d873f9e818ee7b017...,2020-04-11,756320022,0.033881,2
4,3dd5fcb2e18cdf96b57f2093f6e15d873f9e818ee7b017...,2020-04-11,854043001,0.030492,2
...,...,...,...,...,...
77,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,930380001,0.033881,2
78,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,871638001,0.010153,2
79,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,871638001,0.010153,2
80,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,896198002,0.042356,2
81,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,881570005,0.042356,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
81,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,881570005,0.042356,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
81,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,881570005,0.042356,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,881570005,0.042356,2,1.0,1.0,ACTIVE,Regularly,41.0,892a4d6c7a5e0453cfd5da65cff08f41ecd2751827b00e...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,881570005,0.042356,2,ACTIVE,Regularly,41.0,892a4d6c7a5e0453cfd5da65cff08f41ecd2751827b00e...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,881570005,0.042356,2,ACTIVE,Regularly,41.0,892a4d6c7a5e0453cfd5da65cff08f41ecd2751827b00e...,881570,...,Blouse,A,Ladieswear,1,Ladieswear,6,Womens Casual,1010,Blouses,Shirt in soft denim with a gently tapered wais...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,2020-09-22,881570005,0.042356,2,ACTIVE,Regularly,41.0,892a4d6c7a5e0453cfd5da65cff08f41ecd2751827b00e...,881570,...,1010023,9,4,5,1510,1,6,1010,1,1

array([[ 881570,     258, 1010023,       9,       4,       5,    1510,
              1,       6,    1010]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
19   924243001     74
1    821152004     59
0    819547001     51
20   929165002     46
3    830016002     42
2    827370002     42
6    893059003     34
14   915529005     34
5    853089002     32
17   918525001     30
7    895993006     23
9    898918007      6
18   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
4    844971002      2
12   909955001      2
16   917766001      1
15   917509002      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    827370002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8faa107ae32ed5712361b 0924243001 0821152004 0819547001 0929165002 0830016002 0827370002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...

display(df_NextCust_Preds)...

,customer_id,prediction
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 4

get_next_SubmissionCustomer

'adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de475707ed8da586fbaba0892'

Generate Artcile Predictions for Customer 5 : adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de475707ed8da586fbaba0892

                                              customer_id
719635  8652d8dd27d6c32dd199c07a942907ccc2dfb88d045f04...
599812  6fe9ddd399f147a9edb49f5c5a5fc079fabf95283ced10...
756195  8d26d678ba7ec8204ef68d6655b03cf8b3c050a921a12e...
291093  365af4e0df8b9da4ef0ee89e5d2959542ed317451c88be...
932598  adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...

df_SubCust_Trxn.shape[0]

139

,customer_id,t_dat,article_id,price,sales_channel_id
0,8652d8dd27d6c32dd199c07a942907ccc2dfb88d045f04...,2018-09-25,369796004,0.008458,2
1,8652d8dd27d6c32dd199c07a942907ccc2dfb88d045f04...,2018-10-03,603584003,0.016932,2
2,8652d8dd27d6c32dd199c07a942907ccc2dfb88d045f04...,2018-10-03,603585003,0.016932,2
3,8652d8dd27d6c32dd199c07a942907ccc2dfb88d045f04...,2019-01-02,562251007,0.015237,2
4,8652d8dd27d6c32dd199c07a942907ccc2dfb88d045f04...,2019-01-07,713602002,0.025407,2
...,...,...,...,...,...
134,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,2019-12-30,694676003,0.006763,2
135,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,2020-07-02,827687001,0.025407,2
136,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,2020-07-02,640021017,0.050831,2
137,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,2020-07-02,806694002,0.015237,2
138,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,2020-07-02,448509014,0.042356,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
93,365af4e0df8b9da4ef0ee89e5d2959542ed317451c88be...,2020-09-18,904422001,0.050831,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
93,365af4e0df8b9da4ef0ee89e5d2959542ed317451c88be...,2020-09-18,904422001,0.050831,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,365af4e0df8b9da4ef0ee89e5d2959542ed317451c88be...,2020-09-18,904422001,0.050831,2,NaN,NaN,ACTIVE,NONE,27.0,08c72000b05ddba9d77487ec65b18b31c9eb0badd01f37...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,365af4e0df8b9da4ef0ee89e5d2959542ed317451c88be...,2020-09-18,904422001,0.050831,2,ACTIVE,NONE,27.0,08c72000b05ddba9d77487ec65b18b31c9eb0badd01f37...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,365af4e0df8b9da4ef0ee89e5d2959542ed317451c88be...,2020-09-18,904422001,0.050831,2,ACTIVE,NONE,27.0,08c72000b05ddba9d77487ec65b18b31c9eb0badd01f37...,904422,...,Jersey fancy,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1005,Jersey Fancy,Shirt jacket in soft faux shearling with a col...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,365af4e0df8b9da4ef0ee89e5d2959542ed317451c88be...,2020-09-18,904422001,0.050831,2,ACTIVE,NONE,27.0,08c72000b05ddba9d77487ec65b18b31c9eb0badd01f37...,904422,...,1010016,13,1,1,1636,1,15,1005,1,1

array([[ 904422,     262, 1010016,      13,       1,       1,    1636,
              1,      15,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de475707ed8da586fbaba0892 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 5

get_next_SubmissionCustomer

'c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9ac2f37c86d166b2bd74'

Generate Artcile Predictions for Customer 6 : c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9ac2f37c86d166b2bd74

                                               customer_id
1222139  e40cdda0a02274793a3899b08d01a27799ef32ce6773d7...
686516   802a674a908aa7e97f5308bf7f8a3f06105cdfb1b0be90...
1258753  eaeced2b7b0b62a88728b962388ffc4616ce69a141f9e5...
1286500  f01a2c38038784ce34feb3904a6f11d076aff9241af4b5...
240186   2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...
1062543  c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...

df_SubCust_Trxn.shape[0]

64

,customer_id,t_dat,article_id,price,sales_channel_id
0,e40cdda0a02274793a3899b08d01a27799ef32ce6773d7...,2019-10-15,714582002,0.015237,2
1,e40cdda0a02274793a3899b08d01a27799ef32ce6773d7...,2019-10-15,768465005,0.017136,2
2,802a674a908aa7e97f5308bf7f8a3f06105cdfb1b0be90...,2019-01-06,568597006,0.042356,1
3,802a674a908aa7e97f5308bf7f8a3f06105cdfb1b0be90...,2019-02-11,568597007,0.042356,1
4,802a674a908aa7e97f5308bf7f8a3f06105cdfb1b0be90...,2019-02-11,673643001,0.030492,1
...,...,...,...,...,...
59,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-05-24,372860001,0.013542,2
60,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-05-24,575347003,0.013542,2
61,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-08-16,865092001,0.033881,2
62,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-08-16,804659003,0.015237,2
63,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,2018-09-27,686265001,0.016932,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
62,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-08-16,804659003,0.015237,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
62,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-08-16,804659003,0.015237,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-08-16,804659003,0.015237,2,NaN,NaN,ACTIVE,NONE,32.0,3ceeff7cf221af596c48015edc8fccc088897a9797e73d...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-08-16,804659003,0.015237,2,ACTIVE,NONE,32.0,3ceeff7cf221af596c48015edc8fccc088897a9797e73d...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-08-16,804659003,0.015237,2,ACTIVE,NONE,32.0,3ceeff7cf221af596c48015edc8fccc088897a9797e73d...,804659,...,Jersey,A,Ladieswear,1,Ladieswear,8,Mama,1005,Jersey Fancy,V-neck blouse in soft patterned jersey with a ...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,2cd41e4a1787af5ab11ee6c24591efffb15a2802142eae...,2020-08-16,804659003,0.015237,2,ACTIVE,NONE,32.0,3ceeff7cf221af596c48015edc8fccc088897a9797e73d...,804659,...,1010001,12,1,11,2032,1,8,1005,1,1

array([[ 804659,     254, 1010001,      12,       1,      11,    2032,
              1,       8,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
3    827370002     86
2    826492006     74
1    821152004     59
0    819547001     51
16   929165002     46
4    830016002     42
7    893059003     34
6    853089002     32
15   924243001     31
8    895993006     23
9    898918007      6
11   909802001      5
10   909801001      4
5    844971002      2
12   909955001      2
13   915092002      1
14   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    929165002
5    830016002
6    893059003
7    853089002
8    924243001
9    895993006
10   898918007
11   909802001

c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9ac2f37c86d166b2bd74 0827370002 0826492006 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0924243001 0895993006 0898918007 0909802001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...

cust_rec is... 6

get_next_SubmissionCustomer

'1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b6d1f08097413ed59f7'

Generate Artcile Predictions for Customer 7 : 1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b6d1f08097413ed59f7

                                               customer_id
1261487  eb6ce12f31c02c2c6a24f446eaee0da60e234f21eabbdb...
22832    0449ef684960df3aa8d32fe585fd6cfd155656d36c7e3a...
1244960  e85752161f1e4ab2181fa5d44dc55cc48197265684e92e...
1236561  e6c590fce14ef2b182a60e9046537bb12da27ff8b0f513...
1224167  e470ebfd4c065aa42a7aa9e90bf925bfb6842d69d15b10...
1309097  f44a56265afc062a0c683c18d28dd4a64b5133a5be1470...
169510   1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...

df_SubCust_Trxn.shape[0]

155

,customer_id,t_dat,article_id,price,sales_channel_id
0,eb6ce12f31c02c2c6a24f446eaee0da60e234f21eabbdb...,2019-08-11,766915004,0.016932,2
1,eb6ce12f31c02c2c6a24f446eaee0da60e234f21eabbdb...,2019-08-11,766915004,0.016932,2
2,eb6ce12f31c02c2c6a24f446eaee0da60e234f21eabbdb...,2019-08-11,680119005,0.025407,2
3,eb6ce12f31c02c2c6a24f446eaee0da60e234f21eabbdb...,2019-08-11,680119005,0.025407,2
4,eb6ce12f31c02c2c6a24f446eaee0da60e234f21eabbdb...,2019-08-11,693577002,0.030492,2
...,...,...,...,...,...
150,e470ebfd4c065aa42a7aa9e90bf925bfb6842d69d15b10...,2020-08-05,511105002,0.022017,1
151,f44a56265afc062a0c683c18d28dd4a64b5133a5be1470...,2018-12-18,517921005,0.050831,2
152,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,2019-11-18,701134017,0.003034,1
153,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,2019-11-18,788651002,0.045746,1
154,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,2019-11-18,783707012,0.003051,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
81,0449ef684960df3aa8d32fe585fd6cfd155656d36c7e3a...,2020-09-20,868195004,0.025407,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
81,0449ef684960df3aa8d32fe585fd6cfd155656d36c7e3a...,2020-09-20,868195004,0.025407,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,0449ef684960df3aa8d32fe585fd6cfd155656d36c7e3a...,2020-09-20,868195004,0.025407,2,NaN,NaN,ACTIVE,NONE,25.0,acad26b49202f1d5dce00628444d6bbcce8fa127047559...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,0449ef684960df3aa8d32fe585fd6cfd155656d36c7e3a...,2020-09-20,868195004,0.025407,2,ACTIVE,NONE,25.0,acad26b49202f1d5dce00628444d6bbcce8fa127047559...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,0449ef684960df3aa8d32fe585fd6cfd155656d36c7e3a...,2020-09-20,868195004,0.025407,2,ACTIVE,NONE,25.0,acad26b49202f1d5dce00628444d6bbcce8fa127047559...,868195,...,Ladies Sport Bras,S,Sport,26,Sport,5,Ladies H&M Sport,1005,Jersey Fancy,Sports top in fast-drying functional fabric wi...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,S
0,0449ef684960df3aa8d32fe585fd6cfd155656d36c7e3a...,2020-09-20,868195004,0.025407,2,ACTIVE,NONE,25.0,acad26b49202f1d5dce00628444d6bbcce8fa127047559...,868195,...,1010010,52,1,4,8316,26,5,1005,1,1

array([[ 868195,     255, 1010010,      52,       1,       4,    8316,
             26,       5,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
18   924243001     74
1    821152004     59
0    819547001     51
19   929165002     46
2    827370002     46
3    830016002     42
6    893059003     34
13   915529005     34
5    853089002     32
16   918525001     30
7    895993006     23
8    898918007      6
17   918603001      6
10   909802001      5
9    909801001      4
4    844971002      2
11   909955001      2
12   915092002      1
14   917509002      1
15   917766001      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    827370002
5    830016002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b6d1f08097413ed59f7 0924243001 0821152004 0819547001 0929165002 0827370002 0830016002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...

display(df_NextCust_Preds)...

,customer_id,prediction
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 7

get_next_SubmissionCustomer

'98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65299feee524924b8d10'

Generate Artcile Predictions for Customer 8 : 98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65299feee524924b8d10

                                               customer_id
300976   383e793822544b127d347df8cb0c13a08bd0cd86965bde...
339901   3f8fc63814345775f72098fe48f0978b986019aec1a978...
235476   2bf7b2774932f076f55179a6824f764c649c369319c1f9...
1089555  cb56b65dd1bbef9fcc4500a36a0fd0fe9f1c065b8e8d26...
1105551  ce4e048cd27aa33752dca51a6f7049c98962ea37e65f21...
837102   9c493d85aae93cc52e53519b9c62c70058dfc6506b6d54...
725289   87622edcf945a23ca64560e8e5a011fccf9e9e9054e384...
818168   98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...

df_SubCust_Trxn.shape[0]

160

,customer_id,t_dat,article_id,price,sales_channel_id
0,383e793822544b127d347df8cb0c13a08bd0cd86965bde...,2018-12-06,662260001,0.041525,2
1,383e793822544b127d347df8cb0c13a08bd0cd86965bde...,2019-01-13,732945002,0.030492,1
2,383e793822544b127d347df8cb0c13a08bd0cd86965bde...,2019-01-13,666041001,0.013542,1
3,383e793822544b127d347df8cb0c13a08bd0cd86965bde...,2019-01-13,666041002,0.013542,1
4,383e793822544b127d347df8cb0c13a08bd0cd86965bde...,2019-02-04,510018004,0.013542,2
...,...,...,...,...,...
155,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,2020-05-15,878013004,0.050831,2
156,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,2020-05-25,816938004,0.033881,1
157,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,2020-05-25,862325001,0.042356,1
158,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,2020-06-08,860705001,0.050831,1
159,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,2020-06-08,816521002,0.025407,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
123,87622edcf945a23ca64560e8e5a011fccf9e9e9054e384...,2020-08-27,857030003,0.084729,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
123,87622edcf945a23ca64560e8e5a011fccf9e9e9054e384...,2020-08-27,857030003,0.084729,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,87622edcf945a23ca64560e8e5a011fccf9e9e9054e384...,2020-08-27,857030003,0.084729,2,NaN,NaN,ACTIVE,NONE,23.0,5809b32d84c46cc239f846eb15c04494e501e4a6ec82de...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,87622edcf945a23ca64560e8e5a011fccf9e9e9054e384...,2020-08-27,857030003,0.084729,2,ACTIVE,NONE,23.0,5809b32d84c46cc239f846eb15c04494e501e4a6ec82de...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,87622edcf945a23ca64560e8e5a011fccf9e9e9054e384...,2020-08-27,857030003,0.084729,2,ACTIVE,NONE,23.0,5809b32d84c46cc239f846eb15c04494e501e4a6ec82de...,857030,...,OL Extended Sizes,A,Ladieswear,1,Ladieswear,57,Ladies Denim,1016,Trousers Denim,"5-pocket, ankle-length jeans in washed, stretc..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,A
0,87622edcf945a23ca64560e8e5a011fccf9e9e9054e384...,2020-08-27,857030003,0.084729,2,ACTIVE,NONE,23.0,5809b32d84c46cc239f846eb15c04494e501e4a6ec82de...,857030,...,1010023,73,4,2,1774,1,57,1016,1,1

array([[ 857030,     272, 1010023,      73,       4,       2,    1774,
              1,      57,    1016]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
2    827370002     80
17   924243001     74
1    821152004     59
0    819547001     51
18   929165002     46
3    830016002     42
6    893059003     34
5    853089002     32
15   918525001     30
7    895993006     23
8    898918007      6
16   918603001      6
10   909802001      5
9    909801001      4
4    844971002      2
11   909955001      2
12   915092002      1
13   917509002      1
14   917766001      1
Show Article predictions...

    article_id
0    827370002
1    924243001
2    821152004
3    819547001
4    929165002
5    830016002
6    893059003
7    853089002
8    918525001
9    895993006
10   898918007
11   918603001

98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65299feee524924b8d10 0827370002 0924243001 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0918525001 0895993006 0898918007 0918603001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...

cust_rec is... 8

get_next_SubmissionCustomer

'14f3b93c713c56c35f667de3a7c7aa3d3798f4038c138124d5d5030e5b3d1fe9'

Generate Artcile Predictions for Customer 9 : 14f3b93c713c56c35f667de3a7c7aa3d3798f4038c138124d5d5030e5b3d1fe9

                                               customer_id
293621   36d6361b9016c560727acd7dd7ef6de60bac19afe758f5...
290724   3649cef5070021e88bf110f31936f3db83211cda0db37b...
1039463  c200680ead62b365177fb9bb1213bc8367e4d191d99631...
604530   70cc31fc8b6055221f072102bd0d274b563102ee86692a...
152776   1c799924dcc79340b791f08d8fa04efcf9359263764156...
1311267  f4adeea99c87c014b9d97c98554be3888ace94a899f2b7...
324414   3ca553e777193f6685061a227466e6f7225b6ff1d1f6a7...
678989   7ec5d1472e8068268972d2b57d93bf11ac2cf9d6785aec...
112411   14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...

df_SubCust_Trxn.shape[0]

357

,customer_id,t_dat,article_id,price,sales_channel_id
0,36d6361b9016c560727acd7dd7ef6de60bac19afe758f5...,2018-09-20,687821002,0.050831,2
1,36d6361b9016c560727acd7dd7ef6de60bac19afe758f5...,2018-09-20,676954001,0.050831,2
2,36d6361b9016c560727acd7dd7ef6de60bac19afe758f5...,2018-09-20,676954001,0.050831,2
3,36d6361b9016c560727acd7dd7ef6de60bac19afe758f5...,2018-09-20,669360001,0.067780,2
4,36d6361b9016c560727acd7dd7ef6de60bac19afe758f5...,2018-09-20,669360001,0.067780,2
...,...,...,...,...,...
352,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,2020-08-31,834924006,0.033881,2
353,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,2020-09-05,706271037,0.003729,1
354,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,2020-09-05,706271031,0.003712,1
355,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,2020-09-05,763988004,0.020983,1
356,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,2020-09-05,706271023,0.003729,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
298,70cc31fc8b6055221f072102bd0d274b563102ee86692a...,2020-09-11,892624003,0.030492,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
298,70cc31fc8b6055221f072102bd0d274b563102ee86692a...,2020-09-11,892624003,0.030492,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,70cc31fc8b6055221f072102bd0d274b563102ee86692a...,2020-09-11,892624003,0.030492,1,1.0,1.0,ACTIVE,Regularly,47.0,626868f641bebf70a0cf1273c0653e13a6b40de22ecb3a...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,70cc31fc8b6055221f072102bd0d274b563102ee86692a...,2020-09-11,892624003,0.030492,1,ACTIVE,Regularly,47.0,626868f641bebf70a0cf1273c0653e13a6b40de22ecb3a...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,70cc31fc8b6055221f072102bd0d274b563102ee86692a...,2020-09-11,892624003,0.030492,1,ACTIVE,Regularly,47.0,626868f641bebf70a0cf1273c0653e13a6b40de22ecb3a...,892624,...,Jersey fancy,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1005,Jersey Fancy,"Top in a soft, fine-knit viscose blend with a ..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,70cc31fc8b6055221f072102bd0d274b563102ee86692a...,2020-09-11,892624003,0.030492,1,ACTIVE,Regularly,47.0,626868f641bebf70a0cf1273c0653e13a6b40de22ecb3a...,892624,...,1010016,73,4,2,1636,1,15,1005,1,1

array([[ 892624,     252, 1010016,      73,       4,       2,    1636,
              1,      15,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
20   924243001     74
1    821152004     59
0    819547001     51
21   929165002     46
2    830016002     42
6    893141002     41
5    893059003     34
14   915529005     34
4    853089002     32
18   918525001     30
7    895993006     23
9    898918007      6
19   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

14f3b93c713c56c35f667de3a7c7aa3d3798f4038c138124d5d5030e5b3d1fe9 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...

display(df_NextCust_Preds)...

,customer_id,prediction
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 9

get_next_SubmissionCustomer

'9e23bd0420978d1c51c2de2ead051787466aaebe09b0835b91a7aba9c834cfe1'

Generate Artcile Predictions for Customer 10 : 9e23bd0420978d1c51c2de2ead051787466aaebe09b0835b91a7aba9c834cfe1

                                               customer_id
1100723  cd66c3cc1f93931d89b34e9fb4893b11322956b51f75b4...
24934    04ab1bca7705be163a7491ab834ed425c982263f2d8c18...
878677   a4013e1173b16cdde1ff61353e5ff017e697314ec0e68b...
770715   8fdf70fb8f2fba106e865ca4cabc9dd189cb4a2f1ab8d0...
271579   32b36135cf7b1f6d5706c0023c269badd51e4a35d76eb0...
1344854  faea4b2f20f78b7d658dff1f0f9467918bae1b549889fe...
566408   69b2afe2cc75ec5a69e3672cc4d38463ab3524b6e3dbfa...
819162   98ed9dd8b4c1016f644f14f7a961489118ba1261338489...
227866   2a8566b2c286e072223a2c0fbffb1303536d01ea9cf4a5...
847106   9e23bd0420978d1c51c2de2ead051787466aaebe09b083...

df_SubCust_Trxn.shape[0]

484

,customer_id,t_dat,article_id,price,sales_channel_id
0,cd66c3cc1f93931d89b34e9fb4893b11322956b51f75b4...,2018-09-25,650696002,0.042356,2
1,cd66c3cc1f93931d89b34e9fb4893b11322956b51f75b4...,2018-09-25,689899001,0.050831,2
2,cd66c3cc1f93931d89b34e9fb4893b11322956b51f75b4...,2018-09-25,574750001,0.023712,2
3,cd66c3cc1f93931d89b34e9fb4893b11322956b51f75b4...,2018-09-25,574750001,0.023712,2
4,cd66c3cc1f93931d89b34e9fb4893b11322956b51f75b4...,2018-09-25,592241007,0.013542,2
...,...,...,...,...,...
479,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,2020-05-24,879781003,0.016932,1
480,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,2020-05-24,795975009,0.011847,1
481,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,2020-07-17,710695001,0.011508,1
482,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,2020-07-17,902107001,0.036000,1
483,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,2020-08-27,903306001,0.016932,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
455,2a8566b2c286e072223a2c0fbffb1303536d01ea9cf4a5...,2020-09-20,911870004,0.033881,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
455,2a8566b2c286e072223a2c0fbffb1303536d01ea9cf4a5...,2020-09-20,911870004,0.033881,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2a8566b2c286e072223a2c0fbffb1303536d01ea9cf4a5...,2020-09-20,911870004,0.033881,1,1.0,1.0,ACTIVE,Regularly,24.0,66a1c64878ad4bf15c9a6328b849b0a974f84833f71680...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,2a8566b2c286e072223a2c0fbffb1303536d01ea9cf4a5...,2020-09-20,911870004,0.033881,1,ACTIVE,Regularly,24.0,66a1c64878ad4bf15c9a6328b849b0a974f84833f71680...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2a8566b2c286e072223a2c0fbffb1303536d01ea9cf4a5...,2020-09-20,911870004,0.033881,1,ACTIVE,Regularly,24.0,66a1c64878ad4bf15c9a6328b849b0a974f84833f71680...,911870,...,Knitwear,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,"Boxy-style jumper in a soft, fine knit contain..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,2a8566b2c286e072223a2c0fbffb1303536d01ea9cf4a5...,2020-09-20,911870004,0.033881,1,ACTIVE,Regularly,24.0,66a1c64878ad4bf15c9a6328b849b0a974f84833f71680...,911870,...,1010010,11,1,9,1626,1,15,1003,1,1

array([[ 911870,     252, 1010010,      11,       1,       9,    1626,
              1,      15,    1003]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

9e23bd0420978d1c51c2de2ead051787466aaebe09b0835b91a7aba9c834cfe1 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 10

get_next_SubmissionCustomer

'b91bae902cf58e82143972b7a6f6f330217a085d6da5606d82843afa726eff44'

Generate Artcile Predictions for Customer 11 : b91bae902cf58e82143972b7a6f6f330217a085d6da5606d82843afa726eff44

                                               customer_id
83999    0fb237f7694f1715039f304e6f913289dde3bf893618a8...
369633   45229c81e15f193d3651e1daf7e37a487854d9248c1a43...
1040463  c230c51747e4b010e83f10d072e2e970cab7f8b300eaf5...
661490   7b79ca1d617727dc1bfcf60834e006d089ecf81838c42b...
900570   a810eeebb462f9662acb980831d195c42f38aaa47cde78...
122185   16c53a149b09aaf44fda92d132b4770e17c87c7cd87e3b...
400687   4ae44e0db79ff02b8deba083fdce1d1fe405bc321332fc...
1034136  c1009e349728c1859b05895bb5f86875ceb8cbb2369dc7...
974767   b5dc7cfb45417d48f640874548ec1116cf72b0eb76a554...
61406    0b79d89acd31512ad5a46fd4dc0b86cb261fd724d21a2e...
992076   b91bae902cf58e82143972b7a6f6f330217a085d6da560...

df_SubCust_Trxn.shape[0]

285

,customer_id,t_dat,article_id,price,sales_channel_id
0,0fb237f7694f1715039f304e6f913289dde3bf893618a8...,2018-10-10,623434012,0.033881,1
1,0fb237f7694f1715039f304e6f913289dde3bf893618a8...,2018-10-10,571436009,0.013542,1
2,0fb237f7694f1715039f304e6f913289dde3bf893618a8...,2019-05-26,573716053,0.025407,1
3,0fb237f7694f1715039f304e6f913289dde3bf893618a8...,2019-05-26,632982059,0.016932,1
4,0fb237f7694f1715039f304e6f913289dde3bf893618a8...,2019-07-21,717464002,0.008458,1
...,...,...,...,...,...
280,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,2020-07-15,372860001,0.013542,1
281,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,2020-07-15,804916001,0.018186,1
282,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,2020-07-15,678942032,0.016932,1
283,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,2020-07-15,770315008,0.013983,1
284,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,2020-07-15,568601026,0.050831,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
150,7b79ca1d617727dc1bfcf60834e006d089ecf81838c42b...,2020-09-21,608945008,0.016932,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
150,7b79ca1d617727dc1bfcf60834e006d089ecf81838c42b...,2020-09-21,608945008,0.016932,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,7b79ca1d617727dc1bfcf60834e006d089ecf81838c42b...,2020-09-21,608945008,0.016932,1,1.0,1.0,ACTIVE,Regularly,23.0,ffb366d6491b4c80249f12170e4bd2a9a39c6a0f625ad6...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,7b79ca1d617727dc1bfcf60834e006d089ecf81838c42b...,2020-09-21,608945008,0.016932,1,ACTIVE,Regularly,23.0,ffb366d6491b4c80249f12170e4bd2a9a39c6a0f625ad6...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,7b79ca1d617727dc1bfcf60834e006d089ecf81838c42b...,2020-09-21,608945008,0.016932,1,ACTIVE,Regularly,23.0,ffb366d6491b4c80249f12170e4bd2a9a39c6a0f625ad6...,608945,...,Light Basic Jersey,F,Menswear,3,Menswear,26,Men Underwear,1002,Jersey Basic,Round-necked T-shirt in sturdy cotton jersey.

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,F
0,7b79ca1d617727dc1bfcf60834e006d089ecf81838c42b...,2020-09-21,608945008,0.016932,1,ACTIVE,Regularly,23.0,ffb366d6491b4c80249f12170e4bd2a9a39c6a0f625ad6...,608945,...,1010016,9,4,5,5832,3,26,1002,1,1

array([[ 608945,     255, 1010016,       9,       4,       5,    5832,
              3,      26,    1002]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
9    827370002     86
8    826492006     73
5    802023004     61
1    690611001     60
7    821152004     59
6    819547001     51
10   830016002     42
11   853089002     32
2    751585002     17
0    616732001      9
3    774543002      6
12   909955001      2
4    774552002      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    690611001
4    821152004
5    819547001
6    830016002
7    853089002
8    751585002
9    616732001
10   774543002
11   909955001

b91bae902cf58e82143972b7a6f6f330217a085d6da5606d82843afa726eff44 0827370002 0826492006 0802023004 0690611001 0821152004 0819547001 0830016002 0853089002 0751585002 0616732001 0774543002 0909955001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...

cust_rec is... 11

get_next_SubmissionCustomer

'e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76b75faff7795001d717'

Generate Artcile Predictions for Customer 12 : e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76b75faff7795001d717

                                               customer_id
69613    0d0185b1eab792f6119cc24c15955a788bc437044e4e93...
710018   8484eee8c0a5cd25cbdcb63e008d5bbfeb11c229adb98d...
535203   63ea1411009a0f6889987597ac42873782902ed587a79d...
403358   4b680d6fd905e986cd31863a02c61abbddd933ba32d615...
1331091  f85c79ccaeba511f9e25444a61d869c6af46cb6c1af165...
267132   31de196980b09a4ade34e5b07679a3ce9d2704015218b0...
22795    0448189bc3f56a11990266dc7723c2595cb01aae3907d4...
459946   55f17008015412265c4fdfe72018ec5f6344dbe7016c7e...
809187   9715b15cf2aa0d60d1360009b16492b36e0162e9e943c6...
1065914  c6e9756a1bb9c33ee13cbb6fb983f539f732b7eb93f761...
1275804  ee1a484d3e356d33f57b88696f75c923e22fc1213c1f6e...
1228402  e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...

df_SubCust_Trxn.shape[0]

233

,customer_id,t_dat,article_id,price,sales_channel_id
0,0d0185b1eab792f6119cc24c15955a788bc437044e4e93...,2019-07-28,188183021,0.050831,2
1,0d0185b1eab792f6119cc24c15955a788bc437044e4e93...,2019-11-29,812167002,0.040661,2
2,0d0185b1eab792f6119cc24c15955a788bc437044e4e93...,2019-11-29,803118002,0.027102,2
3,0d0185b1eab792f6119cc24c15955a788bc437044e4e93...,2019-11-29,787880005,0.040661,2
4,0d0185b1eab792f6119cc24c15955a788bc437044e4e93...,2020-04-07,862956001,0.041508,2
...,...,...,...,...,...
228,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,2019-12-15,464297007,0.016932,2
229,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,2019-12-15,803468002,0.025407,2
230,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,2019-12-15,803468002,0.025407,2
231,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,2019-12-15,507883014,0.013542,2
232,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,2019-12-15,799070001,0.016932,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
223,c6e9756a1bb9c33ee13cbb6fb983f539f732b7eb93f761...,2020-09-22,912208001,0.06778,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
223,c6e9756a1bb9c33ee13cbb6fb983f539f732b7eb93f761...,2020-09-22,912208001,0.06778,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,c6e9756a1bb9c33ee13cbb6fb983f539f732b7eb93f761...,2020-09-22,912208001,0.06778,2,NaN,NaN,ACTIVE,NONE,61.0,a11c321e833567cfa1dc58c2cd99cfc11da22c3c5ea181...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,c6e9756a1bb9c33ee13cbb6fb983f539f732b7eb93f761...,2020-09-22,912208001,0.06778,2,ACTIVE,NONE,61.0,a11c321e833567cfa1dc58c2cd99cfc11da22c3c5ea181...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,c6e9756a1bb9c33ee13cbb6fb983f539f732b7eb93f761...,2020-09-22,912208001,0.06778,2,ACTIVE,NONE,61.0,a11c321e833567cfa1dc58c2cd99cfc11da22c3c5ea181...,912208,...,Denim Other Garments,D,Divided,2,Divided,57,Ladies Denim,1016,Trousers Denim,Dungarees in washed denim with a chest pocket ...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Full body,D
0,c6e9756a1bb9c33ee13cbb6fb983f539f732b7eb93f761...,2020-09-22,912208001,0.06778,2,ACTIVE,NONE,61.0,a11c321e833567cfa1dc58c2cd99cfc11da22c3c5ea181...,912208,...,1010023,72,2,2,1773,2,57,1016,1,1

array([[ 912208,     268, 1010023,      72,       2,       2,    1773,
              2,      57,    1016]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76b75faff7795001d717 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 12

get_next_SubmissionCustomer

'be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859f3e33a3e6182005004'

Generate Artcile Predictions for Customer 13 : be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859f3e33a3e6182005004

                                               customer_id
1261283  eb63678563196549c2e2c60645263cb2a748c50f26a38e...
312960   3a790c90860f74f999e7fc7386aa28dd71aa1fbf6443d3...
907038   a94283f0926ca3398d57b8a617103c43b8d92ea8282ffb...
360031   435878b84dae1e66db50cf3d69447644e89c5e2aea5167...
1281576  ef2dc0225c57ad2a56e3dfde547ff7b9e76e8742808e3d...
177556   210eec4a980fa326f419c285fad675ad2df43b344f01bc...
1362446  fe350c9abe0a7ad3f79ab5aae7612624372aafae8ac348...
476991   59166fb5aeae73501f685f6e872690e3f3424b774aa5ef...
1064306  c69d709cb875f96beceaa6a8f73c79f893db7c990fc0ec...
1345346  fb023fcd276c4b37c33aecbed1ff8ae179dc7692248da1...
1104132  ce0a367dd9c4608b1464bd4d10a37a1279680ed1936444...
262811   31087d664d839322f6ae59c7a7738af2bba6b4026dbd0d...
1021036  be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...

df_SubCust_Trxn.shape[0]

431

,customer_id,t_dat,article_id,price,sales_channel_id
0,eb63678563196549c2e2c60645263cb2a748c50f26a38e...,2019-07-02,593808008,0.047441,2
1,3a790c90860f74f999e7fc7386aa28dd71aa1fbf6443d3...,2018-09-29,615021023,0.013542,1
2,3a790c90860f74f999e7fc7386aa28dd71aa1fbf6443d3...,2018-09-29,660712014,0.033881,1
3,3a790c90860f74f999e7fc7386aa28dd71aa1fbf6443d3...,2018-09-29,684588001,0.020322,1
4,3a790c90860f74f999e7fc7386aa28dd71aa1fbf6443d3...,2018-09-29,548111006,0.013542,1
...,...,...,...,...,...
426,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,2019-08-26,788575001,0.042356,2
427,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,2019-09-14,768229003,0.025407,2
428,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,2019-09-14,801673003,0.016932,2
429,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,2019-09-14,706016011,0.033881,2
430,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,2019-09-14,706016011,0.033881,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
387,ce0a367dd9c4608b1464bd4d10a37a1279680ed1936444...,2020-09-10,937052001,0.022017,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
387,ce0a367dd9c4608b1464bd4d10a37a1279680ed1936444...,2020-09-10,937052001,0.022017,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,ce0a367dd9c4608b1464bd4d10a37a1279680ed1936444...,2020-09-10,937052001,0.022017,1,1.0,1.0,ACTIVE,Regularly,21.0,d46c51a032f30fa6e1be44b96b3f2eea70db86d88151b2...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,ce0a367dd9c4608b1464bd4d10a37a1279680ed1936444...,2020-09-10,937052001,0.022017,1,ACTIVE,Regularly,21.0,d46c51a032f30fa6e1be44b96b3f2eea70db86d88151b2...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,ce0a367dd9c4608b1464bd4d10a37a1279680ed1936444...,2020-09-10,937052001,0.022017,1,ACTIVE,Regularly,21.0,d46c51a032f30fa6e1be44b96b3f2eea70db86d88151b2...,937052,...,Jewellery,C,Ladies Accessories,1,Ladieswear,66,Womens Small accessories,1019,Accessories,Metal earrings in various sizes and designs. 2...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Accessories,C
0,ce0a367dd9c4608b1464bd4d10a37a1279680ed1936444...,2020-09-10,937052001,0.022017,1,ACTIVE,Regularly,21.0,d46c51a032f30fa6e1be44b96b3f2eea70db86d88151b2...,937052,...,1010016,5,5,15,4344,1,66,1019,1,1

array([[ 937052,      70, 1010016,       5,       5,      15,    4344,
              1,      66,    1019]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
20   924243001     74
1    821152004     59
0    819547001     51
21   929165002     46
5    893141002     42
2    830016002     42
4    893059003     34
13   915529005     34
3    853089002     32
18   918525001     30
6    895993006     23
8    898918007      6
19   918603001      6
10   909802001      5
9    909801001      4
7    897892002      4
11   909955001      2
12   915092002      1
14   916307002      1
15   917509002      1
16   917765001      1
17   917766001      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    893141002
5    830016002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859f3e33a3e6182005004 0924243001 0821152004 0819547001 0929165002 0893141002 0830016002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 13

get_next_SubmissionCustomer

'e0994a721598dd1b0782b8c6416624b4c83365aa69f648ca7d53a736d8187ee0'

Generate Artcile Predictions for Customer 14 : e0994a721598dd1b0782b8c6416624b4c83365aa69f648ca7d53a736d8187ee0

                                               customer_id
1083519  ca3535f202b26b9710c322a3ad03a3b8ce087d7f4635a2...
782148   9206154be6a81af4b1ebe96dc66b73c6a0feb7b7af42ea...
432620   50e36981e7182b7079eaf80861678963c58b50ff7b0cad...
315811   3b07856ed5be0bb084a46a58e12903578fc51ff72eeaa8...
813808   97ef2b7fb204441a27b94ed804609c8b14f19ee02c54bd...
55618    0a655f42a46da39b3b953e8da34eb5c3ebc1a024a6b708...
950888   b1694992315134d693264a561f3bc6cb00b89826ff5ca8...
870723   a2861aab701018cfcf1d239ada75a038f23e2e5c84c085...
637088   76e4f6a0b9f2378a63073f52372712849ff95ea8c18281...
1134906  d3bac6d9d8e99f94c012f41f076cea9c91600cad585ae3...
1266812  ec696b6c78db1c63a5468d38896e657592282827b9b21c...
534870   63da92f2284a624afe76716ed1ddd2780bf4a49c1fca32...
343310   403517b44a444c7dbe543145c6b219c31c5755160d4c71...
1203697  e0994a721598dd1b0782b8c6416624b4c83365aa69f648...

df_SubCust_Trxn.shape[0]

257

,customer_id,t_dat,article_id,price,sales_channel_id
0,ca3535f202b26b9710c322a3ad03a3b8ce087d7f4635a2...,2018-10-28,656388001,0.067780,2
1,ca3535f202b26b9710c322a3ad03a3b8ce087d7f4635a2...,2018-10-28,673882001,0.067780,2
2,ca3535f202b26b9710c322a3ad03a3b8ce087d7f4635a2...,2018-11-19,568597008,0.033881,2
3,ca3535f202b26b9710c322a3ad03a3b8ce087d7f4635a2...,2018-12-06,680214001,0.054220,2
4,ca3535f202b26b9710c322a3ad03a3b8ce087d7f4635a2...,2018-12-06,677561001,0.027102,2
...,...,...,...,...,...
252,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,2019-06-27,699423003,0.026136,2
253,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,2019-06-27,758118001,0.014508,2
254,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,2019-11-08,685814022,0.033881,1
255,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,2019-11-15,788455007,0.033881,1
256,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,2020-01-29,811887001,0.013542,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
114,50e36981e7182b7079eaf80861678963c58b50ff7b0cad...,2020-08-22,832665001,0.018627,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
114,50e36981e7182b7079eaf80861678963c58b50ff7b0cad...,2020-08-22,832665001,0.018627,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,50e36981e7182b7079eaf80861678963c58b50ff7b0cad...,2020-08-22,832665001,0.018627,2,NaN,NaN,ACTIVE,NONE,32.0,1eb131d027c80652aaa9120b6d20966970889e024f26fd...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,50e36981e7182b7079eaf80861678963c58b50ff7b0cad...,2020-08-22,832665001,0.018627,2,ACTIVE,NONE,32.0,1eb131d027c80652aaa9120b6d20966970889e024f26fd...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,50e36981e7182b7079eaf80861678963c58b50ff7b0cad...,2020-08-22,832665001,0.018627,2,ACTIVE,NONE,32.0,1eb131d027c80652aaa9120b6d20966970889e024f26fd...,832665,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Sports tights in fast-drying functional fabric...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,A
0,50e36981e7182b7079eaf80861678963c58b50ff7b0cad...,2020-08-22,832665001,0.018627,2,ACTIVE,NONE,32.0,1eb131d027c80652aaa9120b6d20966970889e024f26fd...,832665,...,1010028,9,4,5,1919,1,2,1005,1,1

array([[ 832665,     273, 1010028,       9,       4,       5,    1919,
              1,       2,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
3    827370002     86
2    826492006     74
1    821152004     59
0    819547001     51
16   929165002     46
4    830016002     42
7    893059003     34
6    853089002     32
15   924243001     31
8    895993006     23
9    898918007      6
11   909802001      5
10   909801001      4
5    844971002      2
12   909955001      2
13   915092002      1
14   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    929165002
5    830016002
6    893059003
7    853089002
8    924243001
9    895993006
10   898918007
11   909802001

e0994a721598dd1b0782b8c6416624b4c83365aa69f648ca7d53a736d8187ee0 0827370002 0826492006 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0924243001 0895993006 0898918007 0909802001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...

cust_rec is... 14

get_next_SubmissionCustomer

'301e303dd508782607a882ce0543de395498232c4716853651ac0b36aa57d88f'

Generate Artcile Predictions for Customer 15 : 301e303dd508782607a882ce0543de395498232c4716853651ac0b36aa57d88f

                                               customer_id
819690   99067dfd7b4c332b19a8aee8b1dda85b0021ac40b85567...
221091   29401bbcde91f79edbb34db0273373be8177cde3aa971d...
1066048  c6eff67cd1534f7d13092526ad1dfed75f29afe59a3f40...
881155   a4771f7e9cf20568c90246ec642f93345dd566e22f1753...
1103766  cdf951dda2a72046dae1d5712f8a14e48f4b9bba86636e...
545632   65db8469a94600f3aaae87f2a154b97b38a23f267f597f...
1141405  d4f19c95428551464c5a534e0e01efac7db90b3dcaccb5...
570363   6a6d9b267b4ce85c2e9eccb72132736fc69dcb718572b0...
849952   9ea9eb49cef4e9ac6a17644763b7b519a23057185bb3ed...
484045   5a647c5b29be15da32916a165810df8d62e54acb5d67d1...
717785   85fbc8d70502c08d090ab35626b3cafe6079a7c6be4592...
108489   1434e7a1846ba3401851cc86b217fdc77173e5a4350080...
734733   8924b402efabcfe2b47063248637fa706938b37e34aae3...
41277    07b87e59d9103d374261c77b4ee46c7234671184f5e1b4...
257873   301e303dd508782607a882ce0543de395498232c471685...

df_SubCust_Trxn.shape[0]

371

,customer_id,t_dat,article_id,price,sales_channel_id
0,99067dfd7b4c332b19a8aee8b1dda85b0021ac40b85567...,2020-03-25,816353002,0.050831,2
1,99067dfd7b4c332b19a8aee8b1dda85b0021ac40b85567...,2020-03-25,814766001,0.033881,2
2,99067dfd7b4c332b19a8aee8b1dda85b0021ac40b85567...,2020-04-20,616920001,0.030492,2
3,29401bbcde91f79edbb34db0273373be8177cde3aa971d...,2020-04-01,610776072,0.008458,2
4,29401bbcde91f79edbb34db0273373be8177cde3aa971d...,2020-04-01,610776083,0.008458,2
...,...,...,...,...,...
366,301e303dd508782607a882ce0543de395498232c471685...,2020-09-20,712660006,0.050831,2
367,301e303dd508782607a882ce0543de395498232c471685...,2020-09-20,874110016,0.025407,2
368,301e303dd508782607a882ce0543de395498232c471685...,2020-09-20,900279002,0.042356,2
369,301e303dd508782607a882ce0543de395498232c471685...,2020-09-20,882613002,0.033881,2
370,301e303dd508782607a882ce0543de395498232c471685...,2020-09-20,879088002,0.042356,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
99,c6eff67cd1534f7d13092526ad1dfed75f29afe59a3f40...,2020-09-21,915529003,0.031627,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
99,c6eff67cd1534f7d13092526ad1dfed75f29afe59a3f40...,2020-09-21,915529003,0.031627,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,c6eff67cd1534f7d13092526ad1dfed75f29afe59a3f40...,2020-09-21,915529003,0.031627,1,1.0,1.0,ACTIVE,Regularly,24.0,06607fe7b7f203c7ad6877d7c37cb905b836a5791088f4...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,c6eff67cd1534f7d13092526ad1dfed75f29afe59a3f40...,2020-09-21,915529003,0.031627,1,ACTIVE,Regularly,24.0,06607fe7b7f203c7ad6877d7c37cb905b836a5791088f4...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,c6eff67cd1534f7d13092526ad1dfed75f29afe59a3f40...,2020-09-21,915529003,0.031627,1,ACTIVE,Regularly,24.0,06607fe7b7f203c7ad6877d7c37cb905b836a5791088f4...,915529,...,Knitwear,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,"Jumper in a soft, fine knit containing some wo..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,c6eff67cd1534f7d13092526ad1dfed75f29afe59a3f40...,2020-09-21,915529003,0.031627,1,ACTIVE,Regularly,24.0,06607fe7b7f203c7ad6877d7c37cb905b836a5791088f4...,915529,...,1010016,9,4,5,1626,1,15,1003,1,1

array([[ 915529,     252, 1010016,       9,       4,       5,    1626,
              1,      15,    1003]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

301e303dd508782607a882ce0543de395498232c4716853651ac0b36aa57d88f 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...

display(df_NextCust_Preds)...

,customer_id,prediction
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 15

get_next_SubmissionCustomer

'b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d8ff2920283789b8581'

Generate Artcile Predictions for Customer 16 : b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d8ff2920283789b8581

                                               customer_id
869039   a232fd8c5c1cf4cc58c55cc1136d9eabc2a47c12c70c8b...
1005643  bba8a8a0de6f3a30024dc700d7d0b0474d007f62c244e7...
614390   72a2d6b03e6881c85f1a66d8b16b7f9a10e8c1ccd61d1c...
539832   64c74a802401257b924ce66097427310bc2827c118e82b...
1243421  e80b4c9dfd2a10b785b2992046f65b68fda8b691f667f5...
1082194  c9f166e39d5d24564c487927928c047cec91a955f07b1f...
479142   597cd0b0bb48a5656df4ae71892f36a201f3e959e0bcf4...
204236   2612a75e04a61e50342126988497b295e90ef80aa5bdc9...
592828   6e9880bad774fbcbd2fcf2583981686c2823bddc10b421...
921516   abf2b2c6ae53a0f5e43fafa4183c5dba8d2eafbf772ea8...
1262004  eb83ec1f77db0d9ba8543463986b702f394723ce9bc38b...
958067   b2c008baea2d037ca69d128124dd4fc17f7795f7014232...
367170   44acd3c9f25e2e0c0b95352540a414ffa4146ff1efdbab...
285529   354eb081e4ab778e7bf4ac3efa30392373ee1abbcbf19f...
301534   3858a4321083a43b4189411f5374423a2e66fff9c51ef9...
959519   b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...

df_SubCust_Trxn.shape[0]

597

,customer_id,t_dat,article_id,price,sales_channel_id
0,a232fd8c5c1cf4cc58c55cc1136d9eabc2a47c12c70c8b...,2018-09-26,501820001,0.016932,2
1,a232fd8c5c1cf4cc58c55cc1136d9eabc2a47c12c70c8b...,2018-09-26,663515004,0.025407,2
2,a232fd8c5c1cf4cc58c55cc1136d9eabc2a47c12c70c8b...,2018-09-26,663515004,0.025407,2
3,a232fd8c5c1cf4cc58c55cc1136d9eabc2a47c12c70c8b...,2018-09-26,501820008,0.016932,2
4,a232fd8c5c1cf4cc58c55cc1136d9eabc2a47c12c70c8b...,2018-10-07,568861008,0.043203,2
...,...,...,...,...,...
592,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,2020-06-16,557599022,0.016169,2
593,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,2020-06-16,585480002,0.029119,2
594,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,2020-06-16,599580072,0.016169,2
595,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,2020-06-16,776237031,0.024271,2
596,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,2020-06-16,846782002,0.021017,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
368,c9f166e39d5d24564c487927928c047cec91a955f07b1f...,2020-09-14,872537001,0.084729,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
368,c9f166e39d5d24564c487927928c047cec91a955f07b1f...,2020-09-14,872537001,0.084729,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,c9f166e39d5d24564c487927928c047cec91a955f07b1f...,2020-09-14,872537001,0.084729,2,1.0,1.0,ACTIVE,Regularly,25.0,bfaf43528f04cde220f76f89a3cc6f6938da24996de4d3...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,c9f166e39d5d24564c487927928c047cec91a955f07b1f...,2020-09-14,872537001,0.084729,2,ACTIVE,Regularly,25.0,bfaf43528f04cde220f76f89a3cc6f6938da24996de4d3...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,c9f166e39d5d24564c487927928c047cec91a955f07b1f...,2020-09-14,872537001,0.084729,2,ACTIVE,Regularly,25.0,bfaf43528f04cde220f76f89a3cc6f6938da24996de4d3...,872537,...,Outwear,A,Ladieswear,1,Ladieswear,19,Womens Jackets,1007,Outdoor,"Coat in woven fabric with a soft, brushed fini..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,c9f166e39d5d24564c487927928c047cec91a955f07b1f...,2020-09-14,872537001,0.084729,2,ACTIVE,Regularly,25.0,bfaf43528f04cde220f76f89a3cc6f6938da24996de4d3...,872537,...,1010016,9,4,5,1201,1,19,1007,1,1

array([[ 872537,     262, 1010016,       9,       4,       5,    1201,
              1,      19,    1007]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
18   924243001     74
1    821152004     59
0    819547001     51
19   929165002     46
2    827370002     46
3    830016002     42
6    893059003     34
13   915529005     34
5    853089002     32
16   918525001     30
7    895993006     23
8    898918007      6
17   918603001      6
10   909802001      5
9    909801001      4
4    844971002      2
11   909955001      2
12   915092002      1
14   917509002      1
15   917766001      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    827370002
5    830016002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d8ff2920283789b8581 0924243001 0821152004 0819547001 0929165002 0827370002 0830016002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 16

get_next_SubmissionCustomer

'524cf9f23e6a228b74acef3d65e66f634992516526d1600fb5db7c371ddc2eb5'

Generate Artcile Predictions for Customer 17 : 524cf9f23e6a228b74acef3d65e66f634992516526d1600fb5db7c371ddc2eb5

                                               customer_id
348049   4112ef6c95aa2c4804474b0a27b538cbe73d819c11aaff...
1086554  cac5c9da1882a890846e86098ea50eec21fe3d4487744f...
1070259  c7b7265cb204d4ba1808a2276050d43f0eca3adcda39a6...
853589   9f5380de77123f5439d4f5f75d2295892f3e9b848e51d4...
265758   319c29907c8111f5ea260a51b10c61ea5738d55bce76a9...
1052706  c479e2451778bce9799aae91982f1fa0885dd8711cca1c...
620320   73bc7b37e9fdc8cf9dc4eec370faa3d12e2baa882123d6...
676929   7e5e55c068fe213f3e687c20042bc2cc474a0229fbc015...
1099185  cd1e75f12a89f90b9901f71291ac629f6b7f43e9e55995...
342465   400d578130761a8241459abbefe110780a20465695b0b5...
590797   6e3778b7fb9bd2df8c08d9e8bf32dcb80ff13c7859bbb9...
176314   20d4206aa0771b4e9f8b73a6bf2c6795c7eb8d3ff3acf4...
674621   7dee8558a88beece6880665a15310ae779679a3dc33af0...
114021   1540897694562923800ad76c9a220b663b1540c209744a...
836935   9c404a2a76139d57d0ec2a71b80d164696d3604234de5e...
285006   3534e3c8a77eb774b6f200837336ea693fdd1dc3d21571...
440268   524cf9f23e6a228b74acef3d65e66f634992516526d160...

df_SubCust_Trxn.shape[0]

205

,customer_id,t_dat,article_id,price,sales_channel_id
0,4112ef6c95aa2c4804474b0a27b538cbe73d819c11aaff...,2018-11-25,639835002,0.084729,2
1,cac5c9da1882a890846e86098ea50eec21fe3d4487744f...,2019-07-22,735735006,0.009136,2
2,cac5c9da1882a890846e86098ea50eec21fe3d4487744f...,2019-07-23,735735006,0.009136,2
3,cac5c9da1882a890846e86098ea50eec21fe3d4487744f...,2019-07-23,735735006,0.009136,2
4,cac5c9da1882a890846e86098ea50eec21fe3d4487744f...,2019-07-23,569594001,0.013712,2
...,...,...,...,...,...
200,3534e3c8a77eb774b6f200837336ea693fdd1dc3d21571...,2020-05-23,808025001,0.050831,1
201,3534e3c8a77eb774b6f200837336ea693fdd1dc3d21571...,2020-08-13,877711001,0.052525,2
202,524cf9f23e6a228b74acef3d65e66f634992516526d160...,2020-06-16,804637002,0.015237,2
203,524cf9f23e6a228b74acef3d65e66f634992516526d160...,2020-07-25,717490057,0.008458,2
204,524cf9f23e6a228b74acef3d65e66f634992516526d160...,2020-07-25,759465001,0.011847,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
41,9f5380de77123f5439d4f5f75d2295892f3e9b848e51d4...,2020-09-08,715624001,0.025407,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
41,9f5380de77123f5439d4f5f75d2295892f3e9b848e51d4...,2020-09-08,715624001,0.025407,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,9f5380de77123f5439d4f5f75d2295892f3e9b848e51d4...,2020-09-08,715624001,0.025407,2,NaN,NaN,ACTIVE,NONE,17.0,1ce2349fe5b52e709d1c682eb6e56eefa233660b09417a...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,9f5380de77123f5439d4f5f75d2295892f3e9b848e51d4...,2020-09-08,715624001,0.025407,2,ACTIVE,NONE,17.0,1ce2349fe5b52e709d1c682eb6e56eefa233660b09417a...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,9f5380de77123f5439d4f5f75d2295892f3e9b848e51d4...,2020-09-08,715624001,0.025407,2,ACTIVE,NONE,17.0,1ce2349fe5b52e709d1c682eb6e56eefa233660b09417a...,715624,...,Basic 1,D,Divided,2,Divided,51,Divided Basics,1002,Jersey Basic,Long-sleeved top in soft sweatshirt fabric wit...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,D
0,9f5380de77123f5439d4f5f75d2295892f3e9b848e51d4...,2020-09-08,715624001,0.025407,2,ACTIVE,NONE,17.0,1ce2349fe5b52e709d1c682eb6e56eefa233660b09417a...,715624,...,1010016,9,4,5,1643,2,51,1002,1,1

array([[ 715624,     308, 1010016,       9,       4,       5,    1643,
              2,      51,    1002]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
7    827370002     86
6    826492006     74
2    802023004     61
5    821152004     59
4    819547001     51
3    803080001     45
8    830016002     42
12   853089002     32
10   843701001     21
9    842952003     17
0    774543002      6
11   844971002      2
13   909955001      2
1    774552002      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    803080001
6    830016002
7    853089002
8    843701001
9    842952003
10   774543002
11   844971002

524cf9f23e6a228b74acef3d65e66f634992516526d1600fb5db7c371ddc2eb5 0827370002 0826492006 0802023004 0821152004 0819547001 0803080001 0830016002 0853089002 0843701001 0842952003 0774543002 0844971002
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 17

get_next_SubmissionCustomer

'25956741210ec677e13ae9518d99154425bf339ae4b53ab404ff0427e8af1b3b'

Generate Artcile Predictions for Customer 18 : 25956741210ec677e13ae9518d99154425bf339ae4b53ab404ff0427e8af1b3b

                                               customer_id
277924   33e24132238934e116df4596d229865eec7e6cc0f60e2f...
984498   b7aaa5367f7a15e5d45d9d1b5991f1b00a285eb51d4cb7...
567014   69cfcad32bd8605a8e2db6811edc07edfe88c60e2708f3...
875557   a3698c95566bdf769e61d7ce770f222399b3d28207b3f4...
1172050  daa78fc09903b48fc65994ad9241f8df2f05a42c0eac57...
604878   70dc88cbb135dae2498114a06870b8a5cdb9975521779e...
466606   572d4f7585059ae490c7a8f1848898cbb02d674e9e7460...
434774   5145bceeec7076a6be6ecf7072b78d00cc32a23f7c46dd...
1301570  f2e08e7ccba8b0fe494ca79d8ebe79c14d9b07bed8f10b...
321817   3c29571104141da898909aaf2be7c7624107165a41ff56...
1072863  c8346c0a849f2c60e33def529ca75931e322c5acead985...
27917    053ce9eff54d8e6a6796a1d050ec69bb22d2c26f0d7289...
775225   90bbfce2c136f59e9ac18a603a73a48688293bce5a6de4...
788919   9347663eb85a14f00db154f6259ddd6c6262fdca936d09...
873805   a31966b59b26307fc480d21a4d89c0606e10db8ca954b2...
993814   b97293655a8af8731cc761b6add7bca099638e61514e52...
759657   8dcd2868659ecbe970d7302d5ac673a52280c170972f57...
201646   25956741210ec677e13ae9518d99154425bf339ae4b53a...

df_SubCust_Trxn.shape[0]

481

,customer_id,t_dat,article_id,price,sales_channel_id
0,33e24132238934e116df4596d229865eec7e6cc0f60e2f...,2020-02-15,860833003,0.025407,1
1,33e24132238934e116df4596d229865eec7e6cc0f60e2f...,2020-02-15,832311003,0.050831,1
2,33e24132238934e116df4596d229865eec7e6cc0f60e2f...,2020-02-25,809913001,0.050831,2
3,33e24132238934e116df4596d229865eec7e6cc0f60e2f...,2020-02-25,809913001,0.050831,2
4,33e24132238934e116df4596d229865eec7e6cc0f60e2f...,2020-02-25,809913001,0.050831,2
...,...,...,...,...,...
476,25956741210ec677e13ae9518d99154425bf339ae4b53a...,2020-05-29,714790021,0.050831,2
477,25956741210ec677e13ae9518d99154425bf339ae4b53a...,2020-05-29,812525001,0.016932,2
478,25956741210ec677e13ae9518d99154425bf339ae4b53a...,2020-05-30,836699003,0.025407,2
479,25956741210ec677e13ae9518d99154425bf339ae4b53a...,2020-06-19,876053003,0.021593,2
480,25956741210ec677e13ae9518d99154425bf339ae4b53a...,2020-06-19,876053003,0.021593,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
165,f2e08e7ccba8b0fe494ca79d8ebe79c14d9b07bed8f10b...,2020-08-26,399256001,0.016932,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
165,f2e08e7ccba8b0fe494ca79d8ebe79c14d9b07bed8f10b...,2020-08-26,399256001,0.016932,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,f2e08e7ccba8b0fe494ca79d8ebe79c14d9b07bed8f10b...,2020-08-26,399256001,0.016932,2,1.0,1.0,ACTIVE,Regularly,23.0,a4e02514025d0be09aa65d58234af96db5d7712d134b3d...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,f2e08e7ccba8b0fe494ca79d8ebe79c14d9b07bed8f10b...,2020-08-26,399256001,0.016932,2,ACTIVE,Regularly,23.0,a4e02514025d0be09aa65d58234af96db5d7712d134b3d...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,f2e08e7ccba8b0fe494ca79d8ebe79c14d9b07bed8f10b...,2020-08-26,399256001,0.016932,2,ACTIVE,Regularly,23.0,a4e02514025d0be09aa65d58234af96db5d7712d134b3d...,399256,...,Everyday Waredrobe Denim,A,Ladieswear,1,Ladieswear,57,Ladies Denim,1016,Trousers Denim,Ankle-length jeans in washed stretch denim wit...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,A
0,f2e08e7ccba8b0fe494ca79d8ebe79c14d9b07bed8f10b...,2020-08-26,399256001,0.016932,2,ACTIVE,Regularly,23.0,a4e02514025d0be09aa65d58234af96db5d7712d134b3d...,399256,...,1010016,9,4,5,1779,1,57,1016,1,1

array([[ 399256,     272, 1010016,       9,       4,       5,    1779,
              1,      57,    1016]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
13   610776032    165
23   690611001     60
18   665089004     37
7    522398052     30
2    456163083     30
1    456163070     27
15   640613001     25
0    396135049     17
26   751585002     17
19   665509002     14
14   616732001      8
24   702014001      8
8    522638004      8
11   580768002      8
17   661300002      7
22   690489001      6
5    522043004      5
20   667534006      5
6    522372002      4
9    537350008      4
25   707375002      4
10   573284056      3
12   610476003      2
3    458924016      2
16   656728002      1
4    495495004      1
21   677236002      1
Show Article predictions...

    article_id
0    610776032
1    690611001
2    665089004
3    522398052
4    456163083
5    456163070
6    640613001
7    396135049
8    751585002
9    665509002
10   616732001
11   702014001

25956741210ec677e13ae9518d99154425bf339ae4b53ab404ff0427e8af1b3b 0610776032 0690611001 0665089004 0522398052 0456163083 0456163070 0640613001 0396135049 0751585002 0665509002 0616732001 0702014001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...

cust_rec is... 18

get_next_SubmissionCustomer

'3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68b2bd966a8e1a963754'

Generate Artcile Predictions for Customer 19 : 3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68b2bd966a8e1a963754

                                               customer_id
336273   3edfc1ac78762d84b61c9c6b483913cff62bd264e5af0a...
128689   17feca453fe2defe1ee765605f946934dd24c747660d93...
456157   553e83fb3030904fdf5e8b2c5a3a68db1d5be20a02c5ef...
461393   5637ef5fb94adc2a69b7ab9d61f52517d1c9900d3574ab...
521270   6156228981c70c643e72e12ea13d2dbba540af38596b67...
917204   ab22dcab0fa6bc577a22a482848f80202479b94589ee2d...
384842   47f3e5d0978f58e765dfd8542c865b6341b491efdf5239...
943035   aff349d11e11e07e41815e1e1304b3247b40a0e470c242...
804938   96479fbb016493e78b884ae712477ec97a6f7ffc2d1f72...
1303637  f3426b0d9e68ca81e19ba7a17e4f5dd31ec3d560822257...
1043825  c2d54b93eadc00a9f2ddedd3bb8cc7a1a85cb3214ef3e4...
478756   596a37ca6859298d0571a7e468b2c4ce3aa233a94a0a0f...
617700   7340bbe259571efe0153a06e8c678adaa510562335d466...
962431   b38f82354bc0be9afefb438723e98d610062c50978769b...
188510   232278647e09333a913024ae40664f2587066a10a9a3b8...
576469   6b936532286408be7a8a6d4c77a3c01e31b9c6f5736e94...
76549    0e4bcb6a5dead1906765eb9f39a796b08b65f7ad5599c2...
679839   7eee83fc7e8827628800d734b0155253a8d2e2bcdfa443...
301468   3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...

df_SubCust_Trxn.shape[0]

225

,customer_id,t_dat,article_id,price,sales_channel_id
0,3edfc1ac78762d84b61c9c6b483913cff62bd264e5af0a...,2020-06-23,776237026,0.022864,1
1,3edfc1ac78762d84b61c9c6b483913cff62bd264e5af0a...,2020-06-23,879781001,0.015237,1
2,17feca453fe2defe1ee765605f946934dd24c747660d93...,2020-06-06,682236001,0.025407,2
3,17feca453fe2defe1ee765605f946934dd24c747660d93...,2020-06-06,875948001,0.042356,2
4,17feca453fe2defe1ee765605f946934dd24c747660d93...,2020-07-02,865073001,0.033881,1
...,...,...,...,...,...
220,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,2018-10-02,615092002,0.016932,2
221,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,2018-10-02,669713001,0.033881,2
222,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,2018-10-02,566556012,0.033881,2
223,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,2018-10-02,669713004,0.033881,2
224,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,2018-10-02,649494002,0.022017,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
205,0e4bcb6a5dead1906765eb9f39a796b08b65f7ad5599c2...,2020-09-08,907957002,0.022017,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
205,0e4bcb6a5dead1906765eb9f39a796b08b65f7ad5599c2...,2020-09-08,907957002,0.022017,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,0e4bcb6a5dead1906765eb9f39a796b08b65f7ad5599c2...,2020-09-08,907957002,0.022017,2,NaN,NaN,ACTIVE,NONE,48.0,418743b8e06e32f5359f64bba55fab5bc19537700c3ee3...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,0e4bcb6a5dead1906765eb9f39a796b08b65f7ad5599c2...,2020-09-08,907957002,0.022017,2,ACTIVE,NONE,48.0,418743b8e06e32f5359f64bba55fab5bc19537700c3ee3...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,0e4bcb6a5dead1906765eb9f39a796b08b65f7ad5599c2...,2020-09-08,907957002,0.022017,2,ACTIVE,NONE,48.0,418743b8e06e32f5359f64bba55fab5bc19537700c3ee3...,907957,...,Casual Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear",Hipster briefs in soft jersey made from an org...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Underwear,B
0,0e4bcb6a5dead1906765eb9f39a796b08b65f7ad5599c2...,2020-09-08,907957002,0.022017,2,ACTIVE,NONE,48.0,418743b8e06e32f5359f64bba55fab5bc19537700c3ee3...,907957,...,1010016,19,1,20,1334,1,61,1017,1,1

array([[ 907957,     286, 1010016,      19,       1,      20,    1334,
              1,      61,    1017]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68b2bd966a8e1a963754 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...

display(df_NextCust_Preds)...

,customer_id,prediction
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 19

get_next_SubmissionCustomer

'2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b536c128281a0012a4d31'

Generate Artcile Predictions for Customer 20 : 2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b536c128281a0012a4d31

                                               customer_id
1187448  dd8feae9aff86703e2578c65065fd5bb15d1eb8427a777...
1168655  da0984c7cfb1130b5f5e3b95c3d71a444a7393be83f8ba...
443665   52eedbd15dc0b42eaf843f40cc2843bbd332eb836d5964...
985813   b7eae3d4e7777c4d0c824e5dee4382bd2fa3b28ae900ec...
1192274  de71f3f81e12e5215cfd81f0e836e742095b2a260ed72e...
1105808  ce5b8b6da9661071a5e6e69fb102ecd3ee7597d3aef5e5...
630086   75941f5f1afcd3e54af21f3fba287fadfa955420e36230...
102609   1325eb573138c5e5a90901da37e5e47deae62376346652...
841022   9d0177d31bed5a350a87f6f1e6727a23d1fc6827fd1633...
490112   5b88ecdf83dba7d4ada12ca6a4947d2fb2ae9309e9ed4c...
582393   6ca93ee42ec0d3d271608cbfdd116b35f275309f1709f4...
416571   4de3c1461ceb20f5d594b515c544c9db5a34178f64458d...
285974   3563d22c3630bd7d860cb99165e56fb2d5c40d0a6feb88...
34646    067fe7a5039779e4f1d56781c4a495044b50b980a9e506...
358904   431e439ef80824f7babd0fd97e2ba66e44ed2e878d1911...
537287   644e29b48a0cec8250c26a2351c133524af6b8b244d0b9...
1316032  f58f28655c3641e8426666d5d069c5b7b74410a01ec0b7...
1102837  cdcbae3fc75ebc90e4239753e80dbbeb87f0b5793a68ab...
538711   648ff4f984657f8b4cd40fe1803bb11dd4ba15ba88006a...
242625   2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...

df_SubCust_Trxn.shape[0]

472

,customer_id,t_dat,article_id,price,sales_channel_id
0,dd8feae9aff86703e2578c65065fd5bb15d1eb8427a777...,2018-09-25,158340001,0.011288,1
1,dd8feae9aff86703e2578c65065fd5bb15d1eb8427a777...,2018-09-25,417951005,0.011288,1
2,dd8feae9aff86703e2578c65065fd5bb15d1eb8427a777...,2018-09-25,667319001,0.010153,1
3,dd8feae9aff86703e2578c65065fd5bb15d1eb8427a777...,2018-09-25,297067002,0.011288,1
4,dd8feae9aff86703e2578c65065fd5bb15d1eb8427a777...,2018-10-02,625311008,0.030492,1
...,...,...,...,...,...
467,648ff4f984657f8b4cd40fe1803bb11dd4ba15ba88006a...,2020-04-14,844254003,0.045746,2
468,648ff4f984657f8b4cd40fe1803bb11dd4ba15ba88006a...,2020-04-14,878461001,0.053373,2
469,648ff4f984657f8b4cd40fe1803bb11dd4ba15ba88006a...,2020-04-14,810926001,0.045746,2
470,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,2019-10-14,819520001,0.019814,1
471,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,2019-10-14,719655001,0.019814,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
369,4de3c1461ceb20f5d594b515c544c9db5a34178f64458d...,2020-09-19,917919002,0.030492,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
369,4de3c1461ceb20f5d594b515c544c9db5a34178f64458d...,2020-09-19,917919002,0.030492,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,4de3c1461ceb20f5d594b515c544c9db5a34178f64458d...,2020-09-19,917919002,0.030492,2,1.0,NaN,ACTIVE,Regularly,29.0,dc82c52ff614f8ddf8cf096b999c404e7d5c82065d8b5d...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,4de3c1461ceb20f5d594b515c544c9db5a34178f64458d...,2020-09-19,917919002,0.030492,2,ACTIVE,Regularly,29.0,dc82c52ff614f8ddf8cf096b999c404e7d5c82065d8b5d...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,4de3c1461ceb20f5d594b515c544c9db5a34178f64458d...,2020-09-19,917919002,0.030492,2,ACTIVE,Regularly,29.0,dc82c52ff614f8ddf8cf096b999c404e7d5c82065d8b5d...,917919,...,Woven top,A,Ladieswear,1,Ladieswear,2,H&M+,1010,Blouses,Straight-cut blouse in an airy cotton weave wi...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,4de3c1461ceb20f5d594b515c544c9db5a34178f64458d...,2020-09-19,917919002,0.030492,2,ACTIVE,Regularly,29.0,dc82c52ff614f8ddf8cf096b999c404e7d5c82065d8b5d...,917919,...,1010016,9,4,5,1909,1,2,1010,1,1

array([[ 917919,     258, 1010016,       9,       4,       5,    1909,
              1,       2,    1010]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b536c128281a0012a4d31 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 20

get_next_SubmissionCustomer

'f915aa0394ef59d1789eac0ace93d73325a9e1d140b86038ee4ba3213795b1a6'

Generate Artcile Predictions for Customer 21 : f915aa0394ef59d1789eac0ace93d73325a9e1d140b86038ee4ba3213795b1a6

                                               customer_id
479824   599e5c803509224af9a5e80f084a2af8a9f4eb179aa466...
1029218  c0134179290191dadd427465bdfa69f9fd02442063e9ef...
668913   7cdef78d91eb6f7403c242e0c05780ee7895378526cbc9...
185735   229814a23cde64358805f0829941cd1e12457d9f9b2d04...
1240617  e784046c856c4c2d5700ea3bc27ae550e0bce8ee7fe30e...
142279   1a8588de9feb916e6d1715aa67dcf23e1079f8d7318cdb...
926038   acc7d69d33a1d6ff5cb667584db8bb4fe8b76cd49b00ac...
424003   4f45ec797b27db77d527abba18bdc6af098bf46fc6bfee...
1010427  bc8e2f812b0b75012febe42af8898114f0144577c617f6...
1109333  cf02b93dbcc6da6951a8c7035dbb87d934255004a3108a...
613528   7279b87441dff3786ff6dc7255b408c7be1b2f138c3d56...
401371   4b07e05611be00d1c87ddc04f4cb3fc66e1156d7066cc5...
77618    0e7f98d420e0f1a38a2d7c2fe597ea5dd1c98636e6bd24...
954610   b21ce66aacca914564609b456f420c651eed845463375a...
256539   2fdd83000e5fd6ad2831c53b776eaee26258894d1a940d...
916937   ab16570cc91bdc389c9f17fca1119e428da1782d097333...
178660   2141e82ffc53594f3147c7629d1d62513dd887a2dc0e6e...
1195542  df102b9cd5d18ab2435c4e7ef7e889ca1a918a1688f3e6...
1348532  fb9d1113c6dcc4f95c74a8df314abd1629789b6283b77b...
1160272  d87b0cac0a055708ac2ab98dee9ac9c3ee9e60e9d16652...
1334965  f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...

df_SubCust_Trxn.shape[0]

407

,customer_id,t_dat,article_id,price,sales_channel_id
0,599e5c803509224af9a5e80f084a2af8a9f4eb179aa466...,2019-05-29,734229001.0,0.067780,2.0
1,599e5c803509224af9a5e80f084a2af8a9f4eb179aa466...,2019-05-29,734229001.0,0.067780,2.0
2,599e5c803509224af9a5e80f084a2af8a9f4eb179aa466...,2019-09-13,689365057.0,0.025407,2.0
3,599e5c803509224af9a5e80f084a2af8a9f4eb179aa466...,2019-09-13,789235001.0,0.088983,2.0
4,599e5c803509224af9a5e80f084a2af8a9f4eb179aa466...,2019-09-13,685010001.0,0.101678,2.0
...,...,...,...,...,...
402,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,2019-01-22,579302004.0,0.033881,2.0
403,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,2019-01-22,574109011.0,0.025407,2.0
404,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,2019-01-22,574109011.0,0.025407,2.0
405,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,2019-01-22,580770008.0,0.033881,2.0
406,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,2019-01-22,580770008.0,0.033881,2.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
276,7279b87441dff3786ff6dc7255b408c7be1b2f138c3d56...,2020-09-01,622958016.0,0.042356,2.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
276,7279b87441dff3786ff6dc7255b408c7be1b2f138c3d56...,2020-09-01,622958016.0,0.042356,2.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,7279b87441dff3786ff6dc7255b408c7be1b2f138c3d56...,2020-09-01,622958016.0,0.042356,2.0,NaN,NaN,ACTIVE,NaN,54.0,8e65a13dcce5329f2069d38142fd4fc3b1e26a29624c11...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,7279b87441dff3786ff6dc7255b408c7be1b2f138c3d56...,2020-09-01,622958016.0,0.042356,2.0,ACTIVE,NaN,54.0,8e65a13dcce5329f2069d38142fd4fc3b1e26a29624c11...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,7279b87441dff3786ff6dc7255b408c7be1b2f138c3d56...,2020-09-01,622958016.0,0.042356,2.0,ACTIVE,NaN,54.0,8e65a13dcce5329f2069d38142fd4fc3b1e26a29624c11...,622958,...,Sneakers,C,Ladies Accessories,1,Ladieswear,64,Womens Shoes,1020,Shoes,"Platform trainers with lacing at the front, co..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Shoes,C
0,7279b87441dff3786ff6dc7255b408c7be1b2f138c3d56...,2020-09-01,622958016.0,0.042356,2.0,ACTIVE,NaN,54.0,8e65a13dcce5329f2069d38142fd4fc3b1e26a29624c11...,622958,...,1010016,10,3,9,3828,1,64,1020,1,1

array([[ 622958,      94, 1010016,      10,       3,       9,    3828,
              1,      64,    1020]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
9    827370002     86
8    826492006     73
5    802023004     61
1    690611001     60
7    821152004     59
6    819547001     51
10   830016002     42
11   853089002     32
2    751585002     17
0    616732001      9
3    774543002      6
12   909955001      2
4    774552002      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    690611001
4    821152004
5    819547001
6    830016002
7    853089002
8    751585002
9    616732001
10   774543002
11   909955001

f915aa0394ef59d1789eac0ace93d73325a9e1d140b86038ee4ba3213795b1a6 0827370002 0826492006 0802023004 0690611001 0821152004 0819547001 0830016002 0853089002 0751585002 0616732001 0774543002 0909955001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...

cust_rec is... 21

get_next_SubmissionCustomer

'99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7cd2a7b8548771f924d'

Generate Artcile Predictions for Customer 22 : 99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7cd2a7b8548771f924d

                                               customer_id
760146   8de55d7311a3a663a4a1561a730fd3d035f2f769011e97...
254694   2f8761093e6811753d4397fa07691d4cfc6477dd417129...
577116   6bb07e2f79f6f68fda4536bf134c3cefd42cfaeb7673cc...
603758   70a8c1db39e061b7d1e957f7ad1cd15d969e22f6cdc4ab...
313936   3aab2a7e4edbb496e67c81fb97c389a284463bd2145510...
1034307  c107e23cad18ba47a92d5ba73261dc20a32e609ad2e008...
270480   327cf8e3d53a4a78d2de32b186c92cfad6dd2ee39a340f...
304049   38cf9b7d745244ba245cdc24762b5e18bb91b1ac20cd3f...
102450   131f380669262a0ed72092cf1c2a9859856bb1039d3524...
1284884  efcdd8b4be5036724d63083d55e35ef785086338b84ec0...
349661   4160f4575e672ca4ecb17120446161bc335d88bd62a995...
1236323  e6b95180cf69f856023a50afb225cdab9b8bca4491a8e9...
855012   9f9765c4283521e6db227e3f89597a74f4cae66f3774cc...
832925   9b7d5bf127c9f6e2a2c94571fcc35f64cef30dc8adc430...
1291113  f0f171acd77937f458c4519c5e453bda7ea10f0c350a59...
1018323  be00dcf7bd858688b75ab9e11c05a3009c58b095872e7a...
371843   458b8572ce341b09248c9e7c2fa69b037738d76c24e8b8...
1255086  ea3b2df8ac8032cb7615d0a2f916f5cb981be1ab0ac26d...
339092   3f681fca0c82eff4811563b0164b408531e2928b63e191...
177719   2116d555266d7b12807ba9e83be15ae7d9b350b8f4990a...
1057337  c5557d5e12159fd9c059ba3771755e5affbfc055296079...
824302   99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...

df_SubCust_Trxn.shape[0]

668

,customer_id,t_dat,article_id,price,sales_channel_id
0,8de55d7311a3a663a4a1561a730fd3d035f2f769011e97...,2020-07-16,865171005,0.038119,2
1,2f8761093e6811753d4397fa07691d4cfc6477dd417129...,2019-05-04,120129001,0.016932,2
2,2f8761093e6811753d4397fa07691d4cfc6477dd417129...,2019-05-04,120129001,0.016932,2
3,2f8761093e6811753d4397fa07691d4cfc6477dd417129...,2019-05-04,120129014,0.016932,2
4,2f8761093e6811753d4397fa07691d4cfc6477dd417129...,2020-04-17,824997001,0.030492,2
...,...,...,...,...,...
663,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,2019-04-25,524529006,0.016932,1
664,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,2019-05-02,671777022,0.016932,1
665,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,2019-05-02,649440014,0.014390,1
666,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,2019-05-02,671777027,0.014390,1
667,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,2019-10-17,769867001,0.018627,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
50,6bb07e2f79f6f68fda4536bf134c3cefd42cfaeb7673cc...,2020-09-17,899122002,0.081339,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
50,6bb07e2f79f6f68fda4536bf134c3cefd42cfaeb7673cc...,2020-09-17,899122002,0.081339,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,6bb07e2f79f6f68fda4536bf134c3cefd42cfaeb7673cc...,2020-09-17,899122002,0.081339,1,NaN,NaN,ACTIVE,NONE,34.0,82083158a1cc9f1724367035b650bfe09dfb201688ad72...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,6bb07e2f79f6f68fda4536bf134c3cefd42cfaeb7673cc...,2020-09-17,899122002,0.081339,1,ACTIVE,NONE,34.0,82083158a1cc9f1724367035b650bfe09dfb201688ad72...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,6bb07e2f79f6f68fda4536bf134c3cefd42cfaeb7673cc...,2020-09-17,899122002,0.081339,1,ACTIVE,NONE,34.0,82083158a1cc9f1724367035b650bfe09dfb201688ad72...,899122,...,Outwear,A,Ladieswear,1,Ladieswear,19,Womens Jackets,1007,Outdoor,Straight-cut jacket in soft faux shearling wit...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,6bb07e2f79f6f68fda4536bf134c3cefd42cfaeb7673cc...,2020-09-17,899122002,0.081339,1,ACTIVE,NONE,34.0,82083158a1cc9f1724367035b650bfe09dfb201688ad72...,899122,...,1010016,52,1,1,1201,1,19,1007,1,1

array([[ 899122,     262, 1010016,      52,       1,       1,    1201,
              1,      19,    1007]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
20   924243001     74
1    821152004     59
0    819547001     51
21   929165002     46
2    830016002     42
6    893141002     41
5    893059003     34
14   915529005     34
4    853089002     32
18   918525001     30
7    895993006     23
9    898918007      6
19   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7cd2a7b8548771f924d 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 22

get_next_SubmissionCustomer

'7540445163dc098e455520b68ede7052a765972d7c06e9f32974600825266d68'

Generate Artcile Predictions for Customer 23 : 7540445163dc098e455520b68ede7052a765972d7c06e9f32974600825266d68

                                               customer_id
727413   87c988b3d5cc534b1d657dc7d5f8ca58da9305b3efd4a8...
654281   7a19267fc74052215912811b3fa7631b3191f9a6e6ff86...
1132070  d330eaecfb7cfe1c4693d2d5c3ea083fd9d52f3986accf...
886623   a5787f98ae51520cf4103dea89cab4f39f92845349853c...
672862   7d9c166fcc46c1c933a2ccf4a5e443371f3aebc78c8790...
229746   2ae065b822010d69e56d5e0d6474af9c3f38adb57ef712...
480781   59c9d9fb67da6e588e7777be46afab83ea17393e3c2586...
326894   3d1e3ef9abb840eb511591c3d8febd1743f7e694cb682b...
411949   4d03a877ac7c9886905b9a5af61c3f9d42b90545132a5e...
75405    0e142c93676e9cec83d00a6eb9b430005d70c0ccbf3269...
214930   281773d3a149e8cad60435d80b10c3830881e0553c3ded...
881181   a478372c0e34b80c3fcc466526bd39ad31c6ff9ac9997a...
291505   36704e4f9013d781f7305f27505f3037d574a441f72a82...
145205   1b0ed250bb1ad50812cd06e0e8b82be568ba2196fc9679...
1345096  faf5bfb521d1899a17ad42a8b0081503f7fead340448e0...
430257   5075cfc9fbd715d021f0518535f199fcd071f03ac66b32...
443046   52d0f95a8ef1890fe0a38c4c2e3d35d4f19127c4988932...
410370   4cbb6a8d4f2941f2296b3a5588da554b0f12f27f54f115...
83933    0faf141b9ba26b758808b2696a49b41607160e44effe35...
270088   3269bfc8b661557d60b0cc477f561b022394d6bf20576f...
1124157  d1bbc90d8b09047aee8922765188f4261ed6e1950349c0...
755999   8d1cf8fecf45da4d92686c67a5e8329eacb47265eae5e4...
628377   7540445163dc098e455520b68ede7052a765972d7c06e9...

df_SubCust_Trxn.shape[0]

686

,customer_id,t_dat,article_id,price,sales_channel_id
0,87c988b3d5cc534b1d657dc7d5f8ca58da9305b3efd4a8...,2018-10-15,705143002,0.022017,2
1,87c988b3d5cc534b1d657dc7d5f8ca58da9305b3efd4a8...,2018-11-06,634426008,0.042356,2
2,87c988b3d5cc534b1d657dc7d5f8ca58da9305b3efd4a8...,2018-11-06,667491011,0.025407,2
3,87c988b3d5cc534b1d657dc7d5f8ca58da9305b3efd4a8...,2018-11-06,678715001,0.033881,2
4,87c988b3d5cc534b1d657dc7d5f8ca58da9305b3efd4a8...,2018-11-06,630696001,0.025407,2
...,...,...,...,...,...
681,7540445163dc098e455520b68ede7052a765972d7c06e9...,2020-06-23,798842002,0.006763,1
682,7540445163dc098e455520b68ede7052a765972d7c06e9...,2020-06-23,746069006,0.043203,1
683,7540445163dc098e455520b68ede7052a765972d7c06e9...,2020-06-23,268305001,0.005068,1
684,7540445163dc098e455520b68ede7052a765972d7c06e9...,2020-06-23,718634001,0.008458,1
685,7540445163dc098e455520b68ede7052a765972d7c06e9...,2020-06-23,865917001,0.016932,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
104,7d9c166fcc46c1c933a2ccf4a5e443371f3aebc78c8790...,2020-09-17,865929003,0.010153,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
104,7d9c166fcc46c1c933a2ccf4a5e443371f3aebc78c8790...,2020-09-17,865929003,0.010153,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,7d9c166fcc46c1c933a2ccf4a5e443371f3aebc78c8790...,2020-09-17,865929003,0.010153,1,1.0,1.0,ACTIVE,Regularly,61.0,fa9c774f4970e25bff4ea0b3426fc0f57b9a2d7bb3ce79...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,7d9c166fcc46c1c933a2ccf4a5e443371f3aebc78c8790...,2020-09-17,865929003,0.010153,1,ACTIVE,Regularly,61.0,fa9c774f4970e25bff4ea0b3426fc0f57b9a2d7bb3ce79...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,7d9c166fcc46c1c933a2ccf4a5e443371f3aebc78c8790...,2020-09-17,865929003,0.010153,1,ACTIVE,Regularly,61.0,fa9c774f4970e25bff4ea0b3426fc0f57b9a2d7bb3ce79...,865929,...,Jersey fancy,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1005,Jersey Fancy,"Fitted, polo-neck top in soft jersey with long..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,7d9c166fcc46c1c933a2ccf4a5e443371f3aebc78c8790...,2020-09-17,865929003,0.010153,1,ACTIVE,Regularly,61.0,fa9c774f4970e25bff4ea0b3426fc0f57b9a2d7bb3ce79...,865929,...,1010001,12,1,11,1636,1,15,1005,1,1

array([[ 865929,     254, 1010001,      12,       1,      11,    1636,
              1,      15,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
18   924243001     74
1    821152004     59
0    819547001     51
19   929165002     46
2    827370002     46
3    830016002     42
6    893059003     34
13   915529005     34
5    853089002     32
16   918525001     30
7    895993006     23
8    898918007      6
17   918603001      6
10   909802001      5
9    909801001      4
4    844971002      2
11   909955001      2
12   915092002      1
14   917509002      1
15   917766001      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    827370002
5    830016002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

7540445163dc098e455520b68ede7052a765972d7c06e9f32974600825266d68 0924243001 0821152004 0819547001 0929165002 0827370002 0830016002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 23

get_next_SubmissionCustomer

'170306e493fdfd5f1b1adde17177ee6b42cb8b397aac427cedef03bd5464c490'

Generate Artcile Predictions for Customer 24 : 170306e493fdfd5f1b1adde17177ee6b42cb8b397aac427cedef03bd5464c490

                                               customer_id
461646   5644392f318c728134c4812298bf4082c8bdf26cfcf42c...
504676   5e46f9749a915177e4e8c4563291deb01228c5d355dcec...
95956    11ecd7f1636f25e47326b09790f66cb3138318eca40aa4...
874793   a346046f6b1c9df269e43197853fc46f8d7d916829a174...
751516   8c47006936a1b478a7101105e0373c366996acbdf1a6e3...
510617   5f5f34957562994b963554bb82ed046d7677042a96c72e...
884981   a52a79939f62c5a3666f5bf99269dad0a7cd6a7dd261fe...
597146   6f6cb9e19c3961c5fdd9a28f334fc1cab59ad4d8108c73...
228280   2a9a0936143313546b97e406fee05c7b41baeb294e04fc...
1010239  bc84a810960d87fef0f0442d3fe694b23a93f59644aeee...
754884   8ce6e58bc96fe070db05de3249524e1387267d983e5494...
1035574  c147a31a3ac456f84c12f6715d939b7667ca001869a83c...
458357   55a63251cbfae491478f484deb99e75c236159c37b32f4...
1369769  ff95638410f0499870ecce48f97e3046f33603999eabc5...
1176575  db81c0f0cb0ba9fbacfdb2ff1081d494e6af4da1ec133c...
1263073  ebb62ed5664fc3144b380fb08c3a3878e98b415297477f...
335907   3eccd0ab9043ba0cbd9f58e603d412ce82139b073dcb2d...
1195171  defef6594a0a7a60233a0552b045c3f5d5101f66a5240a...
631703   75e3f2fc96f271eba81c8ebeabdce6f9eb7191a2271dec...
756311   8d2bd17251af493d443d1a936b28de17dc8ee20c934e85...
681715   7f44e920b621b474460123db6233bc3800b4d0dd5aabcf...
882019   a49ec18ac246825575fde28328968dd5a266059cc82592...
364071   4416aae0c11d87daef97d2b5183df18b999b0e2ae3ea3d...
123430   170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...

df_SubCust_Trxn.shape[0]

548

,customer_id,t_dat,article_id,price,sales_channel_id
0,5644392f318c728134c4812298bf4082c8bdf26cfcf42c...,2020-06-11,821060008,0.018712,1
1,5e46f9749a915177e4e8c4563291deb01228c5d355dcec...,2020-04-08,717490065,0.008458,2
2,5e46f9749a915177e4e8c4563291deb01228c5d355dcec...,2020-04-08,746994001,0.033881,2
3,5e46f9749a915177e4e8c4563291deb01228c5d355dcec...,2020-04-08,841228001,0.016932,2
4,5e46f9749a915177e4e8c4563291deb01228c5d355dcec...,2020-04-08,741220004,0.016932,2
...,...,...,...,...,...
543,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-08-20,557599023,0.016932,2
544,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-18,677930066,0.016932,2
545,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-21,924645001,0.033881,2
546,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-21,924645001,0.033881,2
547,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-21,898918007,0.016932,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
547,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-21,898918007,0.016932,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
547,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-21,898918007,0.016932,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-21,898918007,0.016932,2,1.0,1.0,ACTIVE,Regularly,25.0,ddcde4eefbd33d6a850e1556ce35282ba70aba466589b8...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-21,898918007,0.016932,2,ACTIVE,Regularly,25.0,ddcde4eefbd33d6a850e1556ce35282ba70aba466589b8...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-21,898918007,0.016932,2,ACTIVE,Regularly,25.0,ddcde4eefbd33d6a850e1556ce35282ba70aba466589b8...,898918,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Straight-cut top in soft jersey made from a mo...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,2020-09-21,898918007,0.016932,2,ACTIVE,Regularly,25.0,ddcde4eefbd33d6a850e1556ce35282ba70aba466589b8...,898918,...,1010016,7,1,2,1676,1,16,1002,1,1

array([[ 898918,     254, 1010016,       7,       1,       2,    1676,
              1,      16,    1002]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
20   924243001     74
1    821152004     59
0    819547001     51
21   929165002     46
2    830016002     42
6    893141002     41
5    893059003     34
14   915529005     34
4    853089002     32
18   918525001     30
7    895993006     23
9    898918007      6
19   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

170306e493fdfd5f1b1adde17177ee6b42cb8b397aac427cedef03bd5464c490 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 24

get_next_SubmissionCustomer

'2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66bbb39ca869ea9c83c8'

Generate Artcile Predictions for Customer 25 : 2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66bbb39ca869ea9c83c8

                                               customer_id
776107   90e64bf2412580b1f3283c8cf00c0dd0b114e685d2cd30...
1157582  d7f7529faad258e0894dd768690b5b9de408652e457e6c...
1370841  ffc8b55868a9fb84e9eb347185b50d0e8ca9a6a33e6e42...
521588   61658067d10f16ea8d5ca45325c6aa15ae1605f2fd175c...
1165411  d96cdce05b25b99e29e5daa1b2e6fe716f770cab74f3f6...
336114   3ed6fcc43a2dfc869e8081df297729c63c9a8778dabc2f...
187574   22f2e67dbd2adf7f40e243abb124fbd6ee8e38efefeb97...
360073   435a802160823cc462dfbc62976f9bdc0b97ead11dacbb...
1034269  c1064527bf32b10038fc6366aec0b32caf30d3f1e6071b...
757079   8d52a5a0d1f8898f74708f4736b6ab725c069ce7737751...
1033998  c0f988f2d90f92cc1217901bc07ce223f09f455d6b1411...
249849   2ea436bfb355ed3972ecbcd9fbd24fd492e9506908108c...
405475   4bd258f198a99ba55fe3fc4e4cda05d53b672e55928c9b...
1218696  e36710c18b5fce2f130d2bc70731cee75df7db4f5d2afb...
862666   a1099e4c0173523b0222af8e9f412e76cb1edf9a41c8f9...
254027   2f68c7127960778ce3c031ba17704500857bf169d50e0d...
1305384  f3982df4b1f4c554773b1cadf41107dac2a44f24980860...
395813   49f6ec1912513b70c41856355cbcc7039e3e73a587a587...
232477   2b62ec942c331632050d596af7f05bd37583e3342f0e98...
840761   9cf617be202f73f174aaa784cccf817a09ac5955538c44...
1032299  c0a94b6f5a54198a02da3f43a5948fe995aabaf5d90e3f...
1343799  fab5ea73c25585be8b0c174d239b2d4d610c98be136db0...
610758   71f40bd93e0000376b9053a3ed5b51d0e90de377d5fefd...
1367876  ff3838c0966237fa1a1fd4b15b6c6fda7b1ff79892abb0...
253468   2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...

df_SubCust_Trxn.shape[0]

352

,customer_id,t_dat,article_id,price,sales_channel_id
0,90e64bf2412580b1f3283c8cf00c0dd0b114e685d2cd30...,2018-11-01,504667001,0.135576,2
1,d7f7529faad258e0894dd768690b5b9de408652e457e6c...,2019-12-06,763282007,0.042356,2
2,d7f7529faad258e0894dd768690b5b9de408652e457e6c...,2019-12-06,777148003,0.050831,2
3,d7f7529faad258e0894dd768690b5b9de408652e457e6c...,2019-12-06,788632004,0.033881,2
4,d7f7529faad258e0894dd768690b5b9de408652e457e6c...,2019-12-06,818024002,0.025407,2
...,...,...,...,...,...
347,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,824118001,0.044051,2
348,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,869331002,0.030492,2
349,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,868823008,0.025407,2
350,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,868780002,0.033881,2
351,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,769748016,0.050831,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
351,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,769748016,0.050831,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
351,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,769748016,0.050831,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,769748016,0.050831,2,NaN,NaN,ACTIVE,NONE,35.0,3ee11de2bddc3efa30f08aa6d12d61f781fd62cfeae8ed...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,769748016,0.050831,2,ACTIVE,NONE,35.0,3ee11de2bddc3efa30f08aa6d12d61f781fd62cfeae8ed...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,769748016,0.050831,2,ACTIVE,NONE,35.0,3ee11de2bddc3efa30f08aa6d12d61f781fd62cfeae8ed...,769748,...,Ladies Sport Bottoms,S,Sport,26,Sport,5,Ladies H&M Sport,1005,Jersey Fancy,High-waisted sports tights in fast-drying func...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,S
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,2020-09-21,769748016,0.050831,2,ACTIVE,NONE,35.0,3ee11de2bddc3efa30f08aa6d12d61f781fd62cfeae8ed...,769748,...,1010016,53,4,4,8310,26,5,1005,1,1

array([[ 769748,     273, 1010016,      53,       4,       4,    8310,
             26,       5,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
6    827370002     86
5    826492006     74
2    802023004     61
4    821152004     59
3    819547001     51
14   929165002     46
7    830016002     42
10   893059003     34
9    853089002     32
0    774543002      6
8    844971002      2
11   895993006      2
12   909955001      2
1    774552002      1
13   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    929165002
6    830016002
7    893059003
8    853089002
9    774543002
10   844971002
11   895993006

2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66bbb39ca869ea9c83c8 0827370002 0826492006 0802023004 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0774543002 0844971002 0895993006
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 25

get_next_SubmissionCustomer

'66e80c250aa07db952f8924b0a4edf75ddc4571012fece5d5fff018b76e2a3b4'

Generate Artcile Predictions for Customer 26 : 66e80c250aa07db952f8924b0a4edf75ddc4571012fece5d5fff018b76e2a3b4

                                               customer_id
814223   98041f4b2b792f8d88e30a087634a68e5e54f2fb4c8f02...
929410   ad64e99342547c0c43e9eacdf01eaae5118e16a1b965f4...
181314   21c350b17c84cc709746310431c9e4423febf9c9bd46fa...
1290798  f0e1d2959badd25df57c04c8cf5f289d6c7b57cb7359ba...
211983   278bd44a50a7435fe9c791fe378c551a109ad87a44e69f...
651690   799f5787ffdf11e10fa73f899106fd1cf252d3ba333f6e...
286677   3587c7e5a762fd3daf612e7eb8caa674527061fe2b0be3...
1325632  f757d9ebb52daf9e58cbc1ea3330a2c180bc09bf637086...
878657   a3ffe81b6d1af0755ef8683b8170707fa12ea5cdaa368b...
527585   62816fb623fc92dee8787e3b4860f22e78f5cca9aa332e...
890196   a6270c8d3f6d156597354faa58caa4edf7d6c3f3329803...
859109   a0602a8016edd4797357733324154def5a3477a346eb0c...
647888   78ec481bc3ee10184cb8f279a0f090d81499b4f4775ad7...
496334   5cb4f68dbc9f5d51dc3195a41c2328d8b3bd21407ddb2c...
1352420  fc55b1fdb8d57563ef77e95601268544e8e28aa7b24f23...
58008    0ad5d61fd9c73b379b02a504ea406b403ad9e3b703e427...
302861   3896f64910b87ace1b74b09017c9658aee4891bc4c72d4...
1300320  f2a6d56b115ae2394a694b7f97bc6382ddbcc576d68529...
694787   81b8cae8c80587b415dee3db68c2f9b00363461f5e551f...
908793   a99594883c0674eab66b6a07511d493b01c4e985066c36...
1179028  dbfaf5a4daf1b22c6e933f66e230d78c165f1430f7d059...
1276430  ee3944d5d6fec12e01586ece52fb3bb4c0eb162484d36c...
1195279  df0373e0bd5d13ef08be15302bacd613e12eb241628901...
1221640  e3f5694ee0a6562fe64531be9c40b67319e07c344fea40...
533279   638e7500dfc425a41464f15cb8a2f9cfb19e658e48486a...
551259   66e80c250aa07db952f8924b0a4edf75ddc4571012fece...

df_SubCust_Trxn.shape[0]

406

,customer_id,t_dat,article_id,price,sales_channel_id
0,98041f4b2b792f8d88e30a087634a68e5e54f2fb4c8f02...,2018-10-28,484398001,0.022017,2
1,98041f4b2b792f8d88e30a087634a68e5e54f2fb4c8f02...,2018-10-28,484398001,0.022017,2
2,98041f4b2b792f8d88e30a087634a68e5e54f2fb4c8f02...,2020-03-23,537116012,0.016932,2
3,98041f4b2b792f8d88e30a087634a68e5e54f2fb4c8f02...,2020-06-26,759871025,0.006763,2
4,98041f4b2b792f8d88e30a087634a68e5e54f2fb4c8f02...,2020-06-26,842112005,0.022864,2
...,...,...,...,...,...
401,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,2019-06-19,757828001,0.013542,2
402,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,2019-09-25,429313006,0.030492,2
403,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,2019-09-25,636392005,0.025407,2
404,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,2019-09-25,578374001,0.042356,2
405,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,2019-09-25,694848001,0.030492,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
149,f757d9ebb52daf9e58cbc1ea3330a2c180bc09bf637086...,2020-09-18,794321007,0.027102,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
149,f757d9ebb52daf9e58cbc1ea3330a2c180bc09bf637086...,2020-09-18,794321007,0.027102,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,f757d9ebb52daf9e58cbc1ea3330a2c180bc09bf637086...,2020-09-18,794321007,0.027102,1,NaN,NaN,ACTIVE,NONE,52.0,120c90bff1e2fa0d43b8b06588ddc3777b4a84b095aa42...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,f757d9ebb52daf9e58cbc1ea3330a2c180bc09bf637086...,2020-09-18,794321007,0.027102,1,ACTIVE,NONE,52.0,120c90bff1e2fa0d43b8b06588ddc3777b4a84b095aa42...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,f757d9ebb52daf9e58cbc1ea3330a2c180bc09bf637086...,2020-09-18,794321007,0.027102,1,ACTIVE,NONE,52.0,120c90bff1e2fa0d43b8b06588ddc3777b4a84b095aa42...,794321,...,Ladies Sport Woven,S,Sport,26,Sport,5,Ladies H&M Sport,1001,Unknown,Outdoor jacket in woven fabric with a double-l...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,S
0,f757d9ebb52daf9e58cbc1ea3330a2c180bc09bf637086...,2020-09-18,794321007,0.027102,1,ACTIVE,NONE,52.0,120c90bff1e2fa0d43b8b06588ddc3777b4a84b095aa42...,794321,...,1010016,15,4,20,8397,26,5,1001,1,1

array([[ 794321,     262, 1010016,      15,       4,      20,    8397,
             26,       5,    1001]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
4    827370002     86
3    826492006     74
2    821152004     59
1    819547001     51
16   929165002     46
5    830016002     42
8    893059003     34
7    853089002     32
0    802023004     31
9    895993006     23
10   898918007      6
12   909802001      5
11   909801001      4
6    844971002      2
13   909955001      2
14   915092002      1
15   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    929165002
5    830016002
6    893059003
7    853089002
8    802023004
9    895993006
10   898918007
11   909802001

66e80c250aa07db952f8924b0a4edf75ddc4571012fece5d5fff018b76e2a3b4 0827370002 0826492006 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0802023004 0895993006 0898918007 0909802001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...

cust_rec is... 26

get_next_SubmissionCustomer

'e19150510090894c1b51b3d945031f2953a3a9319aeae450e0ed09898480e9f5'

Generate Artcile Predictions for Customer 27 : e19150510090894c1b51b3d945031f2953a3a9319aeae450e0ed09898480e9f5

                                               customer_id
615814   72e742bbd98b6c764402da60397f4d17dc9543cb51c4e7...
467901   576bddceeb450a09991404a566700d1947fcc7b6802699...
929684   ad72500f629f625d5da97746c72780285af1f9d0cb95cb...
544380   659f6482ef101403b49384eec5a1e721231d934c33de35...
85863    100e31b80a48fdb8e2239ab19db683129ceef186ece86e...
478085   5949158f97ff011dfa30ccc7b3a8424d53e3b8fc349ded...
49231    0934f9c9d42d14e7b9079af7707273e2d03c857a17d776...
695467   81d7627755a8377b04b0ea4e2fa698271b90a18654cc79...
984008   b7929306bbd6d2a0c744ea89ce21d0beccd7783116903f...
1227538  e5137e310978fda89f7d5edf8cc1ded39f934a58a6fe2b...
1159476  d854bf1e3ad67069042505923e8115d03d7976095b1dcd...
239584   2cb941418696a44420942873f45dcc80e863f105f521ce...
133197   18d346ffea696df26aa1d53ee19afbf250a92288fc1282...
1281355  ef23164a6dbb7f51f715ebfa51db0a5c3d3b86ac29c1ed...
596400   6f4680cb9240801f77e462cf2404abee9daf521aa7b1f8...
274678   3345e1f285b0c4fb8368d607866b253817b14f9e4b49cd...
474699   58a87452c62832f5446bc0e844b836d1d3716903da2035...
732452   88ba3965529f0bf6016f1fa5c381b658a865ba35f878c2...
601757   70480bb6d45b60f968a6c862493976727f85c041135757...
113495   15296e43a1038093ec038ad7b40814465cddbfc6bb927b...
525298   62146aa8f6f7ed578fd8ae66f77e3f094577bf2ba74273...
1052817  c47fe7b2dcf20a06d81c134505c8b8af30596d92821532...
1354266  fcaef710e6b2beee15fa33d8c914697c9081a5dc7d1809...
515511   604790cad9c5ff168c4cfdffe37455f0f25b7e15936b11...
469006   579e0fca61eafdb7a7c6d1637d3f921914e17a9c0c5191...
749167   8bda6e7aa72f8f3100d9d4e9425a3a84e1384b41bf1cc7...
1208935  e19150510090894c1b51b3d945031f2953a3a9319aeae4...

df_SubCust_Trxn.shape[0]

402

,customer_id,t_dat,article_id,price,sales_channel_id
0,72e742bbd98b6c764402da60397f4d17dc9543cb51c4e7...,2020-01-04,675465001,0.050831,2
1,72e742bbd98b6c764402da60397f4d17dc9543cb51c4e7...,2020-04-04,742912002,0.006763,2
2,72e742bbd98b6c764402da60397f4d17dc9543cb51c4e7...,2020-04-04,719957006,0.017610,2
3,576bddceeb450a09991404a566700d1947fcc7b6802699...,2020-04-30,767869002,0.008458,2
4,576bddceeb450a09991404a566700d1947fcc7b6802699...,2020-04-30,767869001,0.008458,2
...,...,...,...,...,...
397,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,2019-02-03,651350002,0.011847,1
398,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,2019-02-03,655567001,0.010153,1
399,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,2019-02-03,629764002,0.003373,1
400,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,2019-02-12,654581001,0.003373,1
401,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,2019-02-12,629764001,0.003373,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
200,ef23164a6dbb7f51f715ebfa51db0a5c3d3b86ac29c1ed...,2020-08-24,685814033,0.033881,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
200,ef23164a6dbb7f51f715ebfa51db0a5c3d3b86ac29c1ed...,2020-08-24,685814033,0.033881,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,ef23164a6dbb7f51f715ebfa51db0a5c3d3b86ac29c1ed...,2020-08-24,685814033,0.033881,1,1.0,1.0,ACTIVE,Regularly,20.0,043d2213d6f9b326a818dddb465f5aca29f33747d3a712...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,ef23164a6dbb7f51f715ebfa51db0a5c3d3b86ac29c1ed...,2020-08-24,685814033,0.033881,1,ACTIVE,Regularly,20.0,043d2213d6f9b326a818dddb465f5aca29f33747d3a712...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,ef23164a6dbb7f51f715ebfa51db0a5c3d3b86ac29c1ed...,2020-08-24,685814033,0.033881,1,ACTIVE,Regularly,20.0,043d2213d6f9b326a818dddb465f5aca29f33747d3a712...,685814,...,Heavy Basic Jersey,F,Menswear,3,Menswear,26,Men Underwear,1002,Jersey Basic,Hoodie in sweatshirt fabric made from a cotton...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,F
0,ef23164a6dbb7f51f715ebfa51db0a5c3d3b86ac29c1ed...,2020-08-24,685814033,0.033881,1,ACTIVE,Regularly,20.0,043d2213d6f9b326a818dddb465f5aca29f33747d3a712...,685814,...,1010016,51,3,4,5833,3,26,1002,1,1

array([[ 685814,     308, 1010016,      51,       3,       4,    5833,
              3,      26,    1002]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
8    827370002     86
7    826492006     74
3    802023004     61
6    821152004     59
5    819547001     51
4    803080001     45
9    830016002     42
12   853089002     32
10   842952003     21
0    751585002     17
1    774543002      6
11   844971002      2
13   909955001      2
2    774552002      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    803080001
6    830016002
7    853089002
8    842952003
9    751585002
10   774543002
11   844971002

e19150510090894c1b51b3d945031f2953a3a9319aeae450e0ed09898480e9f5 0827370002 0826492006 0802023004 0821152004 0819547001 0803080001 0830016002 0853089002 0842952003 0751585002 0774543002 0844971002
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...

display(df_NextCust_Preds)...

,customer_id,prediction
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 27

get_next_SubmissionCustomer

'cf638614065785431cde3d92b8207b84955a3124cde42ce3468cfb7841df92b8'

Generate Artcile Predictions for Customer 28 : cf638614065785431cde3d92b8207b84955a3124cde42ce3468cfb7841df92b8

                                               customer_id
837745   9c67ac9259338bc16bda7e28c54dbe6ae1967e96eb4d6e...
1169923  da42f4199068cf07dccababd3da5b93966a87df2773f8e...
603042   7085f72c62be4b372f848bea9a2452982b625be9cfb9e8...
962883   b3a38eb68c539dde89978425c6c72c5b74ea702f1dcd37...
1149074  d65e99ec2419b518330448ee58e1f4c24158a082ad5f0d...
220814   29325a824554f544b46e2591d692519b6ffb1c7517496f...
1046767  c3606880ec99dcce37b77a8cf8892ff54684c8d8b38006...
104369   13780396d9439b2a79dfa4c8a5aa86b504efe32840cfbc...
620629   73cd391cacd1313dd26dd0c907cddf37cf81f6b13caeff...
1295857  f1d3ceebecc731af039974eccc8aba03ee48209825feea...
1058429  c5866d86ee0301740bca81fcd2223b0d147a7563624664...
372934   45be4c3891c21fca379bab71039adee11091f97ff76724...
765793   8ef5a69aed71498a1f25b3de1885ef5f38eaee313d5543...
973626   b5a7bcf11b43ff0e994df2a10e830d0e81ca85ae8d1036...
1037711  c1ae3021754f93161e6192abc81c83d7898faba6ea9a25...
813011   97cce3320cb29fefffa9040921cc5365bd7de5dea8c34e...
891024   a64b5f1ee03cf0e87bfb0e44b5d21a2e519f5f239ae6ab...
1281272  ef1e1a34125628ac83f740bdb026e14b6b9c15cb5ed30c...
698784   8273072927fa46d2776dbaa0b6ac70e7b19ce6d852e527...
814278   98069b9088c15751056f17948b021e9d9b4717de59e09e...
1095538  cc705b4bf0f2213d8e253231cada1d5180ac164efa8976...
1203938  e0a4532dddf1e2de631ee87644037aef032e5a742ebf25...
1040307  c22a00d53d770adb5152fca895063df8d1f9e1e6085020...
844406   9da5bfec9d6fa6d78cb209ec7fb40e17c736904405b88c...
273593   33127f0a33fab7a7bf15c3d52ba431d11139790a501bc5...
503418   5e0a844c667914998e0c3cacad0c1c32b2ac510fbc4f2f...
1058758  c595c5777ee3a0765bb01da98c80366d4657c28bb189db...
1111426  cf638614065785431cde3d92b8207b84955a3124cde42c...

df_SubCust_Trxn.shape[0]

376

,customer_id,t_dat,article_id,price,sales_channel_id
0,9c67ac9259338bc16bda7e28c54dbe6ae1967e96eb4d6e...,2019-03-04,590489005.0,0.020322,2.0
1,9c67ac9259338bc16bda7e28c54dbe6ae1967e96eb4d6e...,2019-03-04,640021005.0,0.050831,2.0
2,9c67ac9259338bc16bda7e28c54dbe6ae1967e96eb4d6e...,2019-03-04,426013023.0,0.050831,2.0
3,9c67ac9259338bc16bda7e28c54dbe6ae1967e96eb4d6e...,2019-03-14,640021005.0,0.050831,2.0
4,da42f4199068cf07dccababd3da5b93966a87df2773f8e...,2018-10-04,637255001.0,0.025407,1.0
...,...,...,...,...,...
371,cf638614065785431cde3d92b8207b84955a3124cde42c...,2019-11-15,777504006.0,0.042356,2.0
372,cf638614065785431cde3d92b8207b84955a3124cde42c...,2019-11-15,794538001.0,0.042356,2.0
373,cf638614065785431cde3d92b8207b84955a3124cde42c...,2019-11-15,750423005.0,0.042356,2.0
374,cf638614065785431cde3d92b8207b84955a3124cde42c...,2019-11-15,803647002.0,0.042356,2.0
375,cf638614065785431cde3d92b8207b84955a3124cde42c...,2019-12-06,770345001.0,0.042356,2.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
364,5e0a844c667914998e0c3cacad0c1c32b2ac510fbc4f2f...,2020-09-13,918522001.0,0.042356,1.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
364,5e0a844c667914998e0c3cacad0c1c32b2ac510fbc4f2f...,2020-09-13,918522001.0,0.042356,1.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,5e0a844c667914998e0c3cacad0c1c32b2ac510fbc4f2f...,2020-09-13,918522001.0,0.042356,1.0,NaN,NaN,ACTIVE,NONE,19.0,e9dc5d1a3ed7bd2f69edacd9c6cffa192db97deaef8448...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,5e0a844c667914998e0c3cacad0c1c32b2ac510fbc4f2f...,2020-09-13,918522001.0,0.042356,1.0,ACTIVE,NONE,19.0,e9dc5d1a3ed7bd2f69edacd9c6cffa192db97deaef8448...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,5e0a844c667914998e0c3cacad0c1c32b2ac510fbc4f2f...,2020-09-13,918522001.0,0.042356,1.0,ACTIVE,NONE,19.0,e9dc5d1a3ed7bd2f69edacd9c6cffa192db97deaef8448...,918522,...,Knitwear,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,V-neck slipover in a soft cable knit with ribb...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,5e0a844c667914998e0c3cacad0c1c32b2ac510fbc4f2f...,2020-09-13,918522001.0,0.042356,1.0,ACTIVE,NONE,19.0,e9dc5d1a3ed7bd2f69edacd9c6cffa192db97deaef8448...,918522,...,1010016,11,3,9,1626,1,15,1003,1,1

array([[ 918522,     252, 1010016,      11,       3,       9,    1626,
              1,      15,    1003]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

cf638614065785431cde3d92b8207b84955a3124cde42ce3468cfb7841df92b8 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 28

get_next_SubmissionCustomer

'fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245e5ca6610666b19ee96'

Generate Artcile Predictions for Customer 29 : fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245e5ca6610666b19ee96

                                               customer_id
827595   9a80270e24392fdb96e6ad3a945193dae4c8daaeaa7f3c...
1283004  ef731b45163660b627f4b74fda60551b4b590a5fbebea4...
1222125  e40c3f567b42f896930e24b64e3bd24118356771ebffad...
263718   313532891155c5c7c0b5918a50c2a429dc0154e575eee3...
904881   a8dbba5b1ee4e524fdc319d2cadd60f0bd90a5d33781a1...
529251   62cf5b1328e4d5420893e680efb0dda4f85dd29759c219...
1135609  d3da37b1e304098379a190be100a3ce3bba3c322fbe06d...
986257   b800ee61c6939bedc539853e8e5cabfb282dac7e009681...
247528   2e30249b1669f190f513e9b4f118b58612f841016cc35d...
1073809  c862662e6cec113fa801b2f5ae4e925da5af422cf6574a...
730806   886c063ee41ac1140da041a1a85a946ab383a408fff3da...
301279   384c0e5281e22f494ce9725e9d8d13c7a719bdb2a604d2...
1364625  fe9e64990930f77b8afee2bf74f4437ae1d4f893bc6875...
603520   709e59763cd3b0d9b0dea846a1e2d05e12068be396a28e...
379165   46e920d056a9907fbb754f7396ac6bcdc1b1c510c4f695...
236671   2c2e66c41f6d1909a2cc5145504a954c8006b15392eebf...
284298   3514524fd259e7438e2310af13f06828a7ce809a4567b2...
953101   b1d3b215f1a61941ef9d0e99d683e6f278046508e4e3c3...
88381    10858e7b74694020ca1f274398cdf689c41eef642f0362...
1091422  cbad74561aef3cbd0b076690cd77287bf3a5548814d6f4...
1118655  d0b7d71e046fdabe44389d260696ad435956666608fb28...
954301   b20d233273d4541a4282fc6a8a1e0232bc161c9bf97e65...
286533   358073234d8e02853c966faa4361de670f1c0c9787585a...
77639    0e80c22503be8d86eb8b7a160b69cd8479bacd1a53cee3...
1156564  d7c504e5e4ab348fbb85c6d3c74336bf7b49892a1788ad...
898050   a79a90a69d4886b2623b670ee3cfe1825b4e1acd9f4657...
366989   44a44365415cd53b076fec0fa617bce4630db2d8f7072f...
432948   50f1cbee510926d614457e06032a0e13b8137dc3ead841...
1357418  fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...

df_SubCust_Trxn.shape[0]

380

,customer_id,t_dat,article_id,price,sales_channel_id
0,9a80270e24392fdb96e6ad3a945193dae4c8daaeaa7f3c...,2019-02-16,686576001,0.016763,1
1,9a80270e24392fdb96e6ad3a945193dae4c8daaeaa7f3c...,2019-02-16,689096003,0.004559,1
2,ef731b45163660b627f4b74fda60551b4b590a5fbebea4...,2019-10-17,673396002,0.012186,1
3,e40c3f567b42f896930e24b64e3bd24118356771ebffad...,2019-11-29,788301001,0.120814,2
4,313532891155c5c7c0b5918a50c2a429dc0154e575eee3...,2020-05-25,781758002,0.022864,2
...,...,...,...,...,...
375,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,2019-07-10,743112002,0.025407,1
376,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,2019-07-10,743112001,0.025407,1
377,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,2019-07-17,758049001,0.030492,1
378,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,2019-07-17,776989001,0.013542,1
379,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,2019-07-17,758050001,0.025407,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
241,358073234d8e02853c966faa4361de670f1c0c9787585a...,2020-09-21,928892001,0.013542,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
241,358073234d8e02853c966faa4361de670f1c0c9787585a...,2020-09-21,928892001,0.013542,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,358073234d8e02853c966faa4361de670f1c0c9787585a...,2020-09-21,928892001,0.013542,1,NaN,NaN,ACTIVE,NONE,18.0,a3e40d3d9c644cdb9eda92cb7706112f5b07ef055bb3e0...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,358073234d8e02853c966faa4361de670f1c0c9787585a...,2020-09-21,928892001,0.013542,1,ACTIVE,NONE,18.0,a3e40d3d9c644cdb9eda92cb7706112f5b07ef055bb3e0...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,358073234d8e02853c966faa4361de670f1c0c9787585a...,2020-09-21,928892001,0.013542,1,ACTIVE,NONE,18.0,a3e40d3d9c644cdb9eda92cb7706112f5b07ef055bb3e0...,928892,...,Jewellery,C,Ladies Accessories,1,Ladieswear,66,Womens Small accessories,1019,Accessories,Metal rings in various designs.

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Accessories,C
0,358073234d8e02853c966faa4361de670f1c0c9787585a...,2020-09-21,928892001,0.013542,1,ACTIVE,NONE,18.0,a3e40d3d9c644cdb9eda92cb7706112f5b07ef055bb3e0...,928892,...,1010016,5,5,15,4344,1,66,1019,1,1

array([[ 928892,      79, 1010016,       5,       5,      15,    4344,
              1,      66,    1019]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245e5ca6610666b19ee96 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 29

get_next_SubmissionCustomer

'7736838689e76d9d7e1592dc9d859ff320a55a396a0067ae05076a3b4c9831ac'

Generate Artcile Predictions for Customer 30 : 7736838689e76d9d7e1592dc9d859ff320a55a396a0067ae05076a3b4c9831ac

                                               customer_id
1282526  ef59b17c6dd7c1a657960cb4168ec5a431b7343530afbb...
933851   ae3e7e30648ca01bca8ed45d337b3c1fc33435c6a652a1...
345243   408edd2bb3d3df92ef531b55c30b6d86a8ddeafcc8d362...
198414   24fee96eae9cebb160ce6e80230b71a135ca467b2d958a...
978491   b68c222f95e58f5262b960d1dd3d20bc7f95749440f558...
84788    0fdac70e85f4d3f1e3608b0883467a8a5b7386aa286947...
936365   aeb44b2db2ed68eca2bdee2ca54004f6789ae2413378c5...
342468   400d67225f60f06fd996bfa01ce7cf508237658364ab99...
1007396  bbfbb2ce9f6d66ba42114834bf453ccab49710d663ed50...
218765   28cfbd234d32c661ea1a91ceb82f9575f2eff25f994a6c...
785767   92b0189c36567ab1a12988be9f91a385f136e5216a5c7b...
379846   4709b222ba3d073e0e927a4d1dcbdd03dc1980749f2835...
964186   b3e0fcc691400723ab066afcf1a6d21c483162eee7fc0c...
232071   2b4ea5845c69f7bbb2505952f4357b1c7389b1b96d605c...
1139205  d488b1f153a5c0b985a8350e3875497ffa1a6fae5e647f...
326486   3d0b0be9d97ecec40e7779f25b8d49daf39d73e898f40b...
1086024  caacc824c43bc1b6afd638ae05fbb4fa2c33b571a63f6f...
65946    0c56e63b4d61517ccd78bcf4e9661815e8ff252c7e5469...
677525   7e7c60103fb58a2e052bb02bbc6364eea3deeb32f2a439...
629032   755f93649759c90d3a616d3d611f067def0c22b1541476...
828568   9aaf4345b633da5869e4cb01b9fa30caca58d2107a16c0...
40213    0786a39c9552bf05e6edecb4df51f05dc195be76ab8f73...
394372   49b4d40b292461daba3a3d0043e1dd09c12ccc5d39ef37...
313239   3a879fc719758ea55f7c0a69746f6e5fd9e873eaa8c523...
892479   a6922b7437e38e2c00eb4f95e9267783ee70c0c9385d7f...
1180180  dc348823ebfdb87fda66b6fcae6f14a1c8d97c1f53b567...
722964   86f1e3813f3dec591c0e59fa2820f9be7968ec7d2601d1...
551683   66fc322b946d7e9011d683bffe1c3bf7d492a35e89838f...
865175   a17ef34804288b0b58d94e0507e533ffbf8fe054067950...
638795   7736838689e76d9d7e1592dc9d859ff320a55a396a0067...

df_SubCust_Trxn.shape[0]

967

,customer_id,t_dat,article_id,price,sales_channel_id
0,ef59b17c6dd7c1a657960cb4168ec5a431b7343530afbb...,2019-11-10,824575001.0,0.016932,2.0
1,ef59b17c6dd7c1a657960cb4168ec5a431b7343530afbb...,2019-11-10,677930023.0,0.016932,2.0
2,ef59b17c6dd7c1a657960cb4168ec5a431b7343530afbb...,2019-11-10,804691004.0,0.033881,2.0
3,ef59b17c6dd7c1a657960cb4168ec5a431b7343530afbb...,2020-02-05,758034001.0,0.022864,2.0
4,ef59b17c6dd7c1a657960cb4168ec5a431b7343530afbb...,2020-02-05,759391008.0,0.030492,2.0
...,...,...,...,...,...
962,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-16,757903038.0,0.016932,2.0
963,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-16,919273002.0,0.042356,2.0
964,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-16,919273002.0,0.042356,2.0
965,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-16,685814048.0,0.033881,2.0
966,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-20,914441002.0,0.033881,2.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
966,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-20,914441002.0,0.033881,2.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
966,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-20,914441002.0,0.033881,2.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-20,914441002.0,0.033881,2.0,1.0,1.0,ACTIVE,Regularly,45.0,b93d55da63b58a512f18399646f5bd783491ad63203c80...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-20,914441002.0,0.033881,2.0,ACTIVE,Regularly,45.0,b93d55da63b58a512f18399646f5bd783491ad63203c80...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-20,914441002.0,0.033881,2.0,ACTIVE,Regularly,45.0,b93d55da63b58a512f18399646f5bd783491ad63203c80...,914441,...,Denim Trousers,D,Divided,2,Divided,57,Ladies Denim,1016,Trousers Denim,"Ankle-length jeggings in soft, stretch denim w..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,D
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,2020-09-20,914441002.0,0.033881,2.0,ACTIVE,Regularly,45.0,b93d55da63b58a512f18399646f5bd783491ad63203c80...,914441,...,1010023,9,4,5,1772,2,57,1016,1,1

array([[ 914441,     272, 1010023,       9,       4,       5,    1772,
              2,      57,    1016]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

7736838689e76d9d7e1592dc9d859ff320a55a396a0067ae05076a3b4c9831ac 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 30

get_next_SubmissionCustomer

'1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf3640b6a875d200e6365b1'

Generate Artcile Predictions for Customer 31 : 1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf3640b6a875d200e6365b1

                                               customer_id
995759   b9d0b70017ba96f3870735076fd44df6d5a56e783f17c8...
939993   af617ff119165b1d82a4ae870365f2676f881b5750d155...
390388   48f8e73d742fd79b4893263a638bd1ab9deca6fdf3d1ee...
394543   49bb60c74918a4e2a894d2763ee39d5ce595e14dcdcdc3...
1039438  c1ff68f2a369a0cbcd8cddff0017e8f2d66f3ccda570c9...
414637   4d855328ab194bada306141a9cfbe6cd3c42c0db1b0ffb...
1148653  d64c5cb9e9bced8dcedad94cd8fbf96506059fadea317e...
696933   821d0ba0dafd965206de6644de79c6d0739895ce454324...
1180376  dc3e495fe0380dc54ab109044be0c415a7260b5957f69e...
16559    0319b6ae72dab946d7caef42cfbb0f41c2b8bbef422e61...
792054   93dc3321033653a10ec8b84464d5de9f09f0c568a574af...
1000240  baa5b5e6f61b6a87697e6190b452cb5e2f39372e201ba2...
47692    08ea8becd928d8bdf7eba2ccae2343507767037327d6e0...
924525   ac81dfef1877f761b9d488b7077167ddca5dd7b6db08f0...
579036   6c0a275ee1c8223031ef8fba9cff84e76e607a914ac97a...
1344593  fadc628023a6d88d23f3b904f2014f3741171b9d20f9b7...
377489   4698afa0c6597f28895b7ad8e16526b2ebad00db2c1c5e...
1080574  c9a38080ff7d14cf220da4cdda4ecb89d15f9b3c789cba...
810066   9740462506e9e694192b29bbc2536e879d8d8b721b9ab4...
1341368  fa42c535b377f70f0f59fa75f9695d90ad0b0a49efb298...
324552   3cab60fbe6946340cb603be7c08f96fb632d66a4302a2f...
279371   3425b8ce9fdd4abb0633c3bc2cae0e82c3611bf26ceec1...
858136   a0304a36f68b7cfa7459a072fe358b65efa2ed64b87aa7...
433988   511ffed0b37f8a0ee4fd88f306649d24add23fff68eef7...
1047316  c37af6eff0f191c87b760ade27ae1cbe3904f52b002c7d...
1012725  bcfbe4ff4a075111ccf47424521d6d00b8d9e891d6ea17...
663798   7be692ec3f22f271b0ece93dbb6c459a39582a8baa54c1...
472901   5855a3ae494232e01d05e546e6b5152e8c6f8382f2790c...
1339459  f9e7a7a8cc44711159434ffc32c0c068b54920bc1107e7...
585278   6d3355ce45f28b9a4e7563cfcd2e1941e10b128426306c...
166090   1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...

df_SubCust_Trxn.shape[0]

786

,customer_id,t_dat,article_id,price,sales_channel_id
0,b9d0b70017ba96f3870735076fd44df6d5a56e783f17c8...,2019-02-13,708705004,0.091508,1
1,b9d0b70017ba96f3870735076fd44df6d5a56e783f17c8...,2019-02-13,751053001,0.030492,1
2,b9d0b70017ba96f3870735076fd44df6d5a56e783f17c8...,2019-02-13,717664003,0.022864,1
3,b9d0b70017ba96f3870735076fd44df6d5a56e783f17c8...,2019-02-13,357751002,0.009136,1
4,b9d0b70017ba96f3870735076fd44df6d5a56e783f17c8...,2019-02-13,715232001,0.004559,1
...,...,...,...,...,...
781,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,2020-05-04,831684005,0.084729,2
782,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,2020-05-04,815851001,0.067780,2
783,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,2020-05-04,719128007,0.042356,2
784,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,2020-05-04,719128008,0.042356,2
785,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,2020-05-04,873318001,0.033881,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
671,3cab60fbe6946340cb603be7c08f96fb632d66a4302a2f...,2020-09-19,158340001,0.011288,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
671,3cab60fbe6946340cb603be7c08f96fb632d66a4302a2f...,2020-09-19,158340001,0.011288,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,3cab60fbe6946340cb603be7c08f96fb632d66a4302a2f...,2020-09-19,158340001,0.011288,1,NaN,NaN,ACTIVE,NONE,29.0,efea2be321cacc88ae5a7bcf07dc5ffe06c2eeb64bf18b...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,3cab60fbe6946340cb603be7c08f96fb632d66a4302a2f...,2020-09-19,158340001,0.011288,1,ACTIVE,NONE,29.0,efea2be321cacc88ae5a7bcf07dc5ffe06c2eeb64bf18b...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,3cab60fbe6946340cb603be7c08f96fb632d66a4302a2f...,2020-09-19,158340001,0.011288,1,ACTIVE,NONE,29.0,efea2be321cacc88ae5a7bcf07dc5ffe06c2eeb64bf18b...,158340,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,High-waisted tights that lift the bum and shap...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,B
0,3cab60fbe6946340cb603be7c08f96fb632d66a4302a2f...,2020-09-19,158340001,0.011288,1,ACTIVE,NONE,29.0,efea2be321cacc88ae5a7bcf07dc5ffe06c2eeb64bf18b...,158340,...,1010016,9,4,5,3608,1,62,1021,1,1

array([[ 158340,     273, 1010016,       9,       4,       5,    3608,
              1,      62,    1021]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
18   610776032    165
14   534181011     84
7    456163083     47
6    456163070     41
12   522398052     30
1    237347043     29
0    218354045     21
4    396135049     17
2    316441034     14
19   616732001      9
13   522638004      8
17   580768002      8
10   522043004      5
11   522372002      4
5    456163022      4
15   537350008      4
16   573284056      3
3    316471020      3
8    458924016      2
9    495495004      1
Show Article predictions...

    article_id
0    610776032
1    534181011
2    456163083
3    456163070
4    522398052
5    237347043
6    218354045
7    396135049
8    316441034
9    616732001
10   522638004
11   580768002

1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf3640b6a875d200e6365b1 0610776032 0534181011 0456163083 0456163070 0522398052 0237347043 0218354045 0396135049 0316441034 0616732001 0522638004 0580768002
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...

cust_rec is... 31

get_next_SubmissionCustomer

'cef71e9310e77538055fc88f01a4f2b43bc6b4029de694b8e66583103f538d33'

Generate Artcile Predictions for Customer 32 : cef71e9310e77538055fc88f01a4f2b43bc6b4029de694b8e66583103f538d33

                                               customer_id
699088   8282ebf56587146a0c8fc8c211639bd62e1deba337e06f...
1208694  e1855fcd37fd9b78a5ea276c2b691f52f835f78ddf12e8...
171076   1fded75962bb5b1873340ea8017633c2b872a3db9e14cf...
892502   a693636579189401abec49741510fbd09b229cbabb2a0e...
1229240  e566bcca1cf84c08caf6b4eae363a138ae201b3a1f7999...
1276324  ee34491370522391f264988ce5414cd85e2018045841bc...
1269445  ece58e1f0150292e49839c90f9e861243431bea62f9107...
1309496  f45ca2842485e7d8af85ba99516bb08ca0ef2f2bcef3dc...
787344   92f9955e7412981ebf9f5618fc94a2401733b64e8f2532...
1278597  ee9d681fef418cd0c8b6fe26126b915fc04afbb1b1b1cf...
273198   33003844f0b3e5240d096353c62000486203ad0a80d835...
491916   5be106f8613a34c7fb56e8a6a6afcf2a7cb41c31b8857b...
182898   22111e0737cf7e2751a15fad520431b1d7a6116d813551...
122801   16e3708a2d663204264bf7148088b976b3ac7ba1896ca8...
529715   62e632484b8908f447986fc7a5c3228fed1fcbe7067a42...
909737   a9c0f555182d6d8a74d30ae01449df267ca1499fe47113...
1023578  bf02bbec65cee6d5aacfa31a84aabd83e694fa2ca77cc8...
311160   3a23c0bfe5617063e7bdcc19b742fecf19a05a8ac933d8...
814148   9800ca7348e6b002610dd3ddd6e61dc33a14628991c70c...
173362   204c586d95421a770add1486af5a0582b608af16fbb850...
14984    02c93bd5430ecbac947978f04660f75765e74922ea0118...
629451   75745c5ffac618e4ab265701488afcc2360b21a184d814...
113740   1533f2449f6679063e86c62a92d8b689a6530a405e4ece...
82135    0f5924ebc86da617f8d64f1bc13b835954f56c942baaab...
657771   7ac4596ad4f70ee795098d09a7fa2a675efcfd07992473...
168000   1f4a571099bc26d77c54d48b01055da7a116c4faf6f135...
1172856  dacea75f4edbc8dc24a63b6c5d10802af1a857d02d93bf...
40385    078dae97f37f8d984b1725abcb0d823a81bbe8ec5a034f...
1072065  c80d5c362234ea96b04d62b99bb03cb33b0b8077a72ba4...
860376   a09c41b1ee0f141ec86e3e380f0748eb4368e76cbff026...
455345   551814ae8f1eba4935654ea51b89df929832d8dd83b7f9...
1109091  cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...

df_SubCust_Trxn.shape[0]

785

,customer_id,t_dat,article_id,price,sales_channel_id
0,8282ebf56587146a0c8fc8c211639bd62e1deba337e06f...,2020-05-16,796374001,0.028797,2
1,8282ebf56587146a0c8fc8c211639bd62e1deba337e06f...,2020-05-16,796374001,0.028797,2
2,8282ebf56587146a0c8fc8c211639bd62e1deba337e06f...,2020-05-16,796374001,0.028797,2
3,e1855fcd37fd9b78a5ea276c2b691f52f835f78ddf12e8...,2018-10-08,674492002,0.025407,1
4,e1855fcd37fd9b78a5ea276c2b691f52f835f78ddf12e8...,2018-12-31,733931002,0.018627,1
...,...,...,...,...,...
780,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,2020-06-25,805011016,0.010153,1
781,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,2020-06-25,556539016,0.005068,1
782,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,2020-06-25,834412007,0.019051,1
783,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,2020-06-25,865314008,0.005068,1
784,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,2020-06-25,882810001,0.016932,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
146,ece58e1f0150292e49839c90f9e861243431bea62f9107...,2020-09-19,766402016,0.050831,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
146,ece58e1f0150292e49839c90f9e861243431bea62f9107...,2020-09-19,766402016,0.050831,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,ece58e1f0150292e49839c90f9e861243431bea62f9107...,2020-09-19,766402016,0.050831,1,1.0,1.0,ACTIVE,Regularly,19.0,403902e9e6c59a62d5721de22d60f18b595308a2fe09fe...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,ece58e1f0150292e49839c90f9e861243431bea62f9107...,2020-09-19,766402016,0.050831,1,ACTIVE,Regularly,19.0,403902e9e6c59a62d5721de22d60f18b595308a2fe09fe...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,ece58e1f0150292e49839c90f9e861243431bea62f9107...,2020-09-19,766402016,0.050831,1,ACTIVE,Regularly,19.0,403902e9e6c59a62d5721de22d60f18b595308a2fe09fe...,766402,...,Trouser,F,Menswear,3,Menswear,20,Contemporary Smart,1009,Trousers,Ankle-length joggers in woven fabric with an e...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,F
0,ece58e1f0150292e49839c90f9e861243431bea62f9107...,2020-09-19,766402016,0.050831,1,ACTIVE,Regularly,19.0,403902e9e6c59a62d5721de22d60f18b595308a2fe09fe...,766402,...,1010010,6,1,12,5686,3,20,1009,1,1

array([[ 766402,     272, 1010010,       6,       1,      12,    5686,
              3,      20,    1009]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
6    827370002     86
5    826492006     74
2    802023004     61
4    821152004     59
3    819547001     51
14   929165002     46
7    830016002     42
10   893059003     34
9    853089002     32
0    774543002      6
8    844971002      2
11   895993006      2
12   909955001      2
1    774552002      1
13   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    929165002
6    830016002
7    893059003
8    853089002
9    774543002
10   844971002
11   895993006

cef71e9310e77538055fc88f01a4f2b43bc6b4029de694b8e66583103f538d33 0827370002 0826492006 0802023004 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0774543002 0844971002 0895993006
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...

display(df_NextCust_Preds)...

,customer_id,prediction
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 32

get_next_SubmissionCustomer

'e2727483108e831d58df085fe51c88c0975e0cc68ce75c5881d8c03e52c7a1dc'

Generate Artcile Predictions for Customer 33 : e2727483108e831d58df085fe51c88c0975e0cc68ce75c5881d8c03e52c7a1dc

                                               customer_id
345316   4092adb71a20330ed6cf0f970065adb995ac8f4f7eeee7...
134227   190476c870de111bf644a0e38f02effb46edfc279cebc6...
1150644  d6a93bd64d4d15030b710406e5e2bcce8a014f5185e53c...
32155    060a3fcb797529094664be6a8e8c5dd72dec005f3f29c5...
755560   8d07f61d5835ab5ff195db078938fee9cc07fc9665186b...
1228031  e52c80260b9f6348992ffbf15ff391e44f85f4539fb94a...
1013429  bd1ce9bb93c9bc78b9b2acfd9059610980c570398e1ea4...
941139   af9953db296e053dd83d4f97ee85a9ea9db2a27af633b1...
803732   960d3c21b0189b1afde946c8acba9111e06f3e7449a683...
503244   5e01bc3975c8322675a728cbd9135b4a3b6d395bd0f1aa...
15768    02efbe1df3297ceea880538a954a6dd0af4ad678cec47e...
304700   38eeb7a5b2c10d7673c08ab2e5847f9a02ea9f3dbe6902...
726416   8799df5cbca2ce76aedb53c3f1d14b32b23d1303a72872...
756407   8d30b0055e7badd2a1132dc5bbd72d3f4d9b0da752f206...
653775   7a02103512fa205bdb37ce2ef6ae02cd603a3c54cc01d4...
827506   9a7c05996e56a9b9edf4b3fb045bfff5ca7f5cc9a127c2...
1208893  e18f1797a275fafb736859e37a4534d5c8a1cc2a7ef621...
1124307  d1c2a83579119cf40e18d7b0c55aee22daec4ff2571e63...
1239877  e7614224c2ba4dd5831f7f15aa2ea032396ea2474a58b4...
98121    1251e6483c94fc7c7db22f0260debb458b8d21b2da1560...
282172   34abfe27f0a4069617d4b83bf637ac20b8a38cb6951ac4...
591951   6e6da0ca17dc3a66b0abe8a8a54e423a694ad89b633846...
632791   7617bda2c432f9bae5ee9b12d343a87f9aec8c01f35e48...
438236   51eb8694eb4e3df5f1e14a7d5cca31b2d173465fd3c2ca...
264051   3145bfa8fe026b1d1651ed21a2bd09b4644088ba5756eb...
513117   5fd56bd69b212003857d54cef26202c0d7b74f7573e622...
260848   30aae833ec8754e8f08372ed6130d192ee3cc1724d7143...
1202730  e06abec2f3dadb38e762542ceba1e8891565dcbc1dbdb7...
1348740  fba7fb13455370ed95edc0e90a49e4c10be8a7f685685f...
1191343  de45bca8eaa84889f5fc336c6378236fb41d74ae3941e2...
888186   a5c4e1ec359b356606d5d36f00ea9605d446a930375f9a...
1033638  c0e6d6d8b0b35a13b83e058dbcacc03c1912f84c014990...
1213553  e2727483108e831d58df085fe51c88c0975e0cc68ce75c...

df_SubCust_Trxn.shape[0]

871

,customer_id,t_dat,article_id,price,sales_channel_id
0,4092adb71a20330ed6cf0f970065adb995ac8f4f7eeee7...,2018-10-01,677809001.0,0.033881,1.0
1,4092adb71a20330ed6cf0f970065adb995ac8f4f7eeee7...,2018-10-01,543054009.0,0.042356,1.0
2,4092adb71a20330ed6cf0f970065adb995ac8f4f7eeee7...,2018-10-01,649551007.0,0.025407,1.0
3,4092adb71a20330ed6cf0f970065adb995ac8f4f7eeee7...,2018-10-03,663939001.0,0.042356,1.0
4,4092adb71a20330ed6cf0f970065adb995ac8f4f7eeee7...,2018-10-04,639755001.0,0.008458,1.0
...,...,...,...,...,...
866,c0e6d6d8b0b35a13b83e058dbcacc03c1912f84c014990...,2020-05-31,684209019.0,0.025407,2.0
867,c0e6d6d8b0b35a13b83e058dbcacc03c1912f84c014990...,2020-05-31,684209019.0,0.025407,2.0
868,c0e6d6d8b0b35a13b83e058dbcacc03c1912f84c014990...,2020-05-31,841434003.0,0.025407,2.0
869,c0e6d6d8b0b35a13b83e058dbcacc03c1912f84c014990...,2020-05-31,841434003.0,0.025407,2.0
870,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,2020-08-30,835348001.0,0.067780,2.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
825,de45bca8eaa84889f5fc336c6378236fb41d74ae3941e2...,2020-09-22,733067001.0,0.016932,2.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
825,de45bca8eaa84889f5fc336c6378236fb41d74ae3941e2...,2020-09-22,733067001.0,0.016932,2.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,de45bca8eaa84889f5fc336c6378236fb41d74ae3941e2...,2020-09-22,733067001.0,0.016932,2.0,NaN,NaN,ACTIVE,NONE,52.0,a1f970bf5828fa2b083b36312b9da64e2914955f74fc03...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,de45bca8eaa84889f5fc336c6378236fb41d74ae3941e2...,2020-09-22,733067001.0,0.016932,2.0,ACTIVE,NONE,52.0,a1f970bf5828fa2b083b36312b9da64e2914955f74fc03...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,de45bca8eaa84889f5fc336c6378236fb41d74ae3941e2...,2020-09-22,733067001.0,0.016932,2.0,ACTIVE,NONE,52.0,a1f970bf5828fa2b083b36312b9da64e2914955f74fc03...,733067,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear",Hipster briefs in soft microfibre with laser-c...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Unknown,B
0,de45bca8eaa84889f5fc336c6378236fb41d74ae3941e2...,2020-09-22,733067001.0,0.016932,2.0,ACTIVE,NONE,52.0,a1f970bf5828fa2b083b36312b9da64e2914955f74fc03...,733067,...,1010016,9,4,5,1338,1,61,1017,1,1

array([[ 733067,      -1, 1010016,       9,       4,       5,    1338,
              1,      61,    1017]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
7    827370002     86
6    826492006     74
2    802023004     61
5    821152004     59
4    819547001     51
3    803080001     45
8    830016002     42
12   853089002     32
10   843701001     21
9    842952003     17
0    774543002      6
11   844971002      2
13   909955001      2
1    774552002      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    803080001
6    830016002
7    853089002
8    843701001
9    842952003
10   774543002
11   844971002

e2727483108e831d58df085fe51c88c0975e0cc68ce75c5881d8c03e52c7a1dc 0827370002 0826492006 0802023004 0821152004 0819547001 0803080001 0830016002 0853089002 0843701001 0842952003 0774543002 0844971002
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 33

get_next_SubmissionCustomer

'4f52153175099d7036ef239da9c28af5493b585a3aa47d21f8b40c8efed09abe'

Generate Artcile Predictions for Customer 34 : 4f52153175099d7036ef239da9c28af5493b585a3aa47d21f8b40c8efed09abe

                                               customer_id
1237747  e6fd71b0660303c30f3335ba663c85c1f7f7d1590e1057...
707930   841f9b123d6b25c8163dbfd1a77df1c418140993c999bd...
1037310  c19ce7b9021c57e267e66b90e914e9de066afb49580466...
200976   257613432ad99a01b50b39b8ce721d1d1a23c825e78fcc...
7484     0165303e90426db1cd1d9973a7d76056aa0e73bd5a45ca...
287969   35c6afd92acd3808b2bd8277f23a7573106bb284281490...
836471   9c28f2573dafbb849aa6d6dcf315572fee9c3a45f3cb92...
950931   b16ba503fc1920c2235653f62912f726b56b9e3bec4d3c...
739007   89f07acd79bca1667853251f458f2c7a64583c08aa195c...
867716   a1f4e55785593457209aa8c2736841670bed626d350e85...
681781   7f4837f0638e3c6854f5197292e4b2bcec8d5b9fbcb820...
1290436  f0d20893ca03181befc1462b05426c4f30635932d13f23...
571958   6abb70945c2b8e617fbd9d73258e966c4898f11cde75ad...
171226   1fe6a98582fa8d513853bb5bb4f04d2b21a23aaaa94478...
446175   536623ca0114d4ff23f04d9c87d03f0a48269d8076ab70...
326404   3d076066cfc82885df513afccd4bea3857e6880bb13266...
1008321  bc2939155ece8ca5cd5906c4c3aa262835525dd74b0967...
1094521  cc3e3385c1ac8e81b4fdba8bdda77274ec3b4f1f8230e8...
625484   74af7f5eaa647863f6bc44cf988d223d71652c413ed90c...
141325   1a56ad99ce3f0dcb3993640e4bc570d336f48e8f15d3f2...
695305   81cfdf173a6be758bc1b2d31b01692f0cb9ead0a57953a...
224542   29e70730ce28555b20a11354dede59d07a0de11b98282f...
426587   4fc3acb482d107bc208151695853f70ecd590e327582a7...
1297632  f2253763281bfc14a14d2b97075a3fb84e1b5e841b86da...
1125749  d202f84914ddabc3ec87d4dc6efb3a03c8d3263076cd3b...
726264   87931c2d130ca1ccbaa6a8f3ef4d93d5a602c89b27aa28...
1347012  fb5304c1b9f9e38caec2129431d380ce6d1e5bc66e999b...
58439    0aeac5d53b2e7fae6407bfb73cc4e511d86f1e0e2fc90e...
1089326  cb4c1eb22a7963b33b5c141c22727e724af86ffb941e63...
1274252  edceab6021397720c43cdc5d84b144e9278f804e8e4d3b...
684634   7fd3148d76a41a48598580dd7ca83ae43dab094ac571f8...
573699   6b0ce074334bb2e1a55087fee4cdd1fe946232975d69c3...
354678   42587f8a422433e5aebe526f0d9941bfed84b9368a74f4...
424234   4f52153175099d7036ef239da9c28af5493b585a3aa47d...

df_SubCust_Trxn.shape[0]

889

,customer_id,t_dat,article_id,price,sales_channel_id
0,e6fd71b0660303c30f3335ba663c85c1f7f7d1590e1057...,2018-10-02,655141001.0,0.084729,2.0
1,e6fd71b0660303c30f3335ba663c85c1f7f7d1590e1057...,2018-10-04,697315001.0,0.025407,2.0
2,e6fd71b0660303c30f3335ba663c85c1f7f7d1590e1057...,2018-10-09,697315001.0,0.025407,2.0
3,e6fd71b0660303c30f3335ba663c85c1f7f7d1590e1057...,2018-10-12,699988001.0,0.094898,2.0
4,e6fd71b0660303c30f3335ba663c85c1f7f7d1590e1057...,2018-10-24,667985004.0,0.033881,2.0
...,...,...,...,...,...
884,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,2020-04-01,624486061.0,0.013542,2.0
885,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,2020-04-01,699081001.0,0.025407,2.0
886,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,2020-04-01,699081001.0,0.025407,2.0
887,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,2020-05-26,589599033.0,0.025407,2.0
888,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,2020-05-26,589599033.0,0.025407,2.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
836,fb5304c1b9f9e38caec2129431d380ce6d1e5bc66e999b...,2020-09-17,764073004.0,0.042356,2.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
836,fb5304c1b9f9e38caec2129431d380ce6d1e5bc66e999b...,2020-09-17,764073004.0,0.042356,2.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,fb5304c1b9f9e38caec2129431d380ce6d1e5bc66e999b...,2020-09-17,764073004.0,0.042356,2.0,NaN,NaN,ACTIVE,NONE,54.0,6605846ff2b996efe31398553d070fcba1e397eb5e9ac4...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,fb5304c1b9f9e38caec2129431d380ce6d1e5bc66e999b...,2020-09-17,764073004.0,0.042356,2.0,ACTIVE,NONE,54.0,6605846ff2b996efe31398553d070fcba1e397eb5e9ac4...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,fb5304c1b9f9e38caec2129431d380ce6d1e5bc66e999b...,2020-09-17,764073004.0,0.042356,2.0,ACTIVE,NONE,54.0,6605846ff2b996efe31398553d070fcba1e397eb5e9ac4...,764073,...,Loungewear,A,Ladieswear,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1017,"Under-, Nightwear",Short-sleeved top in ribbed jersey made from a...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,fb5304c1b9f9e38caec2129431d380ce6d1e5bc66e999b...,2020-09-17,764073004.0,0.042356,2.0,ACTIVE,NONE,54.0,6605846ff2b996efe31398553d070fcba1e397eb5e9ac4...,764073,...,1010016,9,4,5,3708,1,62,1017,1,1

array([[ 764073,     252, 1010016,       9,       4,       5,    3708,
              1,      62,    1017]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
6    827370002     86
5    826492006     74
2    802023004     61
4    821152004     59
3    819547001     51
14   929165002     46
7    830016002     42
10   893059003     34
9    853089002     32
0    774543002      6
8    844971002      2
11   895993006      2
12   909955001      2
1    774552002      1
13   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    929165002
6    830016002
7    893059003
8    853089002
9    774543002
10   844971002
11   895993006

4f52153175099d7036ef239da9c28af5493b585a3aa47d21f8b40c8efed09abe 0827370002 0826492006 0802023004 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0774543002 0844971002 0895993006
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 34

get_next_SubmissionCustomer

'b34f1609846ab27d52dfce8057701221e5fe087879a0be55870042c7065673ec'

Generate Artcile Predictions for Customer 35 : b34f1609846ab27d52dfce8057701221e5fe087879a0be55870042c7065673ec

                                               customer_id
1239780  e75ccf9faa0a084c6b757a68253a1500a54ffd7b1d4cc7...
233040   2b7f4b0b292755cd7e22bdd379123428e3dc78eac8ec1f...
489710   5b76de5b813abdbd1fab79cfff084d8ee677af2eb7b4e9...
1124211  d1be1dae37038eca807662b93462f0600d356ce8d4d20d...
1257174  ea9f18693f1c73319e078c1bfcfb352ea1b64917578e95...
147909   1b8fe3dae6402ecf83195d1a3fd92f6f654334f4a82efc...
231015   2b1d03b87444792eab9329b0aef869e1365ad65464b6d0...
1326672  f789cf4846d4d0a19cf96332089b53e43bd7ea065f7633...
145282   1b12e1833f86b03f50794e17d92afd639f9ce276bedc86...
793661   9428fdd83f4bbdbfbf36342d880a6277425524826d9aab...
419026   4e5a07ec9fb57616a15cc8172168ef4841a066dd488b44...
183486   222cf84ddc68dcb9cb46b3c4b20eed212587d5d434a58e...
1057429  c559b04ccd466296211d2a2f7f89a31e7ae7bcd83fb240...
645634   78828c7e15605650c102ff9432a1aede581762c5cc11d0...
103838   135f8f944f95e4e7487e5743908e586136e7dc47e5e7e0...
959726   b30f92afcb6322350bcbb4183d6f35ded3623d9b50ea79...
775298   90bf824eb3315d9429cbca4d75742c18a7a33b39293ed9...
1268870  ecc914ff057c26f72c54f75901d0b4ac66a7bfec2eb3e0...
369812   452b8f9e65530543ca9cf131772ddd058574b929274269...
1193449  dead5d590c4a426f546102b08c2f676ce91c3a6c7e5232...
252543   2f20dccc990cbb05c26a2b0da5065263633fad99eb422a...
953975   b1fd02c571c3fac88f8f925e015d117a06cc3ed150211c...
1290846  f0e418b362e3db4637902682686c3fc94ef837729001e3...
350143   417709f056b565fddb6fe805a41027a14d0fa0e11468b9...
1007176  bbf1f0f48a77ff7a33da7dc8350558a9e3f89254e6a599...
386068   482c9c722ae82ef66275f674aac4b95734b507f74a95c4...
761114   8e1298aa2d7e36cc40178ba480469ddc23709a4a81274f...
1074734  c88e01d3629734492ebdce8ddb0631623b52b797466e41...
126008   177e62bf025abada48e6078089ee73ce1129f14f4e70b0...
190572   23851635338f7872b4011c1baca862c57aeaf4a8e5a186...
1147445  d6134fddd6697b93c841e3ffd4facfdd237f0d83ddd1f7...
990412   b8ca546cf678e969532ef8d6d7592a9afc657d7c531f7d...
360747   4379e61f3b69d784f3517f823aa1b9956890f3db8d8204...
193631   2415df0e99b162372e25cf594c954dba7fe0a5079a5e05...
961067   b34f1609846ab27d52dfce8057701221e5fe087879a0be...

df_SubCust_Trxn.shape[0]

779

,customer_id,t_dat,article_id,price,sales_channel_id
0,e75ccf9faa0a084c6b757a68253a1500a54ffd7b1d4cc7...,2018-09-30,479604005,0.050831,1
1,e75ccf9faa0a084c6b757a68253a1500a54ffd7b1d4cc7...,2018-10-22,624632002,0.016932,1
2,e75ccf9faa0a084c6b757a68253a1500a54ffd7b1d4cc7...,2018-10-31,664619001,0.013542,1
3,e75ccf9faa0a084c6b757a68253a1500a54ffd7b1d4cc7...,2018-10-31,647426001,0.042356,1
4,e75ccf9faa0a084c6b757a68253a1500a54ffd7b1d4cc7...,2018-10-31,610776018,0.008458,1
...,...,...,...,...,...
774,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,2020-06-11,876819002,0.118627,2
775,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,2020-06-11,820483005,0.016932,2
776,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,2020-06-11,820483001,0.016932,2
777,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,2020-06-11,859942001,0.050831,2
778,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,2020-06-12,876819002,0.118627,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
236,ecc914ff057c26f72c54f75901d0b4ac66a7bfec2eb3e0...,2020-09-22,781613006,0.050831,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
236,ecc914ff057c26f72c54f75901d0b4ac66a7bfec2eb3e0...,2020-09-22,781613006,0.050831,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,ecc914ff057c26f72c54f75901d0b4ac66a7bfec2eb3e0...,2020-09-22,781613006,0.050831,2,NaN,NaN,ACTIVE,NONE,22.0,560abe3b2e6f14e264aff828592b0e5d7cb117b7f2baa1...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,ecc914ff057c26f72c54f75901d0b4ac66a7bfec2eb3e0...,2020-09-22,781613006,0.050831,2,ACTIVE,NONE,22.0,560abe3b2e6f14e264aff828592b0e5d7cb117b7f2baa1...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,ecc914ff057c26f72c54f75901d0b4ac66a7bfec2eb3e0...,2020-09-22,781613006,0.050831,2,ACTIVE,NONE,22.0,560abe3b2e6f14e264aff828592b0e5d7cb117b7f2baa1...,781613,...,Suit jacket,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1008,Dressed,"Long jacket in a soft weave with notch lapels,..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,ecc914ff057c26f72c54f75901d0b4ac66a7bfec2eb3e0...,2020-09-22,781613006,0.050831,2,ACTIVE,NONE,22.0,560abe3b2e6f14e264aff828592b0e5d7cb117b7f2baa1...,781613,...,1010016,9,4,5,1222,1,15,1008,1,1

array([[ 781613,     264, 1010016,       9,       4,       5,    1222,
              1,      15,    1008]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
4    827370002     86
3    826492006     74
2    821152004     59
1    819547001     51
0    802023004     47
12   929165002     46
5    830016002     42
8    893059003     34
7    853089002     32
9    895993006     23
6    844971002      2
10   909955001      2
11   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    802023004
5    929165002
6    830016002
7    893059003
8    853089002
9    895993006
10   844971002
11   909955001

b34f1609846ab27d52dfce8057701221e5fe087879a0be55870042c7065673ec 0827370002 0826492006 0821152004 0819547001 0802023004 0929165002 0830016002 0893059003 0853089002 0895993006 0844971002 0909955001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...

cust_rec is... 35

get_next_SubmissionCustomer

'1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d459e4d778ea8480105e6'

Generate Artcile Predictions for Customer 36 : 1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d459e4d778ea8480105e6

                                               customer_id
1155439  d78d8d7d8bdcc2ea7fd49ee38a7ddf9685bd222184bd7d...
946171   b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...
985021   b7c43980cd2a847b22a7f53d91dfbb286dd0da879556f3...
1137187  d42533e0a3f9924a46a53d7b49d6dd411f71d817d39644...
990584   b8d31656ac541ae104a4eea776ada7ebb4a75307cc8119...
1093192  cc01a175944da95677c17e7fbf653f9f006cbaa277c7f7...
1349993  fbe275b3b904405c6a9bf5311a10abc02b10be3f2cddec...
266499   31bf126ece2e74cbf76d0d4c7a1c7a48d9c93c395ea25a...
1108790  cee973a061ae87004606d83dd491a7e17684b306178f91...
1011160  bcb3057f771b6eee156e8de10fe217b943f5407ba9f303...
135099   192ccfc09b52110b52344d8471eee6f7e5d3c3d53051cd...
744782   8b0989251ba5e04dab60578bc30011af02558216347550...
795954   9496a56c8bef83c125d443c820f3c4b94f079f45931db7...
1193445  dead2cd135ec49fc855d4b9dca477cf5e37acf5ceb06d2...
301868   38693dc4697bdc196cc8fa5e443da98c9bce82fda01c7d...
194618   2445ee501df99f42aef20ac8212912523670988435a852...
638964   773ebdeb7348f23a3e4100cacab6a593e4e1fe43ee272e...
247943   2e4464b390cd7e89446d3310c75c9e943effca4b80d64a...
196517   24a2e9eeb2b8495c25b848ba18597e3afd0c1c1b38386c...
886267   a5663089a30943592ec24239c8c6e8c7309bb1b1409900...
553521   674e36178541e7b84ea7074a75fcdd79f43055515eab16...
239616   2cba58fcbe26fc7e17a2d8d83e7f7de59b41a12f2254d1...
73664    0dc0b88194d5377521335c011ff0ba2dfa4e76011b581f...
848171   9e57de4a17a147f50c54654fd7ccd37998bb6db0119389...
742747   8aa7f16551fc073f356dad7433efd785870137dcedecaa...
1313745  f521c286dde49e7b836e9970e7455033041092601dea87...
942832   afe8f63a7562c5d261d7ea4aebb9f62b91d34d6f1d63f5...
192380   23db09c4e5ef82da9c1b5ba30259907668c514f6abe6db...
1340182  fa09838e697d041cfbe14fdd3061b286dcd6a396a5df98...
2741     0083773a51a9a7cef771c8e055c0c098bf410e64e25486...
726431   879a5045983b1b9b1c4ce696f8237388a8371cb3145667...
194101   242d5dd58abc7bdc4f9041aacdf38f088fed23e1dd141e...
1033466  c0de58781f7c44dd4719816a5ba98f41a6fe9d1c23899d...
1230262  e5979d021a394d224e27b65270067aee9e057f7ecee197...
69022    0ce65c7937a71f50bcf1fb04f178accb2b6f8d3046cdeb...
109400   1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...

df_SubCust_Trxn.shape[0]

993

,customer_id,t_dat,article_id,price,sales_channel_id
0,d78d8d7d8bdcc2ea7fd49ee38a7ddf9685bd222184bd7d...,2020-04-27,599718002.0,0.030492,2.0
1,d78d8d7d8bdcc2ea7fd49ee38a7ddf9685bd222184bd7d...,2020-04-27,599718016.0,0.030492,2.0
2,b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...,2018-10-16,573716028.0,0.020322,1.0
3,b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...,2018-10-16,610776010.0,0.006763,1.0
4,b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...,2018-10-16,610776023.0,0.006763,1.0
...,...,...,...,...,...
988,0ce65c7937a71f50bcf1fb04f178accb2b6f8d3046cdeb...,2020-04-29,877279002.0,0.019814,2.0
989,0ce65c7937a71f50bcf1fb04f178accb2b6f8d3046cdeb...,2020-04-29,874095001.0,0.016831,2.0
990,0ce65c7937a71f50bcf1fb04f178accb2b6f8d3046cdeb...,2020-06-25,824352001.0,0.011186,2.0
991,0ce65c7937a71f50bcf1fb04f178accb2b6f8d3046cdeb...,2020-06-25,824352005.0,0.020983,2.0
992,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,2019-09-04,749738002.0,0.050831,2.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
211,b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...,2020-09-15,857924010.0,0.033881,2.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
211,b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...,2020-09-15,857924010.0,0.033881,2.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...,2020-09-15,857924010.0,0.033881,2.0,1.0,1.0,ACTIVE,Regularly,28.0,c0411758e288c834e239538c40781012b471e0c78bf0ff...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...,2020-09-15,857924010.0,0.033881,2.0,ACTIVE,Regularly,28.0,c0411758e288c834e239538c40781012b471e0c78bf0ff...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...,2020-09-15,857924010.0,0.033881,2.0,ACTIVE,Regularly,28.0,c0411758e288c834e239538c40781012b471e0c78bf0ff...,857924,...,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,Short shirt dress in a patterned viscose weave...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Full body,D
0,b08ca98878329c0097714ab73c5afc87d78f2cdf099ee5...,2020-09-15,857924010.0,0.033881,2.0,ACTIVE,Regularly,28.0,c0411758e288c834e239538c40781012b471e0c78bf0ff...,857924,...,1010001,9,4,5,1344,2,53,1013,1,1

array([[ 857924,     265, 1010001,       9,       4,       5,    1344,
              2,      53,    1013]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
18   924243001     74
1    821152004     59
0    819547001     51
19   929165002     46
2    827370002     46
3    830016002     42
6    893059003     34
13   915529005     34
5    853089002     32
16   918525001     30
7    895993006     23
8    898918007      6
17   918603001      6
10   909802001      5
9    909801001      4
4    844971002      2
11   909955001      2
12   915092002      1
14   917509002      1
15   917766001      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    827370002
5    830016002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d459e4d778ea8480105e6 0924243001 0821152004 0819547001 0929165002 0827370002 0830016002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 36

get_next_SubmissionCustomer

'a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00030b88bb3d4265aaf5'

Generate Artcile Predictions for Customer 37 : a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00030b88bb3d4265aaf5

                                               customer_id
1228968  e55b3db92441de24c47570e465597ee24bda1ecba1c6d7...
1175116  db3afba30a63b06b20596d349abc25b5327496200d180f...
834065   9bb39c4514530942244cd05744b33e4e0d3c8f1ac04fb6...
1324765  f73191fd0eb08d428cfa296b70c6de65a837daed351a8d...
554928   6790822b6355a60d2fa5bff3bca25ea5eace6c16278f91...
1008742  bc3dfa755af9aa763b23f057a5d66add4bbd577cb5263b...
1292172  f123227a516fccebca757a1557b30b37c47e05464bd1ad...
391326   49263f822ddc971f0f5d9cc9a5c294cffb028579639069...
356610   42b28672bc669a0c37b3705a87c697bee3132f8ed57ea8...
1799     0054c58805c2b6e64392099fa370c3becabfc1ee957b94...
599391   6fd563ce242351341a1307d977c24bf4e5c882a803768a...
654343   7a1c2a600412210c378be150411a0eb8a95716bd1e5b87...
1222089  e40a8607f7df1caa75876472df9eceee9bd9bd7e504bbf...
1147820  d6256c8695f8e07c139196938dd8590ef602fdf119c816...
785076   9290ebe991f0c0c07de97467f9c53061ce59144768eab9...
1120228  d1016e3ace2b790605d547347ba663301e175ae20a6d28...
777669   913121a8de5b67f922243ccc1d735ba0a97d0e30deb614...
330889   3ddec9265f106c78f59ff4c1daad63b85c16fcc45d5581...
316487   3b266fd1ee42589bba34f29d9a78e2bd050db93d48b9d9...
71100    0d467ff088cf5221a2b1057422503ffa75b962ebed52a1...
58746    0afa3eb012017b04a9a02732928248184fa2e3cf362ac2...
50637    0977884e0b9ff1430f9e0dadd8c0c0e224c44ea21aa1cb...
988641   b87507ea3b8350bc4e60ebc54cdd406305ae67906ee90d...
578668   6bf9619a9b665d583a816ac85202c2a89bf014de852e00...
778575   915ba5abab02cef1925ad1e0513d1396aa837e4bfde8e2...
1300926  f2c2860db2e186aef5700896e613cc4a80e91042319426...
836592   9c2eedcb68587b2f923ebaac28b1a9774e320d98e0b5a0...
732712   88c5ad6c9acd2036b833849b863218abba4dd4a0fb37de...
190796   2390835c2a8206d344982fbb42748b80415fb403c146d0...
1311290  f4aed63c831fda551c9e1442902e6bb74df2e8a72861b3...
961      002d2c0390c72b10c8fb0560644bfb3682b5898933e037...
238815   2c94819effac4c6b95ea2f4d785b5ea8c825b09297dfdd...
1134930  d3bc44591f7968983b18b05eeaa5ce6851daa33d125fa7...
142896   1aa19e2c462c8444d647cc66f5b2cd87e419eedede39d2...
994431   b992522b86ce141bce1440f7c7a604cd689a840ef54bbd...
220143   2912c4c4825f589ca893b394ebbaf6b7cb4b2adbb716cb...
897439   a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...

df_SubCust_Trxn.shape[0]

1006

,customer_id,t_dat,article_id,price,sales_channel_id
0,e55b3db92441de24c47570e465597ee24bda1ecba1c6d7...,2018-11-17,685969001,0.167797,2
1,e55b3db92441de24c47570e465597ee24bda1ecba1c6d7...,2019-01-27,583534013,0.016932,2
2,e55b3db92441de24c47570e465597ee24bda1ecba1c6d7...,2019-01-27,660368003,0.030492,2
3,e55b3db92441de24c47570e465597ee24bda1ecba1c6d7...,2019-01-27,680578001,0.030492,2
4,e55b3db92441de24c47570e465597ee24bda1ecba1c6d7...,2019-02-22,725327001,0.067780,2
...,...,...,...,...,...
1001,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,2019-07-04,744862001,0.030492,2
1002,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,2020-06-03,853839003,0.042356,1
1003,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,2020-06-03,791587007,0.025407,1
1004,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,2020-06-03,865171002,0.042356,1
1005,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,2020-06-03,841173001,0.035576,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
612,913121a8de5b67f922243ccc1d735ba0a97d0e30deb614...,2020-09-18,877389002,0.059305,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
612,913121a8de5b67f922243ccc1d735ba0a97d0e30deb614...,2020-09-18,877389002,0.059305,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,913121a8de5b67f922243ccc1d735ba0a97d0e30deb614...,2020-09-18,877389002,0.059305,2,NaN,NaN,ACTIVE,NONE,18.0,1cd3d60300a539ba51a49c53ef479ba2b3b369c859f530...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,913121a8de5b67f922243ccc1d735ba0a97d0e30deb614...,2020-09-18,877389002,0.059305,2,ACTIVE,NONE,18.0,1cd3d60300a539ba51a49c53ef479ba2b3b369c859f530...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,913121a8de5b67f922243ccc1d735ba0a97d0e30deb614...,2020-09-18,877389002,0.059305,2,ACTIVE,NONE,18.0,1cd3d60300a539ba51a49c53ef479ba2b3b369c859f530...,877389,...,Boots,C,Ladies Accessories,1,Ladieswear,64,Womens Shoes,1020,Shoes,Ankle boots in imitation leather with open sid...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Shoes,C
0,913121a8de5b67f922243ccc1d735ba0a97d0e30deb614...,2020-09-18,877389002,0.059305,2,ACTIVE,NONE,18.0,1cd3d60300a539ba51a49c53ef479ba2b3b369c859f530...,877389,...,1010016,10,3,9,3529,1,64,1020,1,1

array([[ 877389,      87, 1010016,      10,       3,       9,    3529,
              1,      64,    1020]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
18   924243001     74
1    821152004     59
0    819547001     51
19   929165002     46
2    827370002     46
3    830016002     42
6    893059003     34
13   915529005     34
5    853089002     32
16   918525001     30
7    895993006     23
8    898918007      6
17   918603001      6
10   909802001      5
9    909801001      4
4    844971002      2
11   909955001      2
12   915092002      1
14   917509002      1
15   917766001      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    827370002
5    830016002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00030b88bb3d4265aaf5 0924243001 0821152004 0819547001 0929165002 0827370002 0830016002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 37

get_next_SubmissionCustomer

'8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca66847bd03f26217d56'

Generate Artcile Predictions for Customer 38 : 8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca66847bd03f26217d56

                                               customer_id
822015   99760bedd3f8977698eec9f96c8315b8435d2e45773699...
1072106  c80f341cf555d8f14189658ef313b25f12d906b8d7fcea...
1290561  f0d7334697683f5ab6fcc18be35b8ed5d55082b92de67c...
973743   b5ac644103f47ba82f7c84601d25ed0afb84c835677007...
379955   470f1c1a8f0ef1c55bd3528100b4d61e4e3f215cddec77...
721547   86ad50dadf404984fdade9eb8152330337474048ce428f...
630273   759d087f82a4a4857329b9622bcffd3da03f00d85b5886...
363260   43f15a11de295fc6bba5936a6e12797643ff9336914380...
1054788  c4dbd3ebe0f15172277837800d4dc33f983bf549af928e...
5845     011706db6333320ab0e402e57bd61b84fa2f82914437b5...
281613   348efaf69b579a348cbd9823f342d340b52be52d1cd016...
91844    112a156a15f829c7eb891abf752f50c478d78aefd90eb7...
975798   b60bcccf9bf6ff85d483ef5af816341c1eabd1fdc4ddea...
971579   b548719b1bbfea7bb9b956d6c68e7e3cd9698ce1484cec...
1247053  e8baacc3319a5c20b33256e0cce3d9d7422cf6caf270ca...
527678   6285d49d0f52e0356c9960aab4e95e43c0dc0c4c3f73d2...
622770   7432d8d90a756d0545f1234c68c61a884359ac184b3ad6...
1073034  c83d3c884ab79906592263472ba35a456bf5a95a42d331...
1170270  da528e6e845bd5c5156a1dc7ed3e23d8e48b6ed4741a5f...
779566   918b1f520c3c3bf48c1021a940f1f2c938a15c93d72d48...
737249   899bc6e55b62fbce633c79f6ec70b19deb3cbbaa5104fb...
685433   7ff6f59aed51ba15891e14616b64ac5a4848e655824af4...
122239   16c80f4cc421eafc3844ac3eb24722a9ec962fe6ea8d92...
932930   ae10e7b1e1069f289468f877b6126539fcedc618503a48...
949809   b13671488e639440db3d47fab7e66a9ec680b1c7b0d2c4...
1227218  e5044bd166546b32b36628d0039970af5bf51c72d9f70b...
726426   879a1a5faf85f14356aac913d1d8f876f3d01f715e7748...
654800   7a3078640b59c6c07070cad25e264d17eaeffd2de349c7...
1108332  ced4477980b518ac64d483750e54618551462708377116...
1348248  fb8f057badaa06aeddb73ac50f0eedd105124e57de0a75...
575161   6b53e8a0e80dd37b27d5b05172f47842532c78ac4af3ef...
1319088  f622cffdf7412fbc1203c929602a91816ed540f0945d3f...
1258645  eae7aa58792c501249134064908131ebf0c31cc5ffed47...
363833   440bd58c76464a2d99aec8e4e7889b9f4813f8c011c5e5...
499377   5d459eb14d39b9315f52bca1c7c1bf1f54acbe2b6992d2...
1355716  fcf4d4d6bcc9e4b8ba8e70d710095470174066d54b3793...
34963    068df446ca15be73d28624261a458ff77252628d5c18b5...
767700   8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...

df_SubCust_Trxn.shape[0]

851

,customer_id,t_dat,article_id,price,sales_channel_id
0,99760bedd3f8977698eec9f96c8315b8435d2e45773699...,2019-02-11,649397010.0,0.038119,1.0
1,99760bedd3f8977698eec9f96c8315b8435d2e45773699...,2019-02-11,649397006.0,0.038119,1.0
2,99760bedd3f8977698eec9f96c8315b8435d2e45773699...,2019-02-11,652730004.0,0.045746,1.0
3,c80f341cf555d8f14189658ef313b25f12d906b8d7fcea...,2019-03-23,570002038.0,0.012186,1.0
4,c80f341cf555d8f14189658ef313b25f12d906b8d7fcea...,2019-03-23,698273002.0,0.015237,1.0
...,...,...,...,...,...
846,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,2019-02-22,676512001.0,0.036000,1.0
847,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,2019-02-22,110065011.0,0.021610,1.0
848,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,2019-02-22,548111002.0,0.014390,1.0
849,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,2019-02-22,681105003.0,0.021593,1.0
850,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,2019-02-22,253448002.0,0.021593,1.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
829,f622cffdf7412fbc1203c929602a91816ed540f0945d3f...,2020-09-16,156231001.0,0.005644,1.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
829,f622cffdf7412fbc1203c929602a91816ed540f0945d3f...,2020-09-16,156231001.0,0.005644,1.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,f622cffdf7412fbc1203c929602a91816ed540f0945d3f...,2020-09-16,156231001.0,0.005644,1.0,NaN,NaN,ACTIVE,NONE,21.0,fa5b4b1ff089e38b9b7432827d900576d41c661edd0d50...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,f622cffdf7412fbc1203c929602a91816ed540f0945d3f...,2020-09-16,156231001.0,0.005644,1.0,ACTIVE,NONE,21.0,fa5b4b1ff089e38b9b7432827d900576d41c661edd0d50...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,f622cffdf7412fbc1203c929602a91816ed540f0945d3f...,2020-09-16,156231001.0,0.005644,1.0,ACTIVE,NONE,21.0,fa5b4b1ff089e38b9b7432827d900576d41c661edd0d50...,156231,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,Matt tights with an elasticated waist. 20 denier.

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Socks & Tights,B
0,f622cffdf7412fbc1203c929602a91816ed540f0945d3f...,2020-09-16,156231001.0,0.005644,1.0,ACTIVE,NONE,21.0,fa5b4b1ff089e38b9b7432827d900576d41c661edd0d50...,156231,...,1010016,9,4,5,3608,1,62,1021,1,1

array([[ 156231,     304, 1010016,       9,       4,       5,    3608,
              1,      62,    1021]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
18   610776032    165
14   534181011     84
7    456163083     47
6    456163070     41
12   522398052     30
1    237347043     29
0    218354045     21
4    396135049     17
2    316441034     14
19   616732001      9
13   522638004      8
17   580768002      8
10   522043004      5
11   522372002      4
5    456163022      4
15   537350008      4
16   573284056      3
3    316471020      3
8    458924016      2
9    495495004      1
Show Article predictions...

    article_id
0    610776032
1    534181011
2    456163083
3    456163070
4    522398052
5    237347043
6    218354045
7    396135049
8    316441034
9    616732001
10   522638004
11   580768002

8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca66847bd03f26217d56 0610776032 0534181011 0456163083 0456163070 0522398052 0237347043 0218354045 0396135049 0316441034 0616732001 0522638004 0580768002
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...

cust_rec is... 38

get_next_SubmissionCustomer

'23074508b19cfd9ab97834ec35b2c62692a662083f2827357e68b70f3d7ec75a'

Generate Artcile Predictions for Customer 39 : 23074508b19cfd9ab97834ec35b2c62692a662083f2827357e68b70f3d7ec75a

                                               customer_id
735522   894bed3bb99e2e296894a8842b0203f1b7cafe3bd23ebb...
41769    07d02190e1f550825b257d8c88322fcc7713a7ff070b46...
540301   64dcbcfd9fca68d2b68759808ea30ac62448457c87219c...
845582   9ddcb4aa7ef0f52fa307e2e013e5699114f742877082fb...
208767   26f1d076eff7072962aa2edf624e1d68bf2a7b63294842...
1091605  cbb71168e53553d97f7989e26f7d765cb17b67c67dba2b...
487794   5b1c3b45ab77ba51de58745cc961084f998081e9da5e07...
899688   a7e81eac56c0f144a8b63a66f50d9aacd63a790772b341...
461625   564358f8413193772161af536e69f30cb6aee628978006...
440091   52446d9ceab512457491dd8f8534b2a7c3c2fa0b492fac...
285977   3563ea43b4a1b84b5768cf2290e6be6196e2574e22a8ae...
725690   87748e8634e9a4c1a620701d212801cd756c985628feb1...
735839   895ab283ed68687051cf7c28a2019c87a7dc7dfb598855...
222656   298bb97fa01bd44a469d121e22d2ae54680cec104fdce3...
1366483  fef470c3fdefb9cee39ddf5d4e012c1f743f6eabd54bf8...
19734    03b54b21a6ccdd2fdac7c3779e8caf629b41d5c34cf7a8...
362224   43bfbd28f77ccae1ddd7dae211201f2b67d80645336cf5...
279086   3418d679b8a0e9c28effe53217833b901d77d843bb8c01...
444509   53198a18dcbd413e2252e46d5a5d992d298cef9314ba7b...
832236   9b5bac21cd08bce09d488129e2b853a962ceeba14bc969...
473959   5886b746ff28fd6c0decd89335532543563f4ce2382cea...
1357726  fd54f2314bd9057c57b74428ffe4c3d8ae6648d077201e...
1093082  cbfc24fd9a516204f999ddf37c04ffc67d0fb0babd8555...
1147265  d60b0e2e9ddaea179ec1db92d64d251d7177fde5f81cd5...
1002325  bb08256c97cb815f2e7d4ee30b58d9a40c66ac9d05ecce...
692573   8149ed3336af3f775e423549068df34bf51aac43c3ee92...
601783   704993c374ca93c4931500a703aaeb1c12e15961e5e2f1...
869266   a23e379a84058a2587ba08de097351d74fac103e1ab1c1...
1253269  e9e4edea9aa0a81bc8ed5655c0e649e774ac86430a85d9...
926417   acd975de856146c62afb9b9c7b4c422ad5c7e3adec827c...
503853   5e1ed363b85292cf88fca872c41b1cad0e71b956b041d6...
144735   1af948506864e81281fdc32b324ac8c5d05785fbf54f90...
842712   9d547e003a6d2a9023facd32f3183c8dd464d05c84bacd...
933202   ae1d97e5601a544c31e1ae8fb3c99c071d640e28359576...
448844   53e7e37586397db436d9f164e7ffd0215a22d7af640374...
1062394  c64304918a7e85a2044f047838a024a5f9e70a33ee42bf...
815254   983418345656a91c159240ab19be868f3c164500b6dbaf...
1025794  bf6c7caba3d500cb37fb288262fe3609b884ecbc6234e3...
187970   23074508b19cfd9ab97834ec35b2c62692a662083f2827...

df_SubCust_Trxn.shape[0]

792

,customer_id,t_dat,article_id,price,sales_channel_id
0,894bed3bb99e2e296894a8842b0203f1b7cafe3bd23ebb...,2019-12-26,536139012.0,0.010153,2.0
1,894bed3bb99e2e296894a8842b0203f1b7cafe3bd23ebb...,2019-12-26,536139012.0,0.010153,2.0
2,894bed3bb99e2e296894a8842b0203f1b7cafe3bd23ebb...,2019-12-26,587278007.0,0.010153,2.0
3,894bed3bb99e2e296894a8842b0203f1b7cafe3bd23ebb...,2019-12-26,793378001.0,0.016932,2.0
4,894bed3bb99e2e296894a8842b0203f1b7cafe3bd23ebb...,2019-12-26,393447015.0,0.033881,2.0
...,...,...,...,...,...
787,bf6c7caba3d500cb37fb288262fe3609b884ecbc6234e3...,2018-10-01,662857005.0,0.042356,2.0
788,bf6c7caba3d500cb37fb288262fe3609b884ecbc6234e3...,2019-06-05,735607001.0,0.016932,2.0
789,bf6c7caba3d500cb37fb288262fe3609b884ecbc6234e3...,2019-06-05,744291001.0,0.022017,2.0
790,bf6c7caba3d500cb37fb288262fe3609b884ecbc6234e3...,2019-06-05,464297021.0,0.016932,2.0
791,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,2019-11-28,783302001.0,0.018288,2.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
758,ae1d97e5601a544c31e1ae8fb3c99c071d640e28359576...,2020-09-19,730683052.0,0.038119,2.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
758,ae1d97e5601a544c31e1ae8fb3c99c071d640e28359576...,2020-09-19,730683052.0,0.038119,2.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,ae1d97e5601a544c31e1ae8fb3c99c071d640e28359576...,2020-09-19,730683052.0,0.038119,2.0,1.0,1.0,ACTIVE,Regularly,22.0,41e95e8c917e10aa891a47114123291d687ed113460d8e...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,ae1d97e5601a544c31e1ae8fb3c99c071d640e28359576...,2020-09-19,730683052.0,0.038119,2.0,ACTIVE,Regularly,22.0,41e95e8c917e10aa891a47114123291d687ed113460d8e...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,ae1d97e5601a544c31e1ae8fb3c99c071d640e28359576...,2020-09-19,730683052.0,0.038119,2.0,ACTIVE,Regularly,22.0,41e95e8c917e10aa891a47114123291d687ed113460d8e...,730683,...,Ladies Sport Bottoms,S,Sport,26,Sport,5,Ladies H&M Sport,1005,Jersey Fancy,Sports tights in fast-drying functional fabric...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,S
0,ae1d97e5601a544c31e1ae8fb3c99c071d640e28359576...,2020-09-19,730683052.0,0.038119,2.0,ACTIVE,Regularly,22.0,41e95e8c917e10aa891a47114123291d687ed113460d8e...,730683,...,1010014,32,2,18,8310,26,5,1005,1,1

array([[ 730683,     273, 1010014,      32,       2,      18,    8310,
             26,       5,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
7    827370002     86
6    826492006     74
2    802023004     61
5    821152004     59
4    819547001     51
3    803080001     45
8    830016002     42
12   853089002     32
10   843701001     21
9    842952003     17
0    774543002      6
11   844971002      2
13   909955001      2
1    774552002      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    803080001
6    830016002
7    853089002
8    843701001
9    842952003
10   774543002
11   844971002

23074508b19cfd9ab97834ec35b2c62692a662083f2827357e68b70f3d7ec75a 0827370002 0826492006 0802023004 0821152004 0819547001 0803080001 0830016002 0853089002 0843701001 0842952003 0774543002 0844971002
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...

display(df_NextCust_Preds)...

,customer_id,prediction
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 39

get_next_SubmissionCustomer

'866bcce9b30e00b2512fc5f6ba8b24936734486635f14ecdc75761ca95d5f688'

Generate Artcile Predictions for Customer 40 : 866bcce9b30e00b2512fc5f6ba8b24936734486635f14ecdc75761ca95d5f688

                                               customer_id
19843    03ba23d7fdef2144902d629a42d69a8d60ef4e41c7dfab...
172339   201a8e0722dcf846e4ca938ae30467b2116eae1feec99a...
790252   938598c073cc8ca5ff7750dfaefdefd8fa6425609e7727...
953155   b1d5f201d6f70a37d9d902c34fe7098c71498da43e4bdb...
209988   272af3aab311b9f2ec3babf609977247589c433953b6a9...
880968   a46ddb02ae65708064ed78179dfdb7690b933b3eed25e7...
421697   4ed9bbdc01c56964beb20248b6afbcc406f2de4f8f8e3c...
409146   4c809725e6d7b2dd9559d5c044db1bd8eadf0dbca24658...
1213154  e25f44cd05674446d5aef2b8532c86283030e8feaf43d6...
170067   1facf401920ae0e9688161624d302b1c86f9b93b732b57...
1309449  f45a93e5380b6eefa67911bd646745d8221736ed156eee...
138553   19cff8bbce93b9e05b88d2c60d3039863605931a624a47...
613491   727757fc3d3fb5b23e41d43646957ec3fb72390b39fee1...
720722   8683d167c28e0404bed3f389531fc224b5f4ca71e9f361...
993058   b94c46fae84825054e98c865dd52ed0b4fc78291826c65...
1090661  cb89197f7db0a63916daec4e1b7267a301a702a5fad4f2...
433592   510e84b3cfb70faaee4fb5e1ce8a0992cc0e3e2b9e44b1...
998877   ba671c61f06626b152cd23a5e90fd19da8b73f7a7a2fea...
1299591  f284c75d0f4a4fc80a02eefea9615bdb731d1279920f25...
1275348  ee03f21e742fdb1af2e8a122495dd00d50831a5d52daa8...
31700    05f4d61752315e0778558501a7d47a53fd7297d5fd1133...
1165362  d96b119333aa415da6431d4890b178caa5c67540a0e400...
840991   9d00103120f10a8352f937f352fdfaf88f54e373db179c...
1189748  ddfe13f4d0b201229f7d1601d1b932271745f89b3cdd87...
54487    0a2ec870c5ca29815df1733ed051287397c74f3668eef6...
566674   69bec01009ed0b2e561a5a8accbcb182f4991aa3c50562...
225563   2a17cabb89b5eecdc7f1e370a64cf5d3cae5bc72b4aade...
39901    0776b0c35fdd25def9fecab86c9d1afa08468979f2ea1f...
1099427  cd28dfb643c1a8fef4797eb0f32c5ed2c48fd4ef42a8f8...
947417   b0c9d961d3b34afdf7750576916beb5397a436c53e3328...
469450   57b1ca7d90049dc1a2deac807a129fc1f0780d198d8218...
821186   994ea6e82c1dff056c8d8065ebacfca0fb676b48b99850...
1169586  da33d1c16be0aad86fbe9a3573b69add937e5bfbf1560f...
142497   1a8eec92065cf2edda8308f6632aa181509e8ce196f733...
973032   b58cbb1199e056643bccad284aabab9ff20055aafb0973...
880752   a4637b96b8c012c21a521d0bcbf31ea1f566f903dd4c1b...
919276   ab88d68c108eb2ee355c11ee93db175f153a817e6ada46...
853806   9f5dd434ec898faa3bb543f293daf8b4faeef0ca723e7b...
435638   516ec3d276d7e8f88a1d231f4434484c5be3a5bb8e3d01...
720156   866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...

df_SubCust_Trxn.shape[0]

938

,customer_id,t_dat,article_id,price,sales_channel_id
0,03ba23d7fdef2144902d629a42d69a8d60ef4e41c7dfab...,2018-11-19,688873016,0.016932,2
1,03ba23d7fdef2144902d629a42d69a8d60ef4e41c7dfab...,2018-11-19,580482002,0.040661,2
2,03ba23d7fdef2144902d629a42d69a8d60ef4e41c7dfab...,2018-11-19,639835002,0.062695,2
3,03ba23d7fdef2144902d629a42d69a8d60ef4e41c7dfab...,2019-06-03,557908018,0.025407,1
4,03ba23d7fdef2144902d629a42d69a8d60ef4e41c7dfab...,2019-11-29,534181008,0.134237,2
...,...,...,...,...,...
933,516ec3d276d7e8f88a1d231f4434484c5be3a5bb8e3d01...,2020-08-24,863646005,0.033881,2
934,516ec3d276d7e8f88a1d231f4434484c5be3a5bb8e3d01...,2020-08-24,863646003,0.033881,2
935,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,2020-06-16,762656002,0.003373,1
936,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,2020-06-16,730683001,0.042356,1
937,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,2020-06-16,815434005,0.022017,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
136,1facf401920ae0e9688161624d302b1c86f9b93b732b57...,2020-09-18,804992014,0.025407,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
136,1facf401920ae0e9688161624d302b1c86f9b93b732b57...,2020-09-18,804992014,0.025407,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,1facf401920ae0e9688161624d302b1c86f9b93b732b57...,2020-09-18,804992014,0.025407,2,NaN,NaN,ACTIVE,NONE,19.0,d590d672ed42104048ec87a96a6376f6eceeefc9f6537e...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,1facf401920ae0e9688161624d302b1c86f9b93b732b57...,2020-09-18,804992014,0.025407,2,ACTIVE,NONE,19.0,d590d672ed42104048ec87a96a6376f6eceeefc9f6537e...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,1facf401920ae0e9688161624d302b1c86f9b93b732b57...,2020-09-18,804992014,0.025407,2,ACTIVE,NONE,19.0,d590d672ed42104048ec87a96a6376f6eceeefc9f6537e...,804992,...,Ladies Sport Bras,S,Sport,26,Sport,5,Ladies H&M Sport,1005,Jersey Fancy,Wide sports top in fast-drying functional fabr...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,S
0,1facf401920ae0e9688161624d302b1c86f9b93b732b57...,2020-09-18,804992014,0.025407,2,ACTIVE,NONE,19.0,d590d672ed42104048ec87a96a6376f6eceeefc9f6537e...,804992,...,1010010,92,2,12,8316,26,5,1005,1,1

array([[ 804992,     255, 1010010,      92,       2,      12,    8316,
             26,       5,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
3    827370002     86
2    826492006     74
1    821152004     59
0    819547001     51
17   929165002     46
4    830016002     42
7    893059003     34
6    853089002     32
16   924243001     30
8    895993006     23
9    898918007      6
11   909802001      5
10   909801001      4
5    844971002      2
12   909955001      2
13   915092002      1
14   917509002      1
15   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    929165002
5    830016002
6    893059003
7    853089002
8    924243001
9    895993006
10   898918007
11   909802001

866bcce9b30e00b2512fc5f6ba8b24936734486635f14ecdc75761ca95d5f688 0827370002 0826492006 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0924243001 0895993006 0898918007 0909802001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...

cust_rec is... 40

get_next_SubmissionCustomer

'd411308c32047215e7643b423fb5adfa793ff49848859bba04d5877670bc00b7'

Generate Artcile Predictions for Customer 41 : d411308c32047215e7643b423fb5adfa793ff49848859bba04d5877670bc00b7

                                               customer_id
514256   600d6984a00a7d9368a9cdc29b66573634bacb15e9f7fb...
811574   978742f15bfba87cee9f14a028a96c31cceedbe6fcd700...
752798   8c84a933e26886991d6de812c2916633aad73d9c87048a...
647692   78e3715ec2e40d36bc8efaeeaa28e77026875d922c4f1e...
709231   845f5a5eb3faf3f51cfceecafb3b8cb44d775d8c168d68...
739242   89fc39a7fcb5703617b7f9846a3301e816a395cd0d0051...
610127   71d813105f3e761ca692756bb6739a714aad1891286abf...
1176011  db66fa40bd66fce51935defd0dab340a2601e423a237a2...
49185    093279635d0ad2343a9154b35b1c88db1a673a09e93117...
1222820  e42f662548b2ccb0b1190c30b72b5a62f439c3c5f4b774...
1317257  f5ca0b2ce5629ceeff1b9a2f09e8ce7d3dc2849901fe16...
664688   7c12e0e6dbfed1901c4f3d29503ad849f81020fadf537e...
459600   55e184eb02ccf9705ec6c23e4fd109e07a9c4bed0736bb...
970910   b52a0c89252c9a79ae654b97633abf3bab1303d7c40079...
1184029  dcedfb4673a9655bc44c4fc92f796824739053b0c916e8...
271608   32b4c2451f52bf71d33b8d93971e2d443c5a60d7c7e478...
498066   5d03922aed7ba17f14a557f6519f747a2e291b1949ea72...
883468   a4e2c013e025e8e7a3173844af2bb0dc923fa4f3607c53...
1130572  d2eb8ce08986cb26eab70a465f975dec295e6b8851d37d...
967112   b474125d797d1ff57a53662c3508ff7e7ab85be6b55118...
1041729  c26ef304118dddc9c0247876dd9541c89fcebde3e26e6a...
868137   a207f77320d80fbb883934458b7de113cfb42d4453f275...
466394   5722e4bbba2451ad009a11b450c977c92604a7c3cc4431...
407476   4c3054bded19519d5dbc76ef8b3091228079d220ed2c2e...
453929   54d419b54cbfb284fe8ab513be212e2775d6f41c36ad01...
1260450  eb3b8efd2fb49402076a44000123180182538341349380...
1083005  ca1d202fc5edfe7bb8ad74623c3a59f29b1be2512ff6b5...
634775   7677b039d868d8ddbf79f6ece2523a3f9a15f662d6ded5...
1253988  ea05ad93433bde2db4790e0f8bf29a5e8523239f62dc4b...
99814    12a31a3fa08554b072c5325cff4f2025074367d1495af8...
216584   2867200c40b068073d76be3a9a1ff8bfa427fc798d4e9d...
989206   b88fb29c1c95e74c9c5e25982e4cad7d0174d3908b17b0...
738628   89df8692bf8d0cd5175e53ad85b1f4e2aca6cc080dbc6e...
1009388  bc5d56ea064842dd47bce2fc92e7c8c9875441117785c8...
235761   2c04f5740aadedf8a928aca0a3d303278ce2808345aa76...
740492   8a37981e7e9e07f94e62ff95030598ff95efe286f8bdd0...
1241262  e7a19a78100c313816db45a25a4640119e75f790cc5d14...
12669    025bec4922b5b6ec667d4be41f69d49fa38594ddc3c1ac...
53680    0a089c601e03a7cf3cfc5950fd6e0e33b9c60c3e682d13...
867147   a1db52474995235fc331e2b83df4bb7017971ee9f9a711...
1136789  d411308c32047215e7643b423fb5adfa793ff49848859b...

df_SubCust_Trxn.shape[0]

731

,customer_id,t_dat,article_id,price,sales_channel_id
0,600d6984a00a7d9368a9cdc29b66573634bacb15e9f7fb...,2019-09-23,719957008,0.022017,2
1,600d6984a00a7d9368a9cdc29b66573634bacb15e9f7fb...,2019-09-23,719957006,0.022017,2
2,600d6984a00a7d9368a9cdc29b66573634bacb15e9f7fb...,2019-09-23,824999002,0.016932,2
3,600d6984a00a7d9368a9cdc29b66573634bacb15e9f7fb...,2019-09-23,824999002,0.016932,2
4,600d6984a00a7d9368a9cdc29b66573634bacb15e9f7fb...,2019-09-23,752689001,0.016932,2
...,...,...,...,...,...
726,d411308c32047215e7643b423fb5adfa793ff49848859b...,2019-07-30,788176005,0.033881,1
727,d411308c32047215e7643b423fb5adfa793ff49848859b...,2019-08-02,753816001,0.011847,1
728,d411308c32047215e7643b423fb5adfa793ff49848859b...,2019-08-02,690713007,0.015237,1
729,d411308c32047215e7643b423fb5adfa793ff49848859b...,2019-08-02,629381002,0.008458,1
730,d411308c32047215e7643b423fb5adfa793ff49848859b...,2019-08-02,690713008,0.013542,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
550,bc5d56ea064842dd47bce2fc92e7c8c9875441117785c8...,2020-09-18,568601006,0.050831,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
550,bc5d56ea064842dd47bce2fc92e7c8c9875441117785c8...,2020-09-18,568601006,0.050831,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,bc5d56ea064842dd47bce2fc92e7c8c9875441117785c8...,2020-09-18,568601006,0.050831,1,NaN,NaN,ACTIVE,NONE,21.0,f8ec2b3e2d9962ce86124c06c02f5d6d0db8fd4673ab3f...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,bc5d56ea064842dd47bce2fc92e7c8c9875441117785c8...,2020-09-18,568601006,0.050831,1,ACTIVE,NONE,21.0,f8ec2b3e2d9962ce86124c06c02f5d6d0db8fd4673ab3f...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,bc5d56ea064842dd47bce2fc92e7c8c9875441117785c8...,2020-09-18,568601006,0.050831,1,ACTIVE,NONE,21.0,f8ec2b3e2d9962ce86124c06c02f5d6d0db8fd4673ab3f...,568601,...,Suit,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1008,Dressed,Fitted jacket in woven fabric with notch lapel...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,bc5d56ea064842dd47bce2fc92e7c8c9875441117785c8...,2020-09-18,568601006,0.050831,1,ACTIVE,NONE,21.0,f8ec2b3e2d9962ce86124c06c02f5d6d0db8fd4673ab3f...,568601,...,1010016,9,4,5,1212,1,11,1008,1,1

array([[ 568601,     264, 1010016,       9,       4,       5,    1212,
              1,      11,    1008]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
13   827370002     86
9    802023004     61
3    690611001     60
11   821152004     59
10   819547001     51
12   826492006     46
14   830016002     42
15   853089002     32
6    751585002     17
2    665509002     14
0    616732001      9
4    702014001      8
7    774543002      6
5    707375002      4
16   909955001      2
1    656728002      1
8    774552002      1
Show Article predictions...

    article_id
0    827370002
1    802023004
2    690611001
3    821152004
4    819547001
5    826492006
6    830016002
7    853089002
8    751585002
9    665509002
10   616732001
11   702014001

d411308c32047215e7643b423fb5adfa793ff49848859bba04d5877670bc00b7 0827370002 0802023004 0690611001 0821152004 0819547001 0826492006 0830016002 0853089002 0751585002 0665509002 0616732001 0702014001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...

display(df_NextCust_Preds)...

,customer_id,prediction
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...

cust_rec is... 41

get_next_SubmissionCustomer

'd659e64ffe7b374f537724bbabeaaeff02a14aaa072798c5cb7d5561f91d10e1'

Generate Artcile Predictions for Customer 42 : d659e64ffe7b374f537724bbabeaaeff02a14aaa072798c5cb7d5561f91d10e1

                                               customer_id
981473   b719fc72dc4728aaeba9f26fcf3635813734527acb0457...
232853   2b76f4591ad30efff0b3913ba994235bd07350217d4549...
192403   23dbdb6fdbd27ccebd76ff78733e792ed2b7a4c511ddaa...
965982   b43b13e8a5c29da22347d8081a1bea541a5145762f8dd0...
785686   92ac3c1798bddf4658195a70b9ce974ee41b969d60e221...
796632   94b859e235e2a5dc6fae9033e682f4f064ee580dfaf9cf...
828386   9aa5b2f9cea11b64ab7cc0aaa73a6b54f6b8852375db1d...
729724   88368768d2adc37da75ca01f907cb74df6c8e1507a0329...
79101    0ec587d8228da77e23029922bc30420e380c598746f2a9...
313372   3a8e5aa74bb611b5421ec71d4d5a858808493dbb286693...
1307283  f3f41d24416b85227bfa280a8ea1beac1552cc5b622cbf...
1034547  c1139fc82b37e0c4a372e0304995b96ab0ff939297987e...
432193   50d094709ac79c0e511d0dd6a3e27eef451cde830c1683...
512071   5fa33d9dcc20b222e4348e2102660b4ecda5b975601ae6...
712686   85043e05ee287cc7bcbbaab29545e2918682e666131830...
499992   5d641dd52f5e0c55e4b6961b5170eb8f260f64ad780618...
1134685  d3af6821c3df06b6d507f184455c39f5e9e5aac61eb4b5...
1080677  c9a7ace990cd59221f897bb7bc07d8579abe2279773c23...
171280   1fe925f8d3277be69a84e4455a8623dac1075e7a93f9eb...
638764   77359298d7e399cdce36a5b973eb61f18bfdeeb32e5f5b...
845575   9ddc8e8740f09e30e720c1d5c3ed10261942b1444df766...
150329   1c0335a9b757eb5fe343a4cded1566955fdb44fdcf6830...
256604   2fe08b6f2cc6f8826b69a3b853cd88424e6388b9985532...
1160068  d8709b7c855692db8d50a653cde3b2d75df945563ef121...
1129122  d2a2f6d9cfabb944cedddcb17859e870a29c93065cb732...
1138053  d451007c5160c7ef597a543a0bc8deba933d357c188b7d...
530806   631981ffc37fa135cb2ddd24dd8cbbffc775670b626370...
1296916  f2051df5f45876fa0f7e0d1cdf4667c1301f234009fe44...
214040   27ec5dced6e3d66b9f5fbb942702f453c302cd61e96705...
52852    09e0939839d35862bc717d0f9045fb864972761f3476b5...
988117   b85be86293982f5a8d6440eaaa5dbf52e83c818066fc05...
975518   b600364643db9ca70ffcf6f129f83ec4896a2bd8327948...
701527   82faa0c0a1b536cf521093ca59040319deed50f66b6bbc...
211780   2781f1cb4e4a0c898d4c0fac5056357ec05f3a8ecf4387...
787671   930a2568069df7df0e2e89b6327e70710777a4c142a42c...
1113808  cfd67e4ad7a81e3276de073e1530cb5e5ae10fd7511dbd...
571853   6ab67391488947b95e08a132cd1d6c1a25830fbde7cd91...
139104   19eaf0a517807712a54c181c47a855bfa7004208cf0a21...
415900   4dc2a51a51d8122dcd9c9ecdc6c79c01660b35c5a3b648...
1055196  c4ef80793e072c713496728cd467a5062415257cdd40a3...
711550   84d22af7f0bae50869f3b86994bc4fa1adc3be1656fb31...
1148980  d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...

df_SubCust_Trxn.shape[0]

707

,customer_id,t_dat,article_id,price,sales_channel_id
0,b719fc72dc4728aaeba9f26fcf3635813734527acb0457...,2019-06-24,779546002.0,0.022864,1.0
1,b719fc72dc4728aaeba9f26fcf3635813734527acb0457...,2019-06-24,772349008.0,0.015237,1.0
2,b719fc72dc4728aaeba9f26fcf3635813734527acb0457...,2019-06-24,772349002.0,0.015237,1.0
3,b719fc72dc4728aaeba9f26fcf3635813734527acb0457...,2019-06-24,396135008.0,0.015237,1.0
4,b719fc72dc4728aaeba9f26fcf3635813734527acb0457...,2019-08-19,743098001.0,0.008458,1.0
...,...,...,...,...,...
702,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,2020-08-08,811925002.0,0.026559,2.0
703,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,2020-08-08,811927002.0,0.019169,2.0
704,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,2020-08-28,814631003.0,0.063542,1.0
705,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,2020-08-28,751994014.0,0.050831,1.0
706,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,2020-09-20,767423011.0,0.019051,1.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
305,77359298d7e399cdce36a5b973eb61f18bfdeeb32e5f5b...,2020-09-22,816083007.0,0.050831,1.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
305,77359298d7e399cdce36a5b973eb61f18bfdeeb32e5f5b...,2020-09-22,816083007.0,0.050831,1.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,77359298d7e399cdce36a5b973eb61f18bfdeeb32e5f5b...,2020-09-22,816083007.0,0.050831,1.0,NaN,NaN,ACTIVE,NONE,20.0,94c715e094dd69937410c30b5d5d335486735e817f48d1...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,77359298d7e399cdce36a5b973eb61f18bfdeeb32e5f5b...,2020-09-22,816083007.0,0.050831,1.0,ACTIVE,NONE,20.0,94c715e094dd69937410c30b5d5d335486735e817f48d1...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,77359298d7e399cdce36a5b973eb61f18bfdeeb32e5f5b...,2020-09-22,816083007.0,0.050831,1.0,ACTIVE,NONE,20.0,94c715e094dd69937410c30b5d5d335486735e817f48d1...,816083,...,Dress,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1013,Dresses Ladies,"Short, fitted dress in a stretch weave with sh..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Full body,A
0,77359298d7e399cdce36a5b973eb61f18bfdeeb32e5f5b...,2020-09-22,816083007.0,0.050831,1.0,ACTIVE,NONE,20.0,94c715e094dd69937410c30b5d5d335486735e817f48d1...,816083,...,1010016,93,4,20,1313,1,11,1013,1,1

array([[ 816083,     265, 1010016,      93,       4,      20,    1313,
              1,      11,    1013]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
3    827370002     86
2    826492006     74
1    821152004     59
0    819547001     51
16   929165002     46
4    830016002     42
7    893059003     34
6    853089002     32
15   924243001     31
8    895993006     23
9    898918007      6
11   909802001      5
10   909801001      4
5    844971002      2
12   909955001      2
13   915092002      1
14   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    929165002
5    830016002
6    893059003
7    853089002
8    924243001
9    895993006
10   898918007
11   909802001

d659e64ffe7b374f537724bbabeaaeff02a14aaa072798c5cb7d5561f91d10e1 0827370002 0826492006 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0924243001 0895993006 0898918007 0909802001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...

cust_rec is... 42

get_next_SubmissionCustomer

'd5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86ccba8d7223fed7e0750c'

Generate Artcile Predictions for Customer 43 : d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86ccba8d7223fed7e0750c

                                               customer_id
1025848  bf6efdc394626deb98b8ae9835ba96533bf498fd38b8ca...
314146   3ab54b6738d358c5d4e5fbcda64fb4ab437e6581fb68ec...
729878   883e2fc8d9ab78483b3544c4ad25d74ea9f2e44b951c58...
1062657  c6501cbc93d7989306cf4d1ececc3d705b345d32b40e58...
999681   ba8b4e0711245a37030ba47344673b2c885569af300155...
1337149  f97cba64029304c2dbc89f9f465afcc9ca8716623d0593...
779591   918c74d714a4f48577b85dd55c3020775132e7c10417ed...
371946   45914cfd018da16623586660d0cf38c63615e614feaa18...
661115   7b6727eb3ff5ce1b7f652332df999a73e095350d2b8b38...
988351   b866ba0e5372d2efc66ab1b83c09b7a7513dd410f28bb6...
612554   724a7be39f8938f238927d526fd417aafae17cf722d940...
572400   6acf9af65f49bec150343272c7849099e954dbb6fec2e3...
854238   9f72d810374976f95dcd64b0d17f940a1e51bc0ed4fe9b...
545545   65d70948ae000ea4435577289a28dd2e01f4f00f7920c0...
57463    0abb6f0678fe1a6a0fa598a8f701441fb63b85391e6326...
992696   b93a6b732ccfde23cc3825058f3419ae1515c2c34d9e94...
538580   6488c191da726f6382b2b6c1e035ee5c4564818fb7bc95...
15875    02f40a2906a3c1aa9a10a426dffa4bf29711568b5c316f...
305383   391060cf8c426dd991d86d0eb828b4f7272b22bdb3ccff...
943552   b00d661c0385794792f658b19029cdf43709c19cddb027...
559426   68677ab623a8b2b575f8b06108f25889e8765ed9b84c3b...
12701    025d3761ec55c8bf63b9203a8f369785ce3ad89f342d16...
702975   833f77a4ef6565bd8533675047f822e590ceb274bf66cc...
56688    0a97f826c2df5f5b316615f307157e3e0a625b526b5037...
475806   58dd467be63bf41f8572c9bc0520b180f7727916b179d2...
296071   37513cec9b9eb7cf544a2f7346de59c9e776d420bdb443...
540539   64e8369a6938d8ad7bfc9bbb2fec4f3a9746bce739bdb5...
715706   8594e71102e16d4459c8711fcd086526ebb2166d76d501...
518552   60d4003464f4d0d7d91c9e1c76d84a753d09af1ca8a1e3...
545994   65ec0bb0eb01a5a5014a3cfc621995dbe3b665ce52f757...
601055   7027965615e249b16d9b5e96295f8760684e0f9c548982...
856508   9fe05db9fa0cd1f1047d7cdca4255e2ba93521eaeb8aa2...
1297453  f21da5d906bc4a2d222e3b328f1d3fd225f61d18a73920...
826803   9a59444d3a789a9a28a562a9a2af0d0a784ae985ac7061...
1367656  ff2dc9fcf4f04e6e36955cc6157b9538b72b657ba1baec...
99266    128869830f3086dd2befea6a2e6ce1b9575a432f25abbb...
617749   7343203e2b11c5029ec4b30b0ceec211a4c538a700d62e...
347623   40febcda071585676a52a2575664d5f0141198bdacdeb5...
1205302  e0e5c7e7c27a8ffa977fa45b553b41501e182f5ae33fa2...
1306353  f3c56e35a3d11f125eb39cb0b931f8cd5a6eb7ff56bb97...
295092   37200144bab0a3d3e5c1035f4e2959d7a7f33baab1e35b...
646078   7896e5aca246b93fa03f61c219a237951ac811e8accbdc...
1145530  d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...

df_SubCust_Trxn.shape[0]

773

,customer_id,t_dat,article_id,price,sales_channel_id
0,bf6efdc394626deb98b8ae9835ba96533bf498fd38b8ca...,2020-08-15,817491006.0,0.016932,1.0
1,bf6efdc394626deb98b8ae9835ba96533bf498fd38b8ca...,2020-09-22,908584001.0,0.028797,1.0
2,3ab54b6738d358c5d4e5fbcda64fb4ab437e6581fb68ec...,2018-10-11,567859012.0,0.020322,1.0
3,3ab54b6738d358c5d4e5fbcda64fb4ab437e6581fb68ec...,2018-10-11,675319004.0,0.040661,1.0
4,3ab54b6738d358c5d4e5fbcda64fb4ab437e6581fb68ec...,2018-10-11,179950001.0,0.020339,1.0
...,...,...,...,...,...
768,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,2020-05-29,758002012.0,0.021186,2.0
769,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,2020-06-01,768759002.0,0.022017,2.0
770,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,2020-06-01,841383003.0,0.008458,2.0
771,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,2020-06-02,873552002.0,0.016932,2.0
772,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,2020-06-02,851167001.0,0.025407,2.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
1,bf6efdc394626deb98b8ae9835ba96533bf498fd38b8ca...,2020-09-22,908584001.0,0.028797,1.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
1,bf6efdc394626deb98b8ae9835ba96533bf498fd38b8ca...,2020-09-22,908584001.0,0.028797,1.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,bf6efdc394626deb98b8ae9835ba96533bf498fd38b8ca...,2020-09-22,908584001.0,0.028797,1.0,1.0,NaN,ACTIVE,Regularly,56.0,d9f102934f817e03b85e3b7f6a1b2a5bfd5cc7727bd7b5...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,bf6efdc394626deb98b8ae9835ba96533bf498fd38b8ca...,2020-09-22,908584001.0,0.028797,1.0,ACTIVE,Regularly,56.0,d9f102934f817e03b85e3b7f6a1b2a5bfd5cc7727bd7b5...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,bf6efdc394626deb98b8ae9835ba96533bf498fd38b8ca...,2020-09-22,908584001.0,0.028797,1.0,ACTIVE,Regularly,56.0,d9f102934f817e03b85e3b7f6a1b2a5bfd5cc7727bd7b5...,908584,...,Jersey fancy,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1005,Jersey Fancy,"Calf-length, fitted dress in soft, ribbed jers..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Full body,A
0,bf6efdc394626deb98b8ae9835ba96533bf498fd38b8ca...,2020-09-22,908584001.0,0.028797,1.0,ACTIVE,Regularly,56.0,d9f102934f817e03b85e3b7f6a1b2a5bfd5cc7727bd7b5...,908584,...,1010016,9,4,5,1636,1,15,1005,1,1

array([[ 908584,     265, 1010016,       9,       4,       5,    1636,
              1,      15,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86ccba8d7223fed7e0750c 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...

display(df_NextCust_Preds)...

,customer_id,prediction
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 43

get_next_SubmissionCustomer

'ffa375f54065f8078d56e85b8944b966d3073b9f78c80bae51f2bc5a56c6d57c'

Generate Artcile Predictions for Customer 44 : ffa375f54065f8078d56e85b8944b966d3073b9f78c80bae51f2bc5a56c6d57c

                                               customer_id
489298   5b6329eedbf0e554b06a8213c27faf375a4bc7c95780af...
1284805  efc95b138e6af4910505d15524c3e5ae3277e33d0d1558...
1281398  ef24e911d65769d47c518f0676e6656137fd3ebb6e9e3b...
689227   80abcd8af6ba2b6a59ea1ac952c1089636fa7e33e171f8...
7643     016c5ab3eb9fe6bed233c7a96144a18ac7b61c4a2b6379...
838520   9c8c475a77ef04dd3dbe8aa00c8c3b5dfc9e6be26ea0f3...
453077   54ab20bdb1c895ce147906810e8051d293b0f1f9fc196d...
1179858  dc245f35ad30d6985481409a1070be139194a6d4d5de23...
133396   18dd0f6ea4ba9b28aa3329704886e2d1c700d9bf68562a...
663785   7be63c42c259b669e754ac65caff567f300088a8b711ce...
1370034  ffa2cddcd428599d7f9d020638d33e6b12ac4c44d6a66c...
986629   b8145d8fbf451b2221129fd87ecf4828f6bd7dd9a10ea1...
1340107  fa05f54c1ab7c459bf6781616113a0735d5941c1922f65...
237853   2c66a2746a78708eab846b385a4403d05f130d5e605558...
98160    1253b30f71a01cdc3ba48f3d9f1741dbb57e522a7ab11c...
253770   2f5c35a064649f269bbe11c11c6dde377b759571f25a13...
445038   533242226ec5f23151be71ff37c9a11b357b73442f8ba0...
1365125  feb63ffd4931650b34f51c99da63cb6bde2cd7c531c194...
222949   299839341124330d48a89e61bfca2641297982b5b7a236...
120407   1671f6e0d899a377a6a970d1676eeebf8154a77668595e...
935984   aea2249c99cb97c4c4a8cd1f010c2a84a68794a203d685...
508994   5f15cc3009e1f80ae6f3bb0d6bf0f0281fb269b3c77a0b...
612190   72389a2d848a765a25fdb59f86b9dcbbaf729714b33d1b...
183586   22320e701af6235aaba3373be6a7ee65ea78e07dd9b9e7...
1188500  ddc0e9c29a4233ad507db375833ec5d571e8c7dbb9cb78...
1077315  c90bfdfba011375b1eddd062fe641f4fbe95a222d8236a...
1292020  f11c3b5755218caf832631064ce62411610e1a0b8c92cf...
606115   71186f81d4269632084ccaf1b74be9e8c6395271ecc672...
1100206  cd4e0795e4489e3294f32ed908406d64737bf24572e61b...
1075279  c8a9b78d6f8efad501ea5e75bd6704c4bb047d3e6597d8...
819484   98fc967d52b336cde50776bd847b8152d07d266b99b1e8...
601566   703f374172191f508dddce2e3a12148684d2163d670262...
1000310  baa89fcaefefa851f167fad517c237ee72cc2362c38927...
730379   88568f9f001466f8ce87f6989b91ce5e0a92691ae39376...
947723   b0d8213f65ef3d68b27d735bd93ac031bb0f3e6ae39a9c...
1199462  dfcb1602bbbd401759e1569a08535029485366cb6aa5b7...
962565   b394d5bb90ed007e2c9b47a14e08339e9131b757782536...
58682    0af706606c4c810e435839978b8ed3cbf0012a1f5b64b7...
227777   2a81501e56890726f047c79a2d8781d96cdee3374bbe63...
24385    0491d2ca05f8675c03d31eee4d22a5c78a7a433c1757f3...
1048002  c39bd48ee4f1786b6c0f71c964c3cb12dae6ca6095858a...
247733   2e3a485824142a12e837ea22f27e1e1ac966fffe76ba10...
146167   1b3bbc058a0a0a062819bd4e2af10457f21d484cd2d3df...
1370050  ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...

df_SubCust_Trxn.shape[0]

777

,customer_id,t_dat,article_id,price,sales_channel_id
0,5b6329eedbf0e554b06a8213c27faf375a4bc7c95780af...,2018-11-22,653577001,0.067780,2
1,5b6329eedbf0e554b06a8213c27faf375a4bc7c95780af...,2019-01-11,647781004,0.022017,1
2,5b6329eedbf0e554b06a8213c27faf375a4bc7c95780af...,2019-01-11,663554003,0.016932,1
3,5b6329eedbf0e554b06a8213c27faf375a4bc7c95780af...,2019-06-20,713600001,0.061000,2
4,5b6329eedbf0e554b06a8213c27faf375a4bc7c95780af...,2019-07-13,636140003,0.020322,2
...,...,...,...,...,...
772,1b3bbc058a0a0a062819bd4e2af10457f21d484cd2d3df...,2019-10-20,735840002,0.033881,1
773,1b3bbc058a0a0a062819bd4e2af10457f21d484cd2d3df...,2020-02-15,674606025,0.033881,1
774,1b3bbc058a0a0a062819bd4e2af10457f21d484cd2d3df...,2020-03-01,759465001,0.010661,2
775,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,2019-02-14,713993001,0.004559,1
776,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,2019-02-14,711042007,0.030492,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
252,533242226ec5f23151be71ff37c9a11b357b73442f8ba0...,2020-09-20,882203002,0.025407,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
252,533242226ec5f23151be71ff37c9a11b357b73442f8ba0...,2020-09-20,882203002,0.025407,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,533242226ec5f23151be71ff37c9a11b357b73442f8ba0...,2020-09-20,882203002,0.025407,2,1.0,1.0,ACTIVE,Regularly,25.0,51d8c240c513224a0a2e13a7595984cfddb19b16578981...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,533242226ec5f23151be71ff37c9a11b357b73442f8ba0...,2020-09-20,882203002,0.025407,2,ACTIVE,Regularly,25.0,51d8c240c513224a0a2e13a7595984cfddb19b16578981...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,533242226ec5f23151be71ff37c9a11b357b73442f8ba0...,2020-09-20,882203002,0.025407,2,ACTIVE,Regularly,25.0,51d8c240c513224a0a2e13a7595984cfddb19b16578981...,882203,...,Skirts,D,Divided,2,Divided,53,Divided Collection,1012,Skirts,Calf-length skirt in mesh with a high slit at ...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,D
0,533242226ec5f23151be71ff37c9a11b357b73442f8ba0...,2020-09-20,882203002,0.025407,2,ACTIVE,Regularly,25.0,51d8c240c513224a0a2e13a7595984cfddb19b16578981...,882203,...,1010001,9,4,5,1444,2,53,1012,1,1

array([[ 882203,     275, 1010001,       9,       4,       5,    1444,
              2,      53,    1012]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
19   924243001     74
1    821152004     59
0    819547001     51
20   929165002     46
3    830016002     42
2    827370002     42
6    893059003     34
14   915529005     34
5    853089002     32
17   918525001     30
7    895993006     23
9    898918007      6
18   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
4    844971002      2
12   909955001      2
16   917766001      1
15   917509002      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    827370002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

ffa375f54065f8078d56e85b8944b966d3073b9f78c80bae51f2bc5a56c6d57c 0924243001 0821152004 0819547001 0929165002 0830016002 0827370002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 44

get_next_SubmissionCustomer

'070de4160b48328890cc43452746788caacf58565bc14a064523157fa87dbf13'

Generate Artcile Predictions for Customer 45 : 070de4160b48328890cc43452746788caacf58565bc14a064523157fa87dbf13

                                               customer_id
590071   6e133be3e38cb8ea77a14ddb0751522f9ea920a575aa40...
608631   7193c6fa62d21999fe3d9bee935cee1fb7ecef0cbe6bd3...
855267   9fa421a340c5c4a19166e632fa44e46734cb67caedd6d1...
193495   240f7744ff0e5bce97c71c6b03fbd91e15f91508e77922...
1021477  be9a817ff3c27b67f559f36efa072a3123952b56b52632...
849215   9e87c81ba861614c5b359e27b9126898370ff216ebe09f...
1270951  ed2c26938bf5240b58d93586fd74be83918bd28b6f7951...
1166847  d9b28b0e6db53731c8a08be3710a5e5d1a810a7cacc3ef...
153476   1c99af765aab416abbabaf0dfebacb0778ae3c1f1f3ea4...
1006417  bbce8f795b7750b31518e6666316b8d70f94f7f3be1865...
237956   2c6b59d65274919014079861f6cd3b5340cb1b8c799ed0...
996374   b9ed5440415c157ee692c1b98e8ea2319f791f4c0214bc...
77924    0e8d9b264f11ca98a56bb07da493e8a50c0281dc804409...
251974   2f071ae6fb28f0aefc9ccab4082d2edf78111aaa2fa924...
879179   a4180ae653f0a07ad3b3fde5326e8c3d18072324c1f567...
843467   9d7a7bca6c075ef9f74af68eb67ed72614410443fc6ed3...
491797   5bdb39ee66078d90fa73648b3f544f42d1f40f163cc4bd...
977450   b65bf2f80af26c8cf7f698d6aae044d05fc60aa8c27927...
452771   549cc1c448371feb88247af166c6aa442827f8c6b7f666...
1210857  e1f1518204de33931674c8b1c5363081d497a9fbce1bd1...
999708   ba8c584971f109d4c974ae614898ae87f7ef8247a72f7b...
1087012  cadbf54c655aa26a1ff94aeb7e5d3ab8c345fca47b6cf9...
790015   937a03ddc88f451299edc1ead17c5b5412fd7a94e20b4f...
622213   7417b08f6b53ba445da258dc1b44820026c40c144a1d89...
1200769  e00aa71823004be44b0ed6e5362f28a4432af4ce94d397...
1266890  ec6cadedee2d7774197851173afcb657bee130da3e669f...
322551   3c4c3e6df29c2a1aaabba609d6e01bb1d5f678666d6e66...
1032157  c0a2a9ddf287e3a922d0a6768b24f7d381deafc212b6ab...
974272   b5c6358262c5f7b5f0940ef732708646b19929a1f4bb73...
1083911  ca47c826312802162f37813327d92ae1e665f98f2663fc...
444980   532f118ec8d02433e454921bd50daf99712d9b8d75c0ae...
1067919  c74a252315e69564a21d6fa902eaa40b5ff5448ce35338...
1131768  d32362c33fd8ef751ec75d76bd53f65567e3484bb9273f...
364832   443bac8d78631cfd1642c0d635eb88812c34b3e2fd0843...
671552   7d5cb4bd3f27e37c63c473b63458888e1f124918c8cb25...
918234   ab55dd7cbd6a93936051cfee12b542b98555698382037e...
65819    0c5024dc15c6f8f0a898b7e8142cc6748d4d32df03d2e9...
1315091  f5628835668f8f55c387ec25af553f381a4ae1058b521e...
364413   4426b079dae9205295611a595aa0d0eb948a9aa3fbb3b3...
393706   4996ca2d974a339ff36ac3bed4c806f907663426bfd50c...
1345429  fb065951abc7326fbf2abfbbd6823e97988be4e1d50b12...
136951   1982d9748b161c1183ffa016ac99f8d55dd0638b16ba57...
868594   a21cdaaa70bdd9a0c82dd5dcf18c0256a4d9fe4e107e41...
356300   42a40c897f8a0cc58a6fc5104c650856e9930ac12b6bdf...
37672    070de4160b48328890cc43452746788caacf58565bc14a...

df_SubCust_Trxn.shape[0]

939

,customer_id,t_dat,article_id,price,sales_channel_id
0,6e133be3e38cb8ea77a14ddb0751522f9ea920a575aa40...,2018-09-30,572400002,0.030492,1
1,6e133be3e38cb8ea77a14ddb0751522f9ea920a575aa40...,2018-09-30,645065015,0.030492,1
2,6e133be3e38cb8ea77a14ddb0751522f9ea920a575aa40...,2018-09-30,645065015,0.030508,1
3,6e133be3e38cb8ea77a14ddb0751522f9ea920a575aa40...,2018-09-30,674336012,0.030492,1
4,6e133be3e38cb8ea77a14ddb0751522f9ea920a575aa40...,2018-09-30,572400001,0.030492,1
...,...,...,...,...,...
934,070de4160b48328890cc43452746788caacf58565bc14a...,2019-06-08,661864001,0.025407,2
935,070de4160b48328890cc43452746788caacf58565bc14a...,2019-06-08,661864001,0.025407,2
936,070de4160b48328890cc43452746788caacf58565bc14a...,2019-06-08,681178002,0.025407,2
937,070de4160b48328890cc43452746788caacf58565bc14a...,2019-06-08,617534018,0.025407,2
938,070de4160b48328890cc43452746788caacf58565bc14a...,2019-06-08,617534018,0.025407,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
126,9e87c81ba861614c5b359e27b9126898370ff216ebe09f...,2020-09-17,762656001,0.003373,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
126,9e87c81ba861614c5b359e27b9126898370ff216ebe09f...,2020-09-17,762656001,0.003373,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,9e87c81ba861614c5b359e27b9126898370ff216ebe09f...,2020-09-17,762656001,0.003373,1,1.0,1.0,ACTIVE,Regularly,34.0,d9056d551a526df03a6f6c67a3a3e8399635c641b550f7...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,9e87c81ba861614c5b359e27b9126898370ff216ebe09f...,2020-09-17,762656001,0.003373,1,ACTIVE,Regularly,34.0,d9056d551a526df03a6f6c67a3a3e8399635c641b550f7...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,9e87c81ba861614c5b359e27b9126898370ff216ebe09f...,2020-09-17,762656001,0.003373,1,ACTIVE,Regularly,34.0,d9056d551a526df03a6f6c67a3a3e8399635c641b550f7...,762656,...,Hair Accessories,C,Ladies Accessories,1,Ladieswear,66,Womens Small accessories,1019,Accessories,Elasticated satin scrunchie.

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Accessories,C
0,9e87c81ba861614c5b359e27b9126898370ff216ebe09f...,2020-09-17,762656001,0.003373,1,ACTIVE,Regularly,34.0,d9056d551a526df03a6f6c67a3a3e8399635c641b550f7...,762656,...,1010016,9,4,5,4343,1,66,1019,1,1

array([[ 762656,     512, 1010016,       9,       4,       5,    4343,
              1,      66,    1019]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
6    827370002     86
5    826492006     74
2    802023004     61
4    821152004     59
3    819547001     51
14   929165002     46
7    830016002     42
10   893059003     34
9    853089002     32
0    774543002      6
8    844971002      2
11   895993006      2
12   909955001      2
1    774552002      1
13   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    929165002
6    830016002
7    893059003
8    853089002
9    774543002
10   844971002
11   895993006

070de4160b48328890cc43452746788caacf58565bc14a064523157fa87dbf13 0827370002 0826492006 0802023004 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0774543002 0844971002 0895993006
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 45

get_next_SubmissionCustomer

'8f0927128b58003b55f480afa0039e542a35e6667d5eccb2698243aac2f7a1eb'

Generate Artcile Predictions for Customer 46 : 8f0927128b58003b55f480afa0039e542a35e6667d5eccb2698243aac2f7a1eb

                                               customer_id
71695    0d63a1a9e21516fff2d42e021c9f499c5d7f83c7ed82a4...
1289764  f0b45ae1f363f124f247a718d962de06b9974103702745...
747618   8b929fb4e610fb9aa7aeb320d0bd2cf4fd4d31c07d9646...
543978   658d38d7f01859b92f94b92bd3de651dfaa602dc505e5b...
171040   1fdc81dc73419d738a58743b7c3d7eea3504a9f5dafeb7...
105163   139e65ce7a01bbae17071202ae1dab03d7c73feabe335f...
1148700  d64e0067a08f140612bf16330d687ebef1710e3a0cb29a...
87244    104f3f917c26a4b095e2da915e1644e67188593c151a35...
347633   40ff5ee27705dac263c1bf88e983eaeb795c7094712c62...
509101   5f1b8d82dfe1599c0a8c2b76dd913abbc6f1ff48e6fcde...
663379   7bd33b5bcdff8784a1229fd3bed8a8903e517b22eb1a68...
34959    068de014431db63049b213ded589dc8720a3cea643404f...
518009   60bb71d07703aa82b6041de48e017465213636063353b6...
290040   362925ae80a49cc51fa39dda3e47d56a57db227fbe5e64...
514885   602a5181e6c7863503e4ee7175e7177c6b4770ebfcfff9...
1201521  e030ba8356a402adcca2695d0d5cd53e44cc62c7068cd1...
74712    0df1e3953409986f0aec1f7e0e19c073358d02e250d3a9...
471382   580dd126b4e6c2daf2e96d16f13afae97dfb25d615a43f...
47450    08ddd7be3e60252d2cba9dd55297a6ad0bdc1f4e244a16...
806123   96822d90dacb59e9c656226f756199c4ba5e95a6fe982c...
547309   662a73188212b5ff77c13b5fba22cff2c7094361536c0e...
218003   28ab6ed4eb97400a743994fa1e028b3ffd92148907288d...
897696   a7892b209ba7cc9033dec70d509b2e772fc17b2a5e1bc7...
139420   19f9c7561655a9735e1247bcdcf2858ea05f7fe8aacc61...
563789   69353bb85bfcafdaada7f3f0fdafeab10aa4f81e1a2fca...
1358423  fd767db78eace6dd10112bf0ab0194727f0ba481c52080...
1121876  d1530a87bc4ece274f1ae21180cadacb43f6d7b3859015...
507395   5ec9800a65e2b73965419b1fc29728ac6dca97a028d416...
662625   7bae796d333eb7ea47943cd81cd1e96a051d231c2f2435...
680037   7ef6e995e7778d410f1b066ca19cdd9d7ef0f91088e593...
1256451  ea7b1c4f304fd8ad9982d50acd451d62b6a470d0f3008c...
1112253  cf8a56389563c5c1c113f176dfdc216b76443c86cccf6f...
168284   1f57846b8b38ef230ff2c14b138e2eb242e3442d931b2c...
582418   6caa7b3214bc5678986b4bd53e4c60c15d498375d99f36...
628928   755abcc4ae596e9544af54cd74a639f0b2bfbf5e1d499d...
4270     00ce257053b08f18fb55d3d41b415f3d42789e059e6b20...
280378   3453d45aecdbc945f3878805aaa9acdf7ff4ab26ff73a4...
469853   57c4b19dcba84affd916a61a77298875e3f17eaf466a52...
908169   a978b0db0762950d3a9bb67dcf1ff7fcc9f659796809e3...
943707   b013b638e89cb2eae7bb984e5738cf2740781532294b97...
1315947  f58a735c51e74b38309f9cfc471e1ddb0351a736b77b30...
31451    05e8cab07bbb0f390608240746ba52635b097ed2269680...
1169448  da2d9f5a92f1470017feada64a3fc553ee83c94d71c507...
299857   3808057ade893a6d33e2978a97829508506a2a1e9fb15b...
219575   28f71bea0e3dcf5d32a17909809c191ba0051db5e52e43...
766195   8f0927128b58003b55f480afa0039e542a35e6667d5ecc...

df_SubCust_Trxn.shape[0]

1491

,customer_id,t_dat,article_id,price,sales_channel_id
0,0d63a1a9e21516fff2d42e021c9f499c5d7f83c7ed82a4...,2019-04-13,629420007.0,0.007610,1.0
1,0d63a1a9e21516fff2d42e021c9f499c5d7f83c7ed82a4...,2019-04-13,629420002.0,0.007610,1.0
2,0d63a1a9e21516fff2d42e021c9f499c5d7f83c7ed82a4...,2019-04-13,698317005.0,0.030492,1.0
3,0d63a1a9e21516fff2d42e021c9f499c5d7f83c7ed82a4...,2019-04-13,688432001.0,0.022864,1.0
4,0d63a1a9e21516fff2d42e021c9f499c5d7f83c7ed82a4...,2019-04-13,759725003.0,0.045763,1.0
...,...,...,...,...,...
1486,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,2019-06-13,692930001.0,0.014966,2.0
1487,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,2019-06-13,464908002.0,0.015000,2.0
1488,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,2019-06-20,768085001.0,0.038966,1.0
1489,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,2019-06-20,592975021.0,0.010153,1.0
1490,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,2019-06-20,708229001.0,0.035576,1.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
1063,ea7b1c4f304fd8ad9982d50acd451d62b6a470d0f3008c...,2020-09-16,784505004.0,0.013542,1.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
1063,ea7b1c4f304fd8ad9982d50acd451d62b6a470d0f3008c...,2020-09-16,784505004.0,0.013542,1.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,ea7b1c4f304fd8ad9982d50acd451d62b6a470d0f3008c...,2020-09-16,784505004.0,0.013542,1.0,NaN,NaN,ACTIVE,NONE,57.0,8f1a1f70815a7cd83f93d3564fac6d6dfa5b7f89abff1b...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,ea7b1c4f304fd8ad9982d50acd451d62b6a470d0f3008c...,2020-09-16,784505004.0,0.013542,1.0,ACTIVE,NONE,57.0,8f1a1f70815a7cd83f93d3564fac6d6dfa5b7f89abff1b...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,ea7b1c4f304fd8ad9982d50acd451d62b6a470d0f3008c...,2020-09-16,784505004.0,0.013542,1.0,ACTIVE,NONE,57.0,8f1a1f70815a7cd83f93d3564fac6d6dfa5b7f89abff1b...,784505,...,Blouse,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1010,Blouses,Wide blouse in an airy viscose weave with a gr...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,ea7b1c4f304fd8ad9982d50acd451d62b6a470d0f3008c...,2020-09-16,784505004.0,0.013542,1.0,ACTIVE,NONE,57.0,8f1a1f70815a7cd83f93d3564fac6d6dfa5b7f89abff1b...,784505,...,1010001,17,4,13,1522,1,15,1010,1,1

array([[ 784505,     258, 1010001,      17,       4,      13,    1522,
              1,      15,    1010]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
4    827370002     86
3    826492006     74
2    821152004     59
1    819547001     51
16   929165002     46
5    830016002     42
8    893059003     34
7    853089002     32
0    802023004     31
9    895993006     23
10   898918007      6
12   909802001      5
11   909801001      4
6    844971002      2
13   909955001      2
14   915092002      1
15   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    929165002
5    830016002
6    893059003
7    853089002
8    802023004
9    895993006
10   898918007
11   909802001

8f0927128b58003b55f480afa0039e542a35e6667d5eccb2698243aac2f7a1eb 0827370002 0826492006 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0802023004 0895993006 0898918007 0909802001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...

cust_rec is... 46

get_next_SubmissionCustomer

'5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba5067215a30152755501320f2'

Generate Artcile Predictions for Customer 47 : 5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba5067215a30152755501320f2

                                               customer_id
1056688  c535620dd15e6dd33dd42efa55d4f1b0799bf338ec9c76...
752546   8c78e094bdd6822cc9d2de044e0f4ad9ff58000f5c04f6...
404452   4b9f8e81b0aea2b0293e46de858c863037a75c21d7b30d...
16568    031a1361ddaa79e32939a695673b087e85f5e03eb31938...
1284395  efb445a2c37a229f9f979cebed8cda8f7b9d3f647a770c...
379912   470d621d65a678428a5e16f636fd84d02f01c1d979e9cc...
519573   6104e3d74259f88f6728c5cfea8cb8eafb976648a15065...
343562   40409a3a3ba7ac9add1f6970425531e2cf5bafc4933f15...
998994   ba6cb09db523b86a49f6f00980b1ee28ab469d33f157f2...
841628   9d1f944c7428ac6d8e4c7126ffdb6ae31bacc6735df6fc...
902857   a87b1158602621d01f25faff7d40cf25a5ec46bb516135...
999669   ba8aac65989fa23dbe0d6f6c7b1902037a821a19c5e752...
227264   2a696738271f8888e9d6c9246ea836a2fde817e022d4a6...
687439   8055c98b136ae2f143b54355c809da2edbf89ea0a8e777...
678438   7ea9ebc518e66012c9759e8db30d70dcaaf58f1dbaf007...
821013   99468281f04b3a61da81e3a100b9ee71994eb423f38756...
566409   69b2b00ca901b2033fb9887bdf4e792331cb4b68ec6a09...
1259163  eaff192fee0f7c76e6289105bbe7f169c9d16d6da2c9fb...
286251   3572baed861c2f287f4b7b1fe1f785530e2aef38dfb476...
305072   38ff69e9d5faeacbc315b0898cd5f97af725cfecc68f01...
1300391  f2aab7bd8da600a3f770c5d645f068b24d9b5f7218c467...
62178    0b9e33ae422bcf7f14087d383567dd0f7e4230c8b02812...
388205   4892b3fa946e160ac3826d4fee5e95a3da5d763d4fd4e1...
196400   249d8ded0a6299917f2ac210c3d83359acc408774f5a2f...
1099688  cd35b09ed61c788c982268e2c3f5cb6dd62edc2647d691...
1353648  fc9255e9d0240446e90d28b8dbde492a3a4d99b0090205...
814618   9816036aef1ed10751a540810abcd5666fe903cb7e2949...
654058   7a0f3b6da095bc61abd3c84fbf0029e067fd58be70f00a...
64711    0c18def1a7296c0d5592eac43cdc86118329397c424d9b...
1250583  e96351310083c515cbf41fa1f391a34886595c6927cf64...
1055451  c4fa7a521272505f7251ac9580a12710429c503010d6c2...
1224222  e4733f8db3ecaaa0f23fd25f1ea41f007a39f856ab7313...
1036348  c16d74b2036b5bb722a836c84d7411f4bb271f66f64899...
1039333  c1fb09ff8c5b7b9eaabdb5a51e9347a7d0b436c2378b36...
942138   afc78f3b880ae46012e2fd810734ad90cf2a44c4df7e5a...
1066524  c70868f8e9e2ffca614ea02a21b53919f199246bc47f65...
297203   378791f8ffe7dcd5218f7340c61b884258462417eb8528...
182652   2205c46b05ae01c9b4e391c1fd417e7d460d0d778773db...
1143359  d54dbaf7f4b3c8194b273fdd02aab4db7dbcbd9f54cd88...
489593   5b71e5c6a07be1f51f9b7290527f4e7278b1790b628ccb...
713413   8525974a18cfd9d21dd60567bfd9026ff243ad7ab9b7c8...
609874   71cd034ee7769c5c486c54f847c0b901f35ea59468b44b...
413954   4d66e5e8c1add262a8790cde12a65272aeb5bf8335b2cb...
1304421  f3665a7f4c0cd118e8cc9a70431cbec07cf90e66a9ab4b...
899405   a7db3b06d0e6b38331687d6d42913784f372543871612d...
1187165  dd818084ed45d4a32a45c5fa2dd4e62943d115fdaf8d08...
492765   5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...

df_SubCust_Trxn.shape[0]

1081

,customer_id,t_dat,article_id,price,sales_channel_id
0,c535620dd15e6dd33dd42efa55d4f1b0799bf338ec9c76...,2018-10-11,662948001,0.033898,1
1,c535620dd15e6dd33dd42efa55d4f1b0799bf338ec9c76...,2018-10-11,399136009,0.067780,1
2,c535620dd15e6dd33dd42efa55d4f1b0799bf338ec9c76...,2018-10-11,399201020,0.067780,1
3,c535620dd15e6dd33dd42efa55d4f1b0799bf338ec9c76...,2018-11-16,662868002,0.027712,1
4,c535620dd15e6dd33dd42efa55d4f1b0799bf338ec9c76...,2018-11-16,673677002,0.013864,1
...,...,...,...,...,...
1076,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,2019-12-31,812807002,0.033881,2
1077,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,2019-12-31,777148003,0.050831,2
1078,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,2019-12-31,495685003,0.042356,2
1079,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,2019-12-31,824614001,0.076254,2
1080,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,2019-12-31,797731001,0.025407,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
401,2a696738271f8888e9d6c9246ea836a2fde817e022d4a6...,2020-09-20,918525001,0.050831,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
401,2a696738271f8888e9d6c9246ea836a2fde817e022d4a6...,2020-09-20,918525001,0.050831,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2a696738271f8888e9d6c9246ea836a2fde817e022d4a6...,2020-09-20,918525001,0.050831,1,NaN,NaN,ACTIVE,NONE,22.0,4e89e6c72fec2e66cb0f4e70b76db4ff7f87549f7e0fc6...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,2a696738271f8888e9d6c9246ea836a2fde817e022d4a6...,2020-09-20,918525001,0.050831,1,ACTIVE,NONE,22.0,4e89e6c72fec2e66cb0f4e70b76db4ff7f87549f7e0fc6...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2a696738271f8888e9d6c9246ea836a2fde817e022d4a6...,2020-09-20,918525001,0.050831,1,ACTIVE,NONE,22.0,4e89e6c72fec2e66cb0f4e70b76db4ff7f87549f7e0fc6...,918525,...,Knitwear,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,Jumper in a soft cable knit containing some wo...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,2a696738271f8888e9d6c9246ea836a2fde817e022d4a6...,2020-09-20,918525001,0.050831,1,ACTIVE,NONE,22.0,4e89e6c72fec2e66cb0f4e70b76db4ff7f87549f7e0fc6...,918525,...,1010016,13,1,1,1626,1,15,1003,1,1

array([[ 918525,     252, 1010016,      13,       1,       1,    1626,
              1,      15,    1003]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba5067215a30152755501320f2 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...

display(df_NextCust_Preds)...

,customer_id,prediction
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 47

get_next_SubmissionCustomer

'6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f3682dc6fb0c2c2d1ad'

Generate Artcile Predictions for Customer 48 : 6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f3682dc6fb0c2c2d1ad

                                               customer_id
207348   26ab9b908361e7d598771442a703a51fdad3a6365e5116...
1093     0033df39266a3fddd59df6f05492223d7b583b5ccec35d...
284278   35126ed8e4517ea9b381a9f3361e1111ff0aa08c72b6d9...
494233   5c521ba19129c1b0b6c708786ac7b7ea379e8b7865eb59...
662256   7b9e17fa62667d1a58c4f9d6c252b9dd74e8971aa5ee44...
291217   36620533f974016c0406c6b7325e962e20240f6d47113a...
135684   19482508e6c6f030f1d728ba654d2c899e98684fe9e6c9...
1349538  fbcdad19a7707a89c1c332d1e4d86d14c0f3edf395e603...
37282    06fbc97242a3b0d06308d4879076b8682e7eef8178f21f...
1273836  edb9e8d66f4d1cf51a212bec156167f28b2064437cc9a9...
1311399  f4b43dac989f37325ccd18556d5d052c2942b97055b7f2...
733635   88efbd9bb09f1e84ca0c0f3600b2cb2cb5244d1650bc18...
405238   4bc6eb141062e871c78b59d15d42c47c1fa21e5db9798c...
867552   a1ed305a0f59425c767a3711a6987e18881abd6bc908fd...
1080174  c991b9f342e5b5e404cce70f8110a2b4060966cf64298f...
147971   1b93668f1d54052de1af6d8d6ab8bd4116dbad307b8d2f...
217361   288d72c2c4afb8ec56f4764aa83de3b1a99ae839699e24...
93489    11784e3572e4741368a797304919038bd748fb9b905fec...
759229   8db9292b891adf1d3afe3459d5c9308e1ab118bd73704d...
380083   4714e4913d7a109172296b8e3537ec3be762f5ab8e647a...
762370   8e4df4888333b9dfce38c4e6070544a4ab9caefb378126...
1340968  fa303f97f9eb65bd94422f9ef12d98369b9c4ac8941698...
1100660  cd63a10c676533b369c16433f1b0c00e8f63264a39d983...
513460   5fe5a84e8770c4f536e3c760d402543455d7610f125a21...
1215873  e2e0c3f9e9c7bb689d9ce03d69c8f9036f982364fc90e9...
686270   801e9b6ea5ef3ebdf545a0d8908864c1845ce6c60618d5...
446986   538bb0383f6ff4445e4556ddd2cd72e5dd3ee2537d4e16...
1340619  fa1f923977b4332035a8944baf4cf455ffcd45374d8694...
214453   27fffbac7caeee2289b16cf76ad2c2077c5fe35a64d173...
766726   8f226207d3261df1829dfd2b89ce34d019047d950a5a68...
1326096  f76d5ba911cf4920724ab3f0230e5f71c5f75ac433ac9f...
1326713  f78b98a42612c8a7cd7be587f0369a73c0e4c72254773b...
897425   a77d8a1d0cc11d6386d0e3fa334004a58d2060acf1f537...
150414   1c073cc12ab9b7684cdf58d77f478bbe3dd19614f77e22...
1134208  d39923a5c4ee9594514efd949c4b3e4f2e1068ac6c748b...
114504   155798e4b5c6431e209dc25549c10e3da548ad4347f4cb...
791611   93c6f0c5c6f68e52413f8da9c0c56248a5688e109c8fe9...
774754   90a4ec74515d8ca7657f7a3216ce8f68137b33d9259184...
505249   5e63c2455a34b70afdf0bc4b532c53edf74b37dc9ed936...
1268707  ecc16520120f12edb1d59283308c0fc0abd0a2eb06ce48...
380277   471df79ee039816abb4b7ba90c06425df9780f4cb4570d...
889787   a6132906eb3b686fe187b6ad54c81ce0d24a549921c63d...
912269   aa3b61415fc095ac8c4c049aa033957f61ff2c2325e703...
927562   ad0fa90965a542ff730e39a27f5141b2e992f4fd9e05b8...
510370   5f54db6aa151f0642cb6da4294d467260a7104167ea6fe...
1322370  f6c02df85635c7685676790e877b0101d7ecdacaf98b7a...
386106   482e3a586dc7c36b82cdc458b5ac87b21b32a1f32b1ca6...
599439   6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...

df_SubCust_Trxn.shape[0]

1022

,customer_id,t_dat,article_id,price,sales_channel_id
0,26ab9b908361e7d598771442a703a51fdad3a6365e5116...,2018-10-29,573716037,0.025407,2
1,26ab9b908361e7d598771442a703a51fdad3a6365e5116...,2019-12-04,665098001,0.030492,2
2,26ab9b908361e7d598771442a703a51fdad3a6365e5116...,2019-12-04,316085001,0.022017,2
3,0033df39266a3fddd59df6f05492223d7b583b5ccec35d...,2018-10-16,457892003,0.025407,1
4,0033df39266a3fddd59df6f05492223d7b583b5ccec35d...,2018-10-16,457892003,0.025407,1
...,...,...,...,...,...
1017,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,2020-08-21,928806001,0.011847,2
1018,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,2020-09-01,896096003,0.059305,2
1019,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,2020-09-01,933706001,0.016932,2
1020,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,2020-09-05,918522001,0.042356,2
1021,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,2020-09-05,926500001,0.059305,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
435,5fe5a84e8770c4f536e3c760d402543455d7610f125a21...,2020-09-20,916235002,0.06778,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
435,5fe5a84e8770c4f536e3c760d402543455d7610f125a21...,2020-09-20,916235002,0.06778,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,5fe5a84e8770c4f536e3c760d402543455d7610f125a21...,2020-09-20,916235002,0.06778,2,NaN,NaN,ACTIVE,NONE,28.0,aa0f7fc677e07b9f1fb6dbb9a8919fee521b31004d5a98...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,5fe5a84e8770c4f536e3c760d402543455d7610f125a21...,2020-09-20,916235002,0.06778,2,ACTIVE,NONE,28.0,aa0f7fc677e07b9f1fb6dbb9a8919fee521b31004d5a98...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,5fe5a84e8770c4f536e3c760d402543455d7610f125a21...,2020-09-20,916235002,0.06778,2,ACTIVE,NONE,28.0,aa0f7fc677e07b9f1fb6dbb9a8919fee521b31004d5a98...,916235,...,Trouser,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1009,Trousers,"Short-sleeved, ankle-length jumpsuit in a cott..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Full body,A
0,5fe5a84e8770c4f536e3c760d402543455d7610f125a21...,2020-09-20,916235002,0.06778,2,ACTIVE,NONE,28.0,aa0f7fc677e07b9f1fb6dbb9a8919fee521b31004d5a98...,916235,...,1010016,12,1,9,1722,1,15,1009,1,1

array([[ 916235,     267, 1010016,      12,       1,       9,    1722,
              1,      15,    1009]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f3682dc6fb0c2c2d1ad 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 48

get_next_SubmissionCustomer

'fcc3e049c8937eb1a90fc3141e6b54aba463a4480a75096c643c5abec4d18d1e'

Generate Artcile Predictions for Customer 49 : fcc3e049c8937eb1a90fc3141e6b54aba463a4480a75096c643c5abec4d18d1e

                                               customer_id
857052   9ffb685762b70247c609f1054d8d12f9a6c254074095b4...
304342   38dd97da64877eea86cce741ce9baf96c25ba68bf05052...
105152   139df4acbdf9076c2aacab6b32d77a0960cd4f20892e4b...
1014949  bd6436ebcf6ebc183697e5b3f1f05f6353a6e08724c2e7...
1265657  ec3385d300bf41516a423e74f19e43364e606ed0ad4555...
753733   8cb0b38a215bf0f0a847c6eefb06ea6f555d9fcc49d72a...
1196662  df481506408f3ecfd8b656d7707077b301e955ec00fac4...
1139994  d4af158bdbc572dda3cb2dad4a219c8332fe0eaa391b27...
762294   8e4a6e6aba5708d380b3683b1b0e1015b8122bc9b6e260...
947838   b0dd589a6dce88b817e0f4e8bc6358ec2fc5587ae4ab17...
990663   b8d76fef36c674be54b5335747ad48ad91440e61bf3eeb...
19901    03bd3a769335c0a018bb9678f6daf53a41a1db262506dc...
1269978  ecffaa1a232de1597a92d9ce645073649bfb1e726956e0...
66721    0c799b856efa21472f6f4f80f3a029b7d6f2fb650669a9...
237913   2c6954dd209ac5a69dcfa18049d975e08eb45e24a1387b...
650266   795daf8d1f4e61590141ed99534b4e2553581070ffc939...
13234    02755a0b9a8826e8dacdd1b0d75fe171daadee2aba9211...
1159052  d83f238d82c8bb9d52b65a66081a4195db878d2f991ed2...
764829   8ec742a89e2d134265705ea815ed5c9e82ea5a950b2f48...
592786   6e969e080577a95aa76ee3bee311d8e2b870b44621b3a4...
989826   b8ad729b5ff1ec56db0b7b83cfa77678bd98c688d2a928...
939659   af521fdaa08c64ce188b6fcb21eb9fcc0d857d793ac930...
1059369  c5b04a7eebb5afdc98936a7552d8b9a96f23e97b6a3f02...
1112496  cf95ccc481f2352bd2865bb2b6821fbefdac307210b4b7...
73451    0db5cd5b5914bdeb37e88d3b15d04fd84d5ab59fd39591...
706582   83e4ba41e01f16f51eef26aaf8de9a2ac84e354b56cb0b...
275035   33586a30af573147045df811789c55fd0fdfe3ee2846f5...
372977   45c022c5c1f61229ad551cddf1869c1c29d22a0f50069d...
131922   18978f1169c6286f5d8b31c7eed0de736f68bc445b407e...
1025408  bf5a0a995eb6ee15b3f06fc992e01d2661274404a62836...
495115   5c7bd11389994c4eb26ab7f5337850d9dc0a06e260d3fb...
481571   59ee9285024de2a975252f17f5b38bf267bc4a3f30592f...
206256   2672fa64950cd4fff6d1bcdfed9c31e67be1bb2e6b8063...
675163   7e088ba02b426142c5025894d0241b90fefb5176c0c032...
346117   40b7eb6afc67281cd7f2133e2eec415edb3440ffcc394b...
429740   505b1b507947e66b7e280ef02306424ccb0814dcdddb4c...
388640   48a79cc9a970be7a3fcf8c480e925b98447d028f679847...
1282338  ef518ed9f34c8b6a82fd34194f25087794688599a1ed71...
1048388  c3af7a4c2822b5701ccc5bc1808a0f2c24d8c867fa2cff...
523660   61c818302848209bfdadaaeb7e52f66e90add72a517158...
346744   40d384a16eca1ac6ac46b2c8f64dff077d0bbeade50712...
1092657  cbe77c23382969c8a293792ca78244618c52f65780464a...
408275   4c54505ed6077095eaa2022f58ce9fc69ededcc28e22e6...
1084359  ca5ebd3d8ceac4553292ffa8444b331c2af537a0c82760...
503228   5e0119d6b04a7b25e93d1dc2f0b50d636ffb62425f9515...
255158   2f9cfdaf89a8a708ebe2a288aa2df7dd2304b96372a326...
1238437  e71f9518457e80fbcbdaf769d00ad8ea1ef89b5ddbacb9...
105340   13a6659a1d2a46ea9d029919a0022c70bf5fc3160ab20f...
1354689  fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...

df_SubCust_Trxn.shape[0]

1179

,customer_id,t_dat,article_id,price,sales_channel_id
0,9ffb685762b70247c609f1054d8d12f9a6c254074095b4...,2018-12-08,559761001,0.022017,2
1,9ffb685762b70247c609f1054d8d12f9a6c254074095b4...,2018-12-08,603153002,0.028797,2
2,9ffb685762b70247c609f1054d8d12f9a6c254074095b4...,2018-12-08,634665001,0.011847,2
3,9ffb685762b70247c609f1054d8d12f9a6c254074095b4...,2018-12-08,576775006,0.022017,2
4,9ffb685762b70247c609f1054d8d12f9a6c254074095b4...,2018-12-08,623632002,0.030492,2
...,...,...,...,...,...
1174,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,2018-10-22,430157001,0.038119,2
1175,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,2018-10-22,611768001,0.045746,2
1176,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,2018-10-22,643575002,0.030492,2
1177,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,2018-10-22,630911001,0.009136,2
1178,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,2018-10-22,643575001,0.030492,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
1161,2f9cfdaf89a8a708ebe2a288aa2df7dd2304b96372a326...,2020-09-16,547780022,0.013542,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
1161,2f9cfdaf89a8a708ebe2a288aa2df7dd2304b96372a326...,2020-09-16,547780022,0.013542,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2f9cfdaf89a8a708ebe2a288aa2df7dd2304b96372a326...,2020-09-16,547780022,0.013542,1,NaN,NaN,ACTIVE,NONE,50.0,162aceb4825d005a484745a1b0b7dc6e557480b74bafee...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,2f9cfdaf89a8a708ebe2a288aa2df7dd2304b96372a326...,2020-09-16,547780022,0.013542,1,ACTIVE,NONE,50.0,162aceb4825d005a484745a1b0b7dc6e557480b74bafee...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2f9cfdaf89a8a708ebe2a288aa2df7dd2304b96372a326...,2020-09-16,547780022,0.013542,1,ACTIVE,NONE,50.0,162aceb4825d005a484745a1b0b7dc6e557480b74bafee...,547780,...,Basic 1,D,Divided,2,Divided,51,Divided Basics,1002,Jersey Basic,Trousers in soft sweatshirt fabric with an ela...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,D
0,2f9cfdaf89a8a708ebe2a288aa2df7dd2304b96372a326...,2020-09-16,547780022,0.013542,1,ACTIVE,NONE,50.0,162aceb4825d005a484745a1b0b7dc6e557480b74bafee...,547780,...,1010020,7,1,12,1643,2,51,1002,1,1

array([[ 547780,     272, 1010020,       7,       1,      12,    1643,
              2,      51,    1002]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
0    610776032    104
14   802023004     61
6    690611001     60
16   821152004     59
15   819547001     51
17   830016002     42
2    640613001     25
9    740812001     20
11   751585002     17
4    665509002     14
1    616732001      9
10   740812004      9
7    702014001      8
12   774543002      6
5    690489001      6
8    707375002      4
18   909955001      2
13   774552002      1
3    656728002      1
Show Article predictions...

    article_id
0    610776032
1    802023004
2    690611001
3    821152004
4    819547001
5    830016002
6    640613001
7    740812001
8    751585002
9    665509002
10   616732001
11   740812004

fcc3e049c8937eb1a90fc3141e6b54aba463a4480a75096c643c5abec4d18d1e 0610776032 0802023004 0690611001 0821152004 0819547001 0830016002 0640613001 0740812001 0751585002 0665509002 0616732001 0740812004
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...

cust_rec is... 49

get_next_SubmissionCustomer

'e295e549242f6826942fe50504193d9f75b11b7b6ecd5cb2d99a762167f9f394'

Generate Artcile Predictions for Customer 50 : e295e549242f6826942fe50504193d9f75b11b7b6ecd5cb2d99a762167f9f394

                                               customer_id
342500   400ed2dbafacef4766322359d27095cf0da2139d359229...
707679   84151e642002d10f164842d74fcc96d7e1c75c1ae879c5...
172949   203821f90607a6f585e6b4d7001b2fb569a4987f0e855e...
712031   84e7512e0eacc4c161e4892de02636e1e8c29c53ae349a...
309475   39d03f5ef5c0f5861405a053338e090eb8709b3a8110de...
782496   921717b8069e498a4a7bd01c1abd13e65a9c6cd7803ce0...
1175855  db5f821b8a19f100a227e1e037ac95d5e89345aa27eafc...
616802   731652fd1ea37ff979ecdfa54aa73bc9a727546d16d1e4...
259169   305bb2447dc0a7feefbf786e44ff7c68c73d1b7ba7fca7...
152602   1c7065e2d7041bd62e7d35a294982a28189ee54feb809c...
899516   a7e1281eb60f2b53e9e437142a2b4ed72f52ea8304b22f...
625122   749d5fa745c8e1f77fb2860f94ad62bec60c67255915e1...
1256029  ea660ea2606f7aa3ec8ed897e2c78a356c9f1e8b3dc9f5...
636383   76c31d44cced36ab50c8adae683f9d6013b891ab2a138a...
496234   5cb089619da226e51e169447cae1f0555730ea3f847f3c...
294663   370ae2dc5e23232f1f05fce2e2da85ef1da86f1a3d6643...
1181901  dc86e37f79f5d90cffd8fa04b3a1f71e6b6e7ece613359...
510639   5f606998e9d85a6848903376aad4aaa8feb656279aa119...
831273   9b2f2874ac0f2d9f99be370ef88db206dc3ce8a0f43a70...
358539   430d62e6c9463411e48ee02c02ba0e4d65302565b7c62f...
191157   23a04a70bbe060f43e35d596526c4be214d2ba3e55c56e...
697661   82406440eb9a371891b5e5de3345265d79e09c6d7f5eda...
293375   36ca1a023fb49118f60e2766343fac4c26453bbc31dc06...
672264   7d7f82c567c5271505e999849bb8f9b9631708e8eec338...
651672   799e4bb4d4663e5aa13f74dbe6b9773d4f7bf38388560f...
950172   b1472ce00d72a0fdbc2d7a8f5d1c632be9a5523d606600...
1318261  f5fa12ac0786fd36348511b9673285f29f2a55bb3a1eb6...
1242956  e7f534af9b00b32fe18d6142f2530f3a343c50947e4f8e...
207469   26b22cb0c3aee219cacd603af7b351cb72d276fa5b7bc6...
960069   b320585842bb4ac75508dc21e0b918bdfd139f13619e92...
813876   97f1e16c9b5f4ea4f2f7fc7605f8a63b09d33b91e7ab5b...
435453   51666fc73f281ec510b7d11cbad8ca9026a8b23244a9cd...
1240018  e76878747a64e5aa915c8ddac254ea62a3116b57b749e1...
1241017  e79603e0062659ee87d41bfcb1a2cf23752409553fe836...
561709   68d1cb39c0d97197a609c64f1e9cad8c3f529f1b418876...
1067077  c721614a6cfefb5e80ab960922568d97be587cd1ad6d49...
83754    0fa6c2380e9a628e10174786d30e7ced11dd3798749dce...
1328691  f7ea6db4771209b6ba6d5c29dfe63c03e80ded86c69e75...
1203111  e07c9efc880bd6d3b95163d1ffb3789ea0ef3a600382f9...
1349038  fbb706d65106c73070fa9e55c03efd393bbb5ca3020774...
680697   7f15f61f01beb1d1094cbe6e7559aea557c6983dd009b9...
88565    108f34e611acbe420e2b5db26dc64288957ad31dace6fa...
337360   3f16b94d38193b0b018580e169db1ec2cbbdcdd024b7e4...
917658   ab38e65dac5df1b6a9cd4befa619dc8a6356ea60c65a3f...
759360   8dbf2e43500c460becfa1bf71224753660843f2a9226e9...
1061206  c60a10ca4e5ef99ff320834cf8ebe5054e4c481c117f8e...
300251   381b295466e474226d7bc62f54e114ca9e58f3bb4610b6...
172216   201521fd6a89119312eaf8969bc558c25f180337ce9efb...
1207411  e14a3947d36307d8d618046a0a595f69432d99a6aaf103...
1214356  e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...

df_SubCust_Trxn.shape[0]

874

,customer_id,t_dat,article_id,price,sales_channel_id
0,400ed2dbafacef4766322359d27095cf0da2139d359229...,2018-10-12,674096001.0,0.013542,2.0
1,400ed2dbafacef4766322359d27095cf0da2139d359229...,2018-10-12,674096001.0,0.013542,2.0
2,400ed2dbafacef4766322359d27095cf0da2139d359229...,2019-04-06,731644001.0,0.040661,2.0
3,400ed2dbafacef4766322359d27095cf0da2139d359229...,2019-04-06,731644002.0,0.040661,2.0
4,400ed2dbafacef4766322359d27095cf0da2139d359229...,2019-04-06,736154001.0,0.054220,2.0
...,...,...,...,...,...
869,e14a3947d36307d8d618046a0a595f69432d99a6aaf103...,2020-06-15,869397001.0,0.033881,2.0
870,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,2019-09-02,783645004.0,0.039712,2.0
871,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,2019-09-02,761575001.0,0.031763,2.0
872,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,2019-09-02,707272001.0,0.030169,2.0
873,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,2020-08-23,530953025.0,0.042356,1.0

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
148,400ed2dbafacef4766322359d27095cf0da2139d359229...,2020-09-21,896319001.0,0.025407,2.0

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
148,400ed2dbafacef4766322359d27095cf0da2139d359229...,2020-09-21,896319001.0,0.025407,2.0

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,400ed2dbafacef4766322359d27095cf0da2139d359229...,2020-09-21,896319001.0,0.025407,2.0,1.0,1.0,ACTIVE,Regularly,53.0,53e1c56ef9734c520236013d28b3c57c319f51660c9aa5...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,400ed2dbafacef4766322359d27095cf0da2139d359229...,2020-09-21,896319001.0,0.025407,2.0,ACTIVE,Regularly,53.0,53e1c56ef9734c520236013d28b3c57c319f51660c9aa5...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,400ed2dbafacef4766322359d27095cf0da2139d359229...,2020-09-21,896319001.0,0.025407,2.0,ACTIVE,Regularly,53.0,53e1c56ef9734c520236013d28b3c57c319f51660c9aa5...,896319,...,Loungewear,A,Ladieswear,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1017,"Under-, Nightwear","Jumper in a soft, fine knit containing some wo..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,400ed2dbafacef4766322359d27095cf0da2139d359229...,2020-09-21,896319001.0,0.025407,2.0,ACTIVE,Regularly,53.0,53e1c56ef9734c520236013d28b3c57c319f51660c9aa5...,896319,...,1010016,9,4,5,3708,1,62,1017,1,1

array([[ 896319,     252, 1010016,       9,       4,       5,    3708,
              1,      62,    1017]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
20   924243001     74
1    821152004     59
0    819547001     51
21   929165002     46
2    830016002     42
6    893141002     41
5    893059003     34
14   915529005     34
4    853089002     32
18   918525001     30
7    895993006     23
9    898918007      6
19   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

e295e549242f6826942fe50504193d9f75b11b7b6ecd5cb2d99a762167f9f394 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 50

get_next_SubmissionCustomer

'a8a874ec1f26d0952e4083fe849dfba40860eb35d672e974000a5cdf942e8c26'

Generate Artcile Predictions for Customer 51 : a8a874ec1f26d0952e4083fe849dfba40860eb35d672e974000a5cdf942e8c26

                                               customer_id
1008661  bc39de7c63b99c498659f7f1a9558508306fca5e94e6d5...
628074   75310a2c67f6e6c7673bae76a7c555a66c627c69ff9804...
825122   9a05bef126b2fd72b468b4f98a94634fe9048a18204513...
429725   505a5d7699e1c6d384278b1af058329708e5be466a16b7...
1230834  e5b37339505a85b03aa9da503b2bc518750a95612c267b...
214400   27fd9b647bdb9941cdd56d41fd9b7139b66660461adddb...
1153753  d7400c45ecd49424edf1454eb245596127b1dfd6223730...
433086   50f7ec5def9b8d4c969da5a712bcae5e46d95a3cc1702d...
997287   ba19b90491a4cb0834886c4f54e8f69632a66af720cd77...
894133   a6ded87c49cdf02b9e0b7853d27d68abfea097f57206cd...
338992   3f63b6443c621b8d2eabe1949cbd0de38fb28c440d33a3...
21318    03ff4865c680b4158056698598b43c4a4f32d43774ae29...
103568   13524883c80c587008d729c2506b6ffc167dd486854b4a...
1123514  d19e65c424cdf80c7da7f8817a81f5d8b643d3015ef4f9...
1313718  f5200f67446929f92a6ec52e9f8b889fc906e9f6b2a9ce...
61568    0b82012dac9bea0a70b8313ffce6a7ee0715705209b98f...
885392   a53cb6aa212d72f1599d7c01a0425db0e6d99ae5161352...
38313    072ba3116460aeb02209a4134f14ec7d3ddfaddd2c0d56...
532669   637012a3c7c6a555cb90b1641fcac9ee5b0d94166569a8...
831838   9b4a27d331ed2d609cf9ebd5fc0bf673c62104229de4d9...
1294817  f1a2bd3282e56e16fa64804bf5a57094098600cf1abfb4...
1180384  dc3e6c6f26b068180707d36b1925b4241979d4ff7504de...
173883   2063d98b92091f201ef092d5c104ac7406262ae79aae73...
510197   5f4cad8f5df95c5bfc5c8c4e8f024901c76ccbd6bafd22...
631702   75e3e6693d0e0b162ec078157e0fdb0f2d7d3af1506a49...
664330   7c00ff2240517a765df5d99d956616d14825418b5c2498...
32251    060f638e13febfe603fb4e4656a34890e2de514b1ae431...
1132583  d3493fae74c45e54dda29e8045ee2d3a80d30d93f64417...
444016   52fedf41a3fc3b9f7402c568845e31a6fed5732864f1a2...
1168122  d9ef046576805540ab06a3b27c47eb7eac95ba1d3c33d1...
1160016  d86d9eba184d6635a8597fccd40a762d866620b645801e...
1284596  efbef8c148f905d74fad0d755266b08569f1db7dcac0f9...
720316   86724be897a05a10ec955b830e3339d0299ce2998f7b47...
646998   78c100c3b0a3726ccf97a500df7ea7b45ba8cdf5c2a362...
17180    03372a15f492b0af19744d28a0c4be58938cac780cc68b...
931635   add21493f04bec2e4bb7e872fdec3fd026d9c83c5cfeb4...
967708   b49064904d4f9b590499ae2952fd17a20f045b4570cc4b...
38469    0732cfa29214dd75fdd2e00d29bee7748ae9ff0b6c2d94...
1175978  db6533acea4a04ce307eb7ddc2dcc48c89cef75037ac01...
1356583  fd1e9c487e7db5ac76252dc66769b211110b00d339965d...
634552   766d63af5c2dacbed1a43d88a213f061e7e72093955838...
688588   808c07930d672adf45d71ecd1e2befd563417c2530ab19...
830513   9b0a0f5984a1d370609d7c613cef0f71fdfddc1da4fd55...
994416   b991705cf41459ae268a48acb757b6b22857e9fb822894...
717253   85e0e1a2e459ac1e5ed4331a932a7776932e6372627f5a...
1281582  ef2e1661f4d00c81086ed5183a2682a37c48d1726377d9...
942371   afd361d3dac991107fcc76084372e2e8623ee72811b4c0...
470384   57ddf5f19221906b30f1adddcede72e0bdca7d6b3206f5...
870508   a27b09774d6c263389cf2d0bf7846e80f0c5666a605ac6...
1279293  eebe1a8be774688305ea54e213e849e74676e1d6d6dd26...
903840   a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...

df_SubCust_Trxn.shape[0]

1015

,customer_id,t_dat,article_id,price,sales_channel_id
0,bc39de7c63b99c498659f7f1a9558508306fca5e94e6d5...,2018-09-28,478646001,0.010831,1
1,bc39de7c63b99c498659f7f1a9558508306fca5e94e6d5...,2018-09-28,637661002,0.040678,1
2,bc39de7c63b99c498659f7f1a9558508306fca5e94e6d5...,2018-09-28,637549005,0.027102,1
3,bc39de7c63b99c498659f7f1a9558508306fca5e94e6d5...,2018-10-05,502224001,0.067780,1
4,bc39de7c63b99c498659f7f1a9558508306fca5e94e6d5...,2018-10-26,296366006,0.001678,1
...,...,...,...,...,...
1010,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,2019-01-28,560268001,0.011847,2
1011,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,2019-05-02,717490007,0.008458,1
1012,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,2019-05-02,683662017,0.012186,1
1013,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,2019-05-02,715665001,0.025407,1
1014,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,2020-09-01,497640002,0.067780,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
128,9a05bef126b2fd72b468b4f98a94634fe9048a18204513...,2020-09-22,801768001,0.050407,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
128,9a05bef126b2fd72b468b4f98a94634fe9048a18204513...,2020-09-22,801768001,0.050407,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,9a05bef126b2fd72b468b4f98a94634fe9048a18204513...,2020-09-22,801768001,0.050407,1,NaN,NaN,ACTIVE,NONE,51.0,963d484fb1f1410b0e016b5aa4aabf16b44a62f9e1bab7...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,9a05bef126b2fd72b468b4f98a94634fe9048a18204513...,2020-09-22,801768001,0.050407,1,ACTIVE,NONE,51.0,963d484fb1f1410b0e016b5aa4aabf16b44a62f9e1bab7...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,9a05bef126b2fd72b468b4f98a94634fe9048a18204513...,2020-09-22,801768001,0.050407,1,ACTIVE,NONE,51.0,963d484fb1f1410b0e016b5aa4aabf16b44a62f9e1bab7...,801768,...,Trouser,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1009,Trousers,Suit trousers in a slightly stretchy weave wit...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Lower body,A
0,9a05bef126b2fd72b468b4f98a94634fe9048a18204513...,2020-09-22,801768001,0.050407,1,ACTIVE,NONE,51.0,963d484fb1f1410b0e016b5aa4aabf16b44a62f9e1bab7...,801768,...,1010016,9,4,5,1717,1,11,1009,1,1

array([[ 801768,     272, 1010016,       9,       4,       5,    1717,
              1,      11,    1009]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
3    827370002     86
2    826492006     74
1    821152004     59
0    819547001     51
16   929165002     46
4    830016002     42
7    893059003     34
6    853089002     32
15   924243001     31
8    895993006     23
9    898918007      6
11   909802001      5
10   909801001      4
5    844971002      2
12   909955001      2
13   915092002      1
14   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    929165002
5    830016002
6    893059003
7    853089002
8    924243001
9    895993006
10   898918007
11   909802001

a8a874ec1f26d0952e4083fe849dfba40860eb35d672e974000a5cdf942e8c26 0827370002 0826492006 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0924243001 0895993006 0898918007 0909802001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...

cust_rec is... 51

get_next_SubmissionCustomer

'0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c663bcf9cb2d023a3a62'

Generate Artcile Predictions for Customer 52 : 0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c663bcf9cb2d023a3a62

                                               customer_id
294861   3714032ac72c6f069ef8a80f45d4824ea2d4d66a68fe0c...
718931   86340f0667a87c8bdc8888f016a01483fa0261ab8f4d59...
1133379  d3716841e7575e3fdd2c58087ce1ac48996cdc1e7f9e73...
63284    0bd3a4aaff5712bc689ee02e7fb2462afc79e2c6f5a904...
241269   2d077455efe6c7c05aa01fb05bc8a33c986a0dd328abb3...
374355   46037ee5e0c32a2c872e1eae7292f0fc9b4ebd061c53a9...
691576   811c13545a09e435e6d8bc8ffdda1f3036ca9553227a03...
600624   70114a26aa40fe8690f156baf5de43f53b67bf6852a739...
906006   a90eeed155d624566e3cdc3f8e181ac175a608310800c0...
222763   298fec22e4974ceda054dcc4a6f4c41dbc070ca10a5a37...
1141549  d4f7f77a53838552e3cec162687b401795e4df6d887192...
541406   6512b3095e7e934f16f2b32df649b907c635cb3f36b1b3...
193214   240221b0b977954d016bf13693e00745ba98c78fe5b7c7...
396522   4a1b89b469b6d91a91e40a08cdf6440783402ad99a5d17...
509224   5f20c3d32b81f623c796f42fdbc7f15aab2ac8d05a4b20...
274711   3347044b89f2361911279423a071a2cda7281204c600a5...
67761    0cacee1e4de1733d7ebe9d5c95ec4481550faaa5d2b612...
336808   3efb5355fb860f17f8a112f9f3313dbe39e1392dfeea22...
214241   27f5f5a5f04287335acad37bee6905b1a8d2d9d657ca80...
666987   7c814e8ce7c0a249285b3cc22d263f8569e4a4faf2b229...
736954   898e9323b1f1050a9626de8e84a4b5b16c2c3a7f93da25...
1061743  c623b1f15a7ee3d8823e0f648019f7ec2c64cceee451c4...
603192   708ce0490d21cca81aaad30c1830911b16e4e4973b07b3...
432672   50e58d4b64662e0dc4852e2c25f2b7fbe578034837de76...
683477   7f9d04986e2d09936634a30d3d841959de706c54cc219c...
1023335  bef57b63323b08637a85fe44d1b6ee95e631142c1b8a9e...
212939   27b8d6914e6dc22a3acae477bc990a213197ee4ee86e8c...
561395   68c39604eeac77a545b31c031f33d5030e67e2cceca79d...
619465   73941c99bfcacbf6a80bf0c605dd79d4a3cbe95589b268...
816355   9868e6affcfed756e44d66dbe78ac6480f4041ebf98060...
871247   a29fc9a247e057c4b7a927aaccd99234bf24ffac34edd0...
204530   262176bc0e32a90e7fd2901b87e6e39dd424556c4a23d1...
1098500  ccfe606c8776d501b0a36b3d001c95a527c7fcfd4d2133...
210790   27528977570124c1948684d6415b502ed539671f1b09e4...
394166   49ab7c7336b2fa74578a4691cbda7783ea0d8f9a460cae...
1191726  de584c0675ba7130740b24da7b62f471049278eb3b7328...
30978    05d11287164c4c7cb7207b2ad4b77aed11ba0e0e1cc8a2...
916220   aaf502ed78bb2a88bd5cc7eb7e50194c1623c7f05d16aa...
1039038  c1ed850ebae4fde8cc8d1fa4941bfae6795ab3490179a6...
143706   1ac819aa0f9f4bb47e7f578687ec1ad7841c339013f0f4...
825154   9a07578e68fa866ea3222958738fcd0a99cb1fc40c58e9...
582093   6c9aac9f5d76601a9dd0a80d2befeeb911b259175f794c...
1059785  c5c4dc55068e23b55127f62e39d7b3958b45c26f487a98...
250374   2ebc25c7fb27d4996b95d886284762b1b9925595567e26...
133909   18f5608c807e1d4a55ec283e9595edd7d82e0a75ae2b40...
565550   698955e1cdac6882b3d2e82816278d176afdf1156d6951...
1003947  bb556c2a1bc6ff6c5b6598e98da85c423c149fb9590698...
1185927  dd4730d78f46888645fec01138b283d66c652de89b5807...
532902   637bbe75180cc976d00a03f551d36a650db82839e23c77...
538266   6479853b17e608835b8b4935c1b267d1a07b70af220d48...
105265   13a3673d3ab44b559ea7bf5e5a20be77098d4c150b5c43...
58184    0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...

df_SubCust_Trxn.shape[0]

777

,customer_id,t_dat,article_id,price,sales_channel_id
0,3714032ac72c6f069ef8a80f45d4824ea2d4d66a68fe0c...,2020-08-06,825585001,0.022864,1
1,3714032ac72c6f069ef8a80f45d4824ea2d4d66a68fe0c...,2020-08-06,622966014,0.030492,1
2,3714032ac72c6f069ef8a80f45d4824ea2d4d66a68fe0c...,2020-08-06,848308006,0.004559,1
3,3714032ac72c6f069ef8a80f45d4824ea2d4d66a68fe0c...,2020-08-06,897693001,0.015254,1
4,3714032ac72c6f069ef8a80f45d4824ea2d4d66a68fe0c...,2020-08-06,825585007,0.022864,1
...,...,...,...,...,...
772,13a3673d3ab44b559ea7bf5e5a20be77098d4c150b5c43...,2020-07-22,894135001,0.050831,1
773,13a3673d3ab44b559ea7bf5e5a20be77098d4c150b5c43...,2020-07-24,589017003,0.022017,2
774,13a3673d3ab44b559ea7bf5e5a20be77098d4c150b5c43...,2020-07-24,865917002,0.016932,2
775,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,2020-03-29,644306001,0.020322,2
776,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,2020-03-29,681181006,0.016932,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
72,46037ee5e0c32a2c872e1eae7292f0fc9b4ebd061c53a9...,2020-09-20,781613015,0.050831,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
72,46037ee5e0c32a2c872e1eae7292f0fc9b4ebd061c53a9...,2020-09-20,781613015,0.050831,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,46037ee5e0c32a2c872e1eae7292f0fc9b4ebd061c53a9...,2020-09-20,781613015,0.050831,2,1.0,1.0,ACTIVE,Regularly,29.0,d6004004faadadb5ec18d2dbdcfd16d0f4ff00e52ad6b8...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,46037ee5e0c32a2c872e1eae7292f0fc9b4ebd061c53a9...,2020-09-20,781613015,0.050831,2,ACTIVE,Regularly,29.0,d6004004faadadb5ec18d2dbdcfd16d0f4ff00e52ad6b8...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,46037ee5e0c32a2c872e1eae7292f0fc9b4ebd061c53a9...,2020-09-20,781613015,0.050831,2,ACTIVE,Regularly,29.0,d6004004faadadb5ec18d2dbdcfd16d0f4ff00e52ad6b8...,781613,...,Suit jacket,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1008,Dressed,"Long jacket in a soft weave with notch lapels,..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,46037ee5e0c32a2c872e1eae7292f0fc9b4ebd061c53a9...,2020-09-20,781613015,0.050831,2,ACTIVE,Regularly,29.0,d6004004faadadb5ec18d2dbdcfd16d0f4ff00e52ad6b8...,781613,...,1010016,19,2,20,1222,1,15,1008,1,1

array([[ 781613,     264, 1010016,      19,       2,      20,    1222,
              1,      15,    1008]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
4    827370002     86
3    826492006     74
2    821152004     59
1    819547001     51
0    802023004     47
12   929165002     46
5    830016002     42
8    893059003     34
7    853089002     32
9    895993006     23
6    844971002      2
10   909955001      2
11   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    821152004
3    819547001
4    802023004
5    929165002
6    830016002
7    893059003
8    853089002
9    895993006
10   844971002
11   909955001

0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c663bcf9cb2d023a3a62 0827370002 0826492006 0821152004 0819547001 0802023004 0929165002 0830016002 0893059003 0853089002 0895993006 0844971002 0909955001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...

display(df_NextCust_Preds)...

,customer_id,prediction
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...

cust_rec is... 52

get_next_SubmissionCustomer

'459ffb0725629842e74b4a1f3108233eb6a034520b13249418328cbf9b696bff'

Generate Artcile Predictions for Customer 53 : 459ffb0725629842e74b4a1f3108233eb6a034520b13249418328cbf9b696bff

                                               customer_id
1114894  d00998ace34eb58a76ef2e01e04fa1f72e21ac15134121...
1166268  d996163a67af63f74da56a696ad99b1a5ea2513d36a63b...
371876   458d5f675ae6243820b494af0cd1921f24661d6132ebdb...
359839   434f670f3be400c3ed60107482a62cc1c7bfc7d11d358a...
762881   8e68438b80a018119370de9fc8ed8ee1d5bf4cd4520e61...
992893   b94397738b5e2a3d179fd8c0820af3ef8f0357d5baabed...
390271   48f2c6eae454b658e2eb1fb7a987a7d3d50da2f6002407...
530173   62fc1f2b957fa376f17c86a14a0c2e68aff4435ef9dd1b...
365188   444d2630094dd4f4a80c4f0061554ff3a44c0689ef5860...
19031    03929a36cb79fa8648621da32f32b0fac6cdacffc5b11c...
299301   37ecab5347aa0dac7f4ac34d2aff60ae12b8f9dc8d04ec...
1253133  e9dec8743604edad23d699c9134b00d4ac58231f82fcc3...
104830   138ef9974b9068e1ff2dc29b411a9f7f44444c58076ef6...
352672   41f2f660f2073def57c7e33282dab95d8df93181f6a2dd...
664731   7c14636bb7197a07541fc8c27c34f2c0ea3a4f1e69c29e...
83399    0f953864e4c6501ed9d10193b7b00917ef55aaa8f274fb...
89551    10bdb0a6db5e81c0f8a9e63e1121903b1954cfa9eded9a...
579138   6c0efd3806a64ee43d894acd49bc873ebd923395c0d29f...
1056725  c536ec61ade32494fa1b949a11f26684150b5b92f37c7a...
127091   17b220e2932fbed549a77039dc69d77b4b63cddfa93232...
1083413  ca3096db561f0350989838c32e68b01580de077d22dd3b...
58155    0add643dda50b208353179556249b21fca7cd888292428...
418193   4e30d2eee5192b111a6ea57c050e30d19a281a6c8cdf4f...
227011   2a5b9143f3ee057ee47716afb60f3694f933ded5587d8e...
825757   9a25ab45d76925d7e6a35ff3df38dd12aa93018b56d5da...
639460   7757ed98ee635533c5f3af86c8745d0665e7c4fb9e97a7...
1363759  fe75707094c6332e3caa45ecda2a3d08c7a7caef739d0b...
151517   1c3daffd0abddd362273e8d78a299f10663f9bbbeca853...
136278   19648d75b0e75e87460a71762b491c4085143f69a00d69...
446514   537540c9c4eb33df68b32c1ed64de775458c6349b8dae3...
423436   4f2bd64b0368270f83334f62d7578b4365d5522c4674b5...
34623    067e9c1b46ae164b003a08656ae4f501262b861fe44019...
1360340  fdcfeb5b2951be0e9d9d4e424d5f1c8f1eccf8f49c34f9...
711101   84ba79b77e81bfad7ae10e1d3122873c65d26ef8b975b2...
1051325  c439b9b8f5a1705c771d62be1ffd98e706c4d742a9474d...
253812   2f5e96f7d9ca4416632cf6d29959056fc0fdfbc6e5e835...
126043   177fd4cc745a388c10150a0b491de107d19ebd148ede4b...
913634   aa7a1431d6d68a65b2867f89e2e9076198d49937dba877...
731174   887e1e2b90e131e3c019af27f72017b347d2c398e31913...
737242   899b715ba0b0b3dc268942b624bc40be89e4a08247076f...
722450   86da08ef550a48a4bae77511b2375a4c3e2101daa76604...
717493   85eca829c65a79b34e0204347bf1d2260226afaa12d4f7...
117816   15f6c992b568c3c6eefb77831a366860710834330b28b0...
454709   54fa3bcaa8997ed9e639fbff44b6880ec147ac5daef794...
57653    0ac35adcd9a037b9dbd671fc5eb40f3eb990e9e94c522a...
550612   66c7dab4dd89e720e344e0d0e67cbb734b61f4b2577c85...
1234615  e6661dc96dfededb0457a217519bd13f62d8bb7a968d18...
948189   b0eef3c45fee70cefd60a50fd1d8937ebeddf73a0e824a...
1100554  cd5ea3c58fd00d6050f6998067d05441e0ed69e75e7f53...
1219478  e38d4f0225d648be6233b5ea1591925aa07e3bf5519a28...
429435   504ba45581916d9f56dda1f2f42139115f6fd4522cd2b3...
732904   88cd64977ca077cdb6d5b8004f6dcbda694d3223dd83b7...
372270   459ffb0725629842e74b4a1f3108233eb6a034520b1324...

df_SubCust_Trxn.shape[0]

1328

,customer_id,t_dat,article_id,price,sales_channel_id
0,d00998ace34eb58a76ef2e01e04fa1f72e21ac15134121...,2020-05-05,697564061,0.015237,2
1,d00998ace34eb58a76ef2e01e04fa1f72e21ac15134121...,2020-09-04,906226001,0.030492,1
2,d00998ace34eb58a76ef2e01e04fa1f72e21ac15134121...,2020-09-04,903824006,0.045746,1
3,d996163a67af63f74da56a696ad99b1a5ea2513d36a63b...,2020-08-18,791587009,0.022864,2
4,d996163a67af63f74da56a696ad99b1a5ea2513d36a63b...,2020-08-18,757303021,0.027441,2
...,...,...,...,...,...
1323,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,2019-08-28,770336001,0.067780,1
1324,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,2019-08-28,770336001,0.067780,1
1325,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,2019-08-28,796156001,0.025407,1
1326,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,2020-06-27,684209027,0.025407,1
1327,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,2020-06-27,688537021,0.016932,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
858,fe75707094c6332e3caa45ecda2a3d08c7a7caef739d0b...,2020-09-22,906352001,0.059305,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
858,fe75707094c6332e3caa45ecda2a3d08c7a7caef739d0b...,2020-09-22,906352001,0.059305,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,fe75707094c6332e3caa45ecda2a3d08c7a7caef739d0b...,2020-09-22,906352001,0.059305,2,NaN,NaN,ACTIVE,NONE,21.0,f76af8517c381b16eaf7a9073ed97429fefe5d822d075c...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,fe75707094c6332e3caa45ecda2a3d08c7a7caef739d0b...,2020-09-22,906352001,0.059305,2,ACTIVE,NONE,21.0,f76af8517c381b16eaf7a9073ed97429fefe5d822d075c...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,fe75707094c6332e3caa45ecda2a3d08c7a7caef739d0b...,2020-09-22,906352001,0.059305,2,ACTIVE,NONE,21.0,f76af8517c381b16eaf7a9073ed97429fefe5d822d075c...,906352,...,Knitwear,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,Relaxed-fit jumper in a soft cable knit contai...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,fe75707094c6332e3caa45ecda2a3d08c7a7caef739d0b...,2020-09-22,906352001,0.059305,2,ACTIVE,NONE,21.0,f76af8517c381b16eaf7a9073ed97429fefe5d822d075c...,906352,...,1010016,11,1,9,1626,1,15,1003,1,1

array([[ 906352,     252, 1010016,      11,       1,       9,    1626,
              1,      15,    1003]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

459ffb0725629842e74b4a1f3108233eb6a034520b13249418328cbf9b696bff 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 53

get_next_SubmissionCustomer

'96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29ac662b694b318e8fe15'

Generate Artcile Predictions for Customer 54 : 96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29ac662b694b318e8fe15

                                               customer_id
57911    0ad0dabe0f9907b2d5b528fd4a349500dd30778ca14455...
752577   8c7a78ac146670e2f0e126636ababd87d7048577e8c3bb...
398784   4a87f9514a9a40114e04f13bac46a62072dad6c9bf200a...
581284   6c72d6e53c1e4d5b26800c43a41fdb0407df2333149ab4...
827393   9a76e56c2a9712d972d1bedeeefae0a608a53c615af727...
541533   6518563e6f86045dce88bd58916835ecf4a0bf5c9f2dbb...
374911   461db8864b83a68aa64d6c636457ffaba37e59b2d278df...
585021   6d27a46c671d3946afb78ab71c80c1e698a41345d447a8...
987366   b8363ba4a363de50704bf5ff3eac8a47772264bc1c1b3a...
1015346  bd7776cbaa247a9ef88f034289cb77edb17b6a3323bd1f...
656233   7a796e7c07d9442d91dfdedadb833c8c7602d8d1c1cbcb...
342206   400177d3f775e44e385bf96620ef8dfcba990ef8bb3df1...
555032   679549fdc229ee550276f6257199a8cb63f6c31003a1d5...
1329485  f80f58c8d45386a65c3fa6154c8403cb717318bbfa3fe6...
909679   a9bdf5853d9cff894df61c043fc1008baa5fbf02f57c1a...
266191   31b0b99fd07011474a37604cd6d48543aa8e75ea12235f...
836324   9c2225d00346fb84dae518c5132e54ffe949b122c4de90...
1329092  f7fd4dd8482652af9bde11bbc34a0a32e088894ee646c2...
211393   27700709e04860f3e468ef5fd8341949b3b0123dc262ca...
929604   ad6e64e3a2f95de28d44af7805fe87a92af4280090c471...
1209826  e1bd48384cf9dae3335fd02cac3386285178e791056843...
643248   780d2d15e65295c2a9f9c996eceb48813a78b6381b990d...
1273106  ed97dcfd5b5dd0fc5d51eeda832d6da9e9ccbd9fc9e812...
1228418  e54051ea4d83475376d6d176d0c6d6dbdcf2cbf603ea34...
751784   8c53da36446b1dfada51ad05b9aa44b1b6c5e2083a124b...
1287988  f05fe2604375adea192cf6cd2fa2d7989db8feb98337a8...
601672   7044173933d9edcc609d19d775ba61c01263d5f86f2d23...
413319   4d476e4f35485e3bbe579bd5ae7009ad9587acc76be26c...
181460   21cacd0639111d7c6d9d6aeb68f2cd232a8527eb9738d5...
380970   473ebf7e040795c0bbc3486ee61b0de2f9a30567512bc2...
996404   b9ef0ee7872e47fca1c5157544d09d3ffda56cf0d7f3a4...
824213   99dcdb70c237aaf18d56871ceeee8b28f8b60af0b38fbe...
567079   69d2451d0abb196523e53b7bbd46e440a712624d103e0b...
1079659  c979ea996bc1fc81da53a5908c35e83a0bdf8cf57547c3...
1273617  edaf97b38a2e297354321f6288d895e8f36061b3790f99...
364936   44413be56af736b2ceb3d3e7b29f4b93f1e6fdc459f7e2...
314118   3ab3ff857294954864ad5131e965fc49368660584b2988...
560544   689b87a56e8537f66cb3ebe9322b3293a2fdd2a4185260...
1321929  f6aa867b46fc6878efdedb8d542a8be0b5158f00216b89...
898355   a7a8337c9351e8afa57e5f77785b03d61442063607746d...
1168871  da1360b68650ed7e7bd5ed6e45d86add797f44f8c49847...
789598   9367a50c2d848c26ae5d847c7775bc0eb33b1221d68b3b...
59093    0b0be18b6bfe3e1bed4224a82be74bc8057913290fe502...
1234894  e67422c7301c9c93b46e7208f718f6f4d12e41f5161faa...
517971   60b9bc95992afa04432b7bbfeb592a12484c58e575bd5d...
612433   72454ac509123ede9802a87365124dd8732b2804f619e5...
538616   648a57af7bc3018141d1be5ea656f3983d035979809d2c...
33809    0656c1ebd48c2143b89bba1c5127c37b8c9d0df86940d0...
923527   ac53c4589291afebe509e60624c0422aac875eac1ccc60...
759448   8dc3d7701170ee2cd85a2b48de28a68e2ac20c03c6e235...
382889   479b9d1706416b689e736b30194bcc5cfb9eb7ed7af4b4...
141111   1a4bcc524edd793a0b54e5596e9303dc5ccb1f0e8d4325...
1319550  f6382f269ac0d86c0fcd92e1b11870f8c02933f809b81e...
807082   96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...

df_SubCust_Trxn.shape[0]

1258

,customer_id,t_dat,article_id,price,sales_channel_id
0,0ad0dabe0f9907b2d5b528fd4a349500dd30778ca14455...,2019-11-28,701134021,0.002712,1
1,0ad0dabe0f9907b2d5b528fd4a349500dd30778ca14455...,2019-11-28,701134020,0.002695,1
2,0ad0dabe0f9907b2d5b528fd4a349500dd30778ca14455...,2020-03-06,872477002,0.008458,1
3,0ad0dabe0f9907b2d5b528fd4a349500dd30778ca14455...,2020-05-14,854679002,0.016932,1
4,0ad0dabe0f9907b2d5b528fd4a349500dd30778ca14455...,2020-05-14,713993001,0.006763,1
...,...,...,...,...,...
1253,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,2020-08-10,806388018,0.013542,1
1254,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,2020-09-04,859125005,0.033881,1
1255,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,2020-09-04,909832001,0.016932,1
1256,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,2020-09-04,556539016,0.005068,1
1257,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,2020-09-19,906169002,0.061000,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
291,bd7776cbaa247a9ef88f034289cb77edb17b6a3323bd1f...,2020-09-21,881942002,0.030492,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
291,bd7776cbaa247a9ef88f034289cb77edb17b6a3323bd1f...,2020-09-21,881942002,0.030492,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,bd7776cbaa247a9ef88f034289cb77edb17b6a3323bd1f...,2020-09-21,881942002,0.030492,1,1.0,1.0,ACTIVE,Regularly,64.0,e836ff946009ddc6a16f583977136e99795081305223b5...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,bd7776cbaa247a9ef88f034289cb77edb17b6a3323bd1f...,2020-09-21,881942002,0.030492,1,ACTIVE,Regularly,64.0,e836ff946009ddc6a16f583977136e99795081305223b5...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,bd7776cbaa247a9ef88f034289cb77edb17b6a3323bd1f...,2020-09-21,881942002,0.030492,1,ACTIVE,Regularly,64.0,e836ff946009ddc6a16f583977136e99795081305223b5...,881942,...,Blouse,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1010,Blouses,"Fitted, smocked blouse in woven fabric with a ..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,bd7776cbaa247a9ef88f034289cb77edb17b6a3323bd1f...,2020-09-21,881942002,0.030492,1,ACTIVE,Regularly,64.0,e836ff946009ddc6a16f583977136e99795081305223b5...,881942,...,1010016,13,2,11,1522,1,15,1010,1,1

array([[ 881942,     258, 1010016,      13,       2,      11,    1522,
              1,      15,    1010]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
19   924243001     74
1    821152004     59
0    819547001     51
20   929165002     46
3    830016002     42
2    827370002     42
6    893059003     34
14   915529005     34
5    853089002     32
17   918525001     30
7    895993006     23
9    898918007      6
18   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
4    844971002      2
12   909955001      2
16   917766001      1
15   917509002      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    827370002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29ac662b694b318e8fe15 0924243001 0821152004 0819547001 0929165002 0830016002 0827370002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 54

get_next_SubmissionCustomer

'dffc9393b985ee1fe6cd717d15bf0353fd26fb36c522534732444d96a2744524'

Generate Artcile Predictions for Customer 55 : dffc9393b985ee1fe6cd717d15bf0353fd26fb36c522534732444d96a2744524

                                               customer_id
1105039  ce36e0f2cad0c47cb3484c91fed2546526bf8dfcd1e7d6...
386628   4846381e69c04580b617fd084060fcac011eee5848306f...
1080951  c9b44246218b452d7e7d7dac4ca2f13b3ca5308665b372...
462852   567c74e84634dd320bdcf689a0766289a6321b2f54a94d...
1188057  ddac5d8c7062ad5491fdcffb15caa810a801a76a233091...
530989   632224075a7d7229a662ac308741b4ee937cc14e25441c...
1208714  e1864604addc415ea061329573a340b237d50e0fca9126...
1004212  bb632ee0a2d3b19011a311c70d221295c1f9af2b0a7ee7...
153641   1ca189e6f0b3cfaab760c65651c4b81c87908c64b762ec...
502544   5ddea04ed4078b106f4487e9066c50898e9471d5430168...
93197    116a427456534b0331aeaa42e664fda77b4c6929c60d94...
52870    09e15562bf2266cd9e561ee0b67095bd5021015b36a7ef...
1168910  da14cae31ad96d7e9a3ec3a1bce21a9057489699e08080...
986638   b814dd4a52e17b82fa401f5588d8e32161b5c5009ec2c3...
68467    0ccd4e6d38486c285794879f92fbecf6d9b4e2a651ac06...
935098   ae790716982751427b81b9d6e199a0f55e47b9b67d5970...
474464   589ddacdd4faf1fd4089037afdcb3045683c12df40f696...
678336   7ea4cd05293c79a36ab264c046db36c50ff6534c079c19...
510292   5f51722405b3a4a3618a26d39dccb9ab199845366d78be...
1101852  cd9c76e18bb0b2e3adf1c90cdee1eedb2fda9ae41de754...
1254997  ea36a01070fedb5f44ef1ded28c010ebd3cd18cbadc14c...
5322     0101339b389f70bd02d8b08ccd5aebbfd6f11fe9df0359...
152265   1c607ef27d3cc588126aa09ab17ab9e5f06469ab8e7281...
889550   a606cbfc441331801d43e701282150bfd48d1676a24d3b...
638947   773dfa34477f536f53e8ebad1455de63a92de56cdb41a0...
1261683  eb7584355d7367c505d07b422992a3b6179beb32a9bd4b...
798058   94fb6246f9f3c81fdc270cfe1d2abfa02478bac7fa1911...
321016   3c01d00114aa64c84a8f937e1c4dbc623509b9818962d4...
29104    05772335cb5dd2542b3fb505df3dbb71356bc8583e9bd5...
1094511  cc3dc3287fc986bfd721e3cd23bc59b9b409d7545a7b29...
597809   6f8ce13039bcf5baa9c88e69ddbc3ecc4bed7287b607bf...
221599   2958edce666dfa844592ba3e593fb8a64bda39e6d01a5b...
1357823  fd59c9c737a1a43d931e2ea86cabad8df770ccf11bc010...
907939   a96e72da4cf9bc88260d60c780866d9821b3eceb42119c...
1164305  d93c09c90dcbb5a22dc8f4431eb459de2e9a3023ec6755...
746213   8b4f75e39f1c19638f253323939d9fb4f040edb717ac2b...
1193795  debeecca14e8bac7d24302f633207fae3af750f687b64f...
479201   597fefa8ddee1aa187a9fe36cae8c1c2ba6ce4c615bd76...
90377    10e37a5316d05214dbaee1b72dc27356c8fe2ea043ecb9...
857362   a00932dc6039f4603c764cbda17c7932d2a9c1b8103f55...
475798   58dcd2647b1b4da06652f34b0c68c7c08abde66be39c4c...
1080964  c9b49f386302a805ebdbf79733db7d033b92a99a38b676...
1192362  de76dc49e116ab3c2a7c4b0ff4c973690e02573331f12a...
1274125  edc78cee0aea79d79e680228f10131517d18de5e9dc8cb...
1236863  e6d410dd11c088e58b47b8b1bd8bf149f400491cf816a6...
15232    02d65c4ad167a8028af0532cd23501c3fc4f8f768c3b81...
1032648  c0b90f9ba7216b555174d3e8e37a0a67f4ab4d0b5a9dfc...
469503   57b3e7cf66b3d0f8e2c7b20cff52b6d15b50a965194091...
1363952  fe7e3baec7a5a7fe5278cde32119d2922352b304f0dfb8...
1161849  d8c8b439d15e56b4572ad77c097d5ca4543665e9cae405...
232691   2b6ee788cd067adbba63a517f58bf8d479e4c857c33234...
1096376  cc99b723c8a954d781ff7148ff1a2d5b7785ab879778bd...
152539   1c6cee144393a9c60759ebc07a4a08e3e829d22874e55f...
898797   a7bee3f6895cf6164bb148a8f6ec6798a39ff01951a296...
1200467  dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...

df_SubCust_Trxn.shape[0]

1134

,customer_id,t_dat,article_id,price,sales_channel_id
0,ce36e0f2cad0c47cb3484c91fed2546526bf8dfcd1e7d6...,2018-10-04,660599004,0.033881,1
1,ce36e0f2cad0c47cb3484c91fed2546526bf8dfcd1e7d6...,2018-10-04,688873009,0.033881,1
2,ce36e0f2cad0c47cb3484c91fed2546526bf8dfcd1e7d6...,2018-10-04,633130014,0.016932,1
3,ce36e0f2cad0c47cb3484c91fed2546526bf8dfcd1e7d6...,2018-10-04,711521001,0.025407,1
4,ce36e0f2cad0c47cb3484c91fed2546526bf8dfcd1e7d6...,2018-10-04,562245059,0.033881,1
...,...,...,...,...,...
1129,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,2020-03-13,807241030,0.003390,1
1130,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,2020-03-13,807241027,0.003373,1
1131,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,2020-03-13,838717002,0.025407,1
1132,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,2020-09-05,568601006,0.050831,1
1133,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,2020-09-05,850917001,0.025407,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
757,58dcd2647b1b4da06652f34b0c68c7c08abde66be39c4c...,2020-09-13,685814063,0.033881,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
757,58dcd2647b1b4da06652f34b0c68c7c08abde66be39c4c...,2020-09-13,685814063,0.033881,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,58dcd2647b1b4da06652f34b0c68c7c08abde66be39c4c...,2020-09-13,685814063,0.033881,2,NaN,NaN,ACTIVE,NONE,22.0,88339a3ab4e0fd59ff48d328c58db32b49f96f6d88e86b...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,58dcd2647b1b4da06652f34b0c68c7c08abde66be39c4c...,2020-09-13,685814063,0.033881,2,ACTIVE,NONE,22.0,88339a3ab4e0fd59ff48d328c58db32b49f96f6d88e86b...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,58dcd2647b1b4da06652f34b0c68c7c08abde66be39c4c...,2020-09-13,685814063,0.033881,2,ACTIVE,NONE,22.0,88339a3ab4e0fd59ff48d328c58db32b49f96f6d88e86b...,685814,...,Heavy Basic Jersey,F,Menswear,3,Menswear,26,Men Underwear,1002,Jersey Basic,Hoodie in sweatshirt fabric made from a cotton...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,F
0,58dcd2647b1b4da06652f34b0c68c7c08abde66be39c4c...,2020-09-13,685814063,0.033881,2,ACTIVE,NONE,22.0,88339a3ab4e0fd59ff48d328c58db32b49f96f6d88e86b...,685814,...,1010016,82,2,19,5833,3,26,1002,1,1

array([[ 685814,     308, 1010016,      82,       2,      19,    5833,
              3,      26,    1002]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
8    827370002     86
7    826492006     74
3    802023004     61
6    821152004     59
5    819547001     51
4    803080001     45
9    830016002     42
12   853089002     32
10   842952003     21
0    751585002     17
1    774543002      6
11   844971002      2
13   909955001      2
2    774552002      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    803080001
6    830016002
7    853089002
8    842952003
9    751585002
10   774543002
11   844971002

dffc9393b985ee1fe6cd717d15bf0353fd26fb36c522534732444d96a2744524 0827370002 0826492006 0802023004 0821152004 0819547001 0803080001 0830016002 0853089002 0842952003 0751585002 0774543002 0844971002
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 55

get_next_SubmissionCustomer

'aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe27dd0445733b68919d1'

Generate Artcile Predictions for Customer 56 : aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe27dd0445733b68919d1

                                               customer_id
480417   59b9791c3e061ffd09e33e35a6dd09e244ec50eeb57d86...
835873   9c0b58999c914061038e501d19f1aff20e529d8a45ffc8...
455431   551c03c139552da05cf8fab2c9fa45fab5c9c0cb39d574...
741959   8a81bb6e0098deb5b4e07632f7e74b2d41790de3013b37...
1204699  e0c745d6c93246cfbee226356ce78d21d07cb10c6d027f...
165401   1ed156bd2ce76c33bb91fb55f172188e53f2f57f7f7559...
1340468  fa17ef407e39ef8f5079ac0f4a5960e934c894c2f52a89...
618438   7363b32aa2ef684c53e65cd01afb03246492c879fe9158...
1193973  dec734c74c7ba386496084b5c98e4e3a354a2280603610...
951695   b18fcaa3b2b21e05d1b509642eb7d6674db982881268ff...
1192219  de6fb7301268bbdc2ffef14bd45b21be3fc0a7313ddbbd...
813635   97e7a8a39e5593c84ab1777b67ab4ce1060aa0e5cc5737...
920822   abd3ceacaeea44a43307564efe88408fafd48e924d00c6...
446706   537d32f412e67f8fde07cb6314d7d8ad5268992e5c9853...
333371   3e53706bbf1732760312555f259b1fab87552de9b7cb41...
509498   5f2daed63cc14f8f8344a7efa1497fd21b9ba7b4986eab...
63517    0bdf1cc8e6adad69032e23aaedfd25f43dc8d8c5e78999...
1081534  c9cf6a70e57f8406c068520b593a858d54c24f4552377e...
11704    022d9f83edb9b9867069f525115fba8127c1ec9581ffab...
546281   65f7fe522b079d532ee700e9deb61244115984ba5c302f...
911893   aa2936374a6b5bc70a47d4a14a1227ecd044f22ef60e37...
196643   24a7fce69f724b43614f982c123d15e975e05a341f4a38...
328492   3d6b6c03a3fae2d6062a3230ab53e8501711665ce96441...
1014965  bd64e2407fc2260bf0755deae79032aef2087282ebc3db...
586131   6d5a11f178b4c15b4eb6e2afcb6dd0f249ee4f31f025f5...
380511   4728aed59dd9e342acaf3efb1f1e8f3cb204e4a18966a7...
1118985  d0c7f873aeee1ed4da40d70b4332fc930fe038b64d2eb7...
91307    11112b9190461e67b0bd3f3636586b92b892de247b9ddb...
371708   45859d6b86b3e935aea8a4a3a6ede9dd6591935552922c...
732522   88bd2c2125e761782ffab6a30ffe21c094f0891d2b8ca1...
291925   3685b81e517264635bdecf6f9f5123bf361564fa0170b6...
1103848  cdfd967a8b6dbeb6dd8ca071080127472313c33e5761d4...
325645   3ce12787d553e7cf20833457055c6af8c49623d9ae2b96...
309607   39d68b2f93edf03c01020321cfe7f5af75257659b1f3a8...
646227   789d417b9c6fdd323b6740f2ccf7ad4695c37ce9bf711f...
1034204  c103b26f87f4ba490c2a757e6de7441b81f2dfe048c450...
219984   290b08e50758735f158cd21b1d0d98c3c6ec43329fd0a0...
27725    05340d071cd31dc7f426352a3c25546da1d1ff6b2882f5...
853745   9f5a9d942c4e3d60dcd57e7660e854e4b7af5b0bee4396...
474757   58ab79adb69c51f1bc295a0a7616e683bb01a5eb079d6a...
798012   94f92570616c11dbcedca9c42a6d145cdda189d6aca2ac...
1128200  d278ff0dcbaec7378fc8a23573fe1a3d7fd4aefa10f112...
1290159  f0c5e0ed48c66e2cdcd55e66ab8df2d06e81125dab5c6b...
534759   63d5286f03e57532edb6668c343db3d20cac50ec833e3b...
734251   890b9a26cfa66857cb5146d8e3b274bc432d15445587c1...
1033441  c0dcfaac6e7507b54c944bc9c55417cc96e0bcadb1d3d3...
662318   7ba160dcb00194a276af57e40830b6b3d021e025f5c5b1...
381606   475dd6c46efa3d1a8c8908ab71a6374382866bd706b0da...
841914   9d2d1abca6c57a47c0c381c3413160f212f548d9791f31...
55305    0a56870c93031648d21230bf61cd6aa0b266200bc14f59...
761474   8e242cb6e956c6029a5e71bed297e12469480ef660143d...
957880   b2b6cb813c5854f5e9028bc5b6bcfeb504ea2866dd083a...
1369028  ff71d65cf2fe49456c6f1757e510f1dd8fdf50ac669359...
876005   a380126b1b969c5860b58772b811ebbf72ad569d9899e4...
43017    080e78db2e79d5a8b2b15cae3d78522144577507b25276...
943150   aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...

df_SubCust_Trxn.shape[0]

1859

,customer_id,t_dat,article_id,price,sales_channel_id
0,59b9791c3e061ffd09e33e35a6dd09e244ec50eeb57d86...,2018-09-23,399223024,0.033881,1
1,59b9791c3e061ffd09e33e35a6dd09e244ec50eeb57d86...,2018-09-23,501820004,0.016932,1
2,59b9791c3e061ffd09e33e35a6dd09e244ec50eeb57d86...,2019-07-05,636323001,0.016932,1
3,59b9791c3e061ffd09e33e35a6dd09e244ec50eeb57d86...,2019-07-05,754176001,0.016932,1
4,59b9791c3e061ffd09e33e35a6dd09e244ec50eeb57d86...,2019-07-05,689389002,0.016932,1
...,...,...,...,...,...
1854,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,2019-08-06,746326003,0.042356,2
1855,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,2020-04-02,678342028,0.006763,2
1856,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,2020-04-02,762143002,0.013542,2
1857,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,2020-04-02,678342001,0.006763,2
1858,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,2020-04-02,762143001,0.013542,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
1542,890b9a26cfa66857cb5146d8e3b274bc432d15445587c1...,2020-09-22,890042001,0.050831,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
1542,890b9a26cfa66857cb5146d8e3b274bc432d15445587c1...,2020-09-22,890042001,0.050831,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,890b9a26cfa66857cb5146d8e3b274bc432d15445587c1...,2020-09-22,890042001,0.050831,2,NaN,NaN,ACTIVE,NONE,40.0,e9e7a4b8a6c4267ce2090fa2a596eb28bfcfdc9bb54e89...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,890b9a26cfa66857cb5146d8e3b274bc432d15445587c1...,2020-09-22,890042001,0.050831,2,ACTIVE,NONE,40.0,e9e7a4b8a6c4267ce2090fa2a596eb28bfcfdc9bb54e89...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,890b9a26cfa66857cb5146d8e3b274bc432d15445587c1...,2020-09-22,890042001,0.050831,2,ACTIVE,NONE,40.0,e9e7a4b8a6c4267ce2090fa2a596eb28bfcfdc9bb54e89...,890042,...,Jersey fancy,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1005,Jersey Fancy,"Short, fitted dress in airy, gathered jersey w..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Full body,A
0,890b9a26cfa66857cb5146d8e3b274bc432d15445587c1...,2020-09-22,890042001,0.050831,2,ACTIVE,NONE,40.0,e9e7a4b8a6c4267ce2090fa2a596eb28bfcfdc9bb54e89...,890042,...,1010016,9,4,5,1636,1,15,1005,1,1

array([[ 890042,     265, 1010016,       9,       4,       5,    1636,
              1,      15,    1005]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
20   924243001     74
1    821152004     59
0    819547001     51
21   929165002     46
2    830016002     42
6    893141002     41
5    893059003     34
14   915529005     34
4    853089002     32
18   918525001     30
7    895993006     23
9    898918007      6
19   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe27dd0445733b68919d1 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...
0,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 56

get_next_SubmissionCustomer

'34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164aa59abc834298337177'

Generate Artcile Predictions for Customer 57 : 34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164aa59abc834298337177

                                               customer_id
198709   250c58dac7b285474eb4c1ccbfde64a44f859789eae1e7...
392836   496d931874012ebe39082a864b13f6fde8b19f9df87f76...
185880   229ecd1735a284fefe18e5aceb63b59145732c39adb7a0...
8694     019cf201bc88789d9b5d96bb461476064d43677a93e87c...
190454   237f4752f7d97f0e882b7274f0ae98a3e317794744029b...
1166736  d9ada351e8ef52591e450c72004f9addab9efe96054161...
60019    0b3711da2e91fa145068dac3ba37122a93fae1b45e1c5e...
930880   adac235b152a55f606e5ac7e28df9d7022c731e4670daf...
202198   25b001cfa8ccd398c239b60339ec867ffab9ee85d452a6...
42773    0801c1464ab7312583e5a3b65a0852d8bc6449196d0e48...
179640   217283972270bb3faf4afdb5e8bcf01143f480975a8440...
121428   16a121ae42a1e3b707f5d46a3a54eb15cbee6590bbf7e2...
996284   b9e90e1f1e088f05415ea22d1e2f8e8703e5641f8b9a42...
661758   7b8730f2cb281bd15ba6fa8a1d02a8f395bf37708ef915...
219148   28e1f0dca6728306c8fc1348f1d5c0884758f8b769eeb7...
22402    043596a4e23fda09021f3286f48c1f3cbe960bcfc2e2a4...
207846   26c47eebe4cda52bf77cf791a5d06392218143beaa45ff...
910945   a9fbc91e074b7aadec5e22e60463f86ae51389abb55db3...
805917   96797c3adb384120929583c3184d844ebeae143e80a19f...
689969   80d0161506aa1b571df56fec81fcb2d876d3a86ef77f19...
1102187  cdacda68c1bcefacacf846e2a9a340dfe48fef1d5c9dba...
202080   25aabf3c20a833257dd10a935bdd9955c46e87315b8d8e...
961993   b37b0bc70a08d62eb8c2518166b500cc39dbeac71962a4...
1206584  e121d515521e1333127595ff4fa73063c5c817e8792654...
165948   1eeb869951061b38b17a632b37ef64a4b0d026519a1d7e...
1309443  f45a3786d869bc26c00e4960a598c37582b157a3fa229e...
547627   663a4253836a220a4419c061a1b8951d050fbeaaf3a403...
89267    10b0e1c313f0b33f6411901f2ad53987b285b59226e10b...
1294359  f18d124565288a6909e0a01ab1edc96af8a8c956a10673...
64666    0c16afa773779504f627eef00d5729018ce83a5c8e7263...
25624    04ccc84a9a31dae74a6bc327c0d3ace96ff6037707c4e0...
44385    084e9748f868823467b450355e4026dc570117bcab73e0...
1208793  e18a51063a32d9b0ad4afa1d90a960e76dd319920a3b7c...
485498   5aa793342ff3e727387ea6bcd64b84f6c36f8983ad1a46...
29512    058aa8e1586a9b34ef03a995f5a3152b532d023eb395bd...
499197   5d3c9dea3b1ca9feeb314aa6861387dd701d4699558fad...
128955   180c09435ca7d9a6ab59b119af92f7674ecd8eeff6124e...
352269   41de1deb7ebdb5395c959d7408829f515ac0daf40078b9...
824009   99d3b844d995dcb8329c4f2d71f78c385f1efd18f3236a...
683308   7f957eb6f72ef095701d1c66e575feac61905a8c9e3acb...
233816   2ba431a5e9ea4f53d01a5c4a0f5ce2532b7b5e7466b3fe...
1315205  f5680943e3c2c6cc8e8222967b8dba4412f98e63e3b4f9...
965428   b41ef17a3737b88013222514d60e46730fe9b97b7db562...
353915   4230a82557cc9f53aef2e60d7249d02bec533987f86021...
913978   aa8a8a8ca614f0fc6b7142ae9a53f5fe3e62898b565a71...
977262   b652643bd271c88b878a5064101147f50582e2017b2b27...
700989   82e0e8a15a4132ffde84b695e5d08be8fbb93aa794e54f...
463263   568f8fd71c798bb0afaa743f429b82d71d0a129a408fd6...
721104   8696a75003666ff5350bedbc6e8e0b36aa718a7951ce3c...
869799   a2591a018e706ba1e04e192a7bc1cef91080021d4d2b65...
465758   5704b46d614a94298f3c5dde1ab1ccecb753bd35bb6b7d...
555874   67bb74b15b5d97055d6497e1c1b16697d7f0b5b5d40c6f...
550933   66d7c67a82ee9bc95fad713c4e6a8cf4d06ff79b13f912...
242857   2d52ceeceb05a2b9569ae2d62352971f0a99ac230399c2...
773940   907d05e4b47274a46bf3aff8edda3190b8639a74f7e4a5...
453411   54bb6be349349bc9b64772503c0e0abd1236745123e528...
283400   34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...

df_SubCust_Trxn.shape[0]

1514

,customer_id,t_dat,article_id,price,sales_channel_id
0,250c58dac7b285474eb4c1ccbfde64a44f859789eae1e7...,2019-06-19,349301032,0.010153,2
1,250c58dac7b285474eb4c1ccbfde64a44f859789eae1e7...,2019-06-19,349301025,0.010153,2
2,250c58dac7b285474eb4c1ccbfde64a44f859789eae1e7...,2019-06-19,675070015,0.011847,2
3,250c58dac7b285474eb4c1ccbfde64a44f859789eae1e7...,2019-06-19,675068001,0.011847,2
4,250c58dac7b285474eb4c1ccbfde64a44f859789eae1e7...,2019-06-29,570004065,0.010153,2
...,...,...,...,...,...
1509,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,2020-06-18,765773004,0.010831,2
1510,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,2020-09-10,918292001,0.042356,2
1511,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,2020-09-10,856270002,0.033881,2
1512,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,2020-09-10,886737001,0.033881,2
1513,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,2020-09-10,905957001,0.042356,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
421,adac235b152a55f606e5ac7e28df9d7022c731e4670daf...,2020-09-18,767834002,0.008458,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
421,adac235b152a55f606e5ac7e28df9d7022c731e4670daf...,2020-09-18,767834002,0.008458,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,adac235b152a55f606e5ac7e28df9d7022c731e4670daf...,2020-09-18,767834002,0.008458,2,NaN,NaN,ACTIVE,NONE,47.0,1b563d5eef2565252b1581635bcc949167b89c269cd473...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,adac235b152a55f606e5ac7e28df9d7022c731e4670daf...,2020-09-18,767834002,0.008458,2,ACTIVE,NONE,47.0,1b563d5eef2565252b1581635bcc949167b89c269cd473...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,adac235b152a55f606e5ac7e28df9d7022c731e4670daf...,2020-09-18,767834002,0.008458,2,ACTIVE,NONE,47.0,1b563d5eef2565252b1581635bcc949167b89c269cd473...,767834,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Fitted strappy top in soft organic cotton jersey.

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,adac235b152a55f606e5ac7e28df9d7022c731e4670daf...,2020-09-18,767834002,0.008458,2,ACTIVE,NONE,47.0,1b563d5eef2565252b1581635bcc949167b89c269cd473...,767834,...,1010016,10,3,9,1676,1,16,1002,1,1

array([[ 767834,     253, 1010016,      10,       3,       9,    1676,
              1,      16,    1002]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
6    827370002     86
5    826492006     74
2    802023004     61
4    821152004     59
3    819547001     51
14   929165002     46
7    830016002     42
10   893059003     34
9    853089002     32
0    774543002      6
8    844971002      2
11   895993006      2
12   909955001      2
1    774552002      1
13   917766001      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    929165002
6    830016002
7    893059003
8    853089002
9    774543002
10   844971002
11   895993006

34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164aa59abc834298337177 0827370002 0826492006 0802023004 0821152004 0819547001 0929165002 0830016002 0893059003 0853089002 0774543002 0844971002 0895993006
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...
0,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,0924243001 0821152004 0819547001 0929165002 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...
0,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,0924243001 0821152004 0819547001 0929165002 08...
0,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 57

get_next_SubmissionCustomer

'6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba181697b9c2d7e4fe3044953'

Generate Artcile Predictions for Customer 58 : 6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba181697b9c2d7e4fe3044953

                                               customer_id
24731    04a25a8e43d2c39555bcae65f71f92d87b19866af41d4c...
1269756  ecf452c83606ace42484e0b83ef85bdcdd0252bb632330...
1008022  bc1b334a130e1fc8d4497025b9f77b988ee7afab95616e...
246184   2def199e24103e7539d49eaf4cffcb4c914cb47b8496c5...
95141    11c66ea3098403127ecf3bc5e2a9b61169bd3116af4bab...
863659   a13776f04b4c6d528283209efa8ed2b38ec2044075b8a1...
1138509  d46740fe97bb422f6078e5cd6fb74b40029e28bee6e705...
1025188  bf4eff136a34e018e8ce36a384ee5b9adebd7f6c7b1a67...
1279665  eed08c5d0f6317a13485b58ea8b29d4f7a46b2a60835b8...
676149   7e37d9ac9e1788e1da480f35d5e3799022b736112014c9...
1032251  c0a6cc27ffaa259c358b7e79ec0e1036e3f8b47faa4f67...
1226127  e4ce2ba95b0257fc48ef0e84afd4e99b22eb40531ae3bb...
157710   1d632e35c2d3fbafff5a92d0f9ebd6dcd2f4e7b7e22d7f...
1056318  c52460fdb480d752f8f275d2ba2e167843f062ce7babd1...
1230132  e5927598fc8b29753160ec1589b7b4773058eb5014b7e6...
991577   b902558fad6f497536ad81438dd9c177f17bfb12b81381...
794595   9456cc73282a84cd932c276e249ff3c236a8d2a9ec2b45...
296364   375e76fabb159b4ac8ad47937d72f13037bafdf5f90b40...
478583   59620ccdf02f8fddcc61ba3ebf0b3e5e5bbed9a3457f20...
596632   6f5136981b6568d27173c41ac2c597985124905ba27ce1...
700621   82cefa3f5002a1ac2de747071904e2a6f233ca7e002acf...
189603   2357747c873987af3d2e0dbc6c48248de6c8d7d6c59630...
826944   9a607beb0ce4ec5835ca861220896b0a93cac26e50bc23...
1009318  bc5a9c378e4b27cae3a38662152638c898b5cb28f7098a...
1251838  e9a0385f78b24b6fce644e5446b4f74458f83e3c4a77c6...
1034487  c11090943ecb6b16d1dae6fcb35482567151cdfc9567f8...
1272879  ed8c55750e91c19e3be6ee937e45ad67f9aee7702afce1...
267890   3201c20140e86443140f6e86c544672f5426c5878900bd...
230957   2b1a2dcfa1514856e3eeffa9846f7c877731e0f52ef47b...
111671   14cfe23ba7c911bf88bc4a73d18bdb758306e52db64e1f...
186418   22b9e5f28cdeb074d8055156f288ca13a055426b3e40cb...
1217988  e3453576d9b2a6c0d1525c6b9d20babbbb085552ad5abd...
250533   2ec310b8b236299c1ed8b7f341e938f64a98cde641a9ba...
1267413  ec86b6f2c74b286e305c55e8664909253f7e042783ba60...
205629   265479bdfb106f3d07129361aa4953d3a121fed9cf2296...
222876   2994c8a83595daab5dac4548f4703bd78d5f85a2fc61ab...
50369    096b7c5d4467fae04b95953117a88aaaa82e8685a7ba0d...
912615   aa4b3110fd4172877c98f2b41df0686da874414e1ecd0d...
172817   2032734d9454c0827d9dbe0260b13ddd2668d1fec51b50...
1258788  eaee62f39d3a2d72f214af325f4b42b6e12d226d6b6ee2...
298085   37b0ea5a2757162e6ff98caa7d5d345d8208f8831e5fbc...
404599   4ba65f38d3ef43dbdbdfa167051447a8f62574f4d6d08d...
1370232  ffab106d48d9569d53eef66d128bc2ccba3857feaf7283...
1158694  d82cd7eed9bceab7cf187e5b29736aa719711b7cfefced...
738946   89edf7e038765ee0ef1a398fe2e76d3c50229d2ab9d0c7...
612180   72383d9599af2d1e15b2949f0326b49367f11e30d0075b...
2003     005f42268da6ebf61295a69fa9dce3cec1fab5752f075e...
566232   69aa48efa01b4c7118f46035fd2f0736114c35a5034c6f...
594768   6ef6ab98353f7f5a2cf7c40004728168dfa26bc257cf59...
494982   5c75948a97d3f36799e27c444995ba8f7ee799f4539813...
257178   2ffcbdbeaa2c0e595a92c26203a329e4a8a888ee4645a3...
1028844  c00170eb71d60fc5cc1d460b2a590b381605af9faf488c...
365057   44478077ef23840892c08fd3af0f9ffedc1c202a9b6363...
756827   8d462e677f8f688541ff73dd11f4f9a08b1eca0b5afbfa...
290028   3628aad51674a6cb47f1fd915f91ffa88d33e7c73cc13c...
1097245  ccc3947c1d505f5f81934abfe2e3dd1f1644d256ec0217...
57838    0acd8bac5eda5b20d51d6ab505e3583d410ea7ab6eb15d...
589959   6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...

df_SubCust_Trxn.shape[0]

1451

,customer_id,t_dat,article_id,price,sales_channel_id
0,04a25a8e43d2c39555bcae65f71f92d87b19866af41d4c...,2019-04-25,534164002,0.033881,1
1,04a25a8e43d2c39555bcae65f71f92d87b19866af41d4c...,2019-04-26,685012004,0.067780,1
2,04a25a8e43d2c39555bcae65f71f92d87b19866af41d4c...,2019-04-26,683662005,0.013542,1
3,04a25a8e43d2c39555bcae65f71f92d87b19866af41d4c...,2019-04-26,625311008,0.027441,1
4,04a25a8e43d2c39555bcae65f71f92d87b19866af41d4c...,2019-08-13,688605002,0.005068,1
...,...,...,...,...,...
1446,6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...,2019-10-27,751530001,0.015237,2
1447,6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...,2019-10-27,760022001,0.050831,2
1448,6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...,2019-12-18,741843002,0.025407,2
1449,6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...,2019-12-18,697054014,0.018627,2
1450,6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...,2020-05-02,817353002,0.027102,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
789,14cfe23ba7c911bf88bc4a73d18bdb758306e52db64e1f...,2020-09-22,688558002,0.016932,1

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
789,14cfe23ba7c911bf88bc4a73d18bdb758306e52db64e1f...,2020-09-22,688558002,0.016932,1

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,14cfe23ba7c911bf88bc4a73d18bdb758306e52db64e1f...,2020-09-22,688558002,0.016932,1,1.0,1.0,ACTIVE,Regularly,31.0,42810c0859f803b3be2fb65b70bb583c9cf9b88689f4b6...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,14cfe23ba7c911bf88bc4a73d18bdb758306e52db64e1f...,2020-09-22,688558002,0.016932,1,ACTIVE,Regularly,31.0,42810c0859f803b3be2fb65b70bb583c9cf9b88689f4b6...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,14cfe23ba7c911bf88bc4a73d18bdb758306e52db64e1f...,2020-09-22,688558002,0.016932,1,ACTIVE,Regularly,31.0,42810c0859f803b3be2fb65b70bb583c9cf9b88689f4b6...,688558,...,Basic 1,D,Divided,2,Divided,51,Divided Basics,1002,Jersey Basic,"Fitted, long-sleeved top in soft ribbed jersey."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,D
0,14cfe23ba7c911bf88bc4a73d18bdb758306e52db64e1f...,2020-09-22,688558002,0.016932,1,ACTIVE,Regularly,31.0,42810c0859f803b3be2fb65b70bb583c9cf9b88689f4b6...,688558,...,1010016,10,3,9,1643,2,51,1002,1,1

array([[ 688558,     254, 1010016,      10,       3,       9,    1643,
              2,      51,    1002]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
7    827370002     86
6    826492006     74
2    802023004     61
5    821152004     59
4    819547001     51
3    803080001     45
8    830016002     42
9    842952003     38
11   853089002     32
0    774543002      6
10   844971002      2
12   909955001      2
1    774552002      1
Show Article predictions...

    article_id
0    827370002
1    826492006
2    802023004
3    821152004
4    819547001
5    803080001
6    830016002
7    842952003
8    853089002
9    774543002
10   844971002
11   909955001

6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba181697b9c2d7e4fe3044953 0827370002 0826492006 0802023004 0821152004 0819547001 0803080001 0830016002 0842952003 0853089002 0774543002 0844971002 0909955001
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...
0,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,0924243001 0821152004 0819547001 0929165002 08...
0,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...,0827370002 0826492006 0802023004 0821152004 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...
0,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,0924243001 0821152004 0819547001 0929165002 08...
0,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,0827370002 0826492006 0802023004 0821152004 08...
0,6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...,0827370002 0826492006 0802023004 0821152004 08...

cust_rec is... 58

get_next_SubmissionCustomer

'127f9907d45cdb6a83391a81a6eee406375ed1bca4a47cbc18236a6f932047eb'

Generate Artcile Predictions for Customer 59 : 127f9907d45cdb6a83391a81a6eee406375ed1bca4a47cbc18236a6f932047eb

                                               customer_id
760413   8df27e30b4f431b421db54ecd90919ba25263ed6d04e58...
1152691  d70c5bc7608180199fbd86ed4e913d9c2cfb067ce7439f...
426688   4fc91249b3f86cc952a411805a66af46baea71861f4414...
798716   9519bc41e742cd422dc6458b4a0d1fb939c2ed545d6ee6...
711858   84e07da78a777f0f2930b218ea2ef2c6288ae67fe0dd5e...
209953   27297db08940862c538349aeb882ed4cebf5d7a1d112b7...
1003827  bb4fb8b8c1f3cb6321ffb58e50aa4d18fd8d5e6ce689fe...
700913   82dd080bc16fdd0ad27ea8049106dd8090d7cae24f1079...
90346    10e21d6cef5a34277fe8d73e63d720cf9336a275f48115...
523823   61cfd38eebb6dfe43b9829ed9d32147df1f6eb5a1fa929...
1006773  bbdf454157a777dcc9f0ebf4f691c9214a249683ad22dc...
1338343  f9b398a5af38055be8044d49a376b0c024f4591c062561...
823711   99c4d9c87798180f2aa908e201337b309562ac26bafeeb...
734585   891dbd99d7882d129ffc91ea77bbd4cbd903a5ed5370e8...
848262   9e5bd94e22570b4b8e14cf332ec97320371b1affdbcfc8...
1234531  e66222f7ff75b4de5835c89aa54cd0dce3644d3d530496...
14466    02b0dba60b3f50cd8597c0a50cd8b35b8973a8dda9893e...
767312   8f3ec568a309594909924a483a0cff59e054429187bb5f...
816504   986fef3eb251b1a997acd080aa45967a17ae6d1e1413c2...
773926   907c5bbb6b14de51fe379e119a28edf4a4c3a716a2e8de...
505265   5e6481f3c4b3acd4cc69904db83501f9e55f7fa4b108fe...
543159   65668d5292502bb11ad8c609c6a72137667d9cc29a0654...
798155   950045e8447c3cae2e2fc2bed029de9d8e952ac53af965...
288223   35d316dbe43b59b02d6d73d80bd9ad803ea47774f88bda...
1032997  c0c8907657d0da4c87e4bc061d50eb836aa94bfb203f53...
764780   8ec4d6ca273cbba91be158488e184a3540e8a54c3f6759...
1296476  f1f215bec1c8296bc7dace10ad0b9a51ed5adba645fb95...
669942   7d0fb66172fd1edb994829dd397a959926f133c50e1cb0...
397633   4a507de3c0c58746c732f196af5f9d3f887c52c9b915cf...
1341184  fa3a04f8b556cae3236fdaa04fb41d10e6891b2e25f97e...
359226   432f24a6954f96cb3d50f8aec88f745bcd304e798b4e78...
700145   82b5baa585035a7232a15e9fa9de8d120da65651f6f8a1...
489376   5b670f6428887c810bd985d2f93cd0670296f692504a89...
135684   19482508e6c6f030f1d728ba654d2c899e98684fe9e6c9...
295841   3744c56469392abdd90db9d757a10013e881c0a160ddfe...
425343   4f879df69d633cec649d4f86e5f018a36868253c0b717d...
1195253  df026d918e78f8231aa940e36548e81cf109160e01d0fc...
1297405  f21b55a4d152a3a3334e48b3f20318323f5b4ef47748da...
1234400  e65c50c6378c7a3e95ce46d6511f518dbc292618004ec8...
698790   82735f513ccc2b4da9aa9a4a7f8cc364b036ec4fc018b3...
952221   b1aa7dd230e40e8cdb5d1448027f868e2f9b8cbe5915cc...
557407   6806f1024c327f900377447e2434098ae9bcdd4335fe6d...
125271   175c8448393119f14c9de0819faf73bdfb17a868eb2561...
1208656  e183c010c5f47335143ff047a950b9990e7afa048dd737...
988179   b85e81fdc784b9914c9cfd9860de33567231d7b4e52e76...
693374   8172a7e8138f904956dffb0eb71f0d9f0b316fbe667292...
365630   44621fd26f80d2d0447aaad57ab63eeda56c490b771716...
1313575  f5192b4588beff1d0ea5b29ef90a11bf4141e6c4b9576e...
684925   7fdfc4b6e108271c07e61534692397043488bd0386e011...
1311457  f4b77b6ff7bfc839e1b484386827bd214b2a454883b322...
676594   7e4e8b9d964afaaeb03731757162d6f58e5674d77d4077...
473521   5871f51171f26d3554cd931ee3f7a8b854292bca48597a...
307376   396e65b7e6234aa0bde56930c968d6f56feeb088c83297...
764354   8eb09dfaac8a1d388abf1ce837f2148e1ff9f416d5f74a...
1094626  cc439ed34d0daec253ce87697c7163fc679ec3e331505a...
245299   2dc586122d17071071c990b9e462a153907e216bf5a9c0...
1329314  f8065adfa23515d992f5639f02798d674458e5101dbed2...
609684   71c48ece6955598b545fbee1afd8d85b71b68a210aa63c...
99091    127f9907d45cdb6a83391a81a6eee406375ed1bca4a47c...

df_SubCust_Trxn.shape[0]

1027

,customer_id,t_dat,article_id,price,sales_channel_id
0,8df27e30b4f431b421db54ecd90919ba25263ed6d04e58...,2020-04-02,816970001,0.033881,2
1,8df27e30b4f431b421db54ecd90919ba25263ed6d04e58...,2020-04-02,884771001,0.042356,2
2,8df27e30b4f431b421db54ecd90919ba25263ed6d04e58...,2020-04-02,599719021,0.033881,2
3,8df27e30b4f431b421db54ecd90919ba25263ed6d04e58...,2020-04-02,717490057,0.008458,2
4,8df27e30b4f431b421db54ecd90919ba25263ed6d04e58...,2020-04-02,843687005,0.042356,2
...,...,...,...,...,...
1022,127f9907d45cdb6a83391a81a6eee406375ed1bca4a47c...,2020-06-28,868161001,0.022864,2
1023,127f9907d45cdb6a83391a81a6eee406375ed1bca4a47c...,2020-06-28,835417001,0.022864,2
1024,127f9907d45cdb6a83391a81a6eee406375ed1bca4a47c...,2020-08-08,559633023,0.036881,1
1025,127f9907d45cdb6a83391a81a6eee406375ed1bca4a47c...,2020-08-08,859105002,0.008847,1
1026,127f9907d45cdb6a83391a81a6eee406375ed1bca4a47c...,2020-08-09,723621008,0.016932,1

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
781,82735f513ccc2b4da9aa9a4a7f8cc364b036ec4fc018b3...,2020-09-22,911034002,0.030492,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
781,82735f513ccc2b4da9aa9a4a7f8cc364b036ec4fc018b3...,2020-09-22,911034002,0.030492,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,82735f513ccc2b4da9aa9a4a7f8cc364b036ec4fc018b3...,2020-09-22,911034002,0.030492,2,NaN,NaN,ACTIVE,NONE,19.0,5c5dbc70071c6f6108764ea6bb6dc80b87359ac3a48de0...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,82735f513ccc2b4da9aa9a4a7f8cc364b036ec4fc018b3...,2020-09-22,911034002,0.030492,2,ACTIVE,NONE,19.0,5c5dbc70071c6f6108764ea6bb6dc80b87359ac3a48de0...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,82735f513ccc2b4da9aa9a4a7f8cc364b036ec4fc018b3...,2020-09-22,911034002,0.030492,2,ACTIVE,NONE,19.0,5c5dbc70071c6f6108764ea6bb6dc80b87359ac3a48de0...,911034,...,Tops Knitwear,D,Divided,2,Divided,53,Divided Collection,1003,Knitwear,Kangol x H&M. Short turtleneck top in a soft r...

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,D
0,82735f513ccc2b4da9aa9a4a7f8cc364b036ec4fc018b3...,2020-09-22,911034002,0.030492,2,ACTIVE,NONE,19.0,5c5dbc70071c6f6108764ea6bb6dc80b87359ac3a48de0...,911034,...,1010017,73,5,2,1647,2,53,1003,1,1

array([[ 911034,     252, 1010017,      73,       5,       2,    1647,
              2,      53,    1003]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

127f9907d45cdb6a83391a81a6eee406375ed1bca4a47cbc18236a6f932047eb 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...
0,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,0924243001 0821152004 0819547001 0929165002 08...
0,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,0827370002 0826492006 0802023004 0821152004 08...
0,6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...,0827370002 0826492006 0802023004 0821152004 08...

display(df_NextCust_Preds)...

,customer_id,prediction
0,127f9907d45cdb6a83391a81a6eee406375ed1bca4a47c...,0924243001 0821152004 0819547001 0929165002 08...

display(df_Submission_Stack)...

,customer_id,prediction
0,40c7fa41e20e03887154f8f9eaab817a18722a56d8652b...,0924243001 0821152004 0819547001 0929165002 08...
0,78ea494527686400dd23118a0aa3f9f460e3f17aec02c1...,0924243001 0821152004 0819547001 0929165002 08...
0,b42e69778495e6fd3a20510ef3dc130caaff2341d7da9c...,0827370002 0826492006 0821152004 0819547001 09...
0,d4c896dfc0498092fbcc7943a34b2d1d627a3a43a4d8fa...,0924243001 0821152004 0819547001 0929165002 08...
0,adfff5cc06e8812dfa5ddd91d5a829f8ba1fbd1de47570...,0924243001 0821152004 0819547001 0929165002 08...
0,c64a28b8a11f3e57558d34665ef504fe0f5eac0f407d9a...,0827370002 0826492006 0821152004 0819547001 09...
0,1f930b680e9dcbe7d5270050f98cb2b8d6143e4a92af4b...,0924243001 0821152004 0819547001 0929165002 08...
0,98bea8500c84ef0006d00ff8f2926bbf8bee4f9ec00b65...,0827370002 0924243001 0821152004 0819547001 09...
0,14f3b93c713c56c35f667de3a7c7aa3d3798f4038c1381...,0924243001 0821152004 0819547001 0929165002 08...
0,9e23bd0420978d1c51c2de2ead051787466aaebe09b083...,0924243001 0821152004 0819547001 0929165002 08...
0,b91bae902cf58e82143972b7a6f6f330217a085d6da560...,0827370002 0826492006 0802023004 0690611001 08...
0,e53fd059883671f253ee09dde4ebb60755a5e15e0a8d76...,0924243001 0821152004 0819547001 0929165002 08...
0,be8510f308ab363a586cf9a9d4108a1a7e4adfee8bd859...,0924243001 0821152004 0819547001 0929165002 08...
0,e0994a721598dd1b0782b8c6416624b4c83365aa69f648...,0827370002 0826492006 0821152004 0819547001 09...
0,301e303dd508782607a882ce0543de395498232c471685...,0924243001 0821152004 0819547001 0929165002 08...
0,b305048ca2a0399cd7aaa5de9ae06801d45b6c1299058d...,0924243001 0821152004 0819547001 0929165002 08...
0,524cf9f23e6a228b74acef3d65e66f634992516526d160...,0827370002 0826492006 0802023004 0821152004 08...
0,25956741210ec677e13ae9518d99154425bf339ae4b53a...,0610776032 0690611001 0665089004 0522398052 04...
0,3854e6cdabfe6086dd03fc7395e9e07e3985429474bc68...,0924243001 0821152004 0819547001 0929165002 08...
0,2d47cb2a33c4618d60e9e527728ae67c385e0ac6d05b53...,0924243001 0821152004 0819547001 0929165002 08...
0,f915aa0394ef59d1789eac0ace93d73325a9e1d140b860...,0827370002 0826492006 0802023004 0690611001 08...
0,99e05a3c254bb9a0abd3a4b067c41c31bfcc8a9a62fef7...,0924243001 0821152004 0819547001 0929165002 08...
0,7540445163dc098e455520b68ede7052a765972d7c06e9...,0924243001 0821152004 0819547001 0929165002 08...
0,170306e493fdfd5f1b1adde17177ee6b42cb8b397aac42...,0924243001 0821152004 0819547001 0929165002 08...
0,2f4da800269b6cf3a4bc75c926396a6ffd93560f55bb66...,0827370002 0826492006 0802023004 0821152004 08...
0,66e80c250aa07db952f8924b0a4edf75ddc4571012fece...,0827370002 0826492006 0821152004 0819547001 09...
0,e19150510090894c1b51b3d945031f2953a3a9319aeae4...,0827370002 0826492006 0802023004 0821152004 08...
0,cf638614065785431cde3d92b8207b84955a3124cde42c...,0924243001 0821152004 0819547001 0929165002 08...
0,fd460c1c496a8f6aa0066a2febd4a06c2f34012a2a5245...,0924243001 0821152004 0819547001 0929165002 08...
0,7736838689e76d9d7e1592dc9d859ff320a55a396a0067...,0924243001 0821152004 0819547001 0929165002 08...
0,1ef1a62a44d76042d2b65f0c588121db859ccd2a4bf364...,0610776032 0534181011 0456163083 0456163070 05...
0,cef71e9310e77538055fc88f01a4f2b43bc6b4029de694...,0827370002 0826492006 0802023004 0821152004 08...
0,e2727483108e831d58df085fe51c88c0975e0cc68ce75c...,0827370002 0826492006 0802023004 0821152004 08...
0,4f52153175099d7036ef239da9c28af5493b585a3aa47d...,0827370002 0826492006 0802023004 0821152004 08...
0,b34f1609846ab27d52dfce8057701221e5fe087879a0be...,0827370002 0826492006 0821152004 0819547001 08...
0,1460e7cc3f593f88b7c55ccac71a193a2f7e4f724e6d45...,0924243001 0821152004 0819547001 0929165002 08...
0,a77e2b3accb824c3c0858765eb5feaee08d20253d9fe00...,0924243001 0821152004 0819547001 0929165002 08...
0,8f51052834a7c98334c9c3dfa93eddf4824e36df95e9ca...,0610776032 0534181011 0456163083 0456163070 05...
0,23074508b19cfd9ab97834ec35b2c62692a662083f2827...,0827370002 0826492006 0802023004 0821152004 08...
0,866bcce9b30e00b2512fc5f6ba8b24936734486635f14e...,0827370002 0826492006 0821152004 0819547001 09...
0,d411308c32047215e7643b423fb5adfa793ff49848859b...,0827370002 0802023004 0690611001 0821152004 08...
0,d659e64ffe7b374f537724bbabeaaeff02a14aaa072798...,0827370002 0826492006 0821152004 0819547001 09...
0,d5b864ca7a1fc05c103a1fa2bb62fa3f583f49455b86cc...,0924243001 0821152004 0819547001 0929165002 08...
0,ffa375f54065f8078d56e85b8944b966d3073b9f78c80b...,0924243001 0821152004 0819547001 0929165002 08...
0,070de4160b48328890cc43452746788caacf58565bc14a...,0827370002 0826492006 0802023004 0821152004 08...
0,8f0927128b58003b55f480afa0039e542a35e6667d5ecc...,0827370002 0826492006 0821152004 0819547001 09...
0,5c0ac4ed855a86a058aadbc0d5bbe91fd7ac80ba506721...,0924243001 0821152004 0819547001 0929165002 08...
0,6fd81a6ef1b01c4df50313005a00c4a7e769a84927174f...,0924243001 0821152004 0819547001 0929165002 08...
0,fcc3e049c8937eb1a90fc3141e6b54aba463a4480a7509...,0610776032 0802023004 0690611001 0821152004 08...
0,e295e549242f6826942fe50504193d9f75b11b7b6ecd5c...,0924243001 0821152004 0819547001 0929165002 08...
0,a8a874ec1f26d0952e4083fe849dfba40860eb35d672e9...,0827370002 0826492006 0821152004 0819547001 09...
0,0adef62c1f842319f144c3dc6ac1d2d959fa654bf503c6...,0827370002 0826492006 0821152004 0819547001 08...
0,459ffb0725629842e74b4a1f3108233eb6a034520b1324...,0924243001 0821152004 0819547001 0929165002 08...
0,96b02a1fb0514563d6105606dbbb0e06ab86ce1a44c29a...,0924243001 0821152004 0819547001 0929165002 08...
0,dffc9393b985ee1fe6cd717d15bf0353fd26fb36c52253...,0827370002 0826492006 0802023004 0821152004 08...
0,aff83b48c35a9a50245372c92d5e9ed36dd2f1251dafe2...,0924243001 0821152004 0819547001 0929165002 08...
0,34e70aa9508a29a3baa8f6ddf6962ae8f2851847ed164a...,0827370002 0826492006 0802023004 0821152004 08...
0,6e0d537bb829a8d14b9c822fb729cbcad2ed1e6ba18169...,0827370002 0826492006 0802023004 0821152004 08...
0,127f9907d45cdb6a83391a81a6eee406375ed1bca4a47c...,0924243001 0821152004 0819547001 0929165002 08...

cust_rec is... 59

get_next_SubmissionCustomer

'4828c1687792bb72802ff5687236f254ce0eecf1f77e420fb3a7f02b950d8f3d'

Generate Artcile Predictions for Customer 60 : 4828c1687792bb72802ff5687236f254ce0eecf1f77e420fb3a7f02b950d8f3d

                                               customer_id
184851   226f187b5601355791abf550170c79bd17bd2535e1090f...
765090   8ed55f83ad29607b29a8343984a072ba01d1ee7ff4d9fc...
414335   4d77c9b122687dd5cf5ace790f559099ae07072c552be8...
1021736  bea804307096dd48f089b99b2cc4af262c26f5c8dc67fe...
1033391  c0db2e6363a008d4e49d9256e47be4bd78696922ee6b54...
452966   54a4e659b146914772b98d34592f015448eaf3add961a0...
87476    105a3113a09f44b31cc771bbbc251688cf075c1db23941...
686584   802dc87e72319a2ba43f4e86663933c6689503d18f9593...
1296127  f1e0fc16b0b73c06b479ae83f064a641c14c6e41358f48...
1313176  f5052e0e25686a7db90064081f4425a7e81f1bf6b41611...
1099161  cd1d4b8f553e070639044049ec243e17db61c3c278309c...
817313   98961ed0272e707525e0f17428e0fbc3e6800fab11c711...
600508   700b2b93b47ed1fac0dceeec17e29e5263d9305120efa9...
1241861  e7bed211ddebd4f30b8dce00f4ef917738c985b31e6368...
551637   66fac612ffa7103ff615872ec042eb1011adf2a001285f...
120633   167dc0161221f9aa5fab1c49da587f7612667048afad8e...
981281   b710c067ade7d0e50b33c13dc3a331b98c8108427cf6c0...
674156   7dd898b358468e2789d71da07dfa9e12d8a672c3ce16bd...
461971   5653f4e81115bdde31c52b43133327ea7e54fd0f6334ee...
1248226  e8f3cac4e2e8cc0f7782f676eca128054c2d9b46c8ceb8...
1179936  dc28575d1d15248119d454a4bd62e5a8a63cdae6b246e7...
962285   b38920b2031c9ea9a1df63b907f847d4ece64273ecf9a1...
354471   424d61e923c6f3a5258734aaac65dcbcc501b184c0f85b...
417041   4df9ca3e126eee065a94d9bef9d1808219a8209d28cf26...
1134614  d3ac5e122d12712ad77cc660d5bb1cf493d47165cd9b8d...
1051777  c44e5c45d940021f58e8e60e3c29ba9e1275e2e5907eed...
406548   4c03c1f05da24ba394bbc0d16b1a100e01d84b40e3ff5b...
1039039  c1ed855c3df00c624ed97c3acc35d59c9bc7799c94beb3...
1342611  fa7c8c403ab1b0341072d42d424669e5c01779e36a61fa...
1329723  f81afbf4b60f1b52bba0a2ede8204da391774136d6f175...
678369   7ea64183d7b75cb06a9a45798a040517558a8a7d2a9ef5...
597579   6f81e7eac0c86af219a51cafbe2b0e4de92069341a7383...
601616   70414f8236a3bda46adef0d94ea5b095cdc829ca5e2f5c...
1082393  c9fb9d2b9ab5b02305c5427cfd4d5d5dc30ed11c8f9409...
646204   789c0d2fea7ce0fcbbdeaaf0d6297f5f8100986519986f...
1041769  c27128352902ca14278a33ae3d4059dba58f9d4f873402...
17248    033b0c0ea606585de7e347e2aa541a12ae80f666fa7097...
3880     00bc2d413eb9e636e0546d31d450fc377c38f7a3a1ac64...
963317   b3b8b7b06e6733082d9242b866b85e391895587f4385ed...
91672    1122f368cf763d199b4fe4268e5bca89f86c77f5f63f8f...
349830   416868fc717ee9e59a58e01efd281a9da82c3df13d00c9...
212944   27b90e905d288eb13fa30320a2a35a2f04a1a186abea81...
675185   7e09b6386074ba8b2c04994fa79f5f01e1cc7095326fa2...
807242   96b92fb7ba6abf67f8ca4404636e4d98f3b555578f4480...
810973   976b27f9c1af8a1dada6590bee27cef53c5b7f76370c86...
164      0006bfcec82c6c132276c0a5549ae13645c9ab77b0243f...
93307    11701a6350fa532e63f65334df67c89ee756c2c9c3eb0d...
662609   7bade4fc1439530138c70f1e1b310389c341551996ba0c...
1148071  d631a0f077ccc3f99a51cdf8cabc99b197d557a78f52ae...
924010   ac6891732f02922029bfbbcd862b31a32a65158b2f8ccc...
619561   7398636841b42270b494dbeb74755c5594bddb3d31d6f0...
665916   7c4eeef066bfd848d881652c4cd2c019b314c911643963...
817218   989263e6dd039e3407d2fd92c41a5e775411e52b02917b...
453904   54d30919e8a59ca8a8b66c7129cc430c3f65476e0448af...
72962    0d9f264ec0bd60ace2dc5f0e10bb6bcbe24005b28fd1b8...
992544   b9335eb577809e337f22aac0469916c8c9d960fb037353...
838735   9c972bf0269c8bde1e458e1e3b5d4f4f63d83e47ee4587...
78546    0eaaf1e39e9bbce1502de570b370656f17d707b04c1780...
961459   b3600ea2d25146fce7e759ab7443a44654744fb4864fb7...
385969   4828c1687792bb72802ff5687236f254ce0eecf1f77e42...

df_SubCust_Trxn.shape[0]

1834

,customer_id,t_dat,article_id,price,sales_channel_id
0,226f187b5601355791abf550170c79bd17bd2535e1090f...,2019-04-22,691799004,0.050831,2
1,226f187b5601355791abf550170c79bd17bd2535e1090f...,2019-04-22,712915006,0.067780,2
2,226f187b5601355791abf550170c79bd17bd2535e1090f...,2019-04-22,744600001,0.101678,2
3,226f187b5601355791abf550170c79bd17bd2535e1090f...,2019-06-29,471714014,0.010153,2
4,226f187b5601355791abf550170c79bd17bd2535e1090f...,2019-06-29,488697013,0.015237,2
...,...,...,...,...,...
1829,4828c1687792bb72802ff5687236f254ce0eecf1f77e42...,2020-06-19,867300001,0.025407,2
1830,4828c1687792bb72802ff5687236f254ce0eecf1f77e42...,2020-06-19,783346018,0.025407,2
1831,4828c1687792bb72802ff5687236f254ce0eecf1f77e42...,2020-06-19,783346001,0.025407,2
1832,4828c1687792bb72802ff5687236f254ce0eecf1f77e42...,2020-06-19,762846008,0.021593,2
1833,4828c1687792bb72802ff5687236f254ce0eecf1f77e42...,2020-06-19,845610003,0.050831,2

Pick the latest transaction by the customer

,customer_id,t_dat,article_id,price,sales_channel_id
284,8ed55f83ad29607b29a8343984a072ba01d1ee7ff4d9fc...,2020-09-22,906096004,0.084729,2

Before merge...

,customer_id,t_dat,article_id,price,sales_channel_id
284,8ed55f83ad29607b29a8343984a072ba01d1ee7ff4d9fc...,2020-09-22,906096004,0.084729,2

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,8ed55f83ad29607b29a8343984a072ba01d1ee7ff4d9fc...,2020-09-22,906096004,0.084729,2,NaN,NaN,ACTIVE,NONE,39.0,67258be13a19fac9b5752f4c047d29e2db44af8b38b4e7...

After removing columns...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code
0,8ed55f83ad29607b29a8343984a072ba01d1ee7ff4d9fc...,2020-09-22,906096004,0.084729,2,ACTIVE,NONE,39.0,67258be13a19fac9b5752f4c047d29e2db44af8b38b4e7...

After merge...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,8ed55f83ad29607b29a8343984a072ba01d1ee7ff4d9fc...,2020-09-22,906096004,0.084729,2,ACTIVE,NONE,39.0,67258be13a19fac9b5752f4c047d29e2db44af8b38b4e7...,906096,...,Knitwear,A,Ladieswear,1,Ladieswear,18,Womens Trend,1003,Knitwear,"Jumper in a soft fine knit containing wool, al..."

encode_Categor_Features:  product_group_name
encode_Categor_Features:  index_code
After encoding...

,customer_id,t_dat,article_id,price,sales_channel_id,club_member_status,fashion_news_frequency,age,postal_code,product_code,...,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,Garment Upper body,A
0,8ed55f83ad29607b29a8343984a072ba01d1ee7ff4d9fc...,2020-09-22,906096004,0.084729,2,ACTIVE,NONE,39.0,67258be13a19fac9b5752f4c047d29e2db44af8b38b4e7...,906096,...,1010010,71,1,2,1648,1,18,1003,1,1

array([[ 906096,     252, 1010010,      71,       1,       2,    1648,
              1,      18,    1003]], dtype=int64)

get_Top12_Articles_from_CustNNs
    article_id  count
21   924243001     74
1    821152004     59
0    819547001     51
22   929165002     46
2    830016002     42
6    893141002     40
5    893059003     34
14   915529005     34
4    853089002     32
19   918525001     30
7    895993006     23
9    898918007      6
20   918603001      6
11   909802001      5
10   909801001      4
8    897892002      4
12   909955001      2
3    844971002      2
15   916307002      1
16   917509002      1
17   917765001      1
18   917766001      1
13   915092002      1
Show Article predictions...

    article_id
0    924243001
1    821152004
2    819547001
3    929165002
4    830016002
5    893141002
6    893059003
7    915529005
8    853089002
9    918525001
10   895993006
11   898918007

4828c1687792bb72802ff5687236f254ce0eecf1f77e420fb3a7f02b950d8f3d 0924243001 0821152004 0819547001 0929165002 0830016002 0893141002 0893059003 0915529005 0853089002 0918525001 0895993006 0898918007
display(df_Submission_Stack)...

In [ ]:
#df_CustNNVectors.iloc[0].values.reshape(1, -1)

### Write Predictions Submission File to CSV

#### SetUp Disk Directory for Submission File

In [ ]:
# Set up folder for submission file with predictions
submission_path = '../submission'

In [ ]:
# Create folder above project directory
os.makedirs(submission_path, exist_ok=True)

#### Create Submission .CSV File

In [ ]:
df_Submission_Stack = df_Submission_Stack.reset_index(drop=True)

In [ ]:
# Write pre-test submission file to disk
df_Submission_Stack.to_csv(submission_path+'/submission_pretest.csv',index=False)

In [ ]:
dfTempFinal  = pd.read_csv(submission_path+'/submission_pretest.csv')

[print("Matching the number of dfSub rows to the correct submission size. \nSubmission Row: {} v Expected Rows: {}"
                                                                                   .format(dfTempFinal.shape[0],numCustomers))]

In [ ]:
# Check format of final submission file
dfTempFinal.head()

In [ ]:
# Write final submission file to disk
dfTempFinal.to_csv(submission_path+'/submission.csv',index=False)

######

######

## References

#### <a class="tocSkip">