# Machine Learning - Continuous Assessment - Class Group: TU060 <a class="tocSkip">

# MSc in Computer Science - Data Science (Part Time) <a class="tocSkip">

# Student Name: Ciaran Finnegan  <a class="tocSkip">

# Student No: D21124026 <a class="tocSkip">

#### Student EMail: D21124026@mytudublin.ie <a class="tocSkip">

## May 2022<a class="tocSkip">

#

# H&M Personalised Fashion Recommendations <a class="tocSkip">

#### This project takes the datasets provided by Kaggle for the H&M Personalised Fashion Recommendations competition.  <a class="tocSkip">

Ipso forum...

## <a class="tocSkip">

#### The CA follows a n-part structure. <a class="tocSkip">

Section 1: Ipso forum...

Section 2: Ipso forum...

Section 3: Ipso forum...

### <a class="tocSkip">

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Jupyter-Notebook-Set-Up" data-toc-modified-id="Jupyter-Notebook-Set-Up-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Jupyter Notebook Set Up</a></span><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import Libraries</a></span><ul class="toc-item"><li><span><a href="#General-Utility-Libraries" data-toc-modified-id="General-Utility-Libraries-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>General Utility Libraries</a></span></li><li><span><a href="#Panda-+-Numpy" data-toc-modified-id="Panda-+-Numpy-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Panda + Numpy</a></span></li><li><span><a href="#Matplotlib-Library" data-toc-modified-id="Matplotlib-Library-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Matplotlib Library</a></span></li><li><span><a href="#Plotly-Libraries" data-toc-modified-id="Plotly-Libraries-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Plotly Libraries</a></span></li></ul></li></ul></li><li><span><a href="#Project-Data-Import,-Analysis-and-Preparation" data-toc-modified-id="Project-Data-Import,-Analysis-and-Preparation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Project Data Import, Analysis and Preparation</a></span><ul class="toc-item"><li><span><a href="#Load-and-Sample-Kaggle-H&amp;M-Datasets" data-toc-modified-id="Load-and-Sample-Kaggle-H&amp;M-Datasets-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Load and Sample Kaggle H&amp;M Datasets</a></span><ul class="toc-item"><li><span><a href="#Set-Up-File-Paths" data-toc-modified-id="Set-Up-File-Paths-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Set Up File Paths</a></span></li><li><span><a href="#H&amp;M-Transaction-Dataset" data-toc-modified-id="H&amp;M-Transaction-Dataset-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>H&amp;M Transaction Dataset</a></span></li><li><span><a href="#H&amp;M-Articles-Dataset" data-toc-modified-id="H&amp;M-Articles-Dataset-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>H&amp;M Articles Dataset</a></span></li><li><span><a href="#H&amp;M-Customers-Dataset" data-toc-modified-id="H&amp;M-Customers-Dataset-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>H&amp;M Customers Dataset</a></span></li></ul></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span><ul class="toc-item"><li><span><a href="#H&amp;M-Sampled-Transaction-Dataset" data-toc-modified-id="H&amp;M-Sampled-Transaction-Dataset-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>H&amp;M Sampled Transaction Dataset</a></span></li><li><span><a href="#H&amp;M-Sampled-Customer-Dataset" data-toc-modified-id="H&amp;M-Sampled-Customer-Dataset-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>H&amp;M Sampled Customer Dataset</a></span></li><li><span><a href="#H&amp;M-Sampled-Articles-Dataset" data-toc-modified-id="H&amp;M-Sampled-Articles-Dataset-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>H&amp;M Sampled Articles Dataset</a></span></li></ul></li><li><span><a href="#Data-Preparation" data-toc-modified-id="Data-Preparation-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Data Preparation</a></span><ul class="toc-item"><li><span><a href="#Data-Preparation-/-Feature-Enrichment-on-Transaction-Data-(sample)" data-toc-modified-id="Data-Preparation-/-Feature-Enrichment-on-Transaction-Data-(sample)-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Data Preparation / Feature Enrichment on Transaction Data (sample)</a></span></li><li><span><a href="#Data-Preparation-/-Feature-Enrichment-with-Customer-Data-(sample)" data-toc-modified-id="Data-Preparation-/-Feature-Enrichment-with-Customer-Data-(sample)-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Data Preparation / Feature Enrichment with Customer Data (sample)</a></span></li><li><span><a href="#Data-Preparation-/-Feature-Enrichment-with-Articles-Data-(sample)" data-toc-modified-id="Data-Preparation-/-Feature-Enrichment-with-Articles-Data-(sample)-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Data Preparation / Feature Enrichment with Articles Data (sample)</a></span></li><li><span><a href="#Final-Data-Preparation-Steps" data-toc-modified-id="Final-Data-Preparation-Steps-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span>Final Data Preparation Steps</a></span></li></ul></li></ul></li><li><span><a href="#References" data-toc-modified-id="References-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>References</a></span></li></ul></div>

## Jupyter Notebook Set Up

### Import Libraries

Note: It is assumed that the matplotlib and plotly library has been installed on the user's machine before it is available for import.

```bash
> pip install matplotlib
> pip install plotly
```

#### General Utility Libraries

In [1]:
import os

#### Panda + Numpy

In [2]:
# Python libraries for data manipulation
import numpy as np
import pandas as pd

Set up additional libraries for graphical presentations. A number of earlier graphs use Matplotlib. In later sections, Plotly graphs are used.

#### Matplotlib Library

In [3]:
import matplotlib.pyplot as plt

#### Plotly Libraries

In [4]:
# For interactive graphics and global displays
import plotly.express as px
import plotly.graph_objects as go

### <a class="tocSkip">

In [5]:
import warnings
warnings.filterwarnings("ignore")

### <a class="tocSkip">

## Project Data Import, Analysis and Preparation

### Load and Sample Kaggle H&M Datasets

### The assignment starts with a Kaggle H&M Personalised Fashion Recommendations datasets. <a class="tocSkip">

#### Set Up File Paths

In [6]:
# Set up a Global path file variable to use when loading each dataset
Path_To_Inputs = '../input'

#### H&M Transaction Dataset

In [7]:
# Load H&M Transaction dataset
df_trxns = pd.read_csv(os.path.join(Path_To_Inputs,'transactions_train.csv'))

In [8]:
# Display Number of Rows, Number of Columns in Transaction dataset prior to Sampling
df_trxns.shape

(31788324, 5)

In [9]:
# Extract random sample of Transactions (without replacement) - 0.1% of records
df_trxns_sample = df_trxns.sample(frac=0.001, replace=False)

In [10]:
# Display Number of Rows, Number of Columns in Transaction dataset after Sampling
df_trxns_sample.shape

(31788, 5)

#### H&M Articles Dataset

In [11]:
# Read file, located in 'input' folder above this notebook, for articles data - containing meta data on purchasable items.
df_Articles = pd.read_csv(os.path.join(Path_To_Inputs,'articles.csv'))

In [12]:
# Display Number of Rows, Number of Columns in Articles dataset
df_Articles.shape

(105542, 25)

In [13]:
# Display basic file data for the initial Kaggle H&M 'articles' datatset
# df_Articles.head()

In [14]:
# Extract only the H&M articles contained in the sample Transaction dataset 
articleIDs_in_Trxn_Sample  = set(df_trxns_sample["article_id"])

In [15]:
#Count Article Ids in Transaction Sample
#len(articleIDs_in_Trxn_Sample)

In [16]:
# Create dataset that only contains H&M articles in the sample Transaction dataset
df_articles_sample = df_Articles[df_Articles["article_id"].isin(articleIDs_in_Trxn_Sample)]

In [17]:
# Display Number of Rows, Number of Columns in Sample Articles dataset
df_articles_sample.shape

(18276, 25)

#### H&M Customers Dataset

In [18]:
# Load H&M Customer dataset
df_customers = pd.read_csv(os.path.join(Path_To_Inputs,'customers.csv'))

In [19]:
# Display Number of Rows, Number of Columns in Customers dataset prior to Sampling
df_customers.shape

(1371980, 7)

In [20]:
# Extract only the H&M Customers contained in the sample Transaction dataset 
custIDs_in_Trxn_Sample  = set(df_trxns_sample["customer_id"])

In [21]:
#Count Customer Ids in Transaction Sample
len(custIDs_in_Trxn_Sample)

30498

In [22]:
# Create dataset that only contains H&M Customers from the sample Transaction dataset
df_customers_sample = df_customers[df_customers["customer_id"].isin(custIDs_in_Trxn_Sample)]

In [23]:
# Display Number of Rows, Number of Columns in Sample Customers dataset
df_customers_sample.shape

(30498, 7)

######

### Exploratory Data Analysis

### Display key data attributes and distributions in Sampled H&M datasets. <a class="tocSkip">

#### H&M Sampled Transaction Dataset

In [24]:
# Display basic column information for the initial Kaggle 'transaction_train' datatset - after Sampling of original dataset
df_trxns_sample.head()

,t_dat,customer_id,article_id,price,sales_channel_id
30359303,2020-08-14,bc3808440a540efaa0919b417a5e5ea7598cedc4c72c06...,767255001,0.013034,2
20055374,2019-12-12,2a3d1c360abaf1291fc67c41610c7ba418f41f324a4d67...,570003070,0.013542,1
30305376,2020-08-13,45cfe632a4901088fb566eca50a4b0f8d69203ac24f446...,915015001,0.010525,2
23183120,2020-03-08,1c049d2f4ea081b96343fb7bce10b9f041ca05bd24f8f0...,160442007,0.012492,2
3837766,2018-12-18,3abbc76fa17ee76fdaaa224f2e01a483994fc0e3eef146...,682520001,0.044051,1

In [25]:
# Display datatype of colums in original H&M Transaction dataset
df_trxns_sample.dtypes

t_dat                object
customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
dtype: object

#### H&M Sampled Customer Dataset

In [26]:
# Display basic column information for the initial Kaggle 'customers' datatset - after Sampling of original dataset
df_customers_sample.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
13,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,1.0,1.0,ACTIVE,Regularly,56.0,b31984b20a8c478de38eaf113c581ff64e63c4242e607b...
21,0000f1c71aafe5963c3d195cf273f7bfd50bbf17761c91...,1.0,1.0,ACTIVE,Regularly,30.0,7c902dca60ee0bd0f9030eefd445d11146e8d24835738a...
145,0005f3aab821000881d74b72fde2d9b3e4742cf8613668...,1.0,1.0,ACTIVE,Regularly,71.0,43b97ec1f1b9018a03049bac784e3b0fe42b78e7c1e4d7...
179,00077dbd5c4a4991e092e63893ccf29294a9d5c46e8501...,NaN,NaN,ACTIVE,NONE,23.0,3119ea10ffe5ac3419b9127589a61b33e1ae38ecbb997b...
287,000d6bc779aec5d6116fbe35804d3efc272042892d032f...,NaN,NaN,ACTIVE,NONE,29.0,e966deb3e32f4182559688aec4e758116229616b173bc0...

In [27]:
df_customers_sample.dtypes

customer_id                object
FN                        float64
Active                    float64
club_member_status         object
fashion_news_frequency     object
age                       float64
postal_code                object
dtype: object

#### H&M Sampled Articles Dataset

In [28]:
# Display basic column information for the initial Kaggle 'article' datatset - after Sampling of original dataset
df_articles_sample.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
5,110065011,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,12,Light Beige,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
6,111565001,111565,20 den 1p Stockings,304,Underwear Tights,Socks & Tights,1010016,Solid,9,Black,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,"Semi shiny nylon stockings with a wide, reinfo..."

######

### Data Preparation

### Construct a dataset upon which to build ML models. <a class="tocSkip">

### Begin with Transaction Dataset (sampled) and merge in customer and article data. <a class="tocSkip">

#### Data Preparation / Feature Enrichment on Transaction Data (sample)

In [96]:
# Create new dataset for modelling. Initial basis for new dataset is the sampled transaction dataset.
df_HM_CustTrxn = df_trxns_sample

In [97]:
df_HM_CustTrxn.head()

,t_dat,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day
30359303,2020-08-14,bc3808440a540efaa0919b417a5e5ea7598cedc4c72c06...,767255001,0.013034,2,2020,08,14
20055374,2019-12-12,2a3d1c360abaf1291fc67c41610c7ba418f41f324a4d67...,570003070,0.013542,1,2019,12,12
30305376,2020-08-13,45cfe632a4901088fb566eca50a4b0f8d69203ac24f446...,915015001,0.010525,2,2020,08,13
23183120,2020-03-08,1c049d2f4ea081b96343fb7bce10b9f041ca05bd24f8f0...,160442007,0.012492,2,2020,03,08
3837766,2018-12-18,3abbc76fa17ee76fdaaa224f2e01a483994fc0e3eef146...,682520001,0.044051,1,2018,12,18

In [98]:
# Decompose Datetime information 
df_HM_CustTrxn['t_dat'] = pd.to_datetime(df_HM_CustTrxn['t_dat'], format="%Y-%m-%d")

# Add Column for Transaction Year
df_HM_CustTrxn['txn_year'] = df_HM_CustTrxn['t_dat'].dt.strftime('%Y')

# Add Column for Transaction Month
df_HM_CustTrxn['txn_mth'] = df_HM_CustTrxn['t_dat'].dt.strftime('%m')

# Add Column for Transaction Day
df_HM_CustTrxn['txn_day'] = df_HM_CustTrxn['t_dat'].dt.strftime('%d')

In [99]:
# Filter out column to drop timestamp attribute
df_HM_CustTrxn = df_HM_CustTrxn.iloc[:,1:8]

In [100]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day
30359303,bc3808440a540efaa0919b417a5e5ea7598cedc4c72c06...,767255001,0.013034,2,2020,08,14
20055374,2a3d1c360abaf1291fc67c41610c7ba418f41f324a4d67...,570003070,0.013542,1,2019,12,12
30305376,45cfe632a4901088fb566eca50a4b0f8d69203ac24f446...,915015001,0.010525,2,2020,08,13
23183120,1c049d2f4ea081b96343fb7bce10b9f041ca05bd24f8f0...,160442007,0.012492,2,2020,03,08
3837766,3abbc76fa17ee76fdaaa224f2e01a483994fc0e3eef146...,682520001,0.044051,1,2018,12,18

In [101]:
df_HM_CustTrxn.dtypes

customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
txn_year             object
txn_mth              object
txn_day              object
dtype: object

In [102]:
# Check for null values in the Transaction Dataframe
[print('Any Null Values in the Trxn (sample) dataframe?','\n' ,df_HM_CustTrxn.isnull().any())]

Any Null Values in the Trxn (sample) dataframe?
 customer_id         False
article_id          False
price               False
sales_channel_id    False
txn_year            False
txn_mth             False
txn_day             False
dtype: bool

[None]

#### Data Preparation / Feature Enrichment with Customer Data (sample)

In [103]:
# Confirm dimensions of Trxn (sample) dataframe BEFORE merging with Customer data
df_HM_CustTrxn.shape

(31788, 7)

#### Merge Customer Attributes into the Trxn (Sample) Dataframe. <a class="tocSkip">

In [104]:
# Merge Customer atributes from the Customer dataset based on a join with the 'customer_id' field
df_HM_CustTrxn = pd.merge(df_HM_CustTrxn, df_customers_sample, how="left", on=["customer_id"])

In [105]:
# Confirm dimensions of Trxn (sample) dataframe AFTER merging with Customer data
df_HM_CustTrxn.shape

(31788, 13)

In [106]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,bc3808440a540efaa0919b417a5e5ea7598cedc4c72c06...,767255001,0.013034,2,2020,08,14,NaN,NaN,ACTIVE,NONE,40.0,3add71dc80aee09ae992664829cdf0eedf6fec3f777ca4...
1,2a3d1c360abaf1291fc67c41610c7ba418f41f324a4d67...,570003070,0.013542,1,2019,12,12,1.0,1.0,ACTIVE,Regularly,55.0,1c3a326ca42b0f98d28c70b8c42d48d6bd70420c76cd2b...
2,45cfe632a4901088fb566eca50a4b0f8d69203ac24f446...,915015001,0.010525,2,2020,08,13,1.0,1.0,ACTIVE,Regularly,27.0,ba297225cbc5b04bb4ebc9bc080cdd47f998fecaa5ed60...
3,1c049d2f4ea081b96343fb7bce10b9f041ca05bd24f8f0...,160442007,0.012492,2,2020,03,08,1.0,1.0,ACTIVE,Regularly,53.0,300ddf111872faf3d78487821b1f154834445f719948a1...
4,3abbc76fa17ee76fdaaa224f2e01a483994fc0e3eef146...,682520001,0.044051,1,2018,12,18,1.0,1.0,ACTIVE,Regularly,46.0,3e2b21f81e0e680a9e29c6958bf6acb0733dd1e8788f27...

In [107]:
# Filter out other Customer specific attributes apart from; age + fashion_news_frequency + club_member_status + postal code
# There are very many missing values in the other Customer dataset columns, so these will be ignored
df_HM_CustTrxn = df_HM_CustTrxn.iloc[:, [0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12]]

In [108]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,club_member_status,fashion_news_frequency,age,postal_code
0,bc3808440a540efaa0919b417a5e5ea7598cedc4c72c06...,767255001,0.013034,2,2020,08,14,ACTIVE,NONE,40.0,3add71dc80aee09ae992664829cdf0eedf6fec3f777ca4...
1,2a3d1c360abaf1291fc67c41610c7ba418f41f324a4d67...,570003070,0.013542,1,2019,12,12,ACTIVE,Regularly,55.0,1c3a326ca42b0f98d28c70b8c42d48d6bd70420c76cd2b...
2,45cfe632a4901088fb566eca50a4b0f8d69203ac24f446...,915015001,0.010525,2,2020,08,13,ACTIVE,Regularly,27.0,ba297225cbc5b04bb4ebc9bc080cdd47f998fecaa5ed60...
3,1c049d2f4ea081b96343fb7bce10b9f041ca05bd24f8f0...,160442007,0.012492,2,2020,03,08,ACTIVE,Regularly,53.0,300ddf111872faf3d78487821b1f154834445f719948a1...
4,3abbc76fa17ee76fdaaa224f2e01a483994fc0e3eef146...,682520001,0.044051,1,2018,12,18,ACTIVE,Regularly,46.0,3e2b21f81e0e680a9e29c6958bf6acb0733dd1e8788f27...

In [109]:
df_HM_CustTrxn.shape

(31788, 11)

In [110]:
### Check for nulls and missing - remove them - see WWD

In [111]:
# Check for null values in the merged Trxn/Customer dataframe
[print('Any Null Values in the merged Trxn/Customer dataframe?','\n' ,df_HM_CustTrxn.isnull().any())]

Any Null Values in the merged Trxn/Customer dataframe?
 customer_id               False
article_id                False
price                     False
sales_channel_id          False
txn_year                  False
txn_mth                   False
txn_day                   False
club_member_status         True
fashion_news_frequency     True
age                        True
postal_code               False
dtype: bool

[None]

#### Remove Rows with Missing Club Member Status Attributes. <a class="tocSkip">

In [117]:
# Check missing values in the club_member_status column  
df_null_club_member_status = df_HM_CustTrxn.loc[(df_HM_CustTrxn["club_member_status"].isnull())]

[print('Numbers of rows with missing club member status?','\n' ,len(df_null_club_member_status.index))]
[print('Precentage of total rows missing','\n' ,(len(df_null_club_member_status.index)/len(df_HM_CustTrxn.index))*100,"%")]


[print('{:06.2f}'.format(3.141592653589793))]

# For simplicity the rows with missing values in the club member status will be ignored
# Re-Build Txn/Customer Dataframe with no missing values in the club member status
df_HM_CustTrxn = df_HM_CustTrxn.loc[(df_HM_CustTrxn["club_member_status"].notnull())]

# Confirm dimensions of Trxn (sample) dataframe AFTER removing rows with missing values in the club member status column
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - missing club mem status values removed','\n' ,
                                                                                                   df_HM_CustTrxn.shape)]

Numbers of rows with missing club member status?
 0
Precentage of total rows missing
 0.0 %
003.14

Current Number of Rows/Columns in Trxn/Customer dataframe - missing club mem status values removed
 (31724, 11)

[None]

#### Remove Rows with Missing Fashion News Frequency Attributes. <a class="tocSkip">

In [46]:
# Check missing values in the club_member_status column  
df_null_fn_freq = df_HM_CustTrxn.loc[(df_HM_CustTrxn["fashion_news_frequency"].isnull())]

[print('Numbers of rows with missing fashion_news_frequency values?','\n' ,len(df_null_fn_freq.index))]

# For simplicity the rows with missing values in the fashion_news_frequency column will be ignored
# Re-Build Txn/Customer Dataframe with no missing values in the fashion_news_frequency column
df_HM_CustTrxn = df_HM_CustTrxn.loc[(df_HM_CustTrxn["fashion_news_frequency"].notnull())]

# Confirm dimensions of Trxn (sample) dataframe AFTER removing rows with missing values in the fashion_news_frequency column
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - missing Fash News Freq values removed','\n' ,
                                                                                                   df_HM_CustTrxn.shape)]

Numbers of rows with missing fashion_news_frequency values?
 136

Current Number of Rows/Columns in Trxn/Customer dataframe - missing Fash News Freq values removed
 (31588, 11)

[None]

#### Remove Rows with Missing Age Attributes. <a class="tocSkip">

In [47]:
# Check missing values in the age column  
df_null_age = df_HM_CustTrxn.loc[(df_HM_CustTrxn["age"].isnull())]

[print('Numbers of rows with missing age values?','\n' ,len(df_null_age.index))]

# Re-Build Txn/Customer Dataframe with no missing values in the age column
df_HM_CustTrxn = df_HM_CustTrxn.loc[(df_HM_CustTrxn["age"].notnull())]


# Confirm dimensions of Trxn (sample) dataframe AFTER removing rows with missing values in the age column
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - missing ages removed','\n' ,df_HM_CustTrxn.shape)]

Numbers of rows with missing age values?
 139

Current Number of Rows/Columns in Trxn/Customer dataframe - missing ages removed
 (31449, 11)

[None]

In [48]:
### Encode the club_member_status + fashion_news_frequency

In [49]:
df_encoded_member_stats = pd.get_dummies(df_HM_CustTrxn['club_member_status'])

In [50]:
df_encoded_member_stats

       ACTIVE  LEFT CLUB  PRE-CREATE
0           1          0           0
1           1          0           0
2           1          0           0
3           1          0           0
4           1          0           0
...       ...        ...         ...
31783       1          0           0
31784       1          0           0
31785       1          0           0
31786       1          0           0
31787       1          0           0

[31449 rows x 3 columns]

In [51]:
df_HM_CustTrxn = df_HM_CustTrxn.join(df_encoded_member_stats)

In [52]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,club_member_status,fashion_news_frequency,age,postal_code,ACTIVE,LEFT CLUB,PRE-CREATE
0,bc3808440a540efaa0919b417a5e5ea7598cedc4c72c06...,767255001,0.013034,2,2020,08,14,ACTIVE,NONE,40.0,3add71dc80aee09ae992664829cdf0eedf6fec3f777ca4...,1,0,0
1,2a3d1c360abaf1291fc67c41610c7ba418f41f324a4d67...,570003070,0.013542,1,2019,12,12,ACTIVE,Regularly,55.0,1c3a326ca42b0f98d28c70b8c42d48d6bd70420c76cd2b...,1,0,0
2,45cfe632a4901088fb566eca50a4b0f8d69203ac24f446...,915015001,0.010525,2,2020,08,13,ACTIVE,Regularly,27.0,ba297225cbc5b04bb4ebc9bc080cdd47f998fecaa5ed60...,1,0,0
3,1c049d2f4ea081b96343fb7bce10b9f041ca05bd24f8f0...,160442007,0.012492,2,2020,03,08,ACTIVE,Regularly,53.0,300ddf111872faf3d78487821b1f154834445f719948a1...,1,0,0
4,3abbc76fa17ee76fdaaa224f2e01a483994fc0e3eef146...,682520001,0.044051,1,2018,12,18,ACTIVE,Regularly,46.0,3e2b21f81e0e680a9e29c6958bf6acb0733dd1e8788f27...,1,0,0

In [53]:
df_encoded_fn_freq = pd.get_dummies(df_HM_CustTrxn['fashion_news_frequency'])

In [54]:
df_encoded_fn_freq

       Monthly  NONE  Regularly
0            0     1          0
1            0     0          1
2            0     0          1
3            0     0          1
4            0     0          1
...        ...   ...        ...
31783        0     0          1
31784        0     0          1
31785        0     0          1
31786        0     0          1
31787        0     1          0

[31449 rows x 3 columns]

In [55]:
df_HM_CustTrxn = df_HM_CustTrxn.join(df_encoded_fn_freq)

In [56]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,club_member_status,fashion_news_frequency,age,postal_code,ACTIVE,LEFT CLUB,PRE-CREATE,Monthly,NONE,Regularly
0,bc3808440a540efaa0919b417a5e5ea7598cedc4c72c06...,767255001,0.013034,2,2020,08,14,ACTIVE,NONE,40.0,3add71dc80aee09ae992664829cdf0eedf6fec3f777ca4...,1,0,0,0,1,0
1,2a3d1c360abaf1291fc67c41610c7ba418f41f324a4d67...,570003070,0.013542,1,2019,12,12,ACTIVE,Regularly,55.0,1c3a326ca42b0f98d28c70b8c42d48d6bd70420c76cd2b...,1,0,0,0,0,1
2,45cfe632a4901088fb566eca50a4b0f8d69203ac24f446...,915015001,0.010525,2,2020,08,13,ACTIVE,Regularly,27.0,ba297225cbc5b04bb4ebc9bc080cdd47f998fecaa5ed60...,1,0,0,0,0,1
3,1c049d2f4ea081b96343fb7bce10b9f041ca05bd24f8f0...,160442007,0.012492,2,2020,03,08,ACTIVE,Regularly,53.0,300ddf111872faf3d78487821b1f154834445f719948a1...,1,0,0,0,0,1
4,3abbc76fa17ee76fdaaa224f2e01a483994fc0e3eef146...,682520001,0.044051,1,2018,12,18,ACTIVE,Regularly,46.0,3e2b21f81e0e680a9e29c6958bf6acb0733dd1e8788f27...,1,0,0,0,0,1

In [57]:
# Remove the Categorical columns from the Trxn/Customer dataframe
# The 'inplace' parameter confirms that the drop operation takes place in the same dataframe (a new one is not created)
df_HM_CustTrxn.drop("club_member_status", axis=1, inplace=True)
df_HM_CustTrxn.drop("fashion_news_frequency", axis=1, inplace=True)

In [58]:
df_HM_CustTrxn.head()

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,postal_code,ACTIVE,LEFT CLUB,PRE-CREATE,Monthly,NONE,Regularly
0,bc3808440a540efaa0919b417a5e5ea7598cedc4c72c06...,767255001,0.013034,2,2020,08,14,40.0,3add71dc80aee09ae992664829cdf0eedf6fec3f777ca4...,1,0,0,0,1,0
1,2a3d1c360abaf1291fc67c41610c7ba418f41f324a4d67...,570003070,0.013542,1,2019,12,12,55.0,1c3a326ca42b0f98d28c70b8c42d48d6bd70420c76cd2b...,1,0,0,0,0,1
2,45cfe632a4901088fb566eca50a4b0f8d69203ac24f446...,915015001,0.010525,2,2020,08,13,27.0,ba297225cbc5b04bb4ebc9bc080cdd47f998fecaa5ed60...,1,0,0,0,0,1
3,1c049d2f4ea081b96343fb7bce10b9f041ca05bd24f8f0...,160442007,0.012492,2,2020,03,08,53.0,300ddf111872faf3d78487821b1f154834445f719948a1...,1,0,0,0,0,1
4,3abbc76fa17ee76fdaaa224f2e01a483994fc0e3eef146...,682520001,0.044051,1,2018,12,18,46.0,3e2b21f81e0e680a9e29c6958bf6acb0733dd1e8788f27...,1,0,0,0,0,1

In [59]:
df_HM_CustTrxn.dtypes

customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
txn_year             object
txn_mth              object
txn_day              object
age                 float64
postal_code          object
ACTIVE                uint8
LEFT CLUB             uint8
PRE-CREATE            uint8
Monthly               uint8
NONE                  uint8
Regularly             uint8
dtype: object

In [60]:
# Confirm dimensions of Trxn (sample) dataframe AFTER encoding Categorical Values
[print('\nCurrent Number of Rows/Columns in Trxn/Customer dataframe - encoding of categorical values completed','\n' ,
                                                                                                   df_HM_CustTrxn.shape)]

Current Number of Rows/Columns in Trxn/Customer dataframe - encoding of categorical values completed
 (31449, 15)

[None]

In [61]:
# Check for null values in the Transaction Dataframe
[print('Any Null Values in the merged Trxn/Customer (sample) dataframe?','\n' ,df_HM_CustTrxn.isnull().any())]

Any Null Values in the merged Trxn/Customer (sample) dataframe?
 customer_id         False
article_id          False
price               False
sales_channel_id    False
txn_year            False
txn_mth             False
txn_day             False
age                 False
postal_code         False
ACTIVE              False
LEFT CLUB           False
PRE-CREATE          False
Monthly             False
NONE                False
Regularly           False
dtype: bool

[None]

In [62]:
# Pick up here next...

In [63]:
### Move onto Articles...

#### Data Preparation / Feature Enrichment with Articles Data (sample)

In [64]:
### Stuff here

#### Final Data Preparation Steps

#### Remove Any Duplicates in Final Merged Dataframe. <a class="tocSkip">

In [65]:
# run a check to see if any duplicate entires exist in the merged Trxn/Customer/Articles dataframe
[print('Numbers of duplicated rows in the final merged Trxn/Customer/Articles dataframe?','\n' 
                                                                       ,df_HM_CustTrxn.duplicated().sum())]

Numbers of duplicated rows in the final merged Trxn/Customer/Articles dataframe?
 8

[None]

In [66]:
# Find duplicate rows across all columns
duplicateRows = df_HM_CustTrxn[df_HM_CustTrxn.duplicated()]

In [67]:
duplicateRows

,customer_id,article_id,price,sales_channel_id,txn_year,txn_mth,txn_day,age,postal_code,ACTIVE,LEFT CLUB,PRE-CREATE,Monthly,NONE,Regularly
11911,a65abf2daf44aa5210d6e9c6412b1ca27b04123316e9b8...,554772003,0.008458,2,2019,04,28,23.0,eab6050aae1d26d18b91e33c9d568699a63a333d272874...,1,0,0,0,0,1
13286,dfcfbe457660d7bd8de6ccbd584c1e7065565542f03044...,720137001,0.003373,1,2019,07,11,38.0,f8d916c98f29ee500e3c5a212a7fac98c72c2851d4c0d8...,1,0,0,0,0,1
19018,af63bf6c3164d56e81ade4e43e44c1f5952976774af9a1...,864309001,0.013542,2,2020,05,19,31.0,39158cb5e4a5d0368a922ef51c7b8362ec3327f7dfaff2...,1,0,0,0,0,1
22809,fece3608cd9ccea19fc2ac85db9d7f64d73d40b4771f9f...,695632002,0.033881,1,2020,01,31,28.0,e747d6d7e07893f4926d98ff81ad7939b66a5815ea3201...,1,0,0,0,0,1
23066,7e59bf9dec35483519c42440787023ccb33d124779b81e...,372008001,0.006763,2,2019,07,01,23.0,358a9762e62b3463f022f44da8363c227499b042d6fab6...,1,0,0,0,0,1
23728,6f56291b459392ee00180b3ed91cc87e20a2823e7502f8...,610776001,0.008458,2,2019,05,29,23.0,10d589ab2a334f4490e73c80383f62cf4a7dff3b88bbb1...,1,0,0,0,1,0
24791,65cfafc787940d99b7240ef083ff823bbd368ca10e1d9e...,822203005,0.022017,2,2020,06,26,23.0,32e96ed4d1644f1abb9386b509a3d425d37506a6f6c41c...,1,0,0,0,0,1
25481,ea7fb4cd2a03fab9c0f1698cd50644d5d51e9bb28011b6...,501620016,0.017610,2,2019,06,13,46.0,8db74f23ada33e61741e2bea1af42aea76bfd1db15f3ea...,1,0,0,0,0,1

In [68]:
# Drop duplicate rows in the merged Trxn/Customer/Articles dataframe
df_HM_CustTrxn = df_HM_CustTrxn.drop_duplicates()

In [69]:
# Re-check: Find duplicate rows across all columns
duplicateRows = df_HM_CustTrxn[df_HM_CustTrxn.duplicated()]

In [70]:
duplicateRows

Empty DataFrame
Columns: [customer_id, article_id, price, sales_channel_id, txn_year, txn_mth, txn_day, age, postal_code, ACTIVE, LEFT CLUB, PRE-CREATE, Monthly, NONE, Regularly]
Index: []

In [71]:
# Confirm dimensions of Trxn/Customer/Articles (sample) dataframe AFTER removing duplicate rows
[print('\nCurrent Number of Rows/Columns in Trxn/Customer/Articles dataframe - duplicates removed','\n' ,df_HM_CustTrxn.shape)]

Current Number of Rows/Columns in Trxn/Customer/Articles dataframe - duplicates removed
 (31441, 15)

[None]

In [72]:
### See if there is a way to check the integrity of the customer merging..

######

######

######

## References

#### <a class="tocSkip">